---
title: Log in
---
<!DOCTYPE html>
<html ng-app="iService">
<head>
  {% include common-head.html %}
</head>
<body class="hold-transition login-page login-bg">
  <div class="login-box">
    <div class="login-logo">
      <a href="../../index.html">
        <svg>
          <use xlink:href="/dist/img/logo.svg#iservice-logo" />
        </svg>
        <b>Service</b>
      </a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
      <p class="login-box-msg">Forgot password</p>
      <div class="callout callout-success" ng-show="formsubmit" ng-cloak>
          <p>We've sent an email with instructions for resetting your password.</p>
      </div> 
      
      <div class="callout callout-danger" ng-show="formsubmit" ng-cloak>
          <p>We can't find a user with the email address or login that you've entered.</p>
      </div> 

      <div class="form-content" ng-hide="formsubmit">
        <p>
            We can help you reset your iService password. Enter the email address or login you use for iService and click the submit button. You'll receive an email with instructions for resetting your password.
        </p>    
        <form action="/pages/examples/password-reset.html" method="post">
          <div class="form-group has-feedback">
            <input type="email" class="form-control" placeholder="Email">
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          </div>

          <div class="row">
            <!-- /.col -->
            <div class="col-xs-4">
              <button type="button" class="btn btn-primary btn-block btn-flat" ng-click="formsubmit = true">Submit</button>
            </div>
            <!-- /.col -->
          </div>
        </form>
      </div>
      <br>
    </div>
    <!-- /.login-box-body -->
    <div class="copy-text">
        &copy; 2008-{{ site.time | date: '%Y' }} One-to-One Service.com. All rights reserved.
        <span>Powered by iService Version: 8.0 - {{ site.time | date: '%Y.%m.%d - %H:%M:%S' }}</span>
    </div>
  </div>
  <!-- /.login-box -->
  {% include common-javascript.html %}
</body>
</html>
