---
title: Log in
---
<!DOCTYPE html>
<html ng-app="iService">
<head>
  {% include common-head.html %}
</head>
<body class="hold-transition login-page login-bg">
  <div class="login-box">
    <div class="login-logo">
      <a href="../../index2.html">
        <svg>
          <use xlink:href="/dist/img/logo.svg#iservice-logo" />
        </svg>
        <b>Service</b>
      </a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
      <p class="login-box-msg">Forgot password</p>
      <div>
         <ul>
            <li>Enter your email Here</li>
            <li>Wait you recovery detail to be sent</li>
            <li>A reset password link has been sent to your email</li>
         </ul>  
      </div>    
      <form action="../../index2.html" method="post">
        <div class="form-group has-feedback">
          <input type="email" class="form-control" placeholder="Email">
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>

        <div class="row">
          <!-- /.col -->
          <div class="col-xs-4">
            <button type="submit" class="btn btn-primary btn-block btn-flat">Submit</button>
          </div>
          <div class="col-xs-8">
            <a href="/pages/examples/register.html">
             <button type="button" class="btn btn-link">Sign Up</button>
            </a> 
          </div>  
          <!-- /.col -->
        </div>
      </form>
      <br>
    </div>
    <!-- /.login-box-body -->
    <div class="copy-text">
      © 2008-2017 One-to-One Service.com. All rights reserved.<br>
      Powered by <a href="">iService</a> Version: 7.6.101 - 2017.07.09 - 20:04:20
      Anti-Spam Policy
    </div>
  </div>
  <!-- /.login-box -->
  {% include common-javascript.html %}
</body>
</html>
