---
title: Password Reset
---
<!DOCTYPE html>
<html ng-app="iService">
<head>
  {% include common-head.html %}
</head>
<body class="hold-transition login-page login-bg">
  <div class="login-box">
    <div class="login-logo">
      <a href="../../index.html">
        <svg>
          <use xlink:href="/dist/img/logo.svg#iservice-logo" />
        </svg>
        <b>Service</b>
      </a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your session</p>
  
        <form action="../../index2.html" method="post">
          <div class="form-group has-feedback">
            <input class="form-control" placeholder="Login Name">
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            <input type="password" class="form-control" placeholder="Password">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div>
          <div class="row">
            <div class="col-xs-8">
              <a href="/pages/examples/forget-password.html">
                <button type="button" class="btn btn-link">Forgot Password</button>
              </a>  
            </div>
            <!-- /.col -->
            <div class="col-xs-4">
              <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
            </div>
            <!-- /.col -->
          </div>
        </form>
        <div class="social-auth-links text-center">
          <p>- OR -</p>
          <a href="#" class="btn btn-block btn-social btn-microsoft btn-flat">
            <i class="fa  fa-windows"></i> Sign in with Microsoft
          
          </a>
          <a href="#" class="btn btn-block btn-social btn-google btn-flat">
            <i class="fa fa-google"></i>  Sign in with Google
          
          </a>
        </div>
        <!-- /.social-auth-links -->
      </div>
    <!-- /.login-box-body -->
    <div class="copy-text">
       &copy; 2008-{{ site.time | date: '%Y' }} One-to-One Service.com. All rights reserved.
       <span>Powered by iService Version: 8.0 - {{ site.time | date: '%Y.%m.%d - %H:%M:%S' }}</span>
    </div>
  </div>
  <!-- /.login-box -->
  {% include common-javascript.html %}
  <script>
    $(function ()
    {
      $('input').iCheck({
        checkboxClass: 'icheckbox_square-blue',
        radioClass: 'iradio_square-blue',
        increaseArea: '20%' // optional
      });
    });
  </script>
</body>
</html>
