---
title: Password Reset
---
<!DOCTYPE html>
<html ng-app="iService">
<head>
  {% include common-head.html %}
</head>
<body class="hold-transition login-page login-bg">
  <div class="login-box">
    <div class="login-logo">
      <a href="../../index.html">
        <svg>
          <use xlink:href="/dist/img/logo.svg#iservice-logo" />
        </svg>
        <b>Service</b>
      </a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
      <p class="login-box-msg">Password Reset</p>
      <div class="callout callout-success" ng-show="formsubmit" ng-cloak>
        <p>Your password has been successfully updated</p>
        <a href="/pages/examples/login.html">Click here to login</a>
      </div> 
      <div class="form-content" ng-hide="formsubmit">
        <form>
          <div class="form-group has-feedback">
            <input type="password" class="form-control" placeholder="New Password">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            <input type="password" class="form-control" placeholder="Retype Password">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div>
          <div class="row">
            <!-- /.col -->
            <div class="col-xs-4">
              <button type="button" class="btn btn-primary btn-block btn-flat" ng-click="formsubmit = true">Update</button>
            </div>
            <!-- /.col -->
          </div>
        </form>
      </div>
      <br>
    </div>
    <!-- /.login-box-body -->
    <div class="copy-text">
       &copy; 2008-{{ site.time | date: '%Y' }} One-to-One Service.com. All rights reserved.
       <span>Powered by iService Version: 8.0 - {{ site.time | date: '%Y.%m.%d - %H:%M:%S' }}</span>
    </div>
  </div>
  <!-- /.login-box -->
  {% include common-javascript.html %}
</body>
</html>
