<script>
app.controller('ChangeTopicCtrl', function ($scope, $http, $timeout, $interval) {
  var vm = this;
  vm.topicselected = {selected : "e-shop -- All Topics"};
      vm.topic = [
          {name: 'e-shop -- All Topics',topiclevel:0, disabled: '', segment:"Segment"},
          {name: '_Feedback',topiclevel:1, disabled: 'false', segment:"Segment"},
          {name: '_Newsletter Subscription ',topiclevel:1, disabled: 'disabled', segment:"Segment"},
          {name: '_Spam',topiclevel:1, disabled: '', segment:"Segment"},
          {name: '_Undeliverable',topiclevel:1, disabled: '', segment:"Segment"},
          {name: 'Account Questions',topiclevel:0, disabled: '', segment:"Segment"},
          {name: 'Orders',topiclevel:1, disabled: '', segment:"Segment"},
          {name: 'Refunds',topiclevel:1, disabled: 'disabled', segment:"Segment"},
          {name: 'Returns',topiclevel:1, disabled: '', segment:"Segment"},
          {name: 'Products',topiclevel:0, disabled: '', segment:"Segment"},
          {name: 'Audio-Video',topiclevel:1, disabled: '', segment:"Segment"},
          {name: 'Cameras',topiclevel:1, disabled: '', segment:"Segment"},
          {name: 'Cell Phones',topiclevel:1, disabled: '', segment:"Segment"},
          {name: 'Computers',topiclevel:1, disabled: '', segment:"Segment"},
          {name: 'Televisions',topiclevel:1, disabled: '', segment:"Segment"},
          {name: 'Shipping',topiclevel:1, disabled: '', segment:"Segment"},
          {name: 'Technical Support',topiclevel:1, disabled: '', segment:"Segment"},
          {name: 'Open Quotes',topiclevel:1, disabled: '', segment:"Segment"}
      ];
  });

  angular.module('iService').controller('AgentCtrl2', function ($scope, $http, $timeout, $interval) {
			var vm = this;
			vm.agent = {};
            $scope.topicLoader=true;
            vm.agentselected = {selected : "Select or search for an agent in the list"};

            vm.agentnames =  vm.topic = [
            {name: 'Gathering Agents',topiclevel:0, disabled: 'disabled', segment:""}];
            setTimeout(function () {
              $scope.topicLoader=false;
			vm.agentnames = [ 
				{name: 'Alek Packard' , email:'alek.packard@example.com', code: 'AP',topiclevel:0, disabled: '' ,loggedout:'',notavailable:''},
				{name: 'Jacob Smith', email:'jacob.smith@example.com', code: 'JS',topiclevel:0, disabled: 'disabled',loggedout:'',notavailable:'notavailable'},
				{name: 'Jonie Hewlett', email:'jonie.hewlett@example.com', code: 'JH',topiclevel:0, disabled: '',loggedout:'loggedout',notavailable:''},
				{name: 'Justin Time', email:'justin.time@example.com', code: 'JT',topiclevel:0, disabled: '',loggedout:'',notavailable:''},
			];
        }, 5000);    
  });
  app.controller('SearchFor', function ($scope, $http, $timeout, $interval) {
  var vm = this;
  vm.topicselected = {selected : "Agent Notification"};
      vm.topic = [
          {name: 'Agent Notification',segment:"System Generated Responses"},
          {name: 'Alert',segment:"System Generated Responses"},
          {name: 'Contact Creation', segment:"System Generated Responses"},
          {name: 'External Agent Notification',segment:"System Generated Responses"},
          {name: 'Find Answer Article Update',segment:"System Generated Responses"},
          {name: 'Mass Mailing', segment:"System Generated Responses"},
          {name: 'Message Acknowledgment',segment:"System Generated Responses"},
          {name: 'Notification',segment:"System Generated Responses"},
          {name: 'Password Reset', segment:"System Generated Responses"},
          {name: 'Private Email',segment:"System Generated Responses"},
          {name: 'Secure Response',segment:"System Generated Responses"},
          {name: 'Agent Ticket', segment:"Questions"},
          {name: 'Chat', segment:"Questions"},
          {name: 'Contact Email', segment:"Questions"},
          {name: 'Customer Ticket', segment:"Questions"},
          {name: 'Agent Email', segment:"Answers (Message Sent)"},
          {name: 'Agent Response', segment:"Answers (Message Sent)"},
          {name: 'Secure Email', segment:"Answers (Message Sent)"},
          {name: 'Find Answer Article', segment:"Answers (No Message Sent)"},
          {name: 'Public Note', segment:"Answers (No Message Sent)"},
          {name: 'Private Note', segment:"Answers (No Message Sent)"},
          {name: 'Resolve Note', segment:"Answers (No Message Sent)"},
          {name: 'Unsent Response', segment:"Answers (No Message Sent)"},
      ];
  });

  app.controller('TopicCtrl', function ($scope, $http, $timeout, $interval) {
		var vm = this;
        vm.topicselected = {selected : "Select or search a topic in the list"};
            vm.topic = [
            {name: 'e-shop -- All Topics',topiclevel:0, disabled: '', segment:"Segment"},
            {name: '_Feedback',topiclevel:1, disabled: 'false', segment:"Segment"},
            {name: '_Newsletter Subscription ',topiclevel:1, disabled: 'disabled', segment:"Segment"},
            {name: '_Spam',topiclevel:1, disabled: '', segment:"Segment"},
            {name: '_Undeliverable',topiclevel:1, disabled: '', segment:"Segment"},
            {name: 'Account Questions',topiclevel:0, disabled: '', segment:"Segment"},
            {name: 'Orders',topiclevel:1, disabled: '', segment:"Segment"},
            {name: 'Refunds',topiclevel:1, disabled: 'disabled', segment:"Segment"},
            {name: 'Returns',topiclevel:1, disabled: '', segment:"Segment"},
            {name: 'Products',topiclevel:0, disabled: '', segment:"Segment"},
            {name: 'Audio-Video',topiclevel:1, disabled: '', segment:"Segment"},
            {name: 'Cameras',topiclevel:1, disabled: '', segment:"Segment"},
            {name: 'Cell Phones',topiclevel:1, disabled: '', segment:"Segment"},
            {name: 'Computers',topiclevel:1, disabled: '', segment:"Segment"},
            {name: 'Televisions',topiclevel:1, disabled: '', segment:"Segment"},
            {name: 'Shipping',topiclevel:1, disabled: '', segment:"Segment"},
            {name: 'Technical Support',topiclevel:1, disabled: '', segment:"Segment"},
            {name: 'Open Quotes',topiclevel:1, disabled: '', segment:"Segment"}
        ];
		

      //  var vm = this;
			vm.segmentObj = {
				'1' : { name: 'Sales',email:'sales@1to1service.com', segmentname: 'Customer Success' },
				'2' : { name: 'Technical',email:'Support support@1to1service.com', segmentname: 'Customer Success' },
				'3' : { name: 'Benefits',email:'benefits@1to1service.com', segmentname: 'Human Resource' },
				'4' : { name: 'Human Resources',email:'human.resources@1to1service.com', segmentname: 'Human Resources' },
			};
        vm.segmentselected = {selected : "Select or search for a mailbox to use as the From address"};
			vm.segment = [
				{ name: 'Sales',email:'sales@1to1service.com', segmentname: 'Customer Success' },
				{ name: 'Technical',email:'Support support@1to1service.com', segmentname: 'Customer Success' },
				{ name: 'Benefits',email:'benefits@1to1service.com', segmentname: 'Human Resource' },
				{ name: 'Human Resources',email:'human.resources@1to1service.com',  segmentname: 'Human Resource' },
			];
	});
   
 </script> 