<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left user-panel">
                <a href="#"><i class="fa fa-circle text-success"></i> <span> Available</span></a>
                <a class="btn btn-primary btn-xs pull-right"><i class="fa  fa-comments blink"></i> <span>Take chat</span></a>
            </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search Customer Info...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" admin-lte-tree>
			<li class="active treeview menu-open">
				<a href="#">
				<i class="fa fa-circle-o"></i> <span>Pages</span>
				<span class="pull-right-container">
					<i class="fa fa-angle-left pull-right"></i>
				</span>
				</a>
				<ul class="treeview-menu" style="display: block;">
					<li class="active treeview menu-open">
							<a href="#">
								<i class="fa fa-dashboard"></i> <span>Dashboards</span>
								<span class="pull-right-container">
									<i class="fa fa-angle-left pull-right"></i>
								</span>
							</a>
							<ul class="treeview-menu" style="display: block;">
								<li>
									<a  href="/index.html">
									<i class="fa fa-circle-o"></i>
									My Dashboards
								</a>
							</li> 
							<li>
								<a  href="/segment-dashboard.html">
									<i class="fa fa-circle-o"></i>
									Manager Dashboards
								</a>
							</li> 
						</ul>
					</li>
					<li class="active treeview menu-open">
						<a href="#">
							<i class="fa fa-users"></i> <span>Customer Info</span>
							<span class="pull-right-container">
								<i class="fa fa-angle-left pull-right"></i>
							</span>
						</a>
						<ul class="treeview-menu" style="display: block;">
							<li>
								<a  href="/pages/new-contact.html">
								<i class="fa fa-user-plus"></i>
								New Contact
								</a>
							</li>
						<li>
							<a href="#">
								<span class="fa-stack new-account-icon">
								<i class="fa fa-users"></i>
								<i class="fa fa-plus icon-plus"></i> 
								</span>
								New Account
							</a>
						</li>
						<li>
							<a href="/pages/search-contacts.html">
								<i class="fa fa-search"></i>
								Search Contacts
							</a>
						</li>
						<li>
							<a href="/pages/contact-summary.html">
							<i class="fa fa-user"></i>
							Contact
							</a>
						</li>
						</ul>	
					</li>   
					<li>
						<a href="/pages/interaction-search.html">
						<i class="fa fa-search"></i> <span>Search Interactions</span>
						</a>
					</li>
					<li class="active treeview menu-open">
						<a href="#">
							<i class="fa fa-circle-o"></i> <span>My Work Queues</span>
							<span class="pull-right-container">
								<i class="fa fa-angle-left pull-right"></i>
							</span>
						</a>
						<ul class="treeview-menu" style="display: block;">
							<li>
								<a href="/pages/my-message-inbox.html">
									<i class="fa fa-inbox"></i>
									My Message Inbox 
									<span class="pull-right-container">
										<small class="label pull-right bg-green">5</small>
									</span>
								</a>
							</li>
						<li>
							<a href="/pages/my-pending-messages.html">
								<span class="fa-stack new-account-icon">
								<i class="fa fa-envelope-o"></i>
								<i class="fa fa-clock-o icon-plus"></i> 
								</span>
								My Pending Messages 
								<span class="pull-right-container">
									<small class="label pull-right bg-yellow">2</small>
								</span>
							</a>
						</li>
						<li>
							<a href="/pages/my-messages-to-approve.html">
								<span class="fa-stack new-account-icon">
								<i class="fa fa-envelope-o"></i>
								<i class="fa fa-check icon-plus"></i> 
								</span>
								My Messages to Approve 
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fa fa-file-text-o"></i>
								My Open Qoutes
							</a>
						</li>
						</ul>	
					</li> 
					<li class="active treeview menu-open">
						<a href="#">
							<i class="fa fa-tasks"></i> <span>Manage Work Queues</span>
							<span class="pull-right-container">
								<i class="fa fa-angle-left pull-right"></i>
							</span>
						</a>
						<ul class="treeview-menu" style="display: block;">
							<li>
								<a  href="/pages/manage-message-treeview.html">
								<span class="fa-stack new-account-icon">
								<i class="fa fa-envelope-o"></i>
								<i class="fa fa-gear icon-plus"></i> 
								</span>
								Manage Messages
								</a>
							</li>
							<li>
								<a href="/pages/manage-chat.html">
								<i class="fa fa-comments-o"></i>
								Manage Chats
								</a>
							</li>
							<li>
								<a href="/pages/loggedin-chat-agents.html">
								<span class="fa-stack new-account-icon">
								<i class="fa fa-user"></i>
								<i class="fa  fa-commenting icon-plus"></i> 
								</span>
								Logged in Chat Agents
								</a>
							</li>
							<li>
								<a href="#">
								<span class="fa-stack new-account-icon">
								<i class="fa fa-file-text-o"></i>
								<i class="fa  fa-gear icon-plus"></i> 
								</span>
								Manage Quotes
								</a>
							</li>
							<li>
								<a href="#">
								<i class="fa fa-circle-o"></i>
								Manage KB Articles
								</a>
							</li>
						</ul>	
					</li> 
					
					<li class="active treeview menu-open">
						<a href="#">
							<i class="fa fa-circle-o"></i> <span>Page Components</span>
							<span class="pull-right-container">
								<i class="fa fa-angle-left pull-right"></i>
							</span>
						</a>
						<ul class="treeview-menu" style="display: block;">
							<li>
								<a  href="/pages/view-mode.html">
								<i class="fa fa-exchange"></i>
								Interaction (view mode)
								</a>
							</li>
							<li>
								<a  href="/pages/action-mode.html">
								<i class="fa fa-exchange"></i>
								Interaction (action mode)
								</a>
							</li>
							<li>
								<a href="/pages/agent-email.html">
								<i class="fa fa-envelope"></i>
								Send Agent Email
								</a>
							</li>
							<li>
								<a href="/pages/create-note.html">
								<i class="fa fa-file-text-o"></i>
								Create Note
								</a>
							</li>
							<li>
								<a href="/pages/create-ticket.html">
								<i class="fa fa-ticket"></i>
								Create Ticket
								</a>
							</li>
							<li>
								<a href="#">
								<i class="fa fa-circle-o"></i>
								Agent Chat Panel
								</a>
							</li>
							<li>
								<a href="/pages/examples/login.html">
								<i class="fa fa-circle-o"></i>
								Login Panel
								</a>
							</li>
							<li>
								<a href="/pages/examples/register.html">
								<i class="fa fa-circle-o"></i>
								Register Panel
								</a>
								</li>
							<li>
								<a href="/pages/examples/forget-password.html">
								<i class="fa fa-circle-o"></i>
								Forgot Password
								</a>
							</li>
							<li>
								<a href="/pages/examples/password-reset.html">
								<i class="fa fa-circle-o"></i>
									Password Reset
								</a>
							</li>
						</ul>	
					</li>
				</ul>	
			</li> 
			<li>
				<a href="/pages/interaction-status-label.html">
						<i class="fa fa-circle-o"></i>
						<span>Interaction Status Labels</span>
				</a>
			</li>
			<li>
				<a href="/pages/typography.html">
					<i class="fa fa-font"></i>
					<span>Typography</span>
				</a>
				</li>
			<li>
				<a href="/pages/colors.html">
					<i class="fa fa-adjust"></i>
					<span>Colors</span>
				</a>
			</li>
			<li>
				<a href="/pages/nav.html">
					<i class="fa fa-navicon"></i>
					<span>Main & Sub Navigation</span>
				</a>
			</li>
			<li>
				<a href="/pages/tabs.html">
						<i class="fa fa-list"></i>
						<span>Tabs</span>
				</a>
			</li>
			<li>
				<a href="/pages/buttons.html">
						<i class="fa fa-square"></i>
						<span>Buttons</span>
				</a>
			</li>
			<li>
				<a href="/pages/icons.html">
						<i class="fa fa-image"></i>
						<span>Icons</span>
				</a>
			</li>
			<li>
				<a href="/pages/tables.html">
						<i class="fa fa-table"></i>
						<span>Tables</span>
				</a>
			</li>
			<li>
				<a href="/pages/forms.html">
						<i class="fa fa-edit"></i>
						<span>Form Elements</span>
				</a>
			</li>
			<li>
				<a href="/pages/panels.html">
						<i class="fa fa-desktop"></i>
						<span>Panels</span>
				</a>
			</li>
			<li>
				<a href="/pages/widgets.html">
						<i class="fa fa-th"></i>
						<span>Widgets (date pickers, loader, etc.)</span>
				</a>
			</li>
			<li>
				<a href="/pages/notifications.html">
						<i class="fa fa-bell-o"></i>
						<span>Notifications</span>
				</a>
			</li>
			<li>
				<a href="/pages/paginations.html">
						<i class="fa fa-book"></i>
						<span>Pagination</span>
				</a>
			</li>
			<li>
				<a href="/pages/treeview.html">
						<i class="fa fa-tree"></i>
						<span>Tree Views</span>
				</a>
			</li>
			<li>
				<a href="/pages/charts.html">
						<i class="fa fa-pie-chart"></i>
						<span>Charts</span>
				</a>
			</li>
			<li>
				<a href="/pages/timeline.html">
						<i class="fa fa-circle-o"></i>
						<span>Timeline</span>
				</a>
			</li>
			<li>
				<a href="/pages/logos.html">
						<i class="fa fa-circle-o"></i>
						<span>Logos</span>
				</a>
			</li>
        </ul>
    	</section>
			<span class="left-copyright">
				Styles are based on the AdminLTE Control Panel Theme for Bootstrap 3 Version 2.4.0.
			</span>
    <!-- /.sidebar -->
	</aside>
<script>
    Array.prototype.forEach.call(document.querySelectorAll("aside.main-sidebar a"), function (a)
    {
        if(a.getAttribute("href") == location.pathname)
            a.parentElement.classList.add("active");
        else
            a.parentElement.classList.remove("active");
    });
</script>
