
<header class="main-header">
    <!-- Logo -->
    <a href="/index2.html" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini">
		<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="92px" height="120px" viewBox="0 0 92 120" enable-background="new 0 0 92 120" xml:space="preserve">
<path fill-rule="evenodd" class="logosvg" clip-rule="evenodd" d="M24.537,36.192c0,0,5.395,10.626,18.029,13.472  c3.497,0.788,15.263,1.66,19.959,4.248c3.21,1.768,3.881,8.923,3.979,14.683V120h24.21V38.796c0,0-23.629,5.713-32.925,5.909  C48.493,44.9,42.103,43.7,39.495,42.748c-3.814-1.392-4.094-4.32-3.024-6.12c0.38-0.639,1.461-1.303,3.019-1.303  c6.617,0,22.174-0.007,22.174-0.007l1.609-3.372l0.537-0.978H0l2.041,4.35L24.537,36.192z"/>
<path fill-rule="evenodd" class="logosvg" clip-rule="evenodd" d="M76.745,1C84.618,1,91,7.448,91,15.402  c0,7.954-6.382,14.402-14.255,14.402s-14.255-6.448-14.255-14.402C62.489,7.448,68.872,1,76.745,1z"/>
</svg>
		</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg">
		<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="92px" height="120px" viewBox="0 0 92 120" enable-background="new 0 0 92 120" xml:space="preserve">
<path fill-rule="evenodd" class="logosvg" clip-rule="evenodd" d="M24.537,36.192c0,0,5.395,10.626,18.029,13.472  c3.497,0.788,15.263,1.66,19.959,4.248c3.21,1.768,3.881,8.923,3.979,14.683V120h24.21V38.796c0,0-23.629,5.713-32.925,5.909  C48.493,44.9,42.103,43.7,39.495,42.748c-3.814-1.392-4.094-4.32-3.024-6.12c0.38-0.639,1.461-1.303,3.019-1.303  c6.617,0,22.174-0.007,22.174-0.007l1.609-3.372l0.537-0.978H0l2.041,4.35L24.537,36.192z"/>
<path fill-rule="evenodd" class="logosvg" clip-rule="evenodd" d="M76.745,1C84.618,1,91,7.448,91,15.402  c0,7.954-6.382,14.402-14.255,14.402s-14.255-6.448-14.255-14.402C62.489,7.448,68.872,1,76.745,1z"/>
</svg>
		<b class="logotext">Service</b></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
			 <!-- Chat: style can be found in dropdown.less-->
                <li class="dropdown messages-menu" data-toggle="tooltip" data-placement="bottom" data-original-title="The number of waiting chats available for you. Click to get a chat.">
                    <a href="#" class="dropdown-toggle" >
                        <i class="fa fa-comment-o"></i>
                        <span class="label label-danger blink">3</span>
                    </a>
                </li>
                <!-- Messages: style can be found in dropdown.less-->
                <li class="dropdown messages-menu" data-toggle="tooltip" data-placement="bottom" data-original-title="The number of unassigned messages waiting for you in My Queue. Click to get the next message.">
                    <a href="#" class="dropdown-toggle" >
                        <i class="fa fa-envelope-o"></i>
                        <span class="label label-danger">4</span>
                    </a>
                </li>
               <!-- Tasks: style can be found in dropdown.less -->
                <li class="dropdown tasks-menu" data-toggle="tooltip" data-placement="bottom" data-original-title="Number of messages in your In Box. Click to go to My Queue.">
                    <a href="#" class="dropdown-toggle" >
                        <i class="fa fa-flag-o"></i>
                        <span class="label label-success">9</span>
                    </a>
                 </li>
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
					    <img src="../../dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
                        <span class="hidden-xs">Alexander Pierce</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
						    <img width="60" class="round" height="60" avatar="Alexander Pierce"> 
						    <!-- <img src="../../dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">-->
                            <p>
                                Alexander Pierce
                                <small>alexander.pierce@test.com</small>
								<small>Auto logout in 12.00 minutes</small>
                            </p>
                        </li>
                        <!-- Menu Body -->
                        <li class="user-body">
                            <div class="row">
                                <div class="col-xs-4 text-center">
                                    <a href="#">Profile</a>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a href="#">Subscription</a>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a href="#">Stock Responses</a>
                                </div>
                            </div>
                            <!-- /.row -->
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left dropdown">
                                <a href="#" class="btn btn-default btn-flat" data-toggle="collapse" data-target="#forget-password">Change Password</a>
								
                            </div>
                            <div class="pull-right">
                                <a href="#" class="btn btn-default btn-flat">Sign out</a>
                            </div>
							<div class="clearfix"></div>
							<div class="change-password collapse">
							   <br>
							   <div class="form-group has-feedback">
								<input type="password" class="form-control" placeholder="Old Password">
								<span class="glyphicon glyphicon-lock form-control-feedback"></span>
							   </div>
							   <div class="form-group has-feedback">
								<input type="password" class="form-control" placeholder="New Password">
								<span class="glyphicon glyphicon-lock form-control-feedback"></span>
							   </div>
							   <div class="form-group has-feedback">
								<input type="password" class="form-control" placeholder="Confirm Password">
								<span class="glyphicon glyphicon-lock form-control-feedback"></span>
							   </div>
							   <div class="col-xs-12">
								  <button type="submit" class="btn btn-primary btn-block btn-flat">Submit</button>
								</div>
							</div>
                        </li>
                    </ul>
                </li>
                <!-- Control Sidebar Toggle Button -->
                <li>
                    <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                </li>
            </ul>
        </div>
    </nav>
</header>
