
<div class="form-group">
    <div class="btn-group dropdown margin-r-5">
      <button type="button" class="btn btn-primary" uib-tooltip="Save a draft" tooltip-placement="bottom">
        <i class="fa fa-send"></i>
        Send
      </button>
    
      <div class="btn-group" uib-dropdown dropdown-append-to-body auto-close="outsideClick">
        <button type="button" class="btn btn-primary" uib-dropdown-toggle>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-btn-option" uib-dropdown-menu auto-close="outsideClick">
          
          <li><input type="checkbox" class="margin-r-5"><i class="fa icon-c icon-expect-customer-reply"></i> Expect Customer Reply</li>
          <li><input type="checkbox" class="margin-r-5"><i class="fa icon-c icon-add-reference-number"></i> Add Reference Number</li>
          <li>
            <a href="javascript:void(0)" class="text-primary" ng-click="shownotificationdropdown = !shownotificationdropdown"><i class="fa icon-c icon-send-secure"></i> Send Secure (Notification)..</a>
            <div ng-show="shownotificationdropdown">
              <select class="form-control">
                <option>Select a notification</option>
              </select>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <button class="btn btn-primary" title="Save Public Note">
      <i class="fa fa-save"></i>
      Save Draft
    </button>
    {% if include.action %}
      <button type="button" class="btn btn-link" ng-click="cancelsummary()">
        Cancel
      </button>
    {% else %}
      <button type="button" class="btn btn-link" ng-click="cancel{{ include.page }}('agentemail{{ include.page }}')">
        Cancel
      </button>
    {% endif %}
    
    
</div>
<div class="nav-tabs-custom form-horizontal">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab_1_{{ include.includetype}}{{ include.tab }}" data-toggle="tab"><i class="fa fa-fw fa-envelope-o"></i> <span>Agent Email Details</span></a></li>
      <li><a href="#tab_2_{{ include.includetype}}{{ include.tab }}" data-toggle="tab" uib-tooltip="There are property values set for this interaction." tooltip-placement="bottom"><i class="fa fa-fw fa-exchange"></i> <span>Interaction Properties</span><span class="new-inside"></span></a> </li>
    </ul>
    <div class="tab-content">
      
      <!-- /.tab-pane -->
      <div class="tab-pane active" id="tab_1_{{ include.includetype}}{{ include.tab }}">
        <!--Standard Response start-->
        <div class="row" >
          <div class="col-md-8">
            <div class="form-group">
              <label class="col-sm-2 control-label text-left">From</label>
              <div class="col-sm-10" > 
                <select class="form-control select2">
                  <option selected="selected">--Default Mailbox--</option>
                  <option>Customer Support (support@example.com)</option>
                  <option>Sales (Sales@example.com)</option>
                  <option>Technical Support (technicalsupport@example.com)</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label text-left">To</label>
              <div class="col-sm-10">
                <select class="form-control select2">
                  <option selected="selected">Jacob.Smith@1to1Service.Com</option>
                </select>
              </div>
            </div>
          
            <div class="form-group">
              <label class="col-sm-2 control-label text-left">CC</label>
              <div class="col-sm-10">
                <input class="form-control" type="text">
              </div>
           
            </div>
          
            <div class="form-group">
              <label class="col-sm-2 control-label text-left">BCC</label>
              <div class="col-sm-10">
                <input class="form-control" type="text">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label text-left">Subject</label>
              <div class="col-sm-10">
                <input class="form-control" type="text" value="looking for low cost tv">
              </div>
            </div>
            <div class="form-group" ng-controller="TopicCtrl as ctrl">
              <label class="col-sm-2 control-label text-left">Topic</label>
              <div class="col-sm-10">
                <ui-select ng-model="ctrl.topicselected.selected" theme="select2" title="Choose a topic" ng-disabled>
                  <ui-select-match placeholder="Select or search a topic in the list..." ng-bind="$select.selected.name || $select.selected"></ui-select-match>
                  <ui-select-choices group-by="'segment'" repeat="item in ctrl.topic | filter: $select.search" ui-disable-choice="{% raw %}{{ item.disabled}}{% endraw %}" >
                    <span ng-attr-title="{{ item.name }}"  ng-attr-class="op-level-{% raw %}{{ item.topiclevel }}{% endraw %} {% raw %}{{ item.disabled }}{% endraw %}"  ng-bind-html="item.name | highlight: $select.search"></span>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <iservice-files-upload ng-init="uploads = []" files="uploads"></iservice-files-upload>
          </div>
          
        </div>
        <!--Standard Response End-->
        
      </div>
      <!-- /.tab-pane -->
      <div class="tab-pane" id="tab_2_{{ include.includetype}}{{ include.tab }}">
        <div class="row form-horizontal">
          <div class="col-md-4">
            <h4>Case Properties</h4>
            <div class="form-group">
              <label class="col-md-12 control-label text-left required">Change Request Type <span class="required">(Required)</span></label>
              <div class="col-sm-12">
                <input type="text" class="form-control pull-right">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-12 control-label text-left">Delivery Date</label>
              <div class="col-sm-12">
                <div class="input-group date">
                  <div class="input-group-addon" ng-click="isDatepickerOpenDelivery = !isDatepickerOpenDelivery">
                    <i class="fa fa-calendar"></i>
                  </div>
                  <input type="text" class="form-control pull-right" ng-focus="isDatepickerOpenDelivery = !isDatepickerOpenDelivery" uib-datepicker-popup="dd/MM/yyyy" ng-model="date" is-open="isDatepickerOpenDelivery" datepicker-options="datepickerOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-12 control-label text-left">Detail</label>
              <div class="col-sm-12">
                <textarea class="form-control" rows="3"></textarea>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <h4>Question Properties</h4>
            <div class="form-group">
              <label class="col-md-12 control-label control-label text-left">Quantity</label>
              <div class="col-sm-12">
                <input type="number" class="form-control pull-right">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-12 control-label control-label text-left">Team</label>
              <div class="col-sm-12">
                <div class="simple-label multiple">
                  <div class="float-btn-group">
                    <button class="margin-5 icon-button button-delete" type="button"><i class="fa fa-times-circle"></i> </button>
                    <input type="text" class="form-control">
                  </div>
                  <div class="float-btn-group">
                    <button class="margin-5 icon-button button-delete" type="button"><i class="fa fa-times-circle"></i> </button>
                    <input type="text" class="form-control">
                  </div>
                  <div class="float-btn-group">
                    <button class="margin-5 icon-button button-delete" type="button"><i class="fa fa-times-circle"></i> </button>
                    <input type="text" class="form-control">
                  </div>
                  <button class="margin-5 icon-button button-add-row" type="button"><i class="fa fa-plus-circle"></i> </button>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-12 control-label control-label text-left">Team (with description)</label>
              <div class="col-sm-12">
                <div class="simple-label multiple">
                  <div class="float-btn-group">
                    <button class="margin-5 icon-button button-delete" type="button"><i class="fa fa-times-circle"></i> </button>
                    <div class="input-with-desc">
                          <select class="form-control group-property-1">
                          <option>Fax</option>
                          <option>Home</option>
                          <option>Mobile</option>
                      </select>  
                      <input type="text" class="form-control group-property-2">
                    </div>  
                  </div>
                  <div class="float-btn-group">
                    <button class="margin-5 icon-button button-delete" type="button"><i class="fa fa-times-circle"></i> </button>
                    <div class="input-with-desc">
                      <select class="form-control group-property-1">
                        <option>Fax</option>
                        <option>Home</option>
                        <option>Mobile</option>
                      </select>  
                      <input type="text" class="form-control group-property-2">
                    </div> 
                  </div>
                  <div class="float-btn-group">
                    <button class="margin-5 icon-button button-delete" type="button"><i class="fa fa-times-circle"></i> </button>
                    <div class="input-with-desc">
                      <select class="form-control group-property-1">
                        <option>Fax</option>
                        <option>Home</option>
                        <option>Mobile</option>
                      </select>  
                      <input type="text" class="form-control group-property-2">
                    </div> 
                  </div>
                  <button class="margin-5 icon-button button-add-row" type="button"><i class="fa fa-plus-circle"></i> </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <h4>Answer Properties</h4>
            <div class="form-group">
              <label class="col-md-12 control-label text-left">Priority</label>
              <div class="col-sm-12">
                <select class="form-control">
                  <option>High</option>
                  <option>Low</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-12 control-label text-left">isOpen</label>
              <div class="col-sm-12">
                <select class="form-control">
                  <option>True</option>
                  <option>False</option>
                </select>
              </div>
            </div>
            <div class="form-group bg-group">
                <label class="col-md-12 control-label text-left">Interaction Property Based Skills</label>
                <div class="col-md-12">
                  <div class="form-group group-bg group-input detail-g-borderbottom"> 
                    <label class="col-md-12 control-label text-left group-input-label">Interaction Property</label>
                    <div class="col-md-12">
                      <select class="form-control group-input-item" ng-change="setFocus()" ng-model="myValue" ng-init="myValue = 21;">
                        <option value="21">Answer Property  (QA) (Answer)</option>
                        <option value="2">Authorization Type  (QA) (Question)</option>
                        <option value="42">Carrier Adjument Amount (AR)  (1to1Service) (Case)</option>
                        <option value="48">Case Property</option>
                        <option value="7">Change Designation  (QA) (Question)</option>
                        <option value="6">Change Priority  (QA) (Question)</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group group-bg group-input detail-g-borderbottom detail-g-bordertop">
                    <label class="col-md-12 control-label text-left  group-input-label">Interaction Property Value</label>
                    <div class="col-md-12">														
                      <input type="text" class="form-control group-input-item" id="propertyValue">
                    </div>
                  </div>
                  <div class="form-group group-bg group-input detail-g-bordertop">
                    <label class="col-md-12 control-label text-left  group-input-label">Interaction Property Value Type</label>
                    <div class="col-md-12">														
                      <input type="text" class="form-control group-input-item" id="propertyValue2">
                    </div>
                  </div>
                </div>
            </div>
            <div class="form-group">
              <label class="col-md-12 control-label text-left">Price</label>
              <div class="col-sm-12">
                  <input type="number" step="any" class="form-control" />
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </div>
        <!-- /.tab-pane -->
      </div>
    </div>
    <!-- /.tab-content -->
</div>
<div class="row">
  <div class="col-md-12">
    <div class="nav-tabs-custom">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#draftbody_{{ include.includetype}}{{ include.page }}" data-toggle="tab" aria-expanded="true">Draft Body</a></li>
        <li><a href="#plainhtml_{{ include.includetype}}{{ include.page }}" data-toggle="tab" aria-expanded="false">Preview<br></a></li>
        
        <div class="btn-group pull-right" uib-dropdown dropdown-append-to-body auto-close="outsideClick">
          <a class="btn btn-default btn-sm responses"  uib-dropdown-toggle data-toggle="off" href="javascript:void(0)">Variables & Stock Responses</a>
          {% include variables-and-stock-responses.html %}
        </div>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="draftbody_{{ include.includetype}}{{ include.page }}">
          <div class="form-group text-editor-container">
            <textarea class="form-control" rows="10" placeholder="" id="editorgetthis" ckeditor="options"><p>Hello,</p>

            <p>I&#39;m looking for s small TV for our bedroom, but don&#39;t want to spend more than $100. Do you have any option for me to consider?</p>
                            
            <p>Regards,</p>
                            
            <p>John Doe</p>
                        </textarea>
          </div>
        </div>
        <div class="tab-pane" id="plainhtml_{{ include.includetype}}{{ include.page }}">
          <p>Hello,</p>

          <p>I&#39;m looking for s small TV for our bedroom, but don&#39;t want to spend more than $100. Do you have any option for me to consider?</p>

          <p>Regards,</p>

          <p>John Doe</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="panel panel-default form-group">
      <div class="panel-heading">
        <i class="fa fa-fw fa-pencil-square-o"></i>
        Private Comments
      </div>
      <div class="panel-body">
        <textarea class="full-width full-height"></textarea>
      </div>
    </div>
  </div>
</div>  

