<div class="row">
    <div class="col-md-8">
      <div class="form-group">
        <label class="col-sm-2 control-label text-left">From</label>
        <div class="col-sm-10" > 
          <select class="form-control select2">
            <option selected="selected">--Default Mailbox--</option>
            <option>Customer Support (support@example.com)</option>
            <option>Sales (Sales@example.com)</option>
            <option>Technical Support (technicalsupport@example.com)</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label text-left">To</label>
        <div class="col-sm-10">
          <select class="form-control select2">
            <option selected="selected">Jacob.Smith@1to1Service.Com</option>
          </select>
        </div>
      </div>
    
      <div class="form-group">
        <label class="col-sm-2 control-label text-left">CC</label>
        <div class="col-sm-8 replyall">
          <i class="fa  fa-mail-reply-all  mright-5"  uib-tooltip="This question has addrsses in the CC line. Click to add them to your reply." tooltip-placement="bottom"></i>
          <input class="form-control" type="text">
        </div>
        <div class="col-sm-2">
            <a class="btn-link bcc-link cp"  uib-tooltip="Click to add a BCC line to your reply." tooltip-placement="bottom" ng-hide="showBCC" ng-click="showBCC = !showBCC">Add BCC</a>
        </div>  
      </div>
   
      <div class="form-group" ng-show="showBCC">
        <label class="col-sm-2 control-label text-left">BCC</label>
        <div class="col-sm-10">
          <input class="form-control" type="text">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label text-left">Subject</label>
        <div class="col-sm-4">
          <input class="form-control" type="text" value="Ref#: 123456789-123456789" disabled>
        </div>
        <div class="col-sm-6">
          <input class="form-control" type="text" value="looking for low cost tv">
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <iservice-files-upload ng-init="uploads = []" files="uploads"></iservice-files-upload>
    </div>
  </div>