<script id="expandedrow{{ include.item }}" type="text/ng-template">
  <!--form data start-->
  <div class="row" ng-hide="hidetrue{{ include.item }}">
    <div class="col-md-12 ">
    <div class="row">
      <div class="col-md-12">
      <button class="btn btn-primary bg-aqua-active btn-info margin-r-5" uib-tooltip="Send new agent email to John Doe" tooltip-placement="bottom" ng-click="show2('agentemail{{ include.item }}')">
        <i class="fa fa-envelope"></i>
        Agent email
      </button>
      <button class="btn  btn-success margin-r-5" uib-tooltip="Add note to John Doe" tooltip-placement="bottom" ng-click="show2('createnote{{ include.item }}')">
        <i class="fa fa-pencil-square-o"></i>
        Note
      </button>
      <button class="btn  btn-warning margin-r-5" uib-tooltip="Create Ticket for John Doe" tooltip-placement="bottom" ng-click="show2('createticket{{ include.item }}')">
        <i class="fa fa-ticket"></i>
        Ticket
      </button>
      <button class="btn  btn-purple margin-r-5" uib-tooltip="Forward a copy of this via email" tooltip-placement="bottom" ng-click="show2('forwardcopy{{ include.item }}')">
        <i class="fa fa-mail-forward"></i>
        Forward Copy
      </button>
      <div class="btn-group pull-right" uib-dropdown dropdown-append-to-body auto-close="outsideClick">
        <button type="button" class="btn btn-default" uib-dropdown-toggle uib-tooltip="More" tooltip-placement="bottom">
        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-right dropdown-bg dropdown-more" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
        <li role="menuitem" ng-class="{ 'bg-primary': isStatusAuditSectionExpanded }">
          <iservice-switch switched="toggle.switchshowstatus">Show Status Audit</iservice-switch>
        </li>
        <li role="menuitem"><iservice-switch switched="toggle.switchshowfullcase">Show Full Case</iservice-switch></li>
        <li role="menuitem"><iservice-switch switched="toggle.switchplainorhtml">Display Plain Text</iservice-switch></li>
        <li role="menuitem"><a href="#"><i class="fa fa-print"></i> Print</a></li>
        </ul>
      </div>
      <button class="btn bg-info btn-info margin-r-5 pull-right" uib-tooltip="Assign this to me" tooltip-placement="bottom" ng-click="show2('getthis{{ include.item }}')">
        <i class="fa fa-sign-in"></i>
        Get This
      </button>
      </div>
      <div class="col-md-12 mtop-15">
      <div class="box status-box" style="display:none">
        <div class="box-header with-border">
        <h3 class="box-title">Status Audit</h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool cancel-widget"><i class="fa fa-times"></i></button>
        </div>
        </div>
        <div class="box-body table-responsive">
        <table id="example2" class="table  table-striped">
          <thead>
          <tr>
            <th class="text-capitalize">
            Time
            </th>
            <th class="text-capitalize">
            Modifier
            </th>
            <th class="text-capitalize">
            Status
            </th>
            <th class="text-capitalize">
            Action
            </th>
            <th class="text-capitalize">
            Assigned To
            </th>
            <th class="text-capitalize">
            Topic
            </th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
            11/11/2017 12:19:20PM
            </td>
            <td>
            Jaswantchouhan
            </td>
            <td>
            <small class="label label-success">Resolved</small>
            </td>
            <td>
            Contact 181 - [#Myqueue:MessageQueueQouteRequest / QouteSend] Form submit(webapp-api)
            </td>
            <td>
            Jaswantchouhan
            </td>
            <td>
            JC - Segment- All Topic - To- Quote - Open Quotes
            </td>
          </tr>
          </tbody>
        </table>
        </div>
      </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
        <li class="active"><a href="#tab_case_1_{{ include.item }}" data-toggle="tab" uib-tooltip="This interaction has file attachments." tooltip-placement="bottom"><i class="fa fa-paperclip"></i> <span>Details & Attachments</span><span class="new-inside"></span></a></li>
        <li><a href="#tab_case_2_{{ include.item }}" data-toggle="tab" uib-tooltip=" There are property values set for this interaction." tooltip-placement="bottom"><i class="fa fa-fw fa-exchange"></i> <span>Interaction Properties</span><span class="new-inside"></span></a> </li>
        <li><a href="#tab_case_3_{{ include.item }}" data-toggle="tab"  uib-tooltip="There are private comments for this interaction." tooltip-placement="bottom"><i class="fa fa-fw fa-pencil-square-o"></i> <span>Private Comments </span></a> </li>
        </ul>
        <div class="tab-content">
        <div class="tab-pane active" id="tab_case_1_{{ include.item }}">
          <div class="row">
          <div class="message-box-header">
            <div class="col-md-12">
            <div class="user-container">
              <span class="user">
              <img src="/dist/img/agent.png">
              </span>
              <!--For ellipsis or limit the character add  class="username-ellipsis"
                    eg :- <span class="username-ellipsis">Alek Packard</span>
              -->
              <span>John Doe</span>
            </div>
            <div class="message-info">
              <b>From : </b> john.doe@example.com<br>
              <b>To : </b> alek.packard@1to1service.com<br>
              <b>CC : </b> justin.time@1to1service.com<br>
            </div>	
            <div class="clear"></div>
            <div class="int-det-box pull-right"> 
              <div><b>Interaction ID : </b>4645646</div>
              <div><b> Segment / Topic : </b>All Topic</div>
              <div><b> Resolved By : </b>Alek Packard</div>
              <div><b> Approved By : </b>&nbsp;</div><div><b> Assigned To : </b>&nbsp;</div>		
              <div><b> Interaction Status : </b><small class="bg-green-active label">Resolved</small></div>									
              <div><b> Interaction Type : </b><small class="label label-with-icon bg-blue"><i class="fa fa-envelope"></i>Customer Email</small><span class="email-download"  uib-tooltip="Download Customer Email" tooltip-placement="bottom"><i class="fa fa-download"></i></span></div>
            </div>
            </div>
            <div class="col-md-12 mtop-15"><b> <i class="fa fa-paperclip attachment-icon"></i></b> <a href="" class="attachments"><i class="fa fa-file-image-o"></i> <span class="filename">Image1.jpg (123KB)</span></a> <a href="" class="attachments"><i class="fa fa-file-image-o"></i> <span class="filename">Image2.jpg (30kb)</span></a> <a href="" class="attachments"><i class="fa fa-file-pdf-o"></i><span class="filename"> File1.pdf (40KB)</span></a> </div>
          </div>
          </div>
        </div>
        <div class="tab-pane" id="tab_case_2_{{ include.item }}">
          <div class="row form-horizontal">
          <div class="col-md-4">
            <h4>Case Properties</h4>
            <div class="form-group">
            <label class="col-md-12 control-label text-left required">Change Request Type <span class="required">(Required)</span></label>
            <div class="col-sm-12">
              <input type="text" class="form-control pull-right">
            </div>
            </div>
            <div class="form-group">
            <label class="col-md-12 control-label text-left">Delivery Date</label>
            <div class="col-sm-12">
              <div class="input-group date">
              <div class="input-group-addon" ng-click="isDatepickerOpenDelivery = !isDatepickerOpenDelivery">
                <i class="fa fa-calendar"></i>
              </div>
              <input type="text" class="form-control pull-right" ng-focus="isDatepickerOpenDelivery = !isDatepickerOpenDelivery" uib-datepicker-popup="dd/MM/yyyy" ng-model="date" is-open="isDatepickerOpenDelivery" datepicker-options="datepickerOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats">
              </div>
            </div>
            </div>
            <div class="form-group">
            <label class="col-md-12 control-label text-left">Detail</label>
            <div class="col-sm-12">
              <textarea class="form-control" rows="3"></textarea>
            </div>
            </div>
          </div>
          <div class="col-md-4">
            <h4>Question Properties</h4>
            <div class="form-group">
            <label class="col-md-12 control-label control-label text-left">Quantity</label>
            <div class="col-sm-12">
              <input type="text" class="form-control pull-right">
            </div>
            </div>
            <div class="form-group">
            <label class="col-md-12 control-label control-label text-left">Team</label>
            <div class="col-sm-12">
              <div class="simple-label multiple">
              <div class="float-btn-group">
                <button class="margin-5 icon-button button-delete" type="button"><i class="fa fa-times-circle"></i> </button>
                <input type="text" class="form-control">
              </div>
              <div class="float-btn-group">
                <button class="margin-5 icon-button button-delete" type="button"><i class="fa fa-times-circle"></i> </button>
                <input type="text" class="form-control">
              </div>
              <div class="float-btn-group">
                <button class="margin-5 icon-button button-delete" type="button"><i class="fa fa-times-circle"></i> </button>
                <input type="text" class="form-control">
              </div>
              <button class="margin-5 icon-button button-add-row" type="button"><i class="fa fa-plus-circle"></i> </button>
              </div>
            </div>
            </div>
          </div>
          <div class="col-md-4">
            <h4>Answer Properties</h4>
            <div class="form-group">
            <label class="col-md-12 control-label text-left">Priority</label>
            <div class="col-sm-12">
              <select class="form-control">
              <option>High</option>
              <option>Low</option>
              </select>
            </div>
            </div>
            <div class="form-group">
            <label class="col-md-12 control-label text-left">isOpen</label>
            <div class="col-sm-12">
              <select class="form-control">
              <option>True</option>
              <option>False</option>
              </select>
            </div>
            </div>
          </div>
          <div class="col-md-12">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
          </div>
        </div>
        <!--tab 3 start-->
        <div class="tab-pane" id="tab_case_3_{{ include.item }}">
          These are the private comments. I believe this is a rather large field. These are the private comments. I believe this is a rather large field. These are the private compments. I believe this is a rather large field. These are the private comments. I believe this is a rather large field. These are the private comments. I believe this is a rather large field. a rather large field.

          And now some numbers. 12879837593745982374759834598345 
        </div>
        <!--tab 3 end-->	
        </div>
      </div>
      </div>
    </div>
    <div class="message-box">
      <div class="message-box-body">
      <div class="clear"></div>
      <div>
        <p>
        Hello,<br>
        I'm looking for a flat screen. Any suggestions?
        </p>
      </div>
      </div>
    </div>
    </div>
  </div>
  <!--form data end-->
  <!--agent email start-->
  {% include agent-email-include-2.html %}
  <!--agent email end-->
  <!--create note start-->
  {% include create-note-include.html num="2" %}
  <!--create note end-->
  <!--create ticket start-->
  {% include create-ticket-include-2.html %}
  <!--create ticket end-->
  <!--forward start-->
  {% include forward-copy-include-2.html %}
  <!--forward end-->
  <!--Get this-->
  {% include get-this-include-2.html %}
  <!--Get thisa-->
  </script>