<div class="ng-hide" ng-show="forwardcopy"> 
        <!-- form start -->
        <div class="col-md-8"> 
            <form class="form-horizontal">
                <div class="form-group">
                    <button id="split-button2" class="btn btn-primary" type="button">
                        <i class="fa fa fa-mail-forward"></i>
                        Forward
                    </button>
                    <button class="btn btn-link ng-scope" ng-click="cancel('forwardcopy')">Cancel</button>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Topic</label>
                    <div class="col-sm-10">
                        <select class="form-control">
                            <option>Select Topic 1</option>
                            <option>option 2</option>
                            <option>option 3</option>
                            <option>option 4</option>
                            <option>option 5</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">From</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">To</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">CC</label>
                    <div class="col-sm-10">
                    <textarea class="form-control" rows="2"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Subject</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <hr/>
                    <p class="attach-file"> <label class="btn-bs-file">
                            Attach files		
                            <input type="file" />
                    </label> (Maximum 10 MB upload at one time.)</p>
                <div class="form-group text-editor-container">
                    <div class="col-sm-12">
                        <textarea id="editor2" class="form-control" rows="5" placeholder="" ckeditor></textarea>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="panel panel-default form-group">
                        <div class="panel-heading">
                            <i class="fa fa-fw fa-pencil-square-o"></i>
                            Private Comments
                        </div>
                        <div class="panel-body">
                            <textarea class="full-width full-height" ></textarea>
                        </div>
                    </div>	
                </div>
            </form>	
        </div> 
        <div class="col-md-4">
            <div class="box box-solid bg-gray list-search box-body">
                <div class="form-group">
                    <div class="col-sm-12 no-padding">
                        <input type="email" class="form-control" placeholder="List Search">
                    </div>
                </div>
            </div>
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_11" data-toggle="tab"><i class="fa fa-fw fa-cubes"></i><span>Variables</span></a></li>
                    <li><a href="#tab_12" data-toggle="tab"><i class="fa fa-fw fa-list"></i><span>Stock Responses</span></a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_11">
                        <div class="row" id="variable-box6">
                            <div class="col-xs-12 variable-responses custom-scroll">
                                <ul class="list-unstyled segment-variable-list">
                                    <li class="section-label">Contact
                                        <ul class="segment-variables">
                                            <li class="section-var-link">Name</li>
                                            <li class="segment-lable">Global
                                                <ul>
                                                    <li class="section-var-link">Address1</li>
                                                    <li class="section-var-link">Address2</li>
                                                    <li class="section-var-link">City</li>
                                                    <li class="section-var-link">Country</li>
                                                    <li class="section-var-link">Company</li>
                                                </ul>
                                            </li>
                                            <li class="segment-lable">JC Segment
                                                <ul>
                                                    <li class="section-var-link">Contact View Only Property</li>
                                                    <li class="section-var-link">Contact Viewable and Editable Property</li>
                                                    <li class="section-var-link">Multi value No Descr</li>
                                                    <li class="section-var-link">Shared Property from JC - cust can't see</li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul class="list-unstyled segment-variable-list">
                                    <li class="section-label">Answer
                                        <ul class="segment-variables">
                                            <li class="section-var-link">Email</li>
                                            <li class="section-var-link">Reference Number</li>
                                            <li class="section-var-link">Original Date</li>
                                            <li class="section-var-link">Original Time</li>
                                            <li class="section-var-link">Subject</li>
                                            <li class="section-var-link">Original Body</li>
                                            <li class="section-var-link">Quoted Question</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_12">
                        <div class="row" id="stock-responses6">
                            <div class="col-xs-12 stock-responses custom-scroll">
                                <div>
                                    <input type="text" class="form-control" placeholder="Keyword Search">
                                </div>
                                <ul class="list-unstyled segment-variable-list">
                                    <li class="section-label">Segment Responses
                                        <ul class="segment-variables">
                                            <li class="section-var-link">Chat Closing</li>
                                            <li class="section-var-link">Chat Opening</li>
                                            <li class="section-var-link">Chat Wait</li>
                                            <li class="section-var-link">iService Website</li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul class="list-unstyled segment-variable-list">
                                    <li class="section-label">Agent Response
                                        <ul class="segment-variables">
                                            <li class="section-var-link">Test</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.tab-content -->
            </div>
        </div>
    </div>