<div class="row" ng-show="getthis">
  <div class="col-md-12 form-horizontal">
    <div class="col-md-12 form-action">
      <div class="form-group">
        <div class="btn-group dropdown margin-r-5">
          <button type="button" class="btn btn-primary">
            <i class="fa fa-send"></i>
            Send
          </button>
          <div class="btn-group" uib-dropdown dropdown-append-to-body auto-close="outsideClick">
            <button type="button" class="btn btn-primary" uib-dropdown-toggle>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-btn-option" uib-dropdown-menu auto-close="outsideClick">
              <li><input type="checkbox" class="margin-r-5"><i class="fa icon-c icon-send-leave-open"></i> Leave Open</li>
              <li><input type="checkbox" class="margin-r-5"><i class="fa icon-c icon-expect-customer-reply"></i> Expect Customer Reply</li>
              <li><input type="checkbox" class="margin-r-5"><i class="fa icon-c icon-add-reference-number"></i> Add Reference Number</li>
              <li>
                <a href="javascript:void(0)" class="text-primary" ng-click="shownotificationdropdown = !shownotificationdropdown"><i class="fa icon-c icon-send-secure"></i> Send Secure (Notification)..</a>
                <div ng-show="shownotificationdropdown">
                  <select class="form-control">
                    <option>Select a notification</option>
                  </select>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <button class="btn btn-primary" type="button">
          <i class="fa  fa-check"></i>
          Resolve
        </button>

        <div class="btn-group margin-r-5" uib-dropdown dropdown-append-to-body auto-close="outsideClick">
          <button type="button" class="btn btn-primary" uib-dropdown-toggle>
            <i class="fa fa-mail-forward"></i>
            Forward
          </button>
          <ul class="dropdown-menu dropdown-menu-btn-option dropdown-forward" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
            <li ng-class="{'option-selected' : selectAgent}">
              <a href="javascript:void(0)" class="text-primary" ng-click="selectAgent = !selectAgent;forwardSegment=false;forwardExternalSegment=false;"><i class="fa icon-c icon-forward-to-agent"></i> Forward To Agent</a>
              <div class="btn-list-options form-group" ng-show="selectAgent">
                <div class="ng-cloak" ng-controller="AgentCtrl as ctrl">
                  <ui-select ng-model="ctrl.agentselected.selected" theme="select2" ng-disabled="ctrl.disabled" style="width: 300px;" title="Choose a agent">
                    <ui-select-match placeholder="Select or search a agent in the list..." ng-bind="$select.selected.name || $select.selected"></ui-select-match>
                    <ui-select-choices repeat="agent in ctrl.agentname | filter: $select.search">
                      <span ng-bind-html="agent.name | highlight: $select.search"></span>
                      <br>
                      <span ng-bind-html="agent.email | highlight: $select.search"></span>
                    </ui-select-choices>
                  </ui-select>
                </div>
                <button class="btn btn-primary btn-xs">Assign To Agent</button>
              </div>
            </li>
            <li><a href="javascript:void(0)" class="text-primary"><i class="fa icon-c icon-unassign-question"></i> Unassign Question</a></li>
            <li ng-class="{'option-selected' : forwardSegment}">
              <a href="javascript:void(0)" class="text-primary" ng-click="forwardSegment = !forwardSegment;selectAgent=false;forwardExternalSegment=false;"> <i class="fa icon-c icon-forward-to-segment"></i> Forward To Segment</a>
              <div class="btn-list-options form-group" ng-show="forwardSegment">
                <div class="ng-cloak" ng-controller="DemoCtrl as ctrl">
                    <ui-select ng-model="ctrl.segmentselected.selected" theme="select2" title="Choose a segment">
                      <ui-select-match placeholder="Select or search a segment in the list..." ng-bind="$select.selected.name || $select.selected"></ui-select-match>
                      <ui-select-choices group-by="'segmentname'" repeat="item in ctrl.segment | filter: $select.search">
                        <span ng-bind-html="item.name | highlight: $select.search"></span><br>
                        <span ng-bind-html="item.email | highlight: $select.search"></span>
                      </ui-select-choices>
                    </ui-select>
                </div>
                <button class="btn btn-primary btn-xs">Forward Now</button>
              </div>
            </li>
            <li ng-class="{'option-selected' : forwardExternalSegment}">
              <a href="javascript:void(0)" class="text-primary" ng-click="forwardExternalSegment = !forwardExternalSegment;selectAgent=false;forwardSegment=false;"><i class="fa icon-c icon-forward-to-external-agent"></i> Forward To External Agent</a>
              <div class="btn-list-options form-group" ng-show="forwardExternalSegment">
                <div class="form-group ng-cloak" ng-controller="extAgentCtrl as ctrl">
                  <ui-select ng-model="ctrl.agentselected.selected" theme="select2" ng-disabled="ctrl.disabled" style="width: 300px;" title="Choose a agent">
                    <ui-select-match placeholder="Select or search for a notification template" ng-bind="$select.selected.name || $select.selected"></ui-select-match>
                    <ui-select-choices repeat="agent in ctrl.agentname | filter: $select.search">
                    <span ng-bind-html="agent.name | highlight: $select.search"></span>
                    </ui-select-choices>
                  </ui-select>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Enter the email address for the external agent">
                  <button class="btn btn-primary btn-xs">Forward Now</button> 
                </div>
              </div>
            </li>
          </ul>
        </div>

        <div class="btn-group dropdown margin-r-5">
          <button type="button" class="btn btn-primary">
            <i class="fa fa-save"></i>
            Save
          </button>
          <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dd-width-auto" role="menu">
              <li><a href="#" class="text-primary"><i class="fa icon-c icon-private-note"></i> Private Note</a></li>
              <li><a href="#" class="text-primary"><i class="fa icon-c icon-public-note"></i> Public Note</a></li>
            </ul>
          </div>
        </div>
        <div class="btn-group margin-r-5" uib-dropdown dropdown-append-to-body auto-close="outsideClick">
          <button class="btn btn-primary" title="Spam" uib-dropdown-toggle>
            <i class="fa  fa-arrows-alt"></i>
            Change Topic
          </button>
          <ul class="dropdown-menu dropdown-menu-btn-option dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
            <li>
              <div class="ng-cloak" ng-controller="ChangeTopicCtrl as ctrl">
                <ui-select ng-model="ctrl.topicselected.selected" theme="select2" title="Choose a topic">
                  <ui-select-match placeholder="Select or search a topic in the list..." ng-bind="$select.selected.name || $select.selected"></ui-select-match>
                  <ui-select-choices group-by="'segment'" repeat="item in ctrl.topic | filter: $select.search" ui-disable-choice="{% raw %}{{ item.disabled}}{% endraw %}" >
                    <span ng-attr-title="{{ item.name }}"  ng-attr-class="op-level-{% raw %}{{ item.topiclevel }}{% endraw %} {% raw %}{{ item.disabled }}{% endraw %}"  ng-bind-html="item.name | highlight: $select.search"></span>
                  </ui-select-choices>
                </ui-select>
            </div>
            </li>
          </ul>
        </div>
        <button class="btn btn-primary" title="Spam">
          <i class="fa fa-ban"></i>
          Spam
        </button>
        <a class="btn btn-link" ng-click="cancel('getthis')">Cancel</a>

        <div class="btn-group pull-right" uib-dropdown dropdown-append-to-body auto-close="outsideClick">
          <button type="button" class="btn btn-default" uib-dropdown-toggle uib-tooltip="More" tooltip-placement="bottom">
            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
          </button>
          <ul class="dropdown-menu dropdown-menu-right dropdown-bg dropdown-more" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
            <li role="menuitem" ng-class="{ 'bg-primary': isStatusAuditSectionExpanded }">
              <iservice-switch switched="toggle.switchshowstatus">Show Status Audit</iservice-switch>
            </li>
            <li role="menuitem"><iservice-switch switched="toggle.switchshowfullcase">Show Full Case</iservice-switch></li>
            <li role="menuitem"><iservice-switch switched="toggle.switchplainorhtml">Display Plain Text</iservice-switch></li>
            <li role="menuitem"><a href="#"><i class="fa fa-print"></i> Print</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        {% include show-status-audit.html %}
      </div>
      <div class="row full-case-panel" ng-show="toggle.switchshowfullcase">
        {% include full-case-action-mode-panel-include.html %}
      </div>	
      <div class="row">
        <!-- Custom Tabs -->
        {% include email-address-subject-responses-include.html tab="1" %}
        <!-- nav-tabs-custom -->
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="nav-tabs-custom">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#draftbody" data-toggle="tab" aria-expanded="true">Draft Body</a></li>
        <li><a href="#plainhtml" data-toggle="tab" aria-expanded="false">Preview<br></a></li>
        
        <div class="btn-group pull-right" uib-dropdown dropdown-append-to-body auto-close="outsideClick">
          <a class="btn btn-default btn-sm responses"  uib-dropdown-toggle data-toggle="off" href="javascript:void(0)">Variables & Stock Responses</a>
          {% include variables-and-stock-responses.html %}
        </div>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="draftbody">
          <div class="form-group text-editor-container">
            <textarea class="form-control" rows="10" placeholder="" id="editorgetthis" ckeditor="options"><p>Hello,</p>

            <p>I&#39;m looking for s small TV for our bedroom, but don&#39;t want to spend more than $100. Do you have any option for me to consider?</p>
                            
            <p>Regards,</p>
                            
            <p>John Doe</p>
                        </textarea>
          </div>
        </div>
        <div class="tab-pane" id="plainhtml">
          <p>Hello,</p>

          <p>I&#39;m looking for s small TV for our bedroom, but don&#39;t want to spend more than $100. Do you have any option for me to consider?</p>

          <p>Regards,</p>

          <p>John Doe</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default form-group">
          <div class="panel-heading">
            <i class="fa fa-fw fa-pencil-square-o"></i>
            Private Comments
          </div>
          <div class="panel-body">
            <textarea class="full-width full-height"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
