<div class="col-md-12">
 <!-- Custom Tabs -->
    <div class="row">
          <div class="col-md-12">
            <div class="box box-info">
              <div class="box-header with-border">
                <i class="fa fa-history"></i>
                <h3 class="box-title head-title-padding">Message History</h3>
               
              </div>
              <!-- /.box-header -->
              <!-- form start -->
              <div class="box-body table-responsive" >
                <table class="table table-striped table-hover" datatable dt-options="dtContactHistoryOptions" dt-column-defs="dtContactHistoryColumnDefs">
                  <thead>
                    <tr>
                      <th class="no-sort"><div></div></th>
                      <th class="text-capitalize">
                        Subject 
                      </th>
                      <th class="text-capitalize">
                        Case Topic
                      </th>
                      <th class="text-capitalize">
                          Case Status
                      </th>
                      <th class="text-capitalize">
                        Interaction Type
                      </th>
                      <th class="text-capitalize">
                        Case Properties
                      </th>
                      <th class="text-capitalize">
                        Date
                      </th>
                    </tr>
                  </thead>  
                  <tbody>
                    <tr id="inboxrow9">
                      <td>
                          <button class="btn btn-xs btn-link text-default btn-expand" title="Operations" ng-click="toggleRowInbox('inboxrow9')">
                              <i class="fa fa-plus-circle" ng-show="!inboxrow9"></i>
                              <i class="fa fa-minus-circle ng-hide" ng-show="inboxrow9" ng-cloak></i>
                          </button>
                      </td>
                      <td>
                          [ref#: 114545-114545]  Kind Attend :: I need to purchase LG TV
                      </td>
                      <td>
                        All Topics
                      </td>
                      <td>
                          <small class="bg-green label">ChatInProgress</small>
                      </td>
                      <td>
                          <small class="label label-with-icon bg-blue">
                              <i class="fa fa-envelope"></i>
                              Customer Email
                          </small>
                      </td>
                      <td>
                      --
                      </td>
                      <td>
                        2018-07-12 9:36:26 AM
                      </td>
                    </tr>
                    <tr id="inboxrow10">
                      <td>
                        <button class="btn btn-xs btn-link text-default btn-expand" title="Operations" ng-click="toggleRowInbox('inboxrow10')">
                            <i class="fa fa-plus-circle" ng-show="!inboxrow10"></i>
                            <i class="fa fa-minus-circle ng-hide" ng-show="inboxrow10" ng-cloak></i>
                        </button>
                      </td>
                      <td>
                        Kind Attend :: I need to purchase LG TV
                      </td>
                      <td>
                          All Topics
                      </td>
                      <td>
                          <small class="bg-green label">Sent</small>
                      </td>
                      <td>
                          <small class="label bg-green"> 
                            <span class="fa-stack stack-icon-label">
                            <i class="fa fa-envelope"></i>
                            <i class="fa fa-user "></i> 
                            </span>Agent Email
                          </small>
                      </td>
                      
                      <td>
                      --
                      </td>
                      <td>
                        2018-07-13 12:36:26 AM
                      </td>
                    </tr>
                    <tr id="inboxrow11">
                      <td class="icon-col">
                        <button class="btn btn-xs btn-link text-default btn-expand" title="Operations" ng-click="toggleRowInbox('inboxrow11')">
                            <i class="fa fa-plus-circle" ng-show="!inboxrow11"></i>
                            <i class="fa fa-minus-circle ng-hide" ng-show="inboxrow11" ng-cloak></i>
                        </button>
                      </td>
                      <td>
                         Kind Attend :: I need to purchase LG TV
                      </td>
                      <td>
                          All Topics
                      </td>
                      <td>
                          <small class="bg-green label">ChatInProgress</small>
                      </td>
                      <td>
                          <small class="label label-with-icon bg-blue">
                              <i class="fa fa-envelope"></i>
                              Customer Email
                          </small>
                      </td>
                      <td>
                        --
                      </td>
                      <td>
                        2018-07-14 11:36:26 AM
                      </td>
                    </tr>
                    <tr id="inboxrow12">
                      <td class="icon-col">
                        <button class="btn btn-xs btn-link text-default btn-expand" title="Operations" ng-click="toggleRowInbox('inboxrow12')">
                            <i class="fa fa-plus-circle" ng-show="!inboxrow12"></i>
                            <i class="fa fa-minus-circle ng-hide" ng-show="inboxrow12" ng-cloak></i>
                        </button>
                      </td>
                      <td>
                       Kind Attend :: I need to purchase LG TV
                      </td>
                      <td>
                          All Topics
                      </td>
                      <td>
                          <small class="bg-green-active label">Resolved</small>
                      </td>
                      <td>
                          <small class="bg-teal-active label"> 
                            <span class="fa-stack stack-icon-label">
                            <i class="fa fa-save"></i>
                            <i class="fa fa-check "></i> 
                            </span> Save & Resolve
                          </small>
                      </td>
                      <td>
                      --
                      </td>
                      <td>
                        2018-07-15 10:36:26 AM
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div> 
          </div>
          <div class="col-md-4">
          </div>
    </div>                         
</div>
 <!-- /.col -->