<div class="col-md-12" ng-hide="qouteresponse">
 <!-- Custom Tabs -->
    <div class="row">
          <div class="col-md-12">
            <div class="box box-info">
              <div class="box-header with-border">
                <i class="fa fa-history"></i>
                <h3 class="box-title head-title-padding">Message History</h3>
               
              </div>
              <!-- /.box-header -->
              <!-- form start -->
              <div class="box-body table-responsive" >
                <table class="table table-striped table-hover" datatable dt-options="dtContactHistoryOptions" dt-column-defs="dtContactHistoryColumnDefs">
                  <thead>
                    <tr>
                      <th class="no-sort"><div></div></th>
                      <th class="text-capitalize">
                        Subject 
                      </th>
                      <th class="text-capitalize">
                        Case Topic
                      </th>
                      <th class="text-capitalize">
                          Case Status
                      </th>
                      <th class="text-capitalize">
                        Interaction Type
                      </th>
                      <th class="text-capitalize">
                        Case Properties
                      </th>
                      <th class="text-capitalize">
                        Date
                      </th>
                    </tr>
                  </thead>  
                  <tbody>
                    <tr id="inboxrow9">
                      <td>
                          <button class="btn btn-xs btn-link text-default btn-expand" title="Operations" ng-click="toggleRowInbox('inboxrow9')">
                              <i class="fa fa-plus-circle" ng-show="!inboxrow9"></i>
                              <i class="fa fa-minus-circle ng-hide" ng-show="inboxrow9" ng-cloak></i>
                          </button>
                      </td>
                      <td>
                          [ref#: 114545-114545]  Kind Attend :: I need to purchase LG TV
                      </td>
                      <td ng-show="!inboxrow9">
                       All Topic
                      </td>
                      <td ng-show="!inboxrow9">
                         <small class="bg-red-disabled label">Queued</small>
                      </td>
                      <td ng-show="!inboxrow9">
                        <small class="label bg-blue label-with-icon"> 
                          <i class="fa icon-c icon-customer-ticket"></i>
                          Customer Ticket
                        </small>
                      </td>
                      <td ng-show="!inboxrow9">
                      --
                      </td>
                      <td ng-show="!inboxrow9">
                        2018-07-12 9:36:26 AM
                      </td>
                      <td col-span="" ng-show="inboxrow9">
                         &nbsp;
                      </td>	
                      <td col-span="" ng-show="inboxrow9">
                           &nbsp;
                      </td>
                      <td col-span="" ng-show="inboxrow9">
                          &nbsp;
                      </td>
                      <td col-span="" ng-show="inboxrow9">
                          &nbsp;
                      </td>
                      <td col-span="" ng-show="inboxrow9">
                          &nbsp;
                      </td>
                    </tr>
                    <tr id="inboxrow10">
                      <td>
                        <button class="btn btn-xs btn-link text-default btn-expand" title="Operations" ng-click="toggleRowInbox('inboxrow10')">
                            <i class="fa fa-plus-circle" ng-show="!inboxrow10"></i>
                            <i class="fa fa-minus-circle ng-hide" ng-show="inboxrow10" ng-cloak></i>
                        </button>
                      </td>
                      <td>
                        Kind Attend :: I need to purchase LG TV
                      </td>
                      <td ng-show="!inboxrow10">
                          All Topics
                      </td>
                      <td ng-show="!inboxrow10">
                        <small class="bg-red label">Unsent</small>
                      </td>
                      <td ng-show="!inboxrow10">
                        <small class="bg-green label"> 
                          <span class="fa-stack stack-icon-label">
                          <i class="fa fa-reply"></i>
                          <i class="fa fa-times-circle-o"></i> 
                          </span>  Unsent Response
                        </small>
                      </td>
                      
                      <td ng-show="!inboxrow10">
                      --
                      </td>
                      <td ng-show="!inboxrow10">
                        2018-07-13 12:36:26 AM
                      </td>

                      <td col-span="" ng-show="inboxrow10">
                         &nbsp;
                      </td>	
                      <td col-span="" ng-show="inboxrow10">
                           &nbsp;
                      </td>
                      <td col-span="" ng-show="inboxrow10">
                          &nbsp;
                      </td>
                      <td col-span="" ng-show="inboxrow10">
                          &nbsp;
                      </td>
                      <td col-span="" ng-show="inboxrow10">
                          &nbsp;
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div> 
          </div>
          <div class="col-md-4">
          </div>
    </div>                         
</div>
 <!-- /.col -->