
	<div class="box" >
		  <div class="box-header with-border">
			  <i class="fa fa-reply"></i>
			<h3 class="box-title head-title-padding">My Answers This Week</h3>
		  </div> 
		 <div class="box-body table-responsive">
			 <div class="graph-container">
				  <div class="graph-heading">
					
				  </div>    
				  <div class="chart-legend-container mtop-15">
					  <div id="js-legend" class="chart-legend"> </div>
				  </div>   
				  <div class="clearfix"></div>
				  <div class="chart-container mtop-15">
					 <canvas id="bar-chart" width="600" height="350"></canvas>
				  </div>
			 </div>
			 <div class="clearfix"></div>
			 <table id="example1" class="table table-striped table-hover dataTable no-footer"
			 dt-options="dtineractionOptions">
			 <thead>
				 <tr role="row">
					 <th name="name" rowspan="1" colspan="1" ></th> 
					 <th name="name" rowspan="1" colspan="1"
					 aria-label="">
					 06/13/2020
					 </th>
					 <th name="name" rowspan="1" colspan="1"
					 aria-label="">
					 06/14/2020
					 </th>
					 <th name="name" rowspan="1" colspan="1"
					 aria-label="">
					 06/15/2020
					 </th>
					 <th name="name" rowspan="1" colspan="1"
					 aria-label="">
					 06/16/2020
					 </th>
					 <th name="name" rowspan="1" colspan="1"
					 aria-label="">
					 06/17/2020
					 </th>
					 <th name="name" rowspan="1" colspan="1"
					 aria-label="">
					 06/18/2020
					 </th>
					 <th name="name" rowspan="1" colspan="1"
					 aria-label="">
					 06/19/2020
					 </th>
				 </tr>
			 </thead>
			 <tbody>
				 <tr>
					<td width="150"><span class="legend-value"><span class="legend"  style="background-color:#2672ec"></span> Private Note</span></td>
					<td>10</td>
					<td>15</td>
					<td>10</td>
					<td>90</td>
					<td>10</td>
					<td>5</td>
					<td>10</td>
				 </tr>
				 <tr>
					 <td width="150"> <span class="legend-value"><span class="legend"  style="background-color:#4bacc6"></span> Public Note</span></td>
					 <td>10</td>
					 <td>15</td>
					 <td>10</td>
					 <td>90</td>
					 <td>10</td>
					 <td>5</td>
					 <td>10</td>
				 </tr>
				 <tr>
					 <td width="150"><span class="legend-value"><span class="legend"  style="background-color:#f79646"></span> Agent Email</span></td>
					 <td>10</td>
					 <td>15</td>
					 <td>10</td>
					 <td>90</td>
					 <td>10</td>
					 <td>5</td>
					 <td>10</td>
				 </tr>
				 <tr>
					 <td width="150">
						<span class="legend-value"><span class="legend"  style="background-color:#9bbb59"></span>Resolved</span></td>
					 <td>10</td>
					 <td>15</td>
					 <td>10</td>
					 <td>90</td>
					 <td>10</td>
					 <td>5</td>
					 <td>10</td>
				 </tr>
				 <tr>
					 <td width="150">
						<span class="legend-value">
						 <span class="legend" style="background-color:#c8a6f2"></span>Agent Response
						</span>
					</td>
					 <td>10</td>
					 <td>15</td>
					 <td>10</td>
					 <td>90</td>
					 <td>10</td>
					 <td>5</td>
					 <td>10</td>
				 </tr>
			 </tbody>
		 </table>
		 </div>


	 </div>
