<aside class="control-sidebar control-sidebar-dark">
  <!-- Create the tabs -->
  <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
      <li class="active"><a href="#control-sidebar-builtinforms-tab" data-toggle="tab" aria-expanded="true"><i class="fa fa-newspaper-o"  data-toggle="tooltip" data-placement="bottom" data-original-title="Builtin Forms"></i></a></li>
      <li><a href="#control-sidebar-myforms-tab" data-toggle="tab" aria-expanded="true">
          <span class="fa-stack my-form-icon" data-toggle="tooltip" data-placement="bottom" data-original-title="My Forms">
            <i class="fa fa-newspaper-o"></i>
            <i class="fa fa-user icon-myform"></i> 
          </span>
      </a></li>
      <li><a href="#control-sidebar-tenantsetting-tab" data-toggle="tab" aria-expanded="true"><i class="fa fa-wrench" data-toggle="tooltip" data-placement="bottom" data-original-title=" Tenant Settings"></i></a></li>
      <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gear" data-toggle="tooltip" data-placement="bottom" data-original-title="My Settings"></i></a></li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
     <!-- Home tab content -->
    <div class="tab-pane right-menu-tab active" id="control-sidebar-builtinforms-tab">
      <section class="sidebar right-menu">
        <ul class="sidebar-menu tree" admin-lte-tree>
          <li class="treeview active">
            <a  href="#">
              <span class="fa-stack new-account-icon">
                <i class="fa fa-envelope-o"></i>
                <i class="fa fa-users icon-plus"></i> 
              </span>
              <span>Mass Mailing</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class=" treeview-menu">
              <li>
                <a  href="/pages/mailing-list.html">
                  <i class="fa fa-circle-o"></i> 
                  Mailing Lists
                </a>
              </li>
              <li>
                <a  href="/pages/criteria.html">
                  <i class="fa fa-circle-o"></i> 
                  Criteria
                </a>
              </li>
              <li>
                <a  href="/pages/mailing.html">
                  <i class="fa fa-circle-o"></i> 
                  Mailings
                </a>
              </li>
              <li>
                <a  href="/pages/campaigns.html">
                  <i class="fa fa-circle-o"></i> 
                  Campaigns
                </a>
              </li>
            </ul>	
          </li>
          <li class="active treeview">
            <a  href="#">
              <i class="fa fa-wrench"></i> 
              Other Tools
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu" style="display: block;">
              <li>
                <a  href="/pages/alerts.html">
                  <i class="fa fa-circle-o"></i> 
                  Alerts
                </a>
              </li>
              <li>
                <a  href="/pages/admin-forms.html">
                  <i class="fa fa-circle-o"></i> 
                  Forms
                </a>
              </li>
              <li>
                <a  href="/pages/smtp-monitor.html">
                  <i class="fa fa-circle-o"></i> 
                  SMTP Out Monitor
                </a>
              </li>
            </ul>	
          </li>
        </ul>  
    </section>  
    </div>

    <div class="tab-pane right-menu-tab" id="control-sidebar-myforms-tab">
       
    </div>
    <!-- /.tab-pane -->
    <div class="tab-pane right-menu-tab" id="control-sidebar-tenantsetting-tab">
        <section class="sidebar right-menu">
            <ul class="sidebar-menu tree" admin-lte-tree>
              <li class="treeview active">
                <a  href="#">
                  <i class="fa fa-code-fork"></i> 
                  Segment Settings
                  <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                  </span>
                </a>
                <ul class="treeview-menu">
                  <li>
                    <a  href="/pages/segment-sales.html">
                      <i class="fa fa-circle-o"></i> 
                      Sales
                    </a>
                  </li>
                  <li>
                    <a  href="/pages/segment-hr.html">
                      <i class="fa fa-circle-o"></i> 
                      Human Resources
                    </a>
                  </li>
                  <li>
                    <a  href="/pages/segment-customer-service.html">
                      <i class="fa fa-circle-o"></i> 
                      Customer Service
                    </a>
                  </li>
                </ul>	
              </li>
              <li class="treeview active">
                  <a href="#">
                    <i class="fa fa-gear"></i>  <span>Tenant Settings</span>
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                  </a>
                  <ul class="treeview-menu">
                    <li>
                      <a  href="/pages/admin-tools-agents.html">
                        <i class="fa fa-circle-o"></i> 
                        Agents
                      </a>
                    </li>
                    <li>
                      <a  href="/pages/admin-tools-departments.html">
                        <i class="fa fa-circle-o"></i> 
                        Departments
                      </a>
                    </li>
                    <li>
                      <a  href="/pages/lists.html">
                        <i class="fa fa-circle-o"></i> 
                        Lists
                      </a>
                    </li>
                    <li>
                      <a  href="/pages/openid-settings.html">
                        <i class="fa fa-circle-o"></i> 
                        OpenID Settings
                      </a>
                    </li>
                    <li>
                      <a  href="/pages/service-levels.html">
                        <i class="fa fa-circle-o"></i> 
                        Service Levels
                      </a>
                    </li>
                    <li>
                      <a  href="/pages/admin-tools-skills.html">
                        <i class="fa fa-circle-o"></i> 
                        Skills
                      </a>
                    </li>
                    <li>
                      <a  href="/pages/user-types.html">
                        <i class="fa fa-circle-o"></i> 
                        User Types
                      </a>
                    </li>
                    <li>
                      <a  href="/pages/admin-tools-website.html">
                        <i class="fa fa-circle-o"></i> 
                        Websites
                      </a>
                    </li>
                  </ul>
              </li>
            </ul>  
        </section>   
    </div>
     
    <!-- Settings tab content -->
    <div class="tab-pane" id="control-sidebar-settings-tab">
       
    </div>
    <!-- /.tab-pane -->
  </div>
</aside>