
	<div class="box">
		 <div class="box-header with-border">
			 <i class="fa fa-support"></i>
			<h3 class="box-title head-title-padding">Get Support</h3>
		 </div>   
		 <div class="box-body">
		   <div class="support-container">
			   <div class="supportimg-container">
				<a href="https://www.iservice.info/">  <img src="/dist/img/dashboard-icons/user-guide.png">  </a>                                                       
			   </div> 
			   <div class="support-text">
				  <a href="https://www.iservice.info/"> Read The User Guides</a>
			   </div>    
		   </div>

		   <div class="support-container">
				<div class="supportimg-container">
					<a href="https://www.iservice.info/training.html"> <img src="/dist/img/dashboard-icons/training.png"></a>                                                         
				</div> 
				<div class="support-text">
					<a href="https://www.iservice.info/training.html">  Watch Training Videos</a>
				</div>    
			</div>

			<div class="support-container">
				<div class="supportimg-container">
					<a href="">  <img src="/dist/img/dashboard-icons/bug-report.png"> </a>                                                        
				</div> 
				<div class="support-text">
					<a href="">  Submit A Bug Report </a> 
				</div>    
			</div>

			<div class="support-container">
				<div class="supportimg-container">
					<a href="">   <img src="/dist/img/dashboard-icons/enhancement-request.png"></a>                                                         
				</div> 
				<div class="support-text">
					<a href="">  Submit An Enhancement Request</a>
				</div>    
			</div>
		 </div>
	</div>
  