<div class="form-group">
  <div class="col-md-12">
    <label class="drop-box">
      Drop files here or click to upload
      <input type="file" class="ng-hide" multiple />
    </label>
    <div>(Maximum 10 MB upload at one time.)</div>
    <div class="imageuploadify">
      <div class="imageuploadify-details" ng-repeat="file in files">
        <button class="icon-button button-delete" type="button" ng-click="deleteFile($index)">
          <i class="fa fa-times-circle"></i>
        </button>
        <i class="fa" ng-class="getMimeIcon(file.type)"></i>
        {{ file.name }}
      </div>
    </div>
  </div>
</div>