---
title:  Customer Info - Account
---
<!DOCTYPE html>
<html ng-app="iService">
<head>
    {% include common-head.html %}
	<link href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.16/css/dataTables.bootstrap.min.css" rel="stylesheet">
	<link href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css" rel="stylesheet" />
	<link href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.bootstrap.min.css" rel="stylesheet" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css" rel="stylesheet" />

</head>
<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">
    {% include common-header.html %}
    {% include common-menu.html %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
     <section class="content-header">
					<h1>
							{{ page.title }}
					</h1>
			</section>
      <!-- Main content -->
      <section class="content" ng-controller="myCtrl">
          <div class="row">
              <div class="col-md-12 form-group">
                <button class="btn btn-primary pull-right" type="button" ng-click="showNewAccount(1)">
                    New Account
                </button>
              </div>	
          </div>
          <div class="row" ng-show="newformaccount">
              <div class="col-md-12">
                <div class="box box-primary">
                  <div class="box-header with-border">
                    <i class="fa fa-users"></i>
                    <h3 class="box-title text-right">New Account</h3>
                  </div>
                  <div class="box-body">
                    <section class="search-parameters">
                      <div class="row">
                        <div class="form-horizontal">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="col-sm-4 control-label text-left">Account Name</label>
                              <div class="col-sm-8">
                                <input type="text" class="form-control">
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <button type="button" class="btn btn-primary" ng-click="showNewFormStep(2)">Create</button>
                              <button type="button" class="btn btn-link" ng-click="cancelFormSegment()">Cancel</button>
                            </div>	
                          </div>
                        </div>
                      </div>
                    </section>
                  </div>
                </div>
              </div>	
          </div>
          <div class="nav-tabs-custom color-tab" ng-hide="newformsegment">
            <ul class="nav nav-tabs">
              <li class="active">
                <a href="#tab_account_summary" data-toggle="tab">
                  <i class="fa fa-ellipsis-h"></i>
                  <span>Account Summary</span>
                </a>
              </li>
              <li>
                <a href="#tab_account_detail" data-toggle="tab">
                  <i class="fa fa-list-alt"></i>
                  <span>Account Details</span>
                </a>
              </li>
            </ul>
            <div class="tab-content box-bg-color">
              <div class="tab-pane active" id="tab_account_summary">
                  <div class="row form-horizontal">
                      <div class="col-md-6">
                        <div class="box box-primary">
                          <div class="box-body ">
                            <div class="row">
                              <div class="col-md-12">
                                <div class="form-group">
                                  <label class="col-sm-12 control-label text-left">Name</label>
                                  <div class="col-sm-12">
                                    <input type="text" class="form-control" value="IBM Corporate">
                                  </div>
                                </div>
                                <div class="form-group">
                                  <label class="col-sm-12 control-label text-left">Phone</label>
                                  <div class="col-sm-12">
                                    <input type="text" class="form-control" value="+40410000">
                                  </div>
                                </div>
                                <div class="form-group">
                                  <label class="col-sm-12 control-label text-left">Primary Contact</label>
                                  <div class="col-sm-12">
                                    <input type="text" class="form-control" value="">
                                  </div>
                                </div>
                                <div class="form-group">
                                  <label class="col-sm-12 control-label text-left">Primary Contact Phone</label>
                                  <div class="col-sm-12">
                                    <input type="text" class="form-control" value="+40410000">
                                  </div>
                                </div>
                              </div>  
                            </div>  
                          </div>  
                        </div>    
                      </div>
                      <div class="col-md-6">
                        <div class="box box-primary">
                          <div class="box-body account-update-box">
                            <div class="row">
                              <div class="col-md-12">
                                <div class="nested-panel-heading skill-heading">
                                  <h3 class="nested-title">Last Updated</h3>
                                  <ul class="update-list">
                                    <li><span>10/07/2016</span>
                                      <span>Customer Email</span>
                                      <span><a href="">Chacho</a>, <a href="">Micky</a></span>
                                      <span><a href="">View</a>  </span>
                                    </li>
                                    <li><span>10/07/2016</span>
                                      <span>Customer Email</span>
                                      <span><a href="">Chacho</a>, <a href="">Micky</a></span>
                                      <span><a href="">View</a>  </span>
                                    </li>
                                  </ul>
                                  <h3 class="nested-title">Unresolved Questions</h3>
                                  <ul class="update-list">
                                    <li><span>10/07/2016</span>
                                      <span>Jhon Doe</span>
                                      <span><a href="">Chacho</a>, <a href="">What is status of my order</a></span>
                                    </li>
                                    <li><span>10/07/2016</span>
                                      <span>Jhon Doe</span>
                                      <span><a href="">Chacho</a>, <a href="">What is status of my order</a></span>
                                    </li>
                                  </ul>
                                </div>
                              </div>  
                            </div>  
                          </div>  
                        </div>  
                      </div>
                      <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                              <h3 class="box-title text-right"> Contacts Linked With This Account</h3>
                              <button class="btn btn-primary btn-xs pull-right">Link Contacts</button>
                            </div>
                            <div class="box-body table-responsive with-border">
                              <table class="table table-striped table-hover" datatable dt-options="dtContactOptions" dt-column-defs="dtContactColumnDefs">
                                  <thead>
                                    <tr>
                                      <th>
                                      </th>  
                                      <!--<th class="no-sort"  name="name" width="30"></th>-->
                                      <th class="text-capitalize">
                                        Name
                                      </th>
                                      <th class="text-capitalize">
                                        Email
                                      </th>
                                      <th class="text-capitalize">
                                        Address
                                      </th>
                                      <th class="text-capitalize">
                                        Work Phone
                                      </th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>
                                        <button class="icon-button button-delete" type="button">
                                          <i class="fa fa-times-circle"></i>
                                        </button>
                                      </td>
                                      <td>
                                        Jhon Doe
                                      </td>
                                      <td>
                                        john.doe@example.com
                                      </td>
                                      <td>
                                        1243 Somewhere Blvd
                                      </td>
                                      <td>
                                        +40-1000122
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>
                                        <button class="icon-button button-delete" type="button">
                                          <i class="fa fa-times-circle"></i>
                                        </button>
                                      </td>
                                      <td>
                                        Albert Metricman
                                      </td>
                                      <td>
                                       albert.metricman@example.com
                                      </td>
                                      <td>
                                        1243 Somewhere Blvd
                                      </td>
                                      <td>
                                        +40-10001332
                                      </td>
                                    </tr>
                                  </tbody>
                              </table>
                            </div>  
                        </div>  
                      </div> 
                    </div>
               </div> 
              <div class="tab-pane" id="tab_account_detail">
                <div class="row">
                  <div class="col-md-12">
                    <div class="box box-primary">
                      <div class="box-body with-border">
                        <div class="row">
                          <div class="form-horizontal">
                            <div class="col-md-5">
                              <div class="form-group">
                                <label class="col-md-12 control-label text-left">Your Full Name</label>
                                <div class="col-md-12">
                                  <input type="text" class="form-control">
                                </div>
                              </div>
                              <div class="form-group">
                                <label class="col-md-12 control-label text-left">Your Email</label>
                                <div class="col-md-12">
                                  <input type="text" class="form-control">
                                </div>
                              </div>
                              <div class="form-group">
                                <label class="col-md-12 control-label text-left">Account Type</label>
                                <div class="col-md-12">
                                  <select class="form-control">
                                    <option value="">Select</option>
                                  </select>  
                                </div>
                              </div>
                              <div class="form-group">
                                <label class="col-md-12 control-label text-left">Account Type</label>
                                <div class="col-md-12">
                                  <select class="form-control">
                                    <option value="">Select</option>
                                  </select>  
                                </div>
                              </div>
                            </div>
                            <div class="col-md-7">
                              <div class="form-group bg-group">
                                <label class="col-md-12 control-label text-left">&nbsp;</label>
                                <div class="col-md-12">
                                  <div class="form-group group-bg group-input detail-g-borderbottom">
                                    <label class="col-md-12 control-label text-left group-input-label">Address 1</label>
                                    <div class="col-md-12">
                                      <input type="text" class="form-control">
                                    </div>
                                  </div>
                                  <div class="form-group group-bg group-input detail-g-borderbottom detail-g-bordertop">
                                    <label class="col-md-12 control-label text-left group-input-label">Address 2</label>
                                    <div class="col-md-12">
                                      <input type="text" class="form-control">
                                    </div>
                                  </div>
                                  
                                  <div class="group-bg-part">
                                    <div class="form-group group-bg group-input detail-g-borderbottom detail-g-bordertop detail-g-borderright detail-g-part">
                                      <label class="col-md-12 control-label text-left group-input-label">City</label>
                                      <div class="col-md-12">
                                        <input type="text" class="form-control">
                                      </div>
                                    </div>
                                  </div>
                                  <div class="group-bg-part">
                                    <div class="form-group group-bg group-input detail-g-borderbottom detail-g-bordertop detail-g-borderleft detail-g-part">
                                      <label class="col-md-12 control-label text-left group-input-label">State/Province</label>
                                      <div class="col-md-12">
                                        <input type="text" class="form-control">
                                      </div>
                                    </div>
                                  </div>
                                  <div class="group-bg-part">
                                    <div class="form-group group-bg group-input detail-g-bordertop detail-g-borderright detail-g-part">
                                      <label class="col-md-12 control-label text-left group-input-label">Postal Code</label>
                                      <div class="col-md-12">
                                        <input type="text" class="form-control">
                                      </div>
                                    </div>
                                  </div>
                                  <div class="group-bg-part">
                                    <div class="form-group group-bg group-input detail-g-bordertop detail-g-borderleft detail-g-part">
                                      <label class="col-md-12 control-label text-left group-input-label">Country</label>
                                      <div class="col-md-12">
                                        <input type="text" class="form-control">
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-12">
                              <div class="nested-panel-heading skill-heading">
                                <h3 class="nested-title">Technical Support</h3>
                              </div>
                              <div class="row">  
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label class="col-md-12 control-label text-left">Your Full Name</label>
                                    <div class="col-md-12">
                                      <input type="text" class="form-control">
                                    </div>
                                  </div>
                                </div>  
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label class="col-md-12 control-label text-left">Your Full Name</label>
                                    <div class="col-md-12">
                                      <input type="text" class="form-control">
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label class="col-md-12 control-label text-left">Your Full Name</label>
                                    <div class="col-md-12">
                                      <input type="text" class="form-control">
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label class="col-md-12 control-label text-left">Your Full Name</label>
                                    <div class="col-md-12">
                                      <input type="text" class="form-control">
                                    </div>
                                  </div>
                                </div>  
                              </div>  
                            </div>
                            <div class="col-md-12 col-sm-12">
                              <button class="btn btn-primary pull-left" type="button">Save</button>
                            </div>
                            <div class="clearfix"></div>
                          </div>
                        </div>  
                      </div> 
                    </div>   
                  </div>  
                </div>
              </div> 
            </div>  
          </div> 
        <!-- /.row -->
        <!-- END ACCORDION & CAROUSEL-->
      </section>
    </div>
   
    <!-- /.content-wrapper -->
    {% include common-footer.html %}
    <!-- Control Sidebar -->
    {% include right-panel-setting-menu.html %}
	<!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
        immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
  </div>
  <!-- ./wrapper -->
  {% include common-javascript.html %}

 <script>

$(document).ready(function() {

    $('.custom-scroll').slimScroll({
			height: '280px'
		});
		//$('.selectpicker').selectpicker('refresh');
		$.fn.extend({
			treed: function (o) {
			
			var openedClass = 'glyphicon-minus-sign';
			var closedClass = 'glyphicon-plus-sign';
			
			if (typeof o != 'undefined'){
				if (typeof o.openedClass != 'undefined'){
				openedClass = o.openedClass;
				}
				if (typeof o.closedClass != 'undefined'){
				closedClass = o.closedClass;
				}
			};
			
				//initialize each of the top levels
				var tree = $(this);
				tree.addClass("tree");
				tree.find('li').has("ul").each(function () {
					var branch = $(this); //li with children ul
					branch.prepend("<i class='indicator glyphicon " + closedClass + "'></i>");
					branch.addClass('branch');
					branch.on('click', function (e) {
						if (this == e.target) {
							var icon = $(this).children('i:first');
							icon.toggleClass(openedClass + " " + closedClass);
							$(this).children().children().not('.treeviewrow').toggle();
						}
					})
					branch.children().children().toggle();
				});
				//fire event from the dynamically added icon
			tree.find('.branch .indicator').each(function(){
				$(this).on('click', function () {
					$(this).closest('li').click();
				});
			});
				//fire event to open branch if the li contains an anchor instead of text
				tree.find('.branch>a').each(function () {
					$(this).on('click', function (e) {
						$(this).closest('li').click();
						e.preventDefault();
					});
				});
				//fire event to open branch if the li contains a button instead of text
				tree.find('.branch>button').each(function () {
					$(this).on('click', function (e) {
						$(this).closest('li').click();
						e.preventDefault();
					});
				});
			}
		});
			$('#tree1').treed();	
			$('#tree1 .branch').each(function(){
				var icon = $(this).children('i:first');
				icon.toggleClass('glyphicon-minus-sign glyphicon-plus-sign');
				$(this).children().children().toggle();
			});	
    });

    angular.module('iService').controller('myCtrl', function ($scope, $log, $compile, DTOptionsBuilder, DTColumnDefBuilder)
    {
        $scope.dtContactOptions = DTOptionsBuilder
				.newOptions().withOption('language', {
					search: 'Filter Contacts'
				})
				.withBootstrap().withButtons([ 'copy', 'excel', 'pdf', {
					extend: 'colvis',
					columns: function (index, apiObj, headCell)
					{
						// The attribute data-no-col-vis in the markup is a custom marker that indicates that I want to
						// disable the show/hide column functionality for certain columns
						return headCell.dataset.noColVis === undefined;
					}
				}]);

        $scope.showNewAccount = function(step){
              $scope['newformaccount'] = !$scope['newformaccount'];
        };

        $scope.cancelFormAccount = function(){
              $scope['newformaccount'] = false;
        };
    });

 </script>  
</body>
</html>
