---
title: Action Mode
---
<!DOCTYPE html>
<html ng-app="iService">
<head>
    {% include common-head.html %}
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        {% include common-header.html %}
        {% include common-menu.html %}
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    {{ page.title }}
                </h1>
            </section>
           <!-- Main content -->
            <section class="content" ng-controller="action-mode">
                <!-- START CUSTOM TABS -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- Custom Tabs -->
                        <div class="row">
						  	<div class="col-md-12">
								<div class="box-container">
									<div class="box-body table-responsive">
										<div class="col-md-12"> 
											<div class="row">
												<table class="table table-stripedv">
													<!--<tr>
														<td class="btn-collapse">
															<button class="btn btn-link text-primary">
																<i class="fa fa-minus-circle"></i>
															</button>
														</td>
														<th> [ref#: 1006-1009] Looking for low cost TV</th>
														<th>All Topics</th>
														<th>&nbsp;</th>
														<th class="inline-icon"><i class="fa fa-ticket fa-icon-label bg-blue" uib-tooltip="Agent Ticket" tooltip-placement="bottom"></i></th>
														<th>&nbsp;</th>
														<th>John Doe</th>
														<th>April 2, 2018 8:55:23AM</th>
													</tr> -->
													<tr id="row1">
														<td name="name" class="icon-col">
															<button class="btn btn-xs btn-link text-default btn-expand" title="Operations" ng-click="toggleRow('row1')">
																<i class="fa fa-plus-circle ng-hide"  ng-show="!row1"  ng-cloak></i>
																<i class="fa fa-minus-circle" ng-show="row1"></i>
															</button> 
														</td>
														<td>
															[ref#: 42733-42733] I need help picking a camera
														</td>
														<td>
															All Topics
														</td>
														<td>
															<small class="bg-red-disabled label">Queued</small>
														</td>
														<td>
															<small class="label label-with-icon bg-blue">
																<i class="fa fa-envelope"></i>
																Customer Email
															</small>
														</td>
														<td>
														Jacob Smith
														</td>
														<td>
															<b>Urgency Level</b> : High 
															<a href="javascript:void(0)" ng-click="togglePropertyRow('row1')"><i class="fa fa-fw fa-pencil"></i></a>
														</td>
														<td>
														2016-07-18 9:36:26 AM
														</td>
													</tr>
												</table>
											</div>
										</div>
									</div> 
								</div>
							</div>
						</div> 
					</div>
					<div class="col-md-4"> </div>
				</div>                         
    <!-- END ACCORDION & CAROUSEL-->
           	</section>
       	</div>
		<div class="modal fade" id="modal-default">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">Properties</h4>
					</div>
					<div class="modal-body">
						<div class="row">
						<div class="col-md-6">
							<div class="form-group">
							<label for="urgency">Urgency</label>
							<input type="text" class="form-control" id="urgency" value="High">													  </div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
							<label for="exampleInputEmail1">isOpen</label>
							<select class="form-control">
							<option>TRUE</option>
							<option>FALSE</option>
							</select>
							</div>
						</div>
						</div>		
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary">Save changes</button>
					</div>
				</div>
			<!-- /.modal-content -->
			</div>
		<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->

		<!--expanded row content start-->
		<script id="expandedrow" type="text/ng-template">
			<!--form data start-->	
			<div class="row" ng-hide="hidetrue"> 
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-12">
							<button class="btn btn-primary bg-aqua-active btn-info margin-r-5" uib-tooltip="Send new agent email to Jhon Doe" tooltip-placement="bottom" ng-click="show('agentemail')">
								<i class="fa fa-envelope"></i>
								Agent email
							</button>
							<button class="btn  btn-success margin-r-5"  uib-tooltip="Add note to case" tooltip-placement="bottom" ng-click="show('createnote')">
								<i class="fa fa-pencil-square-o"></i>
								Note
							</button>
							<button class="btn  btn-warning margin-r-5" uib-tooltip="Create ticket in reply to this interaction" tooltip-placement="bottom" ng-click="show('createticket')">
								<i class="fa fa-ticket"></i>
								Ticket
							</button>
							<button class="btn  btn-purple margin-r-5" uib-tooltip="Forward a copy of this via email" tooltip-placement="bottom" ng-click="show('forwardcopy')">
								<i class="fa fa-mail-forward"></i>
								Forward Copy
							</button>
							<div class="btn-group pull-right" uib-dropdown dropdown-append-to-body auto-close="outsideClick">
								<button type="button" class="btn btn-default" uib-dropdown-toggle>
									<i class="fa fa-ellipsis-v" aria-hidden="true"></i>
								</button>
								<ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
									<li role="menuitem" ng-class="{ 'bg-primary': isStatusAuditSectionExpanded }">
									<a href="" ng-click="isStatusAuditSectionExpanded = !isStatusAuditSectionExpanded">Show Status Audit</a>
									</li>
									<li role="menuitem"><a href="#">Show Full Case</a></li>
									<li role="menuitem"><a href="#">Print</a></li>
									<li role="menuitem"><a href="#">Display Plain Text/HTML</a></li>
								</ul>
							</div>
							<button class="btn bg-info btn-info margin-r-5 pull-right" uib-tooltip="Assign this interaction to yourself" tooltip-placement="bottom" ng-click="show('getthis')">
								<i class="fa fa-sign-in"></i>
								Get This
							</button>
						</div>
						<div class="col-md-12 mtop-15">
							<div class="box status-box" style="display:none">
							<div class="box-header with-border">
								<h3 class="box-title">Status Audit</h3>
								<div class="box-tools pull-right">
									<button type="button" class="btn btn-box-tool cancel-widget"><i class="fa fa-times"></i></button>
								</div>
							</div>
							<div class="box-body table-responsive">
								<table id="example2" class="table  table-stripedv">
									<thead>
										<tr>
											<th class="text-capitalize">
											Time 
											</th>
											<th class="text-capitalize">
											Modifier
											</th>
											<th class="text-capitalize">
											Status
											</th>
											<th class="text-capitalize">
											Action
											</th>
											<th class="text-capitalize">
											Assigned To
											</th>
											<th class="text-capitalize">
											Topic
											</th>
										</tr>
									</thead>  
									<tbody>
										<tr>
											<td>
											11/11/2017 12:19:20PM
											</td>
											<td>
											Jaswantchouhan
											</td>
											<td>
											<small class="label label-success">Resolved</small>
											</td>
											<td>
											Contact 181 - [#Myqueue:MessageQueueQouteRequest / QouteSend] Form submit(webapp-api)
											</td>
											<td>
											Jaswantchouhan
											</td>
											<td>
											JC - Segment- All Topic - To- Quote - Open Quotes
											</td>
										</tr>
									</tbody>
								</table>  
							</div>
							</div>
						</div>
					</div>								
					<div class="message-box">
						<div class="message-box-header">
							<div class="col-md-12">
							<span class="user">
								<img src="/dist/img/agent.png">
								<b>Agent</b>
							</span>
							<div class="message-info">
								<b>From:</b> john.doe@example.com<br>
								<b>To:</b> alek.packard@1to1service.com<br>
								<b>CC:</b> justin.time@1to1service.com<br>
								<b>BCC:</b> jonie.hewlett@1to1service.com<br>
							</div>	
								<div class="clear"></div>
							<div class="pull-right">		
								<b> Interaction ID : 4645646</b>
								<br>  											
								<small class="bg-green-active label">Resolved</small>
							</div>
							</div>
			
							<div class="col-md-12 mtop-15"><b> Attachments:</b><a href="">Image1</a>,<a href="">Image2</a>,  </div>

							<div class="col-md-12">
								<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
									<div class="panel panel-default">
										<div class="panel-heading panel-with-border box-primary" role="tab" id="headingOne">
											<h4 class="panel-title">
												<a role="button" class="text-capitalize" ng-click="isCollapsed = !isCollapsed">
													Interaction Properties & Details
													<i class="glyphicon glyphicon-chevron-right" ng-class="{'glyphicon-chevron-right__expanded': !isCollapsed}" ng-init="isCollapsed = true;"></i>
												</a>
											</h4>
										</div>
										<div class="panel-collapse interaction-properties-panel" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" uib-collapse="isCollapsed">
											<div class="panel-body">
												<div class="row">
													<div class="col-md-12">
														<div class="row">
															<div class="nested-panel-heading">
																<h3 class="nested-title">Interaction Properties</h3>
															</div>
															<form role="form">
																<div class="form-group col-md-6">
																	<label for="">Follow Up Date</label>
																	<input type="email" class="form-control" placeholder="11/08/17">
																</div>
																<div class="form-group col-md-6">
																	<label for="">isFollowUp</label>
																	<select class="form-control">
																		<option>True</option>
																	</select>
																</div>
																<div class="form-group col-md-6">
																	<label for="">isOpen</label>
																	<select class="form-control">
																		<option>False</option>
																	</select>
																</div>
																<div class="form-group col-md-6">
																	<label for="">Owner</label>
																	<select class="form-control">
																		<option>Joe</option>												
																	</select>
																</div>
																<div class="form-group col-md-6">
																	<label for="">priority</label>
																	<select class="form-control">
																		<option>0-Urgent</option>
																		
																	</select>
																</div>
																<div class="col-md-12">
																	<button type="submit" class="btn btn-primary">Save</button>
																</div>
															</form>			 
														</div>
														<hr />
														<div class="row">
															<div class="nested-panel-heading">
																<h3 class="nested-title">Interaction Detail</h3>
															</div>
															<div class="col-md-6">
																<div><b> Segment / Topic : </b>All Topic</div>
																<div><b> Resolved By:</b>Alek Packard</div>
																<div><b> Approved By:</b> </div>
															</div> 	
															<div class="col-md-6">
															</div>
														</div>
													</div>
												</div>				
											</div>
										</div>
									</div>
								</div>	
							</div>
						</div>
						<div class="message-box-body"> 
							<div class="clear"></div>
							<div>										   
								<p>Hello,<br>
									I'm looking for a flat screen. Any suggestions?
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--form data end-->
			<!--agent email start-->
			{% include agent-email-include.html %}    
			<!--agent email end-->
			<!--create note start-->
			{% include create-note-include.html %}
			<!--create note end-->
			<!--create ticket start-->
			{% include create-ticket-include.html %}
			<!--create ticket end-->
			<!--forward start-->
			{% include forward-copy-include.html %}
			<!--forward end-->
			<!--Get this-->
			{% include get-this-include.html %}
			<!--Get thisa-->
		</script>	
			<!--expanded row content end-->
		<!-- /.content-wrapper -->
        {% include common-footer.html %}
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Create the tabs -->
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
                <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <!-- Home tab content -->
                <div class="tab-pane" id="control-sidebar-home-tab">
                    <h3 class="control-sidebar-heading">Recent Activity</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-birthday-cake bg-red"></i>

                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>
                                    <p>Will be 23 on April 24th</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-user bg-yellow"></i>
                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>
                                    <p>New phone +1(800)555-1234</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>
                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>
                                    <p>nora@example.com</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-file-code-o bg-green"></i>
                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>
                                    <p>Execution time 5 seconds</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->

                    <h3 class="control-sidebar-heading">Tasks Progress</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Custom Template Design
                                    <span class="label label-danger pull-right">70%</span>
                                </h4>
                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Update Resume
                                    <span class="label label-success pull-right">95%</span>
                                </h4>
                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-success" style="width: 95%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Laravel Integration
                                    <span class="label label-warning pull-right">50%</span>
                                </h4>
                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Back End Framework
                                    <span class="label label-primary pull-right">68%</span>
                                </h4>
                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->
                </div>
                <!-- /.tab-pane -->
                <!-- Stats tab content -->
                <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
                <!-- /.tab-pane -->
                <!-- Settings tab content -->
                <div class="tab-pane" id="control-sidebar-settings-tab">
                    <form method="post">
                        <h3 class="control-sidebar-heading">General Settings</h3>
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Report panel usage
                                <input type="checkbox" class="pull-right" checked>
                            </label>
                            <p>
                                Some information about this general settings option
                            </p>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Allow mail redirect
                                <input type="checkbox" class="pull-right" checked>
                            </label>
                            <p>
                                Other sets of options are available
                            </p>
                        </div>
                        <!-- /.form-group -->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Expose author name in posts
                                <input type="checkbox" class="pull-right" checked>
                            </label>
                            <p>
                                Allow the user to show his name in blog posts
                            </p>
                        </div>
                        <!-- /.form-group -->
                        <h3 class="control-sidebar-heading">Chat Settings</h3>
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Show me as online
                                <input type="checkbox" class="pull-right" checked>
                            </label>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Turn off notifications
                                <input type="checkbox" class="pull-right">
                            </label>
                        </div>
                        <!-- /.form-group -->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Delete chat history
                                <a href="javascript:void(0)" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
                            </label>
                        </div>
                        <!-- /.form-group -->
                    </form>
                </div>
                <!-- /.tab-pane -->
            </div>
        </aside>
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->
    {% include common-javascript.html %}
 	<script>
	   $(function ()
       {
	       // SLIMSCROLL FOR CHAT WIDGET
			  $('.custom-scroll').slimScroll({
				height: '250px'
			  });
            
		
       });
	</script>
	<script>
		angular.module('iService').controller('action-mode', function ($scope,$log,$compile) {
			
			$scope.toggleRow = function (segmentName)
			{  
				$scope.hidetrue = true;
				$scope['getthis'] = true;
				for(var i = 1; i<=5;i++){
					if(!$scope[segmentName]){
						removeFunction(segmentName);
						$scope['row'+i] = false;
					}	
				}
				$scope[segmentName] = !$scope[segmentName];
				if($scope[segmentName]){
					myCreateFunction(segmentName);
				}else{
					removeFunction(segmentName);
				}
			};
			$scope.togglePropertyRow = function (segmentName)
			{ 
				$scope.hidetrue = true;
				$scope['getthis'] = true;
				for(var i = 1; i<=5;i++){
					if(!$scope[segmentName]){
						removeFunction(segmentName);
						$scope['row'+i] = false;
					}	
				}
				$scope[segmentName] = !$scope[segmentName];
				if($scope[segmentName]){
					myCreateFunction(segmentName);
				}else{
					removeFunction(segmentName);
				}
       			 $scope.isCollapsedProperty = false;
			};

			function myCreateFunction(row) {
				var innerHTML = document.getElementById('expandedrow').innerHTML;
				angular.element('#'+row).after($compile('<tr class="expandedrowcontent box-bg-color"><td>&nbsp;</td><td colspan="7">'+document.getElementById('expandedrow').innerHTML+'</td></tr>')($scope));
			}

			function removeFunction(row){
				angular.element('.expandedrowcontent').remove();
			}

			$scope.show = function(action) {
				$scope.hidetrue = true;
				$scope[action] = !$scope[action];
			};

			$scope.cancel = function(action) {
				$scope.hidetrue = false;
				$scope[action] = !$scope[action];
			};	

		});	 

		angular.module('iService').controller('AgentCtrl', function ($scope, $http, $timeout, $interval) {
			var vm = this;
			vm.agent = {};
			vm.agentname = [ 
				{name: 'Alek Packard', code: 'AP'},
				{name: 'Jacob Smith', code: 'JS'},
				{name: 'Jonie Hewlett', code: 'JH'},
				{name: 'Justin Time', code: 'JT'},
			];
		});

		app.filter('propsFilter', function() {
			return function(items, props) {
				var out = [];

				if (angular.isArray(items)) {
				var keys = Object.keys(props);

				items.forEach(function(item) {
					var itemMatches = false;

					for (var i = 0; i < keys.length; i++) {
					var prop = keys[i];
					var text = props[prop].toLowerCase();
					if (item[prop].toString().toLowerCase().indexOf(text) !== -1) {
						itemMatches = true;
						break;
					}
					}

					if (itemMatches) {
					out.push(item);
					}
				});
				} else {
				// Let the output be the input untouched
				out = items;
				}

				return out;
			};
		});

		app.controller('DemoCtrl', function ($scope, $http, $timeout, $interval) {
			var vm = this;
			vm.segmentObj = {
				'1' : { name: '-Default Mail Box-', segmentname: 'QA' },
				'2' : { name: 'Push Bullet', segmentname: 'QA' },
				'3' : { name: '-Default Mail Box-', segmentname: 'QA2- Second Segment' },
				'4' : { name: 'Push Bullet', segmentname: 'QA2- Second Segment' },
			};

			vm.segment = [
				{ name: '-Default Mail Box-', segmentname: 'QA' },
				{ name: 'Push Bullet', segmentname: 'QA' },
				{ name: '-Default Mail Box-', segmentname: 'QA2- Second Segment' },
				{ name: 'Push Bullet',  segmentname: 'QA2- Second Segment' },
			];
		});

	</script>	
</body>
</html>
