---
title: Admin Tools - Skills
---
<!DOCTYPE html>
<html ng-app="iService">
<head>
    {% include common-head.html %}
	<link href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.16/css/dataTables.bootstrap.min.css" rel="stylesheet">
	<link href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css" rel="stylesheet" />
	<link href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.bootstrap.min.css" rel="stylesheet" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" rel="stylesheet" />
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        {% include common-header.html %}
        {% include common-menu.html %}
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
			<section class="content-header">
					<h1>
						{{ page.title }} <i class="fa fa-question-circle text-info help-icon pull-right" data-toggle="tooltip" data-placement="bottom" data-original-title="Help"></i>
					</h1>
			</section>
  				<!-- Main content -->
       <section class="content"  ng-controller="myCtrl">
        <div class="row p-l-0">
          	<div class="col-md-12">
				<div class="row">
					<div class="col-md-12">
						<div class="box box-info">
							<div class="box-header with-border" ng-click="isCollapsedForm = !isCollapsedForm">
								<i class="fa fa-paint-brush"></i> 
								<h3 class="box-title">Skills</h3>
								<span aria-hidden="true" class="glyphicon pull-right glyphicon-chevron-right" ng-class="{'glyphicon-chevron-right__expanded': !isCollapsedForm}" ng-init="isCollapsedForm = false;"></span>
							</div>
							<!-- /.box-header -->
							<!-- form start -->
							<div class="box-body table-responsive" uib-collapse="isCollapsedForm">
								<table class="table table-striped table-hover" datatable dt-options="dtContactHistoryOptions" dt-column-defs="dtContactHistoryColumnDefs">
								<thead>
									<tr>
										<!--<th class="no-sort"  name="name" width="30"></th>-->
										<th class="text-capitalize">
											Id
										</th>
										<th class="text-capitalize">
											Skill Name
										</th>
										<th class="text-capitalize">
											Description
										</th>
										<th class="text-capitalize">
											Property Name
										</th>
										<th class="text-capitalize">
											Property Value
										</th>
									</tr>
								</thead>
								<tbody>
									<tr id="row1" ng-click="toggleFormStep('row1')" ng-class="{true: 'row-active', false: ''}[row1]">
										<td>
											111
										</td>
										<td>
											No Route
										</td>
										<td>
											--
										</td>
										<td>
											none
										</td>
										<td>
											none
										</td>
									</tr>
									<tr id="row2" ng-click="toggleFormStep('row2')" ng-class="{true: 'row-active', false: ''}[row2]">
										<td>
											112
										</td>
										<td>
										    Question Property
										</td>
										<td>
											--
										</td>
										<td>
											Change Priorty(QA) (Question)  
										</td>
										<td>
											Routing
										</td>
									</tr>
								</tbody>
								</table>
							</div>
						</div> 
					</div>                         
				</div>
			<!-- /.col -->
				<div class="row">
						<div class="col-md-12 form-group">
							<button class="btn btn-primary" type="button" ng-click="showNewFormStep(1)">
									New Skill
							</button>
							<button class="btn btn-primary" type="button" ng-click="showAlert = true">
								Delete Skill
							</button>
						</div>	
				</div>	
				<div class="row" ng-show="showAlert">
					<div class="col-md-12">
						<div class="box box-danger">
							<div class="box-header with-border">
								<i class="fa fa-warning"></i>
		
								<h3 class="box-title">Alerts</h3>
							</div>
							<div class="box-body">
								<div class="row">
									<div class="col-md-12">
										<p>
										All Agents, Departments and Topics That have this skill will lose this skill. 
										</p>	
										<p class="text-red">Deletion is immediate and irrevocable upon confirmation.</p>
									</div>
									<div class="col-md-12">
										<button type="button" class="btn btn-danger btn-sm">Confirm Deletion</button>
										<button type="button" class="btn btn-link" ng-click="showAlert = false">Cancel</button>
									</div>
								</div>
							</div>	
						</div>	
					</div>	
				</div>	
				<div class="row" ng-show="formstep1">
						<div class="col-md-12">
							<div class="box box-primary">
								<div class="box-header with-border">
									<i class="fa fa-paint-brush"></i>
									<h3 class="box-title text-right">New Skill</h3>
								</div>
								<div class="box-body">
									<section class="search-parameters">
										<div class="row">
											<div class="form-horizontal">
												<div class="col-md-6">
													<div class="form-group">
														<label class="col-sm-4 control-label text-left">Skill Name</label>
														<div class="col-sm-8">
															<input type="text" class="form-control">
														</div>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<button type="button" class="btn btn-primary" ng-click="showNewFormStep(2)">Create</button>
														<button type="button" class="btn btn-link">Cancel</button>
													</div>	
												</div>
											</div>
										</div>
									</section>
								</div>
							</div>
						</div>	
				</div>
				<div class="row" ng-show="formstep2">
						<div class="col-md-12">
							<div class="box box-primary">
								<div class="box-header with-border">
									<i class="fa fa-paint-brush"></i>
									<h3 class="box-title text-right">Skill</h3>
								</div>
								<div class="box-body">
										<div class="row">
											<div class="form-horizontal">
												<div class="col-md-6">
													<div class="form-group">
														<label class="col-md-12 control-label text-left">Skill Name</label>
														<div class="col-md-12">
															<input type="text" class="form-control">
														</div>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label class="col-md-12 control-label text-left">Description</label>
														<div class="col-md-12">
															<input type="text" class="form-control">
														</div>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label class="col-md-12 control-label text-left">Interaction Property</label>
														<div class="col-md-12">
															<select class="form-control">
																<option value="21">Answer Property  (QA) (Answer)</option>
																<option value="2">Authorization Type  (QA) (Question)</option>
																<option value="42">Carrier Adjument Amount (AR)  (1to1Service) (Case)</option>
																<option value="48">Case Property</option>
																<option value="7">Change Designation  (QA) (Question)</option>
																<option value="6">Change Priority  (QA) (Question)</option>
															</select>
														</div>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label class="col-md-12 control-label text-left">Property Value</label>
														<div class="col-md-12">														
															<input type="text" class="form-control">
														</div>
													</div>
												</div>
												<div class="col-md-12">
													<button class="btn btn-primary pull-left" type="button">Save</button>
												</div>
												<div class="col-md-12">
													<div class="nested-panel-heading skill-heading">
														<h3 class="nested-title">Topics That Requires This Skill</h3>
													</div>
													<div class="skill-list">
														 <span class="skill-item">Sales Prospecting <span class="fa fa-close text-red"></span></span>
														 <span class="skill-item">Follow Ups <span class="fa fa-close text-red"></span></span>
														 <span class="skill-item">_Spam <span class="fa fa-close text-red"></span></span>
													</div>	
												</div>
												<div class="col-md-12">
													<div class="nested-panel-heading skill-heading">
														<h3 class="nested-title">Agents That Have This Skill </h3>
													</div>
													<div class="skill-list">
														<span class="skill-item">Jacob Smith <span class="fa fa-close text-red"></span></span>
														<span class="skill-item">Justin	Time <span class="fa fa-close text-red"></span></span>
														<span class="skill-item">Alek Packard <span class="fa fa-close text-red"></span></span>
														<span class="skill-item">Robert	Charleston <span class="fa fa-close text-red"></span></span>
													</div>	
												</div>
												<div class="col-md-12">
													<div class="nested-panel-heading skill-heading">
														<h3 class="nested-title">Department That Have This Skill</h3>
													</div>
													<div class="skill-list">
														<span class="skill-item">Sales <span class="fa fa-close text-red"></span></span>
														<span class="skill-item">Customer Service <span class="fa fa-close text-red"></span></span>
													</div>	
												</div>
											</div>
										</div>
								</div>
							</div>
						</div>	
				</div>
	        </div> 
        </div>
     	 </section>
		</div>
        <!-- /.content-wrapper -->
        {% include common-footer.html %}
        <!-- Control Sidebar -->
		<aside class="control-sidebar control-sidebar-dark">
			<!-- Create the tabs -->
			<ul class="nav nav-tabs nav-justified control-sidebar-tabs">
				<li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
				<li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
			</ul>
			<!-- Tab panes -->
			<div class="tab-content">
				<!-- Home tab content -->
				<div class="tab-pane" id="control-sidebar-home-tab">
					<h3 class="control-sidebar-heading">Recent Activity</h3>
					<ul class="control-sidebar-menu">
						<li>
							<a href="javascript:void(0)">
								<i class="menu-icon fa fa-birthday-cake bg-red"></i>
								<div class="menu-info">
									<h4 class="control-sidebar-subheading">Langdon's Birthday</h4>
									<p>Will be 23 on April 24th</p>
								</div>
							</a>
						</li>
						<li>
							<a href="javascript:void(0)">
								<i class="menu-icon fa fa-user bg-yellow"></i>
								<div class="menu-info">
									<h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>
									<p>New phone +1(800)555-1234</p>
								</div>
							</a>
						</li>
						<li>
							<a href="javascript:void(0)">
								<i class="menu-icon fa fa-envelope-o bg-light-blue"></i>
								<div class="menu-info">
									<h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>
									<p>nora@example.com</p>
								</div>
							</a>
						</li>
						<li>
							<a href="javascript:void(0)">
								<i class="menu-icon fa fa-file-code-o bg-green"></i>
								<div class="menu-info">
									<h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>
									<p>Execution time 5 seconds</p>
								</div>
							</a>
						</li>
					</ul>
					<!-- /.control-sidebar-menu -->
					<h3 class="control-sidebar-heading">Tasks Progress</h3>
					<ul class="control-sidebar-menu">
						<li>
							<a href="javascript:void(0)">
								<h4 class="control-sidebar-subheading">
									Custom Template Design
									<span class="label label-danger pull-right">70%</span>
								</h4>
								<div class="progress progress-xxs">
									<div class="progress-bar progress-bar-danger" style="width: 70%"></div>
								</div>
							</a>
						</li>
						<li>
							<a href="javascript:void(0)">
								<h4 class="control-sidebar-subheading">
									Update Resume
									<span class="label label-success pull-right">95%</span>
								</h4>
								<div class="progress progress-xxs">
									<div class="progress-bar progress-bar-success" style="width: 95%"></div>
								</div>
							</a>
						</li>
						<li>
							<a href="javascript:void(0)">
								<h4 class="control-sidebar-subheading">
									Laravel Integration
									<span class="label label-warning pull-right">50%</span>
								</h4>
								<div class="progress progress-xxs">
									<div class="progress-bar progress-bar-warning" style="width: 50%"></div>
								</div>
							</a>
						</li>
						<li>
							<a href="javascript:void(0)">
								<h4 class="control-sidebar-subheading">
									Back End Framework
									<span class="label label-primary pull-right">68%</span>
								</h4>
								<div class="progress progress-xxs">
									<div class="progress-bar progress-bar-primary" style="width: 68%"></div>
								</div>
							</a>
						</li>
					</ul>
					<!-- /.control-sidebar-menu -->
				</div>
				<!-- /.tab-pane -->
				<!-- Stats tab content -->
				<div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
				<!-- /.tab-pane -->
				<!-- Settings tab content -->
				<div class="tab-pane" id="control-sidebar-settings-tab">
					<form method="post">
						<h3 class="control-sidebar-heading">General Settings</h3>
						<div class="form-group">
							<label class="control-sidebar-subheading">
								Report panel usage
								<input class="flat-red" type="checkbox" checked>
							</label>
							<p>
								Some information about this general settings option
							</p>
						</div>
						<!-- /.form-group -->
						<div class="form-group">
							<label class="control-sidebar-subheading">
								Allow mail redirect
								<input class="flat-red" type="checkbox" checked>
							</label>
							<p>
								Other sets of options are available
							</p>
						</div>
						<!-- /.form-group -->
						<div class="form-group">
							<label class="control-sidebar-subheading">
								Expose author name in posts
								<input class="flat-red" type="checkbox" checked>
							</label>
							<p>
								Allow the user to show his name in blog posts
							</p>
						</div>
						<!-- /.form-group -->
						<h3 class="control-sidebar-heading">Chat Settings</h3>
						<div class="form-group">
							<label class="control-sidebar-subheading">
								Show me as online
								<input class="flat-red" type="checkbox" checked>
							</label>
						</div>
						<!-- /.form-group -->
						<div class="form-group">
							<label class="control-sidebar-subheading">
								Turn off notifications
								<input class="flat-red" type="checkbox">
							</label>
						</div>
						<!-- /.form-group -->
						<div class="form-group">
							<label class="control-sidebar-subheading">
								Delete chat history
								<a href="javascript:void(0)" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
							</label>
						</div>
						<!-- /.form-group -->
					</form>
				</div>
				<!-- /.tab-pane -->
			</div>
		</aside>
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->
    {% include common-javascript.html %}
	   <!-- DataTables -->
	<script type="text/ng-template" id="templates/deleteConfirmation.html">
		<div class="deleteConfirmation">
			<div ng-hide="isDeleting" >
				<button type="button" class="icon-button button-delete" ng-click="startDelete()"><i class="fa fa-times-circle"></i></button>
			</div>
			<div ng-show="isDeleting" class="delete-row-confirm">
				<button type="button" class="btn btn-danger btn-xs"  ng-click="confirm()">Confirm</button>
				<button type="button" class="btn btn-link btn-xs" ng-click="cancel()">Cancel</button>
			</div>
		</div>
	</script>
  <script>
	$(document).ready(function() {
    // DataTable
		$('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
				checkboxClass: 'icheckbox_square-blue',
				radioClass: 'iradio_flat-green'
		});
	  	$('.custom-scroll').slimScroll({
			height: '325px'
		});
}); 
</script>
<script>
  var count = 1;
  var i = 1;
  angular.module('iService').directive('confirmDelete', function() {
    return {
      replace: true,
      templateUrl: 'templates/deleteConfirmation.html',
      scope: {
        onConfirm: '&'
      },
      controller: function($scope) {
        $scope.isDeleting = false;
        $scope.startDelete = function() {
          return $scope.isDeleting = true;
        };
        $scope.cancel = function() {
          return $scope.isDeleting = false;
        };
        return $scope.confirm = function() {
          return $scope.onConfirm(); // End of directive
        };
      }
    };
  });

  angular.module('iService').controller('myCtrl', function ($scope, $log, $compile, DTOptionsBuilder, DTColumnDefBuilder,)
  {
		
			$scope.domains = [{'title':'example1.com'},{'title':'example1.com'}];
			$scope.adddomain = function() {
				$scope.domains.push({'title': $scope.newdomain, 'done':false})
				$scope.newdomain = ''
			}

			$scope.deletedomain = function(index) {	
				$scope.domains.splice(index, 1);
			}

	        $scope.formItemList = [];
			$scope.addFormItem = function() {
				$scope.formItemList.push({'name': ''});
			}
			$scope.deleteFormItem = function(index) {	
				$scope.formItemList.splice(index, 1);
			}
	 

	      
			$scope.dtContactHistoryOptions = DTOptionsBuilder
			.newOptions()
			.withDOM('lf<"toolbar1">')
			.withOption('language', {
				search: 'Filter Skills'
			})
			.withBootstrap();

			$scope.dtContactHistoryColumnDefs = [
			DTColumnDefBuilder.newColumnDef('no-sort').notSortable().withOption("width", "30px")
			];
   
			$scope.cancelForm = function(step){
				for(var i =1; i<=2; i++){
					if(i == step){
					   $scope['formstep'+i] = true;
					}	   
					else	
					   $scope['formstep'+i] = false;
				}
			};		

			$scope.showNewFormStep = function(step){
				for(var i =1; i<=2; i++){
					if(i == step){
					   $scope['formstep'+i] = true;
					}	   
					else	
					   $scope['formstep'+i] = false;
				}
      };
      
      $scope.toggleFormStep = function(segmentName){
		for(var i =1; i<=2; i++){
			$scope['row'+i] = false;  
		}
        $scope[segmentName] = !$scope[segmentName];
        	$scope['formstep'+2] = !$scope['formstep'+2];
		};

		$scope.customForm = function(){
			$scope.customform = true;
		}
		$scope.builtinForm = function(){
			$scope.customform = false;
		}
  });

</script>
</body>
</html>
