---
title: Agent Email
---
<!DOCTYPE html>
<html ng-app="iService">
<head>
    {% include common-head.html %}

</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        {% include common-header.html %}
        {% include common-menu.html %}
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    {{ page.title }}
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li class="active">Page Components</li>
                    <li class="active">{{ page.title }}</li>
                </ol>
            </section>
            <!-- Main content -->
            <section class="content">
                <!-- START CUSTOM TABS -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- Custom Tabs -->
                        <div class="row">
                            <div class="col-xs-12 col-sm-8 col-md-10">
                                <button class="btn btn-primary pull-left btn-margin" title="Manage Form">
                                    Manage Form
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="box box-info">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Agent Email</h3>
                                    </div>
                                <!-- /.box-header -->
                                <!-- form start -->
                                    <div class="box-body">
                                        <div class="col-md-8"> 
                                            <form class="form-horizontal">
                                                <div class="form-group">
                                                    <label for="inputPassword3" class="col-sm-2 control-label">Topic</label>
                                                    <div class="col-sm-10">
                                                        <select class="form-control">
                                                            <option>Select Topic 1</option>
                                                            <option>option 2</option>
                                                            <option>option 3</option>
                                                            <option>option 4</option>
                                                            <option>option 5</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputEmail3" class="col-sm-2 control-label">From</label>
                                                    <div class="col-sm-10">
                                                        <input type="email" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputEmail3" class="col-sm-2 control-label">To</label>
                                                    <div class="col-sm-10">
                                                        <input type="email" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputPassword3" class="col-sm-2 control-label">CC</label>
                                                    <div class="col-sm-10">
                                                    <textarea class="form-control" rows="2"></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputEmail3" class="col-sm-2 control-label">Subject</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputPassword3" class="col-sm-2 control-label">Body</label>
                                                    <div class="col-sm-10">
                                                        <textarea class="form-control" rows="5" id="editor1" name="editor1"></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputPassword3" class="col-sm-2 control-label">File</label>
                                                    <div class="col-sm-10">
                                                        <p class="attach-file"> <label class="btn-bs-file">
                                                            Attach files
                                                            <input type="file" />
                                                        </label>(Maximum 10 MB upload at one time.)</p>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-offset-2 col-sm-10">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox"> Expect Customer Reply
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-offset-2 col-sm-10">
                                                    <button type="button" class="pull-left btn btn-info" id="sendEmail">Send
                                                        <i class="fa fa-arrow-circle-right"></i></button>
                                                    </div>
                                                </div>
                                            </form>	
                                        </div> 
                                        <div class="col-md-4">
                                            <div class="box box-solid bg-gray list-search box-body">
                                                <div class="form-group">
                                                    <label for="inputPassword3" class="col-sm-12 control-label text-left no-padding">CC Email Address List</label>  
                                                    <div class="col-sm-12 no-padding">
                                                     <input type="email" class="form-control" placeholder="List Search">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="nav-tabs-custom">
                                                <ul class="nav nav-tabs">
                                                    <li class="active"><a href="#tab_1" data-toggle="tab"><i class="fa fa-fw fa-cubes"></i><span>Variables</span></a></li>
                                                    <li><a href="#tab_2" data-toggle="tab"><i class="fa fa-fw fa-list"></i><span>Stock Responses</span></a></li>
                                                </ul>
                                                <div class="tab-content">
                                                    <div class="tab-pane active" id="tab_1">
                                                        <div class="row" id="variable-box">
                                                            <div class="col-xs-12 variable-responses">
                                                                
                                                                <ul class="list-unstyled segment-variable-list">
                                                                    <li class="section-label">Contact
                                                                        <ul class="segment-variables">
                                                                            <li class="section-var-link">Name</li>
                                                                            <li class="segment-lable">Global
                                                                                <ul>
                                                                                    <li class="section-var-link">Address1</li>
                                                                                    <li class="section-var-link">Address2</li>
                                                                                    <li class="section-var-link">City</li>
                                                                                    <li class="section-var-link">Country</li>
                                                                                    <li class="section-var-link">Company</li>
                                                                                </ul>
                                                                            </li>
                                                                            <li class="segment-lable">JC Segment
                                                                                <ul>
                                                                                    <li class="section-var-link">Contact View Only Property</li>
                                                                                    <li class="section-var-link">Contact Viewable and Editable Property</li>
                                                                                    <li class="section-var-link">Multi value No Descr</li>
                                                                                    <li class="section-var-link">Shared Property from JC - cust can't see</li>
                                                                                </ul>
                                                                            </li>
                                                                        </ul>
                                                                    </li>
                                                                </ul>
                                                                <ul class="list-unstyled segment-variable-list">
                                                                    <li class="section-label">Answer
                                                                        <ul class="segment-variables">
                                                                            <li class="section-var-link">Email</li>
                                                                            <li class="section-var-link">Reference Number</li>
                                                                            <li class="section-var-link">Original Date</li>
                                                                            <li class="section-var-link">Original Time</li>
                                                                            <li class="section-var-link">Subject</li>
                                                                            <li class="section-var-link">Original Body</li>
                                                                            <li class="section-var-link">Quoted Question</li>
                                                                        </ul>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- /.tab-pane -->
                                                    <div class="tab-pane" id="tab_2">
                                                        <div class="row" id="stock-responses">
                                                            <div class="col-xs-12 stock-responses">
                                                                <div>
                                                                    <input type="text" class="form-control" placeholder="Keyword Search">
                                                                </div>
                                                                <ul class="list-unstyled segment-variable-list">
                                                                    <li class="section-label">Segment Responses
                                                                        <ul class="segment-variables">
                                                                            <li class="section-var-link">Chat Closing</li>
                                                                            <li class="section-var-link">Chat Opening</li>
                                                                            <li class="section-var-link">Chat Wait</li>
                                                                            <li class="section-var-link">iService Website</li>
                                                                        </ul>
                                                                    </li>
                                                                </ul>
                                                                <ul class="list-unstyled segment-variable-list">
                                                                    <li class="section-label">Agent Response
                                                                        <ul class="segment-variables">
                                                                            <li class="section-var-link">Test</li>
                                                                        </ul>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- /.tab-content -->
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                            <div class="col-md-4"></div>
                        </div>                         
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
    <!-- END ACCORDION & CAROUSEL-->
            </section>
        </div>
        <!-- /.content-wrapper -->
        {% include common-footer.html %}
        <!-- Control Sidebar -->
        {% include right-panel-setting-menu.html %}
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
                immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->
    {% include common-javascript.html %}
   
	<script>
	   $(function ()
       {
	       // SLIMSCROLL FOR CHAT WIDGET
			  $('#variable-box').slimScroll({
				height: '250px'
			  });
			  $('#stock-responses').slimScroll({
				height: '250px'
			  });
              CKEDITOR.replace('editor1');
       });
	</script>
</body>
</html>
