---
title: Agent Email
---
<!DOCTYPE html>
<html ng-app="iService">
<head>
    {% include common-head.html %}

</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        {% include common-header.html %}
        {% include common-menu.html %}
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    {{ page.title }}
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li class="active">Page Components</li>
                    <li class="active">{{ page.title }}</li>
                </ol>
            </section>
            <!-- Main content -->
            <section class="content">
                <!-- START CUSTOM TABS -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- Custom Tabs -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="box box-info">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Agent Email</h3>
                                    </div>
                                <!-- /.box-header -->
                                <!-- form start -->
                                    <div class="box-body">
                                      <div class="row">  
                                        <div class="col-md-12"> 
                                           {% include email-address-message-property-agent-email-include.html %}  
                                        </div> 
                                       </div> 
                                    </div>
                                </div> 
                            </div>
                          
                        </div>                         
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
    <!-- END ACCORDION & CAROUSEL-->
            </section>
        </div>
        <!-- /.content-wrapper -->
        {% include common-footer.html %}
        <!-- Control Sidebar -->
        {% include right-panel-setting-menu.html %}
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
                immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->
    {% include common-javascript.html %}
   
	<script>
        
       angular.module('iService').controller('TopicCtrl', function ($scope, $http, $timeout, $interval) {
		var vm = this;
        vm.topicselected = {selected : "e-shop -- All Topics"};
            vm.topic = [
            {name: 'Agent Notification',segment:"System Generated Responses"},
            {name: 'Alert',segment:"System Generated Responses"},
            {name: 'Contact Creation', segment:"System Generated Responses"},
            {name: 'External Agent Notification',segment:"System Generated Responses"},
            {name: 'Find Answer Article Update',segment:"System Generated Responses"},
            {name: 'Mass Mailing', segment:"System Generated Responses"},
            {name: 'Message Acknowledgment',segment:"System Generated Responses"},
            {name: 'Notification',segment:"System Generated Responses"},
            {name: 'Password Reset', segment:"System Generated Responses"},
            {name: 'Private Email',segment:"System Generated Responses"},
            {name: 'Secure Response',segment:"System Generated Responses"},
            {name: 'Agent Ticket', segment:"Questions"},
            {name: 'Chat', segment:"Questions"},
            {name: 'Contact Email', segment:"Questions"},
            {name: 'Customer Ticket', segment:"Questions"},
            {name: 'Agent Email', segment:"Answers (Message Sent)"},
            {name: 'Agent Response', segment:"Answers (Message Sent)"},
            {name: 'Secure Email', segment:"Answers (Message Sent)"},
            {name: 'Find Answer Article', segment:"Answers (No Message Sent)"},
            {name: 'Public Note', segment:"Answers (No Message Sent)"},
            {name: 'Private Note', segment:"Answers (No Message Sent)"},
            {name: 'Resolve Note', segment:"Answers (No Message Sent)"},
            {name: 'Unsent Response', segment:"Answers (No Message Sent)"},
        ];
		
	});
	</script>
</body>
</html>
