---
title: Tabs
---
<!DOCTYPE html>
<html>
<head>
<!--1 to 1 include start-->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/redmond/jquery-ui.min.css" />
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.20.0/select.min.css" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.2/skins/square/blue.css" rel="stylesheet" />
<!--  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.min.css" /> 
  <link rel="stylesheet" href="https://outdev1.1to1vpn.ddns.net:9015/css/AdminLTE.min.css">
  <link rel="stylesheet" href="https://outdev1.1to1vpn.ddns.net:9015/css/AdminLTE_all-skins.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">-->
  <link rel="stylesheet" href="https://outdev1.1to1vpn.ddns.net:9015/css/webapp.min.css" />
<!--1 to 1 include end-->  
    {% include common-head.html %}
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        {% include common-header.html %}
        {% include common-menu.html %}
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    {{ page.title }}
                </h1>
            </section>

            <!-- Main content -->
            <section class="content">
                <!-- START CUSTOM TABS -->
                <h2 class="page-header">Contact Summary</h2>

                <div class="row">
                    <div class="col-md-12">
                        <!-- Custom Tabs -->
                        <div class="nav-tabs-custom color-tab-icon">
							  <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab_1" data-toggle="tab"><i class="fa fa-navicon orange"></i> <span>Summary</span></a></li>
                                <li><a href="#tab_2" data-toggle="tab"><i class="fa fa-ellipsis-h blue"></i> <span>Details</span></a></li>
                                <li><a href="#tab_3" data-toggle="tab"><i class="fa fa-feed red"></i> <span>Subscriptions</span></a> </a></li>
								<li><a href="#tab_4" data-toggle="tab"><i class="fa fa-history green"></i> <span>History</span></a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane contact-summary active" id="tab_1">
								   <div class="row">
                                    <div class="col-md-5">
									  <div class="box box-info">
									   <div class="box-header with-border">
									      <i class="fa fa-user"></i>
									      <h3 class="box-title">Contact Information</h3>
									   </div>
									   <div class="box-body">
									    <div class="form-horizontal user-detail">
										  <div class="row">
										     <div class=" col-md-4">
										       <div class="user-initials round no-select">SW</div>
											 </div> 
                                             <div class="col-md-8  user-name">Scott Whitsitt</div>											 
										  </div>
										  <div class="datarow row form-group">
											<label class="col-md-4 col-sm-12 control-label">Job Title</label>
											<div class="text ng-binding  col-md-8">VP</div>
										  </div>
										  <div class="datarow row form-group">
											<label class="col-md-4  control-label">Company</label>
											<div class="text ng-binding  col-md-8">1to1service</div>
										  </div>
										  <div class="datarow row form-group">
											<label class="col-md-4  control-label">Email</label>
											<div class="text ng-binding   col-md-8">landlord@mail02.1to1service.com</div>
										  </div>
										  <div class="datarow row form-groupj">
											<label class="col-md-4  control-label">Phone</label>
											<div class="text ng-binding  col-md-8">+78-465464646</div>
										  </div>
										</div>
									   </div>
									  </div>
									
									   <div class="box box-warning">
										   <div class="box-header with-border">
										       <i class="fa fa-flash"></i>
											  <h3 class="box-title">Quick Actions</h3>
										   </div>
										   <div class="box-body">
										     <nav>
											   <div class="col-xs-4 text-center">
													<a class="m20">
													  <i class="fa fa-envelope bg-blue"></i>
													  Agent Email
													</a>
												</div>
												<div class="col-xs-4 text-center">
													<a class="m20">
													  <i class="fa fa-file-text-o bg-teal-active"></i>
													  Note
													</a>
												</div>
												<div class="col-xs-4 text-center">												
													<a class=" m20">
													  <i class="fa fa-ticket bg-orange"></i>
													  Ticket
													</a>
												</div>	
											  </nav>
										   </div>
									   </div>	   
									</div>
									
									<div class="col-md-7">
									  <div class="box box-success">
									   <div class="box-header with-border">
									      <i class="fa fa-info"></i>
									      <h3 class="box-title">Status Information</h3>
									   </div>
									   <div class="box-body right-container">
									  <div class="row">
									    <div class="col-xs-4 text-center report-counts"><h3 class="text-red">05</h3><span>Unassigned Questions</span></div>
										<div class="col-xs-4 text-center report-counts"><h3 class="text-blue">Jhon Doe</h3><span>Last Agent </span></div>
										<div class="col-xs-4 text-center report-counts"><h3 class="text-green">12</h3><span>Interactions Past Week </span></div>
									  </div>
									  <h3>Unresolved Questions </h3>
									  <ul class="empty-list">
										   <li>
										    
												<a href=" target="_blank" >The answer" languages only differ
													   in their grammar</a>
										    
											<div class="message-time">2 Days Ago</div>
										    </li>
											 <li>
										    
												<a href=" target="_blank" >The answer" languages only differ
													   in their grammar</a>
										    
											<div class="message-time">2 Days Ago</div>
										    </li>
									  </ul>
									  <h3>Last update</h3>
									
									  <div>
										 <div class="qa-message-list" id="wallmessages">
										    <i class="fa fa-envelope bg-blue"></i>
											<div class="message-item" id="m16">
												<div class="message-inner">
												  <span class="time"><i class="fa fa-clock-o"></i> Just Now</span>
												  <div class="message-header">Agent Email</div>
												  The European <a href=""> The languages only differ
												   in their grammar, their pronunciation and their</a>
												   <div class="timeline-footer">
													  <a class="btn btn-primary btn-xs">Read more</a>
												   </div>
												</div>
											</div>
										</div>	
										<div class="qa-message-list" id="wallmessages">
										    <i class="fa fa-ticket bg-orange"></i>
											<div class="message-item" id="m16">
												<div class="message-inner">
												  <span class="time"><i class="fa fa-clock-o"></i> 2 Days ago</span>
												  <div class="message-header">Ticket</div>
												  <a href=""> Etsy doostang zoodles disqus groupon greplin oooj voxy zoodle</a>
											     </div>
											</div>
											
										</div>	
										<div class="qa-message-list" id="wallmessages">
										    <i class="fa  fa-question bg-teal-active"></i>
											<div class="message-item" id="m16">
												<div class="message-inner">
												  <span class="time"><i class="fa fa-clock-o"></i> 15 Days ago</span>
												  <div class="message-header">Questions</div>
												  The European <a href=""> The languages only differ
												   in their grammar, their pronunciation and their</a>
											     </div>
											</div>
											
										</div>	
									  </div>
									 </div>
									 </div>
									</div>
								   </div>
									
                                </div>
                                <!-- /.tab-pane -->
                                <div class="tab-pane contact-detail" id="tab_2">
                                  <div class="row">
									<div class="col-xs-12 col-sm-9 panel-group">
									  <div class="box box-default" style="" >
										<div class="box-header with-border" data-toggle="collapse" data-target="#contactinfo">
										  <h3 class="box-title">Contact Information</h3>
										  <span aria-hidden="true" class="glyphicon pull-right glyphicon-chevron-right expanded" ></span>
										</div>
										<div class="box-body in collapse " id="contactinfo">
										  <div class="row">
												<div class="col-xs-12 col-sm-6">
												  <div>
													<div class="form-group floating-label">
													  <input type="text" value="">
													  <label >First Name</label>
													</div>
												  </div>
												  <div> 
													<div class="form-group floating-label">
													  <input value=""  type="text" >
													  <label class="">Middle Initial</label>
													</div>
												  </div>
												  <div>
													<div class="form-group floating-label" >
													  <input  type="text"  value="">
													  <label>Last Name</label>
													</div>
												  </div>
												 <div class="form-group floating-label multiple">
												  <label >Phone</label>
												  <div class="float-btn-group" >
													<button class="margin-5 icon-button button-delete" type="button">
													  <i class="fa fa-times-circle"></i>
													</button>
													<select><option label="Fax" value="string:Fax" selected="selected">Fax</option><option label="Home" value="string:Home">Home</option><option label="Mobile" value="string:Mobile">Mobile</option><option label="Work" value="string:Work">Work</option></select>
													<input value="" type="text">
												  </div>
												 
												  <button class="margin-5 icon-button button-add-row" type="button" ng-show="!property.isReadOnly" ng-click="addValue(property)">
													<i class="fa fa-plus-circle"></i>
												  </button>
												</div>
												 <div class="">
													<div class="form-group floating-label multiple" >
													  <label class="">Address</label>
													  <div class="float-btn-group" >
														<button class="margin-5 icon-button button-delete" type="button" >
														  <i class="fa fa-times-circle"></i>
														</button>
														<select><option label="Home" value="string:Home" selected="selected">Home</option><option label="Work" value="string:Work">Work</option></select><textarea ng-model="value.value"  class="ng-pristine ng-untouched ng-valid  ng-empty"></textarea>
													  </div>
													  <button class="margin-5 icon-button button-add-row" type="button" ng-show="!property.isReadOnly" ng-click="addValue(property)">
														<i class="fa fa-plus-circle"></i>
													  </button>
													</div>
												 </div>
											     <div class="">
												   <div class="form-group floating-label multiple" >
													  <label>Customer Type</label>
													  <div class="float-btn-group">
														<button class="margin-5 icon-button button-delete" type="button">
														  <i class="fa fa-times-circle"></i>
														</button>
														<select><option label="Agent" value="string:Agent" selected="selected">Agent</option><option label="Customer" value="string:Customer">Customer</option><option label="Spam" value="string:Spam">Spam</option><option label="Vendor" value="string:Vendor">Vendor</option><option label="-- select a value --" value="string:">-- select a value --</option></select>
													  </div>
													  <button class="margin-5 icon-button button-add-row" type="button" ng-show="!property.isReadOnly" ng-click="addValue(property)">
														<i class="fa fa-plus-circle"></i>
													  </button>
													</div>  
												 </div>
											  <div class="">
												<div class="form-group floating-label">
												  <input type="text"  value="">
												  <label class="">Company</label>
												</div>
											  </div>
										</div>
										<div class="col-xs-12 col-sm-6">
										  <div class="ng-scope">
											<div class="form-group floating-label ng-scope property-job-title" >
											  <input type="text" value="">
											  <label class="ng-binding">Job Title</label>
											</div>
										  </div>
										  <div   class="ng-scope">
											<div class="form-group floating-label  group-bg detail-g-borderbottom" >
											  <input  type="text" value="">
											  <label class="ng-binding">Address1</label>
											</div>
										  </div>
										  <div   class="">
											<div class="form-group floating-label  group-bg detail-g-borderbottom detail-g-bordertop" >
											  <input  type="text" value="">
											  <label class="ng-binding">Address2</label>
											</div>
										  </div>
										  <div   class="">
											<div class="form-group floating-label  group-bg detail-g-borderbottom detail-g-bordertop" >
											  <input   type="text" value="">
											  <label class="ng-binding">City</label>
											</div>
										  </div>
										  <div   class="">
											<div class="form-group floating-label group-bg detail-g-borderbottom detail-g-bordertop" >
											  <input   type="text" value="">
											  <label class="ng-binding">State</label>
											</div>
										  </div>
										  <div   class="">
											<div class="form-group floating-label group-bg detail-g-borderbottom detail-g-bordertop" >
											  <input  type="text" value="">
											  <label class="ng-binding">Postal Code</label>
											</div>
										  </div>
										  <div   class="">
											<div class="form-group floating-label group-bg detail-g-bordertop" >
											  <input  type="text" value="">
											  <label class="ng-binding">Country</label>
											</div>
										  </div>
										 </div>
										</div>
										    <div class="">
												<div class="form-group floating-label multiple "  >
												  <label>Logins</label>
												  <div class="float-btn-group " >
													<button class="margin-5 icon-button button-delete" type="button" >
													  <i class="fa fa-times-circle"></i>
													</button>
													<select>
													  <option value="Email" selected="selected">Email</option>
													  <option value="Bounced">Bounced</option>
													  <option value=""></option>
													</select>
													<span class="ng-binding ng-hide">Email</span>
													<input type="text"  value="" >
												  </div>
												  <div class="float-btn-group " >
													<button class="margin-5 icon-button button-delete" type="button" >
													  <i class="fa fa-times-circle"></i>
													</button>
													<select >
													  <option value="Email" selected="selected">Email</option>
													  <option value="Bounced">Bounced</option>
													  <option value=""></option>
													</select>
													<input type="text" value="" >
												  </div>
												  <button class="margin-5 icon-button button-add-row" type="button">
													<i class="fa fa-plus-circle"></i>
												  </button>
												</div>
											</div>
										</div>
										<button type="button" class="btn btn-default btn-xs margin-5 ng-hide">
										  <strong>…</strong>
										</button>
									  </div>
									  <div class="box box-default " >
										<div class="box-header with-border" data-toggle="collapse" data-target="#segment">
										  <h3 class="box-title ng-binding">Automated Test Segment</h3>
										  <span class="glyphicon pull-right glyphicon-chevron-right expanded" style=""></span>
										</div>
										<div class="box-body in collapse" style="" id="segment">
										  <div class="row">
											<div class="col-xs-12 col-sm-6">
											  <div    class="">
												<div class="form-group floating-label  property-contact-property-1"  >
												  <input type="text"  value="">
												  <label class="">Contact Property 1</label>
												</div>
											  </div>
											</div>
											<div class="col-xs-12 col-sm-6">
											  
											</div>
										  </div>
										  <div   class="">
											<div class="form-group floating-label multiple  ng-hide"  >
											  <label>Logins</label>
											  
											  <button class="margin-5 icon-button button-add-row" type="button" ng-click="AddLoginClick()">
												<i class="fa fa-plus-circle"></i>
											  </button>
											</div>
										  </div>
										</div>
										<button type="button" class="btn btn-default btn-xs margin-5 ng-hide"  ng-show="isCollapsed(segment.name)" style="">
										  <strong>…</strong>
										</button>
									  </div>
									  <div class="box box-default " >
										<div class="box-header with-border" data-toggle="collapse" data-target="#segment1">
										  <h3 class="box-title ng-binding">Segment1</h3>
										  <span aria-hidden="true" class="glyphicon pull-right glyphicon-chevron-right expanded" ng-class="{ 'expanded': !isCollapsed(segment.name) }" style=""></span>
										</div>
										<div class="box-body in collapse" id="segment1">
										  <div class="row">
											<div class="col-xs-12 col-sm-6">
											  <!-- ngRepeat: property in segment.leftProperties --><div    class="">
									<div class="form-group floating-label  property-text"  >
									  <input type="text"  value="">
									  <label class="">Text</label>
									</div>
								  </div><div    class="">
									<div class="form-group floating-label  property-date"  >
									  <input  type="text" value="">
									  <label class="">Date</label>
									</div>
								  </div>
								  <div  class="">
									<div class="form-group floating-label  property-additional-detail"  >
									  <select  ng-options="choice.value as choice.name for choice in property.valueChoices"  class="ng-pristine ng-untouched ng-valid  ng-empty"><option label="detail1a" value="string:detail1a">detail1a</option><option label="detail1b" value="string:detail1b">detail1b</option><option label="detail1c" value="string:detail1c">detail1c</option><option label="-- select a value --" value="string:" selected="selected">-- select a value --</option></select>
									  <label class="">Additional Detail</label>
									</div>
								  </div>
											</div>
											<div class="col-xs-12 col-sm-6">
											  <div    class="">
									<div class="form-group floating-label  property-existing-phone-property"  >
									  <select  ng-options="choice.value as choice.name for choice in property.valueChoices"  class="ng-pristine ng-untouched ng-valid  ng-empty"><option value="string:"></option><option label="-- select a value --" value="string:" selected="selected">-- select a value --</option></select>
									  <label class="">Existing Phone Property</label>
									</div>
								  </div><div    class="">
									<div class="form-group floating-label  property-svc-level-5-min"  >
									  <select  ng-options="choice.value as choice.name for choice in property.valueChoices"  class="ng-pristine ng-untouched ng-valid  ng-empty"><option label="False" value="string:False">False</option><option label="True" value="string:True">True</option><option label="-- select a value --" value="string:" selected="selected">-- select a value --</option></select>
									  <label class="">Svc Level 5 Min</label>
									</div>
								  </div>
											</div>
										  </div>
										  <div   class="">
									<div class="form-group floating-label multiple  ng-hide"  >
									  <label>Logins</label>
									  
									  <button class="margin-5 icon-button button-add-row" type="button" ng-click="AddLoginClick()">
										<i class="fa fa-plus-circle"></i>
									  </button>
									</div>
								  </div>
										</div>
										<button type="button" class="btn btn-default btn-xs margin-5 ng-hide"  ng-show="isCollapsed(segment.name)" style="">
										  <strong>…</strong>
										</button>
									  </div>
									  <div class="box box-default " >
										<div class="box-header with-border" data-toggle="collapse" data-target="#segment2">
										  <h3 class="box-title ng-binding">Segment2</h3>
										  <span aria-hidden="true" class="glyphicon pull-right glyphicon-chevron-right expanded"></span>
										</div>
										<div class="box-body in collapse" id="segment2">
										  <div class="row">
											<div class="col-xs-12 col-sm-6">
											  <div class="">
												<div class="form-group floating-label  property-s2only"  >
												  <input  type="text"  value="">
												  <label class="">s2only</label>
												</div>
											  </div>
											</div>
											<div class="col-xs-12 col-sm-6">
											  
											</div>
										  </div>
										  <div   class="">
											<div class="form-group floating-label multiple  ng-hide"  >
											  <label>Logins</label>
											  <button class="margin-5 icon-button button-add-row" type="button" >
												<i class="fa fa-plus-circle"></i>
											  </button>
											</div>
										  </div>
										</div>
										<button type="button" class="btn btn-default btn-xs margin-5 ng-hide"  style="">
										  <strong>…</strong>
										</button>
									  </div>
									</div>
									<div class="col-xs-12 col-sm-3">
									  <h3>Segment Membership</h3>
									  
									  <div  class="segment" style="">
									   <label>
										<input type="checkbox" class="minimal" checked>
										Automated Test Segment
									  </label>
										
									  </div>
									  <div  class="segment">
										<label class="">
										 <input type="checkbox" class="minimal" checked>
										  seantest
										</label>
									  </div>
									  <div  class="segment">
										<label class="">
										 <input type="checkbox" class="minimal" checked>
										  Segment1
										</label>
									  </div>
									 <div  class="segment">
										<label class="">
										 <input type="checkbox" class="minimal" checked>
										  Segment2
										</label>
									  </div>
									</div>
								  </div>
								  <button class="btn btn-success" type="button" ng-click="">
									<i class="fa fa-save"></i>
									Save
								  </button>  								  
							    </div>
                                <!-- /.tab-pane -->
                                <div class="tab-pane" id="tab_3">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    It has survived not only five centuries, but also the leap into electronic typesetting,
                                    remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                                    sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
                                    like Aldus PageMaker including versions of Lorem Ipsum.
                                </div>
								 <div class="tab-pane" id="tab_4">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    It has survived not only five centuries, but also the leap into electronic typesetting,
                                    remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                                    sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
                                    like Aldus PageMaker including versions of Lorem Ipsum.
                                </div>
                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                        </div>
                        <!-- nav-tabs-custom -->
                    </div>
                    <!-- /.col -->

                
                </div>
                <!-- /.row -->
    <!-- END ACCORDION & CAROUSEL-->
	
            </section>
                
        </div>
        <!-- /.content-wrapper -->
        {% include common-footer.html %}
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Create the tabs -->
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
                <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <!-- Home tab content -->
                <div class="tab-pane" id="control-sidebar-home-tab">
                    <h3 class="control-sidebar-heading">Recent Activity</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-birthday-cake bg-red"></i>

                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

                                    <p>Will be 23 on April 24th</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-user bg-yellow"></i>

                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>

                                    <p>New phone +1(800)555-1234</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>

                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>

                                    <p>nora@example.com</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-file-code-o bg-green"></i>

                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>

                                    <p>Execution time 5 seconds</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->

                    <h3 class="control-sidebar-heading">Tasks Progress</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Custom Template Design
                                    <span class="label label-danger pull-right">70%</span>
                                </h4>

                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Update Resume
                                    <span class="label label-success pull-right">95%</span>
                                </h4>

                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-success" style="width: 95%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Laravel Integration
                                    <span class="label label-warning pull-right">50%</span>
                                </h4>

                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Back End Framework
                                    <span class="label label-primary pull-right">68%</span>
                                </h4>

                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->

                </div>
                <!-- /.tab-pane -->
                <!-- Stats tab content -->
                <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
                <!-- /.tab-pane -->
                <!-- Settings tab content -->
                <div class="tab-pane" id="control-sidebar-settings-tab">
                    <form method="post">
                        <h3 class="control-sidebar-heading">General Settings</h3>

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Report panel usage
                                <input type="checkbox" class="pull-right" checked>
                            </label>

                            <p>
                                Some information about this general settings option
                            </p>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Allow mail redirect
                                <input type="checkbox" class="pull-right" checked>
                            </label>

                            <p>
                                Other sets of options are available
                            </p>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Expose author name in posts
                                <input type="checkbox" class="pull-right" checked>
                            </label>

                            <p>
                                Allow the user to show his name in blog posts
                            </p>
                        </div>
                        <!-- /.form-group -->

                        <h3 class="control-sidebar-heading">Chat Settings</h3>

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Show me as online
                                <input type="checkbox" class="pull-right" checked>
                            </label>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Turn off notifications
                                <input type="checkbox" class="pull-right">
                            </label>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Delete chat history
                                <a href="javascript:void(0)" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
                            </label>
                        </div>
                        <!-- /.form-group -->
                    </form>
                </div>
                <!-- /.tab-pane -->
            </div>
        </aside>
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->
    <!-- jQuery 3.1.1 -->
    <script src="../plugins/jQuery/jquery-3.1.1.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <!-- Slimscroll -->
    <script src="../plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="../plugins/fastclick/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="../dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="../dist/js/demo.js"></script>
    <script>
	function toggleIcon(e) {
    $(e.target)
        .prev('.panel-heading')
        .find(".more-less")
        .toggleClass('glyphicon-plus glyphicon-minus');
	}
	$('.panel-group').on('hidden.bs.collapse', toggleIcon);
	$('.panel-group').on('shown.bs.collapse', toggleIcon);
	</script>
	
	<!--1 to 1 js include-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/svg4everybody/2.1.9/svg4everybody.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script>
    svg4everybody();
  </script>
  <!--qa<script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-slimScroll/1.3.8/jquery.slimscroll.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.5.3/ckeditor.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-sanitize.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-route.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-animate.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/1.0.1/angular-moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.20.0/select.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.20.0/select.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.2/icheck.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/push.js/1.0.5/push.js"></script>
  <script src="https://outdev1.1to1vpn.ddns.net:9015/js/jquery.cookie.js"></script>
  <script src="https://outdev1.1to1vpn.ddns.net:9015/js/angular-ui-date.js"></script>
  <script src="https://outdev1.1to1vpn.ddns.net:9015/js/iService.util.js?v=8.0.050+-+2018.02.05+-+17%3a15%3a52"></script>
  <script src="https://outdev1.1to1vpn.ddns.net:9015/js/iService.ng.js?v=8.0.050+-+2018.02.05+-+17%3a15%3a52"></script>
  <script src="https://outdev1.1to1vpn.ddns.net:9015/js/iService.directive.js?v=8.0.050+-+2018.02.05+-+17%3a15%3a52"></script>
 <!-- <script src="https://outdev1.1to1vpn.ddns.net:9015/js/adminlte.min.js"></script>	-->
  <script>
    $(function ()
    {
	//iCheck for checkbox and radio inputs
      $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
        checkboxClass: 'icheckbox_minimal-blue',
        radioClass: 'iradio_minimal-blue'
      });
	
	});
  </script>   
  
</body>
</html>
