---
title: Tabs
---
<!DOCTYPE html>
<html>
<head>
<!--1 to 1 include start-->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/redmond/jquery-ui.min.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.20.0/select.min.css" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.2/skins/square/blue.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.min.css" />
  <link rel="stylesheet" href="https://outdev1.1to1vpn.ddns.net:9015/css/AdminLTE.min.css">
  <link rel="stylesheet" href="https://outdev1.1to1vpn.ddns.net:9015/css/AdminLTE_all-skins.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
  <link rel="stylesheet" href="https://outdev1.1to1vpn.ddns.net:9015/css/webapp.min.css" />
<!--1 to 1 include end-->  
    {% include common-head.html %}
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        {% include common-header.html %}
        {% include common-menu.html %}
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    {{ page.title }}
                </h1>
            </section>

            <!-- Main content -->
            <section class="content">
                <!-- START CUSTOM TABS -->
                <h2 class="page-header">Contact Summary</h2>
							<div class="row">
				<div class="col-xs-12 col-sm-9">
				  <!-- ngRepeat: segment in segments --><div class="box box-default ng-scope" ng-repeat="segment in segments" style="">
					<div class="box-header with-border" ng-click="toggleSegmentCollapsedState(segment.name)">
					  <h3 class="box-title ng-binding">Contact Information</h3>
					  <span aria-hidden="true" class="glyphicon pull-right glyphicon-chevron-right expanded" ng-class="{ 'expanded': !isCollapsed(segment.name) }"></span>
					</div>
					<div class="box-body in collapse" uib-collapse="isCollapsed(segment.name)" aria-expanded="true" aria-hidden="false">
					  <div class="row">
						<div class="col-xs-12 col-sm-6">
						  <!-- ngRepeat: property in segment.leftProperties --><!-- ngInclude: propertyUrl(property) --><div ng-repeat="property in segment.leftProperties" ng-controller="ControllerPropertyProperty" ng-include="propertyUrl(property)" class="ng-scope">
				<div class="form-group floating-label ng-scope property-first-name" ng-init="value = property.values[0]" ng-class="property.className">
				  <!-- ngInclude: --><input ng-model="value.value" ng-disabled="property.isReadOnly" class="ng-pristine ng-untouched ng-valid ng-scope ng-not-empty">
				  <label class="ng-binding">First Name</label>
				</div>
			  </div><!-- end ngRepeat: property in segment.leftProperties --><!-- ngInclude: propertyUrl(property) --><div ng-repeat="property in segment.leftProperties" ng-controller="ControllerPropertyProperty" ng-include="propertyUrl(property)" class="ng-scope">
				<div class="form-group floating-label ng-scope property-middle-initial" ng-init="value = property.values[0]" ng-class="property.className">
				  <!-- ngInclude: --><input ng-model="value.value" ng-disabled="property.isReadOnly" class="ng-pristine ng-untouched ng-valid ng-scope ng-empty">
				  <label class="ng-binding">Middle Initial</label>
				</div>
			  </div><!-- end ngRepeat: property in segment.leftProperties --><!-- ngInclude: propertyUrl(property) --><div ng-repeat="property in segment.leftProperties" ng-controller="ControllerPropertyProperty" ng-include="propertyUrl(property)" class="ng-scope">
				<div class="form-group floating-label ng-scope property-last-name" ng-init="value = property.values[0]" ng-class="property.className">
				  <!-- ngInclude: --><input ng-model="value.value" ng-disabled="property.isReadOnly" class="ng-pristine ng-untouched ng-valid ng-scope ng-not-empty">
				  <label class="ng-binding">Last Name</label>
				</div>
			  </div><!-- end ngRepeat: property in segment.leftProperties --><!-- ngInclude: propertyUrl(property) --><div ng-repeat="property in segment.leftProperties" ng-controller="ControllerPropertyProperty" ng-include="propertyUrl(property)" class="ng-scope">
				<div class="form-group floating-label multiple ng-scope property-phone" ng-class="property.className">
				  <label class="ng-binding">Phone</label>
				  <!-- ngRepeat: value in property.values --><div class="float-btn-group ng-scope" ng-repeat="value in property.values">
					<button class="margin-5 icon-button button-delete" type="button" ng-click="removeValue(property, $index)">
					  <i class="fa fa-times-circle"></i>
					</button>
					<!-- ngInclude: --><select ng-model="value.description" ng-options="choice as choice for choice in property.descriptionChoices" ng-disabled="property.isReadOnly" class="ng-pristine ng-untouched ng-valid ng-scope ng-not-empty"><option label="Fax" value="string:Fax" selected="selected">Fax</option><option label="Home" value="string:Home">Home</option><option label="Mobile" value="string:Mobile">Mobile</option><option label="Work" value="string:Work">Work</option></select><input ng-model="value.value" ng-disabled="property.isReadOnly" class="ng-pristine ng-untouched ng-valid ng-scope ng-empty">
				  </div><!-- end ngRepeat: value in property.values --><div class="float-btn-group ng-scope" ng-repeat="value in property.values" style="">
					<button class="margin-5 icon-button button-delete" type="button" ng-click="removeValue(property, $index)">
					  <i class="fa fa-times-circle"></i>
					</button>
					<!-- ngInclude: --><select ng-model="value.description" ng-options="choice as choice for choice in property.descriptionChoices" ng-disabled="property.isReadOnly" class="ng-pristine ng-untouched ng-valid ng-scope ng-not-empty"><option label="Fax" value="string:Fax" selected="selected">Fax</option><option label="Home" value="string:Home">Home</option><option label="Mobile" value="string:Mobile">Mobile</option><option label="Work" value="string:Work">Work</option></select><input ng-model="value.value" ng-disabled="property.isReadOnly" class="ng-pristine ng-untouched ng-valid ng-scope ng-empty">
				  </div><!-- end ngRepeat: value in property.values --><div class="float-btn-group ng-scope" ng-repeat="value in property.values" style="">
					<button class="margin-5 icon-button button-delete" type="button" ng-click="removeValue(property, $index)">
					  <i class="fa fa-times-circle"></i>
					</button>
					<!-- ngInclude: --><select ng-model="value.description" ng-options="choice as choice for choice in property.descriptionChoices" ng-disabled="property.isReadOnly" class="ng-pristine ng-untouched ng-valid ng-scope ng-not-empty"><option label="Fax" value="string:Fax" selected="selected">Fax</option><option label="Home" value="string:Home">Home</option><option label="Mobile" value="string:Mobile">Mobile</option><option label="Work" value="string:Work">Work</option></select><input ng-model="value.value" ng-disabled="property.isReadOnly" class="ng-pristine ng-untouched ng-valid ng-scope ng-empty">
				  </div><!-- end ngRepeat: value in property.values -->
				  <button class="margin-5 icon-button button-add-row" type="button" ng-show="!property.isReadOnly" ng-click="addValue(property)">
					<i class="fa fa-plus-circle"></i>
				  </button>
				</div>
			  </div><!-- end ngRepeat: property in segment.leftProperties --><!-- ngInclude: propertyUrl(property) --><div ng-repeat="property in segment.leftProperties" ng-controller="ControllerPropertyProperty" ng-include="propertyUrl(property)" class="ng-scope">
				<div class="form-group floating-label multiple ng-scope property-address" ng-class="property.className">
				  <label class="ng-binding">Address</label>
				  <!-- ngRepeat: value in property.values --><div class="float-btn-group ng-scope" ng-repeat="value in property.values">
					<button class="margin-5 icon-button button-delete" type="button" ng-click="removeValue(property, $index)">
					  <i class="fa fa-times-circle"></i>
					</button>
					<!-- ngInclude: --><select ng-model="value.description" ng-options="choice as choice for choice in property.descriptionChoices" ng-disabled="property.isReadOnly" class="ng-pristine ng-untouched ng-valid ng-scope ng-not-empty"><option label="Home" value="string:Home" selected="selected">Home</option><option label="Work" value="string:Work">Work</option></select><textarea ng-model="value.value" ng-disabled="property.isReadOnly" class="ng-pristine ng-untouched ng-valid ng-scope ng-empty"></textarea>
				  </div><!-- end ngRepeat: value in property.values -->
				  <button class="margin-5 icon-button button-add-row" type="button" ng-show="!property.isReadOnly" ng-click="addValue(property)">
					<i class="fa fa-plus-circle"></i>
				  </button>
				</div>
			  </div><!-- end ngRepeat: property in segment.leftProperties --><!-- ngInclude: propertyUrl(property) --><div ng-repeat="property in segment.leftProperties" ng-controller="ControllerPropertyProperty" ng-include="propertyUrl(property)" class="ng-scope">
				<div class="form-group floating-label multiple ng-scope property-customer-type" ng-class="property.className">
				  <label class="ng-binding">Customer Type</label>
				  <!-- ngRepeat: value in property.values --><div class="float-btn-group ng-scope" ng-repeat="value in property.values">
					<button class="margin-5 icon-button button-delete" type="button" ng-click="removeValue(property, $index)">
					  <i class="fa fa-times-circle"></i>
					</button>
					<!-- ngInclude: --><select ng-model="value.value" ng-options="choice.value as choice.name for choice in property.valueChoices" ng-disabled="property.isReadOnly" class="ng-pristine ng-untouched ng-valid ng-scope ng-not-empty"><option label="Agent" value="string:Agent" selected="selected">Agent</option><option label="Customer" value="string:Customer">Customer</option><option label="Spam" value="string:Spam">Spam</option><option label="Vendor" value="string:Vendor">Vendor</option><option label="-- select a value --" value="string:">-- select a value --</option></select>
				  </div><!-- end ngRepeat: value in property.values -->
				  <button class="margin-5 icon-button button-add-row" type="button" ng-show="!property.isReadOnly" ng-click="addValue(property)">
					<i class="fa fa-plus-circle"></i>
				  </button>
				</div>
			  </div><!-- end ngRepeat: property in segment.leftProperties --><!-- ngInclude: propertyUrl(property) --><div ng-repeat="property in segment.leftProperties" ng-controller="ControllerPropertyProperty" ng-include="propertyUrl(property)" class="ng-scope">
				<div class="form-group floating-label ng-scope property-company" ng-init="value = property.values[0]" ng-class="property.className">
				  <!-- ngInclude: --><input ng-model="value.value" ng-disabled="property.isReadOnly" class="ng-pristine ng-untouched ng-valid ng-scope ng-empty">
				  <label class="ng-binding">Company</label>
				</div>
			  </div><!-- end ngRepeat: property in segment.leftProperties -->
						</div>
						<div class="col-xs-12 col-sm-6">
						  <!-- ngRepeat: property in segment.rightProperties --><!-- ngInclude: propertyUrl(property) --><div ng-repeat="property in segment.rightProperties" ng-controller="ControllerPropertyProperty" ng-include="propertyUrl(property)" class="ng-scope">
				<div class="form-group floating-label ng-scope property-job-title" ng-init="value = property.values[0]" ng-class="property.className">
				  <!-- ngInclude: --><input ng-model="value.value" ng-disabled="property.isReadOnly" class="ng-pristine ng-untouched ng-valid ng-scope ng-empty">
				  <label class="ng-binding">Job Title</label>
				</div>
			  </div><!-- end ngRepeat: property in segment.rightProperties --><!-- ngInclude: propertyUrl(property) --><div ng-repeat="property in segment.rightProperties" ng-controller="ControllerPropertyProperty" ng-include="propertyUrl(property)" class="ng-scope">
				<div class="form-group floating-label ng-scope property-address1" ng-init="value = property.values[0]" ng-class="property.className">
				  <!-- ngInclude: --><input ng-model="value.value" ng-disabled="property.isReadOnly" class="ng-pristine ng-untouched ng-valid ng-scope ng-empty">
				  <label class="ng-binding">Address1</label>
				</div>
			  </div><!-- end ngRepeat: property in segment.rightProperties --><!-- ngInclude: propertyUrl(property) --><div ng-repeat="property in segment.rightProperties" ng-controller="ControllerPropertyProperty" ng-include="propertyUrl(property)" class="ng-scope">
				<div class="form-group floating-label ng-scope property-address2" ng-init="value = property.values[0]" ng-class="property.className">
				  <!-- ngInclude: --><input ng-model="value.value" ng-disabled="property.isReadOnly" class="ng-pristine ng-untouched ng-valid ng-scope ng-empty">
				  <label class="ng-binding">Address2</label>
				</div>
			  </div><!-- end ngRepeat: property in segment.rightProperties --><!-- ngInclude: propertyUrl(property) --><div ng-repeat="property in segment.rightProperties" ng-controller="ControllerPropertyProperty" ng-include="propertyUrl(property)" class="ng-scope">
				<div class="form-group floating-label ng-scope property-city" ng-init="value = property.values[0]" ng-class="property.className">
				  <!-- ngInclude: --><input ng-model="value.value" ng-disabled="property.isReadOnly" class="ng-pristine ng-untouched ng-valid ng-scope ng-empty">
				  <label class="ng-binding">City</label>
				</div>
			  </div><!-- end ngRepeat: property in segment.rightProperties --><!-- ngInclude: propertyUrl(property) --><div ng-repeat="property in segment.rightProperties" ng-controller="ControllerPropertyProperty" ng-include="propertyUrl(property)" class="ng-scope">
				<div class="form-group floating-label ng-scope property-state" ng-init="value = property.values[0]" ng-class="property.className">
				  <!-- ngInclude: --><input ng-model="value.value" ng-disabled="property.isReadOnly" class="ng-pristine ng-untouched ng-valid ng-scope ng-empty">
				  <label class="ng-binding">State</label>
				</div>
			  </div><!-- end ngRepeat: property in segment.rightProperties --><!-- ngInclude: propertyUrl(property) --><div ng-repeat="property in segment.rightProperties" ng-controller="ControllerPropertyProperty" ng-include="propertyUrl(property)" class="ng-scope">
				<div class="form-group floating-label ng-scope property-postal-code" ng-init="value = property.values[0]" ng-class="property.className">
				  <!-- ngInclude: --><input ng-model="value.value" ng-disabled="property.isReadOnly" class="ng-pristine ng-untouched ng-valid ng-scope ng-empty">
				  <label class="ng-binding">Postal Code</label>
				</div>
			  </div><!-- end ngRepeat: property in segment.rightProperties --><!-- ngInclude: propertyUrl(property) --><div ng-repeat="property in segment.rightProperties" ng-controller="ControllerPropertyProperty" ng-include="propertyUrl(property)" class="ng-scope">
				<div class="form-group floating-label ng-scope property-country" ng-init="value = property.values[0]" ng-class="property.className">
				  <!-- ngInclude: --><input ng-model="value.value" ng-disabled="property.isReadOnly" class="ng-pristine ng-untouched ng-valid ng-scope ng-empty">
				  <label class="ng-binding">Country</label>
				</div>
			  </div><!-- end ngRepeat: property in segment.rightProperties -->
						</div>
					  </div>
					  <!-- ngRepeat: logins in [segment.logins] --><!-- ngInclude: 'property-logins.html' --><div ng-repeat="logins in [segment.logins]" ng-include="'property-logins.html'" class="ng-scope">
				<div class="form-group floating-label multiple ng-scope" ng-show="logins.length" ng-controller="ControllerPropertyLogins">
				  <label>Logins</label>
				  <!-- ngRepeat: login in logins --><div class="float-btn-group ng-scope" ng-repeat="login in logins" ng-controller="ControllerPropertyLogin">
					<button class="margin-5 icon-button button-delete" type="button" ng-click="RemoveLoginClick($index)">
					  <i class="fa fa-times-circle"></i>
					</button>
					<select ng-hide="IsOpenIDLogin(login)" ng-model="login.type" class="ng-pristine ng-untouched ng-valid ng-not-empty">
					  <option value="Email" selected="selected">Email</option>
					  <option value="Bounced">Bounced</option>
					  <option value=""></option>
					</select>
					<span ng-show="IsOpenIDLogin(login)" class="ng-binding ng-hide">Email</span>
					<input ng-model="login.name" ng-disabled="IsOpenIDLogin(login)" class="ng-pristine ng-untouched ng-valid ng-not-empty">
				  </div><!-- end ngRepeat: login in logins --><div class="float-btn-group ng-scope" ng-repeat="login in logins" ng-controller="ControllerPropertyLogin">
					<button class="margin-5 icon-button button-delete" type="button" ng-click="RemoveLoginClick($index)">
					  <i class="fa fa-times-circle"></i>
					</button>
					<select ng-hide="IsOpenIDLogin(login)" ng-model="login.type" class="ng-pristine ng-untouched ng-valid ng-not-empty">
					  <option value="Email" selected="selected">Email</option>
					  <option value="Bounced">Bounced</option>
					  <option value=""></option>
					</select>
					<span ng-show="IsOpenIDLogin(login)" class="ng-binding ng-hide">Email</span>
					<input ng-model="login.name" ng-disabled="IsOpenIDLogin(login)" class="ng-pristine ng-untouched ng-valid ng-not-empty">
				  </div><!-- end ngRepeat: login in logins -->
				  <button class="margin-5 icon-button button-add-row" type="button" ng-click="AddLoginClick()">
					<i class="fa fa-plus-circle"></i>
				  </button>
				</div>
			  </div><!-- end ngRepeat: logins in [segment.logins] -->
					</div>
					<button type="button" class="btn btn-default btn-xs margin-5 ng-hide" ng-click="toggleSegmentCollapsedState(segment.name)" ng-show="isCollapsed(segment.name)">
					  <strong>…</strong>
					</button>
				  </div><!-- end ngRepeat: segment in segments --><div class="box box-default ng-scope" ng-repeat="segment in segments">
					<div class="box-header with-border" ng-click="toggleSegmentCollapsedState(segment.name)">
					  <h3 class="box-title ng-binding">Automated Test Segment</h3>
					  <span aria-hidden="true" class="glyphicon pull-right glyphicon-chevron-right expanded" ng-class="{ 'expanded': !isCollapsed(segment.name) }" style=""></span>
					</div>
					<div class="box-body in collapse" uib-collapse="isCollapsed(segment.name)" style="" aria-expanded="true" aria-hidden="false">
					  <div class="row">
						<div class="col-xs-12 col-sm-6">
						  <!-- ngRepeat: property in segment.leftProperties --><!-- ngInclude: propertyUrl(property) --><div ng-repeat="property in segment.leftProperties" ng-controller="ControllerPropertyProperty" ng-include="propertyUrl(property)" class="ng-scope">
				<div class="form-group floating-label ng-scope property-contact-property-1" ng-init="value = property.values[0]" ng-class="property.className">
				  <!-- ngInclude: --><input ng-model="value.value" ng-disabled="property.isReadOnly" class="ng-pristine ng-untouched ng-valid ng-scope ng-empty">
				  <label class="ng-binding">Contact Property 1</label>
				</div>
			  </div><!-- end ngRepeat: property in segment.leftProperties -->
						</div>
						<div class="col-xs-12 col-sm-6">
						  <!-- ngRepeat: property in segment.rightProperties -->
						</div>
					  </div>
					  <!-- ngRepeat: logins in [segment.logins] --><!-- ngInclude: 'property-logins.html' --><div ng-repeat="logins in [segment.logins]" ng-include="'property-logins.html'" class="ng-scope">
				<div class="form-group floating-label multiple ng-scope ng-hide" ng-show="logins.length" ng-controller="ControllerPropertyLogins">
				  <label>Logins</label>
				  <!-- ngRepeat: login in logins -->
				  <button class="margin-5 icon-button button-add-row" type="button" ng-click="AddLoginClick()">
					<i class="fa fa-plus-circle"></i>
				  </button>
				</div>
			  </div><!-- end ngRepeat: logins in [segment.logins] -->
					</div>
					<button type="button" class="btn btn-default btn-xs margin-5 ng-hide" ng-click="toggleSegmentCollapsedState(segment.name)" ng-show="isCollapsed(segment.name)" style="">
					  <strong>…</strong>
					</button>
				  </div><!-- end ngRepeat: segment in segments --><div class="box box-default ng-scope" ng-repeat="segment in segments">
					<div class="box-header with-border" ng-click="toggleSegmentCollapsedState(segment.name)">
					  <h3 class="box-title ng-binding">Segment1</h3>
					  <span aria-hidden="true" class="glyphicon pull-right glyphicon-chevron-right expanded" ng-class="{ 'expanded': !isCollapsed(segment.name) }" style=""></span>
					</div>
					<div class="box-body in collapse" uib-collapse="isCollapsed(segment.name)" style="" aria-expanded="true" aria-hidden="false">
					  <div class="row">
						<div class="col-xs-12 col-sm-6">
						  <!-- ngRepeat: property in segment.leftProperties --><!-- ngInclude: propertyUrl(property) --><div ng-repeat="property in segment.leftProperties" ng-controller="ControllerPropertyProperty" ng-include="propertyUrl(property)" class="ng-scope">
				<div class="form-group floating-label ng-scope property-text" ng-init="value = property.values[0]" ng-class="property.className">
				  <!-- ngInclude: --><input ng-model="value.value" ng-disabled="property.isReadOnly" class="ng-pristine ng-untouched ng-valid ng-scope ng-empty">
				  <label class="ng-binding">Text</label>
				</div>
			  </div><!-- end ngRepeat: property in segment.leftProperties --><!-- ngInclude: propertyUrl(property) --><div ng-repeat="property in segment.leftProperties" ng-controller="ControllerPropertyProperty" ng-include="propertyUrl(property)" class="ng-scope">
				<div class="form-group floating-label ng-scope property-date" ng-init="value = property.values[0]" ng-class="property.className">
				  <!-- ngInclude: --><input ng-model="value.valueDate" ui-date="dateOptions" ng-disabled="property.isReadOnly" class="ng-pristine ng-untouched ng-valid ng-scope ng-empty hasDatepicker" id="dp1519751637044">
				  <label class="ng-binding">Date</label>
				</div>
			  </div><!-- end ngRepeat: property in segment.leftProperties --><!-- ngInclude: propertyUrl(property) --><div ng-repeat="property in segment.leftProperties" ng-controller="ControllerPropertyProperty" ng-include="propertyUrl(property)" class="ng-scope">
				<div class="form-group floating-label ng-scope property-additional-detail" ng-init="value = property.values[0]" ng-class="property.className">
				  <!-- ngInclude: --><select ng-model="value.value" ng-options="choice.value as choice.name for choice in property.valueChoices" ng-disabled="property.isReadOnly" class="ng-pristine ng-untouched ng-valid ng-scope ng-empty"><option label="detail1a" value="string:detail1a">detail1a</option><option label="detail1b" value="string:detail1b">detail1b</option><option label="detail1c" value="string:detail1c">detail1c</option><option label="-- select a value --" value="string:" selected="selected">-- select a value --</option></select>
				  <label class="ng-binding">Additional Detail</label>
				</div>
			  </div><!-- end ngRepeat: property in segment.leftProperties -->
						</div>
						<div class="col-xs-12 col-sm-6">
						  <!-- ngRepeat: property in segment.rightProperties --><!-- ngInclude: propertyUrl(property) --><div ng-repeat="property in segment.rightProperties" ng-controller="ControllerPropertyProperty" ng-include="propertyUrl(property)" class="ng-scope">
				<div class="form-group floating-label ng-scope property-existing-phone-property" ng-init="value = property.values[0]" ng-class="property.className">
				  <!-- ngInclude: --><select ng-model="value.value" ng-options="choice.value as choice.name for choice in property.valueChoices" ng-disabled="property.isReadOnly" class="ng-pristine ng-untouched ng-valid ng-scope ng-empty"><option value="string:"></option><option label="-- select a value --" value="string:" selected="selected">-- select a value --</option></select>
				  <label class="ng-binding">Existing Phone Property</label>
				</div>
			  </div><!-- end ngRepeat: property in segment.rightProperties --><!-- ngInclude: propertyUrl(property) --><div ng-repeat="property in segment.rightProperties" ng-controller="ControllerPropertyProperty" ng-include="propertyUrl(property)" class="ng-scope">
				<div class="form-group floating-label ng-scope property-svc-level-5-min" ng-init="value = property.values[0]" ng-class="property.className">
				  <!-- ngInclude: --><select ng-model="value.value" ng-options="choice.value as choice.name for choice in property.valueChoices" ng-disabled="property.isReadOnly" class="ng-pristine ng-untouched ng-valid ng-scope ng-empty"><option label="False" value="string:False">False</option><option label="True" value="string:True">True</option><option label="-- select a value --" value="string:" selected="selected">-- select a value --</option></select>
				  <label class="ng-binding">Svc Level 5 Min</label>
				</div>
			  </div><!-- end ngRepeat: property in segment.rightProperties -->
						</div>
					  </div>
					  <!-- ngRepeat: logins in [segment.logins] --><!-- ngInclude: 'property-logins.html' --><div ng-repeat="logins in [segment.logins]" ng-include="'property-logins.html'" class="ng-scope">
				<div class="form-group floating-label multiple ng-scope ng-hide" ng-show="logins.length" ng-controller="ControllerPropertyLogins">
				  <label>Logins</label>
				  <!-- ngRepeat: login in logins -->
				  <button class="margin-5 icon-button button-add-row" type="button" ng-click="AddLoginClick()">
					<i class="fa fa-plus-circle"></i>
				  </button>
				</div>
			  </div><!-- end ngRepeat: logins in [segment.logins] -->
					</div>
					<button type="button" class="btn btn-default btn-xs margin-5 ng-hide" ng-click="toggleSegmentCollapsedState(segment.name)" ng-show="isCollapsed(segment.name)" style="">
					  <strong>…</strong>
					</button>
				  </div><!-- end ngRepeat: segment in segments --><div class="box box-default ng-scope" ng-repeat="segment in segments">
					<div class="box-header with-border" ng-click="toggleSegmentCollapsedState(segment.name)">
					  <h3 class="box-title ng-binding">Segment2</h3>
					  <span aria-hidden="true" class="glyphicon pull-right glyphicon-chevron-right expanded" ng-class="{ 'expanded': !isCollapsed(segment.name) }" style=""></span>
					</div>
					<div class="box-body in collapse" uib-collapse="isCollapsed(segment.name)" style="" aria-expanded="true" aria-hidden="false">
					  <div class="row">
						<div class="col-xs-12 col-sm-6">
						  <!-- ngRepeat: property in segment.leftProperties --><!-- ngInclude: propertyUrl(property) --><div ng-repeat="property in segment.leftProperties" ng-controller="ControllerPropertyProperty" ng-include="propertyUrl(property)" class="ng-scope">
				<div class="form-group floating-label ng-scope property-s2only" ng-init="value = property.values[0]" ng-class="property.className">
				  <!-- ngInclude: --><input ng-model="value.value" ng-disabled="property.isReadOnly" class="ng-pristine ng-untouched ng-valid ng-scope ng-empty">
				  <label class="ng-binding">s2only</label>
				</div>
			  </div><!-- end ngRepeat: property in segment.leftProperties -->
						</div>
						<div class="col-xs-12 col-sm-6">
						  <!-- ngRepeat: property in segment.rightProperties -->
						</div>
					  </div>
					  <!-- ngRepeat: logins in [segment.logins] --><!-- ngInclude: 'property-logins.html' --><div ng-repeat="logins in [segment.logins]" ng-include="'property-logins.html'" class="ng-scope">
				<div class="form-group floating-label multiple ng-scope ng-hide" ng-show="logins.length" ng-controller="ControllerPropertyLogins">
				  <label>Logins</label>
				  <!-- ngRepeat: login in logins -->
				  <button class="margin-5 icon-button button-add-row" type="button" ng-click="AddLoginClick()">
					<i class="fa fa-plus-circle"></i>
				  </button>
				</div>
			  </div><!-- end ngRepeat: logins in [segment.logins] -->
					</div>
					<button type="button" class="btn btn-default btn-xs margin-5 ng-hide" ng-click="toggleSegmentCollapsedState(segment.name)" ng-show="isCollapsed(segment.name)" style="">
					  <strong>…</strong>
					</button>
				  </div><!-- end ngRepeat: segment in segments -->
				</div>
				<div class="col-xs-12 col-sm-3">
				  <h3>Segment Membership</h3>
				  <!-- ngRepeat: segment in segmentLists | filter: { hidden: false } --><div ng-repeat="segment in segmentLists | filter: { hidden: false }" class="ng-scope" style="">
					<label class="ng-binding">
					  <div class="icheckbox_square-blue" style="position: relative;"><input type="checkbox" checklist-value="segment.id" ng-model="checked" class="ng-scope ng-pristine ng-untouched ng-valid ng-empty" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
					  Automated Test Segment
					</label>
				  </div><!-- end ngRepeat: segment in segmentLists | filter: { hidden: false } --><div ng-repeat="segment in segmentLists | filter: { hidden: false }" class="ng-scope">
					<label class="ng-binding">
					  <div class="icheckbox_square-blue" style="position: relative;"><input type="checkbox" checklist-value="segment.id" ng-model="checked" class="ng-scope ng-pristine ng-untouched ng-valid ng-not-empty" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
					  seantest
					</label>
				  </div><!-- end ngRepeat: segment in segmentLists | filter: { hidden: false } --><div ng-repeat="segment in segmentLists | filter: { hidden: false }" class="ng-scope">
					<label class="ng-binding">
					  <div class="icheckbox_square-blue" style="position: relative;"><input type="checkbox" checklist-value="segment.id" ng-model="checked" class="ng-scope ng-pristine ng-untouched ng-valid ng-not-empty" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
					  Segment1
					</label>
				  </div><!-- end ngRepeat: segment in segmentLists | filter: { hidden: false } --><div ng-repeat="segment in segmentLists | filter: { hidden: false }" class="ng-scope">
					<label class="ng-binding">
					  <div class="icheckbox_square-blue" style="position: relative;"><input type="checkbox" checklist-value="segment.id" ng-model="checked" class="ng-scope ng-pristine ng-untouched ng-valid ng-not-empty" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
					  Segment2
					</label>
				  </div><!-- end ngRepeat: segment in segmentLists | filter: { hidden: false } -->
				</div>
			  </div>  
                <!-- /.row -->
    <!-- END ACCORDION & CAROUSEL-->
	
            </section>
                
        </div>
        <!-- /.content-wrapper -->
        {% include common-footer.html %}
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Create the tabs -->
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
                <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <!-- Home tab content -->
                <div class="tab-pane" id="control-sidebar-home-tab">
                    <h3 class="control-sidebar-heading">Recent Activity</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-birthday-cake bg-red"></i>

                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

                                    <p>Will be 23 on April 24th</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-user bg-yellow"></i>

                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>

                                    <p>New phone +1(800)555-1234</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>

                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>

                                    <p>nora@example.com</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-file-code-o bg-green"></i>

                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>

                                    <p>Execution time 5 seconds</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->

                    <h3 class="control-sidebar-heading">Tasks Progress</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Custom Template Design
                                    <span class="label label-danger pull-right">70%</span>
                                </h4>

                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Update Resume
                                    <span class="label label-success pull-right">95%</span>
                                </h4>

                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-success" style="width: 95%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Laravel Integration
                                    <span class="label label-warning pull-right">50%</span>
                                </h4>

                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Back End Framework
                                    <span class="label label-primary pull-right">68%</span>
                                </h4>

                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->

                </div>
                <!-- /.tab-pane -->
                <!-- Stats tab content -->
                <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
                <!-- /.tab-pane -->
                <!-- Settings tab content -->
                <div class="tab-pane" id="control-sidebar-settings-tab">
                    <form method="post">
                        <h3 class="control-sidebar-heading">General Settings</h3>

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Report panel usage
                                <input type="checkbox" class="pull-right" checked>
                            </label>

                            <p>
                                Some information about this general settings option
                            </p>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Allow mail redirect
                                <input type="checkbox" class="pull-right" checked>
                            </label>

                            <p>
                                Other sets of options are available
                            </p>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Expose author name in posts
                                <input type="checkbox" class="pull-right" checked>
                            </label>

                            <p>
                                Allow the user to show his name in blog posts
                            </p>
                        </div>
                        <!-- /.form-group -->

                        <h3 class="control-sidebar-heading">Chat Settings</h3>

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Show me as online
                                <input type="checkbox" class="pull-right" checked>
                            </label>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Turn off notifications
                                <input type="checkbox" class="pull-right">
                            </label>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Delete chat history
                                <a href="javascript:void(0)" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
                            </label>
                        </div>
                        <!-- /.form-group -->
                    </form>
                </div>
                <!-- /.tab-pane -->
            </div>
        </aside>
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->
    <!-- jQuery 3.1.1 -->
    <script src="../plugins/jQuery/jquery-3.1.1.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <!-- Slimscroll -->
    <script src="../plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="../plugins/fastclick/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="../dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="../dist/js/demo.js"></script>
    <script>
	function toggleIcon(e) {
    $(e.target)
        .prev('.panel-heading')
        .find(".more-less")
        .toggleClass('glyphicon-plus glyphicon-minus');
}
$('.panel-group').on('hidden.bs.collapse', toggleIcon);
$('.panel-group').on('shown.bs.collapse', toggleIcon);
	</script>
	
	<!--1 to 1 js include-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/svg4everybody/2.1.9/svg4everybody.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script>
    svg4everybody();
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-slimScroll/1.3.8/jquery.slimscroll.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.5.3/ckeditor.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-sanitize.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-route.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-animate.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/1.0.1/angular-moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.20.0/select.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.2/icheck.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/push.js/1.0.5/push.js"></script>
  <script src="https://outdev1.1to1vpn.ddns.net:9015/js/jquery.cookie.js"></script>
  <script src="https://outdev1.1to1vpn.ddns.net:9015/js/angular-ui-date.js"></script>
  <script src="https://outdev1.1to1vpn.ddns.net:9015/js/iService.util.js?v=8.0.050+-+2018.02.05+-+17%3a15%3a52"></script>
  <script src="https://outdev1.1to1vpn.ddns.net:9015/js/iService.ng.js?v=8.0.050+-+2018.02.05+-+17%3a15%3a52"></script>
  <script src="https://outdev1.1to1vpn.ddns.net:9015/js/iService.directive.js?v=8.0.050+-+2018.02.05+-+17%3a15%3a52"></script>
  <script src="https://outdev1.1to1vpn.ddns.net:9015/js/adminlte.min.js"></script>	
	
</body>
</html>
