---
title: Customer Info Create Note
---
<!DOCTYPE html>
<html ng-app="iService">
<head>
    {% include common-head.html %}
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        {% include common-header.html %}
        {% include common-menu.html %}
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    {{ page.title }}
                </h1>
            </section>
            <!-- Main content -->
            <section class="content">
                <!-- START CUSTOM TABS -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- Custom Tabs -->
                        <div class="row">
						    <div class="col-md-12">
                                <div class="box box-info">
                                    <div class="box-header with-border">
                                        <i class="fa fa fa-file-text-o"></i>
                                        <h3 class="box-title">Create Note</h3>
                                    </div>
								<!-- /.box-header -->
								<!-- form start -->
								    <div class="box-body" ng-controller="myCtrl">
                                        <div class="col-md-8 form-horizontal"> 
                                            <div class="form-group">
                                                <button class="btn btn-primary" title="Save Private Note">
                                                    <i class="fa fa-lock"></i>
                                                    Private Note
                                                </button>
                                                <button class="btn btn-primary" title="Save Public Note">
                                                    <i class="fa fa-unlock"></i>
                                                    Public Note
                                                </button>
                                                <a class="btn btn-link ng-scope" href="#/contact/1/summary">Cancel</a><!-- end ngIf: !inline -->
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Topic</label>
                                                <div class="col-sm-10">
                                                    <select class="form-control">
                                                        <option>Select Topic 1</option>
                                                        <option>Select Topic 2</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Customer Email/Login</label>
                                                <div class="col-sm-10">
                                                     <input class="form-control" type="text">
                                                </div>
                                            </div>
                                             <div class="form-group">
                                                <label class="col-sm-2 control-label">Subject</label>
                                                <div class="col-sm-10">
                                                <input class="form-control" type="text">
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                <div class="drop-box">Drop files here or click to upload
                                                </div>
                                                <p> (Maximum 10 MB upload at one time.)</p>
                                            </div>
                                            <div class="form-group text-editor-container">
                                            <div class="col-sm-12">
                                                <textarea class="form-control" rows="5" ckeditor name="editor1"></textarea>
                                            </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="panel panel-default form-group">
                                                    <div class="panel-heading">
                                                        <i class="fa fa-fw fa-pencil-square-o"></i>
                                                        Private Comments
                                                    </div>
                                                    <div class="panel-body">
                                                        <textarea class="full-width full-height"></textarea>
                                                    </div>
                                                </div>	
                                            </div>
                                        </div> 
                                        <div class="col-md-4">
                                            <div class="box box-warning stock-responses ng-scope">
                                                <div class="box-header with-border">
                                                    <h3 class="box-title">
                                                        <i class="fa fa-fw fa-envelope"></i>
                                                        Message Properties
                                                    </h3>
                                                </div>
                                                <div class="box-body">
                                                    <div class="form-group ng-binding">
                                                        --
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="nav-tabs-custom">
                                                <ul class="nav nav-tabs">
                                                    <li class="active"><a href="#tab_1" data-toggle="tab"><i class="fa fa-fw fa-cubes"></i><span>Variables</span></a></li>
                                                    <li><a href="#tab_2" data-toggle="tab"><i class="fa fa-fw fa-list"></i><span>Stock Responses</span></a></li>
                                                </ul>
                                                <div class="tab-content">
                                                    <div class="tab-pane active" id="tab_1">
                                                        <div class="row" id="variable-box">
                                                            <div class="col-xs-12 variable-responses">
																<div>
                                                                    <input type="text" class="form-control" placeholder="Filter Variables">
                                                                </div>
                                                                <ul class="list-unstyled segment-variable-list">
                                                                    <li class="section-label">Contact
                                                                        <ul class="segment-variables">
                                                                            <li class="section-var-link">Name</li>
                                                                            <li class="segment-lable">Global
                                                                                <ul>
                                                                                <li class="section-var-link">Address1</li>
                                                                                <li class="section-var-link">Address2</li>
                                                                                <li class="section-var-link">City</li>
                                                                                <li class="section-var-link">Country</li>
                                                                                <li class="section-var-link">Company</li>
                                                                                </ul>
                                                                            </li>
                                                                            <li class="segment-lable">JC Segment
                                                                                <ul>
                                                                                <li class="section-var-link">Contact View Only Property</li>
                                                                                <li class="section-var-link">Contact Viewable and Editable Property</li>
                                                                                <li class="section-var-link">Multi value No Descr</li>
                                                                                <li class="section-var-link">Shared Property from JC - cust can't see</li>
                                                                                </ul>
                                                                            </li>
                                                                        </ul>
                                                                    </li>
                                                                </ul>
                                                                <ul class="list-unstyled segment-variable-list">
                                                                    <li class="section-label">Answer
                                                                    <ul class="segment-variables">
                                                                        <li class="section-var-link">Email</li>
                                                                        <li class="section-var-link">Reference Number</li>
                                                                        <li class="section-var-link">Original Date</li>
                                                                        <li class="section-var-link">Original Time</li>
                                                                        <li class="section-var-link">Subject</li>
                                                                        <li class="section-var-link">Original Body</li>
                                                                        <li class="section-var-link">Quoted Question</li>
                                                                    </ul>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- /.tab-pane -->
                                                    <div class="tab-pane" id="tab_2">
                                                        <div class="row" id="stock-responses">
                                                            <div class="col-xs-12 stock-responses">
                                                                <div>
                                                                    <input type="text" class="form-control" placeholder="Filter Stock Responses">
                                                                </div>
                                                                <ul class="list-unstyled segment-variable-list">
                                                                    <li class="section-label">Segment Responses
                                                                    <ul class="segment-variables">
                                                                        <li class="section-var-link">Chat Closing</li>
                                                                        <li class="section-var-link">Chat Opening</li>
                                                                        <li class="section-var-link">Chat Wait</li>
                                                                        <li class="section-var-link">iService Website</li>
                                                                    </ul>
                                                                    </li>
                                                                </ul>
                                                                <ul class="list-unstyled segment-variable-list">
                                                                    <li class="section-label">Agent Response
                                                                    <ul class="segment-variables">
                                                                        <li class="section-var-link">Test</li>
                                                                        
                                                                    </ul>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                 </div>
                                                <!-- /.tab-content -->
                                             </div>
                                        </div>
								    </div>
							    </div> 
						    </div>
						    <div class="col-md-4">

						    </div>
                        </div>                         
                    </div>
                    <!-- /.col -->               
                </div>
                <!-- /.row -->
    <!-- END ACCORDION & CAROUSEL-->
            </section>
        </div>
        <!-- /.content-wrapper -->
        {% include common-footer.html %}
        <!-- Control Sidebar -->
        {% include right-panel-setting-menu.html %}
		<!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->
    {% include common-javascript.html %}
	<script>
	   $(function ()
       {
	       // SLIMSCROLL FOR CHAT WIDGET
			  $('#variable-box').slimScroll({
				height: '250px'
			  });
			  $('#stock-responses').slimScroll({
				height: '250px'
			  });
 
       });
       angular.module('iService').controller('myCtrl', function ($scope, $log, $compile, DTOptionsBuilder, DTColumnDefBuilder)
        {

        });
	</script>
</body>
</html>
