---
title: Customer Info Contact History
---
<!DOCTYPE html>
<html ng-app="iService">
<head>
    {% include common-head.html %}

</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        {% include common-header.html %}
        {% include common-menu.html %}
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    {{ page.title }}
                </h1>
            </section>
  <!-- Main content -->
            <section class="content">
                <!-- START CUSTOM TABS -->
               
                <div class="row">
                    <div class="col-md-12">
                        <!-- Custom Tabs -->
						<div class="row">
							<h2 class="col-xs-12 col-sm-8 col-md-10 ">Contact History</h2>
						</div>
                        <div class="row">
						  <div class="col-md-12">
                            <div class="box box-info">
								<div class="box-header with-border">
								  <i class="fa fa-history"></i>
								  <h3 class="box-title head-title-padding">History</h3>
								<div class="btn-group pull-right" id="realtime" data-toggle="btn-toggle">
								  <button type="button" class="btn btn-primary " data-toggle="on">Chronological View</button>
								  <button type="button" class="btn btn-default" data-toggle="off">Case View</button>
								</div>
								</div>
								<!-- /.box-header -->
								<!-- form start -->
								  <div class="box-body table-responsive ">
									 
									  <table id="example1" class="table  table-striped table-hover ">
										 <thead>
										  <tr>
											<th style="width: 16px" class="no-sort"  name="name"></th>
											<th class="text-capitalize">
											 Subject <br>
											 <input type="text"  id="subject" class="form-control" onclick="stopPropagation(event);
											 ">
											</th>
											<th class="text-capitalize" >
											  Topic
											  <select id="selectTopic" class="form-control datatable-input"  onclick="stopPropagation(event);"><option></option></select>
											</th>
											<th class="text-capitalize" >
											  Status
											  <select id="selectStatus" class="form-control datatable-input"  onclick="stopPropagation(event);"><option></option></select>
											</th>
											<th class="text-capitalize" >
											  Type
											  <select id="selectType" class="form-control datatable-input"  onclick="stopPropagation(event);"><option></option></select>
											</th>
											<th class="text-capitalize">
											  Username
											  <input type="text" id="username" class="form-control datatable-input" onclick="stopPropagation(event);">
											</th>
											<th class="text-capitalize">
											  Properties
											  <input type="text" id="properties" class="form-control datatable-input" onclick="stopPropagation(event);">
											</th>
											<th class="text-capitalize">
											 Date
											</th>
										  </tr>
										</thead>  
										<tbody>
										  <tr >
											<td style="width: 16px" name="name">
											  <button class="btn btn-xs btn-link text-default btn-expand" title="Operations" ng-click="toggleRow(row)">
												<i class="fa fa-plus-circle" ng-show="!row.expanded"></i>
											  </button>
											</td>
											<td class="">
											 [ref#: 326-326] System access request for Test2 Test2
											</td>
											<td class="">
											 Manual
											</td>
											<td class="">
											  <small class="label bg-green">Sent</small>
											</td>
											<td class="">
											  <small class="label bg-teal">Ask Question</small>
											</td>
											<td class="">
											 Steve
											</td>
											<td class="">
											--
											</td>
											<td class="">
											 2 Days ago
											</td>
										  </tr>
										  <tr >
											<td style="width: 16px" name="name">
											  <button class="btn btn-xs btn-link text-default btn-expand" title="Operations" ng-click="toggleRow(row)">
												<i class="fa fa-plus-circle" ng-show="!row.expanded"></i>
											  </button>
											</td>
											<td class="">
											 [ref#: 326-326] access request for test1 
											</td>
											<td class="">
											 Manual
											</td>
											<td class="">
											  <small class="label bg-red">Unsent</small>
											</td>
											<td class="">
											  <small class="label bg-light-blue">Agent Email</small>
											</td>
											<td class="">
											 Steve
											</td>
											<td class="">
											--
											</td>
											<td class="">
											 2 Days ago
											</td>
										  </tr>
										  <tr >
											<td style="width: 16px" name="name">
											  <button class="btn btn-xs btn-link text-default btn-expand" title="Operations" ng-click="toggleRow(row)">
												<i class="fa fa-plus-circle" ng-show="!row.expanded"></i>
											  </button>
											</td>
											<td class="">
											 [ref#: 326-326] asq question email testing
											</td>
											<td class="">
											 Games code
											</td>
											<td class="">
											  <small class="label bg-yellow">Unassigned</small>
											</td>
											<td class="">
											  <small class="label bg-teal">Ask Question</small>
											</td>
											<td class="">
											 Adam 
											</td>
											<td class="">
											--
											</td>
											<td class="">
											 4 Days ago
											</td>
										  </tr>
										   <tr >
											<td style="width: 16px" name="name">
											  <button class="btn btn-xs btn-link text-default btn-expand" title="Operations" ng-click="toggleRow(row)">
												<i class="fa fa-plus-circle" ng-show="!row.expanded"></i>
											  </button>
											</td>
											<td class="">
											 [ref#: 326-326] asq question email testing
											</td>
											<td class="">
											 Games code
											</td>
											<td class="">
											  <small class="label label-info">Queued</small>
											</td>
											<td class="">
											  <small class="label bg-light-blue">Agent Email</small>
											</td>
											<td class="">
											 Adam 
											</td>
											<td class="">
											--
											</td>
											<td class="">
											 5 Days ago
											</td>
										  </tr>
										</tbody>
									  </table>
                   
								  </div>
							  </div> 
						  </div>
						  <div class="col-md-4">

						  </div>
                        </div>                         
                    </div>
                    <!-- /.col -->

                
                </div>
                <!-- /.row -->
    <!-- END ACCORDION & CAROUSEL-->
	
            </section>
         
        </div>
        <!-- /.content-wrapper -->
        {% include common-footer.html %}
        <!-- Control Sidebar -->
        {% include right-panel-setting-menu.html %}
		<!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->
    {% include common-javascript.html %}
       <!-- DataTables -->
	<script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="../../plugins/datatables/dataTables.bootstrap.min.js"></script>
	
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/filter-control/bootstrap-table-filter-control.js"></script>

  
	<script>
	$(document).ready(function() {
    // DataTable
    var table = $('#example1').DataTable( {
        "order": [],
		"columnDefs": [ {
		  "targets"  : 'no-sort',
		  "orderable": false,
		}
		
		]
}
);
 
   	$('#subject').on( 'keyup', function () {
    table
        .columns(1)
        .search( this.value )
        .draw();
	} );
	
	$("#selectTopic").each( function (i) {
        var select = $('#selectTopic')
            .on( 'change', function () {
                table.column(2)
                    .search($(this).val())
                    .draw();
            } );
        table.column(2).data().unique().sort().each( function ( d, j ) {
            select.append( "<option value='"+d+"'>"+d+"</option>" )
        } );
    } );
	$("#selectStatus").each( function (i) {
        var select = $('#selectStatus')
            .on( 'change', function () {
                table.column(3)
                    .search($(this).val())
                    .draw();
            } );
        table.column(3).data().unique().sort().each( function ( d, j ) {
            select.append( "<option value='"+$(d).text()+"'>"+$(d).text()+"</option>" )
        } );
    } );
	$("#selectType").each( function (i) {
        var select = $('#selectType')
            .on( 'change', function () {
                table.column(4)
                    .search($(this).val())
                    .draw();
            } );
        table.column(4).data().unique().sort().each( function ( d, j ) {
            select.append( "<option value='"+$(d).text()+"'>"+$(d).text()+"</option>" )
        } );
    } );
	
	
} );

function stopPropagation(evt) {
	if (evt.stopPropagation !== undefined) {
	evt.stopPropagation();
	} else {
	evt.cancelBubble = true;
	}
}
	</script>
</body>
</html>
