---
title: Adjustment Request Form
---
<!DOCTYPE html>
<html ng-app="iService">
<head>
  {% include common-head.html %}
 
</head>
<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">
    {% include common-header.html %}
    {% include common-menu.html %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          {{ page.title }}
          <i class="fa fa-question-circle text-info help-icon" popover-placement="auto bottom-left" uib-popover-template="'submitCreditMemoPopover.html'" type="button"  popover-trigger="outsideClick"></i>
        </h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
          <li class="active">Custom Forms</li>
          <li class="active"> {{ page.title }}</li>
        </ol>
      </section>
      <!-- Main content -->
      <section class="content" ng-controller="myCtrl">
        <div class="row">
          <div class="col-md-12">
            <div class="box">
           
              <div class="box-body">
                  <p>This form is used to submit adjustment requests to carrier or customer accounts. You will receive an automated acknowledgement after your form is submitted, and will receive an email from the Finance department when the adjustment has been approved and entered.</p>
                 <div class="row"> 
                    <div class="form-group col-md-6">
                      <label for="inputEmail4">Are you submitting a Customer or Carrier adjustment?</label>
                      <select id="inputState" class="form-control" ng-model="adjustmentType">
                      <option value="">Choose...</option>
                      <option value="customer">Customer Adjustment</option>
                      <option value="carrier">Carrier Adjustment</option>
                      </select>
                  </div> 
                </div> 

                  <div class="box box-primary" ng-cloak ng-if="adjustmentType != '' && adjustmentType === 'carrier' || adjustmentType === 'customer' ">
                    <div class="box-header with-border">
                      <h3 class="box-title">Enter Your Details</h3>
                    </div>
                    <div class="box-body"> 
                      <div class="row">
                        <div class="col-md-12 form-horizontal">
                          <div class="form-group">
                            <label class="col-sm-12 control-label text-left"></label>
                          </div>  
                        
                          <div class="form-group">
                            <label class="col-sm-2 control-label text-left"> PRO Number <span class="required">*</span></label>
                            <div class="col-sm-6">
                              <input type="text" class="form-control">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-sm-2 control-label text-left">Delivery Date  <span class="required">*</span></label>
                            <div class="col-sm-6">
                              <div class="input-group date">
                                <div class="input-group-addon" ng-click="isDatepickerOpen = !isDatepickerOpen">
                                  <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right"  ng-focus="isDatepickerOpen = !isDatepickerOpen" uib-datepicker-popup="yyyy-MM-dd" ng-model="date" is-open="isDatepickerOpen" datepicker-options="datepickerOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats">
                              </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-sm-2 control-label text-left"> Team  <span class="required">*</span></label>
                            <div class="col-sm-6">
                              <select  class="form-control">
                                <option label="" value="">Please select team</option>
                                <option label="" value="">Yes</option>
                                <option label="" value="">No</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>   
                    </div> 
                  </div>

                  <div class="box box-primary" ng-cloak ng-if="adjustmentType === 'carrier' && adjustmentType != ''">
                    <div class="box-header with-border">
                      <h3 class="box-title">Enter Carrier Details</h3>
                    </div>
                    <div class="box-body"> 
                      <div class="row">
                        <div class="col-md-12 form-horizontal">
                          <div class="form-group">
                            <label class="col-sm-12 control-label text-left"></label>
                          </div>  
                          <div class="form-group">
                            <label class="col-sm-2 control-label text-left">Carrier Name</label>
                            <div class="col-sm-6">
                              <input type="text" class="form-control">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-sm-2 control-label text-left">Carrier Code</label>
                            <div class="col-sm-6">
                              <input type="text" class="form-control">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-sm-2 control-label text-left">Carrier Adjustment Amount (AR)</label>
                            <div class="col-sm-6">
                              <input type="text" class="form-control">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-sm-2 control-label text-left">Is this an increase or decrease to billing?</label>
                            <div class="col-sm-6">
                              <select  class="form-control">
                                <option label="" value="">Please select</option>
                                <option label="" value="">Increase</option>
                                <option label="" value="">Decrease</option>
                              </select>
                            </div>
                          </div>
                        
                          <div class="form-group">
                            <label class="col-sm-2 control-label text-left">Reason</label>
                            <div class="col-sm-6">
                              <select  class="form-control">
                                <option label="" value="">Please select</option>
                                <option label="" value="">Yes</option>
                                <option label="" value="">No</option>
                              </select>
                            </div>
                          </div>


                          <div class="form-group">
                            <label class="col-sm-2 control-label text-left">Reason Detail</label>
                            <div class="col-sm-6">
                            <textarea class="form-control"></textarea>
                            </div>
                          </div>
                        
                        </div>
                      </div>   
                    </div> 
                  </div>


                  <div class="box box-primary" ng-cloak ng-if="adjustmentType === 'customer' && adjustmentType != ''">
                    <div class="box-header with-border">
                      <h3 class="box-title">Enter Customer Details</h3>
                    </div>
                    <div class="box-body"> 
                      <div class="row">
                        <div class="col-md-12 form-horizontal">
                          <div class="form-group">
                            <label class="col-sm-12 control-label text-left"></label>
                          </div>  
                          <div class="form-group">
                            <label class="col-sm-2 control-label text-left">Customer Name</label>
                            <div class="col-sm-6">
                              <input type="text" class="form-control">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-sm-2 control-label text-left">Customer Code</label>
                            <div class="col-sm-6">
                              <input type="text" class="form-control">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-sm-2 control-label text-left">Customer Adjument Amount (AR)</label>
                            <div class="col-sm-6">
                              <input type="text" class="form-control">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-sm-2 control-label text-left">Is this an increase or decrease to billing?</label>
                            <div class="col-sm-6">
                              <select  class="form-control">
                                <option label="" value="">Please select</option>
                                <option label="" value="">Increase</option>
                                <option label="" value="">Decrease</option>
                              </select>
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-sm-2 control-label text-left">Reason</label>
                            <div class="col-sm-6">
                              <select  class="form-control">
                                <option label="" value="">Please select</option>
                                <option label="" value="">Yes</option>
                                <option label="" value="">No</option>
                              </select>
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-sm-2 control-label text-left">Reason Detail</label>
                            <div class="col-sm-6">
                            <textarea class="form-control"></textarea>
                            </div>
                          </div>
                        </div>
                      </div>   
                    </div> 
                  </div>

                  <div class="row mtop-15" ng-cloak ng-if="adjustmentType != '' && adjustmentType === 'carrier' || adjustmentType === 'customer' ">
                    <div class="col-md-12">
                      <button type="button" class="btn btn-primary margin-r-5">Submit Request</button>
                      <button type="button" class="btn btn-link margin-r-5">Cancel</button>
                    </div>
                  </div>  

              </div>    
            </div>  
          </div>  
        </div>
      </section>
    </div>
    <!-- /.content-wrapper -->
    {% include common-footer.html %}
    <!-- Control Sidebar -->
    {% include right-panel-setting-menu.html %}
	<!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
  </div>
  <!-- ./wrapper -->
  {% include common-javascript.html %}
  
	<script>
		angular.module('iService').controller('myCtrl', function ($scope) {
				$scope.toggleSegmentCollapsedState = function (segmentName)
				{ 
					$scope[segmentName] = !$scope[segmentName];
        };
        
        $scope.proItemList = [];
        $scope.proFormItem = function() {
          let data = $scope.proItemList.find(ob => ob.number === $scope.newpronumber);
          if(data){
            $scope.alertmessage = "Pro Number already exist";
            return;
          }
          $scope.alertmessage = '';
          $scope.proItemList.push({'number': $scope.newpronumber});
          $scope.newpronumber = '';
        }
        $scope.deleteProItem = function(index) {	
          $scope.proItemList.splice(index, 1);
        }

		});

    angular.module('iService').controller('ListCtrl', function ($scope, $http, $timeout, $interval) {
		  var vm = this;
			vm.availableLists = [
					{List: 'WG Dispatch'},
					{List: 'WG SMF'},
				
			];
			vm.multipleDemo = {};
			vm.multipleDemo.topics = [{Topic: 'WG Dispatch'},
					{List: 'WG SMF'}];
		});

    app.controller('TopicCtrl', function ($scope, $http, $timeout, $interval) {
      var vm = this;
      vm.topicselected = {selected : "e-shop -- All Topics"};
        vm.topic = [
            {name: 'e-shop -- All Topics',topiclevel:0, disabled: '', segment:"Segment"},
            {name: '_Feedback',topiclevel:1, disabled: 'false', segment:"Segment"},
            {name: '_Newsletter Subscription ',topiclevel:1, disabled: 'disabled', segment:"Segment"},
            {name: '_Spam',topiclevel:1, disabled: '', segment:"Segment"},
            {name: '_Undeliverable',topiclevel:1, disabled: '', segment:"Segment"},
            {name: 'Account Questions',topiclevel:0, disabled: '', segment:"Segment"},
            {name: 'Orders',topiclevel:1, disabled: '', segment:"Segment"},
            {name: 'Refunds',topiclevel:1, disabled: 'disabled', segment:"Segment"},
            {name: 'Returns',topiclevel:1, disabled: '', segment:"Segment"},
            {name: 'Products',topiclevel:0, disabled: '', segment:"Segment"},
            {name: 'Audio-Video',topiclevel:1, disabled: '', segment:"Segment"},
            {name: 'Cameras',topiclevel:1, disabled: '', segment:"Segment"},
            {name: 'Cell Phones',topiclevel:1, disabled: '', segment:"Segment"},
            {name: 'Computers',topiclevel:1, disabled: '', segment:"Segment"},
            {name: 'Televisions',topiclevel:1, disabled: '', segment:"Segment"},
            {name: 'Shipping',topiclevel:1, disabled: '', segment:"Segment"},
            {name: 'Technical Support',topiclevel:1, disabled: '', segment:"Segment"},
            {name: 'Open Quotes',topiclevel:1, disabled: '', segment:"Segment"}
        ];
    });
    
    app.controller('CCLineCtrl', function ($scope, $http, $timeout, $interval) {
      var vm = this;
      vm.cclistselected = {selected : "Search list to add group to cc line"};
			vm.cclist = [
					{name: 'Dispatch'},
					{name: 'Service'},
			];
		});
	</script>
</body>
</html>
