---
title: Interaction Type and Status Labels
---
<!DOCTYPE html>
<html ng-app="iService">
<head>
    {% include common-head.html %}
</head>
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">
        {% include common-header.html %}
        {% include common-menu.html %}
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    {{ page.title }}
				</h1>
				<ol class="breadcrumb">
					<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
					<li class="active">Pages</li>
					<li class="active"> {{ page.title }}</li>
				</ol>
            </section>
  			<!-- Main content -->
            <section class="content">
                <!-- START CUSTOM TABS -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- Custom Tabs -->
                        <div class="row">
						  	<div class="col-md-12">
								<div class="box box-info">
									<div class="box-header with-border">
										<i class="fa fa-history"></i>
										<h3 class="box-title head-title-padding">Interaction Type and Status Icons</h3>
									</div>
									<!-- /.box-header -->
									<!-- form start -->
									<div class="box-body table-responsive">
										<table id="example1" class="table">
											<thead>
												<tr>
													
													<th class="text-capitalize">
														Interaction Type
													</th>
													<th class="no-sort">Valid Statuses For Type</th>
													<th class="text-capitalize">
														&nbsp;
													</th>
												</tr>
											</thead>  
											<tbody>
												<tr class="bg-system"> 
													<td colspan="3" text-align="left"><b>System Generated Responses (Notifications)</b></td>
												</tr>
												<tr>
													
													<td>
														<small class="bg-gray-disabled label label-with-icon"> 
															<i class="fa icon-c icon-agent-notification-2"></i>
															 Agent Notification
														</small>
													</td>
													<td>
														<small class="bg-green-active label">Sent</small> 
													</td>
													<td>
														<i class="bg-gray-disabled fa icon-c icon-agent-notification-2 fa-icon-label"></i>
													</td>
												</tr>
												<tr>
													
													<td>
														<small class="bg-gray-disabled label label-with-icon">
														<i class="fa fa-reply "></i>
														Message Acknowledgment</small>
													</td>
													<td>
													   <small class="bg-green-active label">Sent</small> 
													</td>
													<td>
														<i class="bg-gray-disabled fa fa-reply fa-icon-label" uib-tooltip="Message Acknowledgment" tooltip-placement="left"></i>
													</td>
												</tr>
												<tr>
													
													<td>
														<small class="bg-gray-disabled label label-with-icon">
															<i class="fa fa-address-book-o "></i>
														Contact Creation</small>
													</td>
													<td>
														<small class="bg-green-active label">Sent</small> 
													</td>
													<td>
														<i class="bg-gray-disabled fa fa-address-book-o fa-icon-label" uib-tooltip="Contact Creation" tooltip-placement="left"></i>
													</td>
												</tr> 
												<tr>
													
													<td>
														<small class="bg-gray-disabled label label-with-icon">
															<i class="fa icon-c icon-external-notification-1"></i>
															External Agent Notification
														</small>
													</td>
													<td>
														<small class="bg-green-active label">Sent</small> 
													</td>
													<td>
														<i class="bg-gray-disabled fa icon-c icon-external-notification-1 fa-icon-label" uib-tooltip="External Agent Notification" tooltip-placement="left"></i>
													</td>
												</tr>
												
												<tr>
													
													<td>
														<small class="bg-gray-disabled label label-with-icon">
															<i class="fa icon-c icon-find-answer-update"></i>
															Find Answers Article Update
														</small>
													</td>
													<td>
														<small class="bg-green-active label">Sent</small> 
													</td>
													<td>
														<i class="bg-gray-disabled fa icon-c icon-find-answer-update fa-icon-label" uib-tooltip="Find Answers Article Update" tooltip-placement="left"></i>
													</td>
												</tr>
												<tr>
													<td>
														<small class="bg-gray-disabled label label-with-icon">
														<i class="fa fa-key"></i>
														Password Reset</small>
													</td>
													<td>
														<small class="bg-green-active label">Sent</small> 
													</td>
													<td>
														<i class="bg-gray-disabled fa fa-key fa-icon-label" uib-tooltip="Password Reset" tooltip-placement="left"></i>
													</td>
												</tr>
												<tr>
													<td>
														<small class="bg-gray-disabled label label-with-icon">
														<i class="fa fa-exclamation-triangle"></i>
														Alert</small>
													</td>
													<td>
														<small class="bg-green-active label">Sent</small> 
													</td>
													<td>
														<i class="bg-gray-disabled fa fa-exclamation-triangle fa-icon-label" uib-tooltip="Alert" tooltip-placement="left"></i>
													</td>
												</tr>						
												<tr>
													<td>
														<small class="label bg-gray-disabled label-with-icon">
														<i class="fa fa-bell"></i>
														Secure Notification</small>
													</td>
													<td>
														<small class="bg-green-active label">Sent</small> 
													</td>
													<td>
														<i class="fa fa-bell fa-icon-label bg-gray-disabled" uib-tooltip="Secure Notification" tooltip-placement="left"></i>
													</td>
												</tr>
												<tr class="bg-system"> 
													<td colspan="3" text-align="left"><b>System Generated Responses (No Notifications Template)</b></td>
												</tr>
												<tr>
													<td>
														<small class="bg-gray-disabled label label-with-icon"> 
															<i class="fa icon-c icon-secure-email"></i>
															Private Email
														</small>
													</td>
													<td>
														<small class="bg-green-active label">Resolved</small> 
													</td>
													<td>
														<i class="bg-gray-disabled fa icon-c icon-secure-email fa-icon-label"></i>
													</td>
												</tr>
												<tr class="bg-questions"> 
												  	
												   <td colspan="3"><b>Questions</b></td>
												</tr>
												<tr class="bg-questions"> 
													<td>
														<small class="label label-with-icon bg-blue">
														<i class="fa fa-envelope"></i>
														Customer Email</small>
													</td>
													<td>
														<small class="bg-red label">Unassigned</small>
														<small class="bg-red-disabled label">Queued</small>
														<small class="bg-yellow-disabled label">Pending</small>
														<small class="bg-green-active label">Resolved</small> 
													</td>
													<td>
														<i class="fa fa-envelope fa-icon-label bg-blue" uib-tooltip="Customer Email" tooltip-placement="left"></i>
													</td>
												</tr>
												<tr class="bg-questions"> 
													
													<td>
														<small class="label label-with-icon bg-blue">
														<i class="fa fa-ticket"></i>
														Agent Ticket</small>
													</td>
													<td>
														<small class="bg-red label">Unassigned</small>
														<small class="bg-red-disabled label">Queued</small>
														<small class="bg-yellow-disabled label">Pending</small>
														<small class="bg-green-active label">Resolved</small>
													</td>
													<td>
														<i class="fa fa-ticket fa-icon-label bg-blue" uib-tooltip="Agent Ticket" tooltip-placement="left"></i>
													</td>
												</tr>
												<tr class="bg-questions"> 
													<td>
														<small class="label bg-blue label-with-icon"> 
															<i class="fa icon-c icon-customer-ticket"></i>
															Customer Ticket
														</small>
													</td>
													<td>
														<small class="bg-red label">Unassigned</small>
														<small class="bg-red-disabled label">Queued</small>
														<small class="bg-yellow-disabled label">Pending</small>
														<small class="bg-green-active label">Resolved</small>
													</td>
													<td>
														<i class="fa icon-c icon-customer-ticket fa-icon-label bg-blue" uib-tooltip="Customer Ticket" tooltip-placement="left"></i>
													</td>
												</tr>
												<tr class="bg-questions"> 
													<td>
														<small class="label bg-blue disabled label-with-icon">
														<i class="fa fa-comments"></i>
														Chat</small>
													</td>
													<td>
														<small class="bg-red-disabled label">Chat Waiting</small>
														<small class="bg-green label">Chat In Progress</small> 
														<small class="bg-green-active label">Resolved</small>
													</td>
													<td>
														<i class="fa fa-comments fa-icon-label bg-blue" uib-tooltip="Chat" tooltip-placement="left"></i>
													</td>
												</tr>
												<tr class="bg-answers-sent"> 
													<td colspan="3"><b>Answers (Message-sent)</b></td>
												</tr>
												<tr class="bg-answers-sent"> 
													<td>
														<small class="label bg-green label-with-icon"> 
															<i class="fa icon-c icon-agent-email-3"></i>
															Agent Email
														</small>
													</td>
													<td>
														<small class="bg-green-active label">Sent</small> 
														<small class="bg-green-disabled label">Sent Waiting Reply</small>
													</td>
													<td>
														<i class="fa icon-c icon-agent-email-3 fa-icon-label bg-green" uib-tooltip="Agent Email" tooltip-placement="left"></i>
													</td>
												</tr>
												<tr class="bg-answers-sent"> 
													<td>
														<small class="label bg-green label-with-icon"> 
															<i class="fa icon-c icon-agent-response"></i>
															Agent Response
														</small>
													</td>
													<td>
														<small class="bg-green-active label">Sent</small> 
														<small class="bg-green-disabled label">Sent Waiting Reply</small>
													</td>
													<td>
														<i class="fa icon-c icon-agent-response fa-icon-label bg-green" uib-tooltip="Agent Response" tooltip-placement="left"></i>
														
													</td>
												</tr>
											
												<tr class="bg-answers-sent">
													<td>
														
														<small class="label bg-green label-with-icon"> 
																<i class="fa icon-c icon-secure-email"></i>
																Secure Email
														</small>
													</td>

													<td>
														<small class="bg-green-active label">Sent</small> 
														<small class="bg-green-disabled label">Sent Waiting Reply</small>
													</td>
													<td>
														<i class="fa icon-c icon-secure-email fa-icon-label bg-green" uib-tooltip="Secure Email" tooltip-placement="left"></i>
													</td>
												</tr>
												<tr class="bg-answers-sent">
													<td>
														<small class="label bg-green label-with-icon"> 
															<i class="fa icon-c icon-secure-response"></i>
															 Secure Response
														</small>
													</td>
													<td>
														<small class="bg-green-active label">Sent</small> 
														<small class="bg-green-disabled label">Sent Waiting Reply</small>
													</td>
													<td>
														<i class="fa icon-c icon-secure-response fa-icon-label bg-green"></i>
													</td>
												</tr>	
												<tr class="bg-answers-sent">
													<td>
														<small class="label label-with-icon bg-green">
														<i class="fa fa-envelope "></i>
														Mass Mailing</small>
													</td>
													<td>
														<small class="bg-green-active label">Sent</small> 
													</td>
													<td>
														<i class="fa fa-envelope fa-icon-label bg-green" uib-tooltip="Mass Mailing" tooltip-placement="left"></i>
													</td>
												</tr>
											<tr class="bg-answers"> 
												<td colspan="3"><b>Answers( No message sent)</b></td>
											</tr>
											<tr class="bg-answers">
												<td>
													<small class="label bg-teal-active label-with-icon"> 
															<i class="fa icon-c icon-public-note"></i>
															Public Note
													</small>
												</td>
												<td>
													<small class="bg-green-active label">Completed</small> 
												</td>
												<td>
													<i class="fa icon-c icon-public-note fa-icon-label bg-teal-active" uib-tooltip="Public Note" tooltip-placement="left"></i>
												</td>
											</tr>
											<tr class="bg-answers">
												<td>
													<small class="label bg-teal-active label-with-icon"> 
															<i class="fa icon-c icon-private-note"></i>
															Private Note
													</small>
												</td>
												<td>
													<small class="bg-green-active label">Completed</small> 
												</td>
												<td>
														<i class="fa icon-c icon-private-note fa-icon-label bg-teal-active" uib-tooltip="Private Note" tooltip-placement="left"></i>
												</td>
											</tr>
											<tr class="bg-answers">
												<td>
													
													<small class="label bg-teal-active label-with-icon"> 
															<i class="fa icon-c icon-resolve-note"></i>
															Resolve Note
													</small>
												</td>
												<td>
													<small class="bg-green-active label">Completed</small> 
												</td>

												<td>
												  <i class="fa icon-c icon-resolve-note fa-icon-label bg-teal-active" uib-tooltip="Resolve Note" tooltip-placement="left"></i>
												
												</td>
											</tr>
											<tr class="bg-answers">
												<td>
													<small class="label bg-teal-active label-with-icon"> 
															<i class="fa icon-c icon-unsent-response"></i>
															Unsent Response
													</small>
												</td>
												<td>
													<small class="bg-red label">Unsent</small>
												</td>
												<td>
													<i class="fa icon-c icon-unsent-response fa-icon-label bg-teal-active" uib-tooltip="Unsent Response" tooltip-placement="left"></i>
												
												</td>
											</tr>
											<tr class="bg-answers">
												<td>
													<small class="label bg-teal-active label-with-icon">
													<i class="fa fa-search"></i>
													Find Answer Article</small>
												</td>
												<td>
													<small class="bg-green-active label">Completed</small> 
												</td>
												<td>
													<i class="fa fa-search fa-icon-label bg-teal-active" uib-tooltip="Find Answer Article" tooltip-placement="left"></i>
												</td>
											</tr>
											
											</tbody>
										</table>
									</div>
								</div> 
						  	</div>
						  <div class="col-md-4"></div>
                        </div>                         
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
    			<!-- END ACCORDION & CAROUSEL-->
            </section>
        </div>
        <!-- /.content-wrapper -->
        {% include common-footer.html %}
        <!-- Control Sidebar -->
        {% include right-panel-setting-menu.html %}    
		<!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->
    {% include common-javascript.html %}
       <!-- DataTables -->
<script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../../plugins/datatables/dataTables.bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/filter-control/bootstrap-table-filter-control.js"></script>
<script>
	$(document).ready(function() {
    // DataTable
		var table = $('#example1q').DataTable( {
			"order": [],
			"columnDefs": [ {
			"targets"  : 'no-sort',
			"orderable": false,
			"width":"30px"
			}]
		});
 	
	} );

	function stopPropagation(evt) {
		if (evt.stopPropagation !== undefined) {
		evt.stopPropagation();
		} else {
		evt.cancelBubble = true;
		}
	}
	</script>
</body>
</html>
