---
title: Live Chat
---
<!DOCTYPE html>
<html ng-app="iService">
<head>
    {% include common-head.html %}

</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
			{% include common-header.html %}
			{% include common-menu.html %}
			<!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
				<!-- Content Header (Page header) -->
				<section class="content-header">
					<h1>
							{{ page.title }}
					</h1>
					<ol class="breadcrumb">
						<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
						<li class="active">Manage Work Queues</li>
						<li class="active"> {{ page.title }}</li>
					</ol>
				</section>
				<!-- Main content -->
				<section class="content" ng-controller="myCtrl">
					<div class="box box-solid">
						<div class="box-header with-border">
							<h3 class="box-title"> <i class="fa fa-comments"></i> My Active Chats</h3>
						</div>
						<div class="box-body">
							<div class="box-group">
								<div class="box box-primary">						
									<div class="box-header with-border" ng-click="isCollapsedChatList = !isCollapsedChatList" ng-init="isCollapsedChatList = false;">
										<h3 class="box-title"> <i class="fa fa-user"></i> <a ng-href="" href="customer-info#/contact/25056/summary">
												john Doe
											</a><span class="horizontal-separator"></span>
											Topic: All Topics<span class="horizontal-separator"></span>
											<span ng-class="previewMessageClass(chat)" class="text-danger"></span></h3>
										    <span aria-hidden="true" class="glyphicon pull-right glyphicon-chevron-right" ng-class="{'glyphicon-chevron-right__expanded': !isCollapsedChatList}"></span>
									</div>
									<div class="box-body" uib-collapse="isCollapsedChatList">
										<div class="row"> 
											<div class="col-md-8">
													<!-- DIRECT CHAT -->
												<div class="box box-warning direct-chat direct-chat-warning">
														<div class="box-header with-border">
															<h3 class="box-title"><i class="fa fa-reply"></i> Chat Dialog</h3>	
															<div class="box-tools pull-right">
																<button class="btn btn-xs btn-danger ng-scope">
																	<i class="fa fa-fw fa-close"></i>
																	End
																</button>
																<div class="btn-group" uib-dropdown dropdown-append-to-body auto-close="outsideClick">
																	<button type="button" class="btn btn-primary btn-xs" uib-dropdown-toggle>
																		<i class="fa fa-mail-forward"></i>
																		Forward <span class="caret"></span>
																	</button>
																	<ul class="dropdown-menu dropdown-menu-btn-option dropdown-forward"  uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body" >
																		<li><a href="javascript:void(0)" class="text-primary"> Unassign Question</a></li>
																		<li ng-class="{'option-selected' : selectAgent}"><a href="javascript:void(0)" class="text-primary" ng-click="selectAgent = !selectAgent;forwardSegment=false;forwardExternalSegment=false;"> Forward To Agent</a>
																			<div class="btn-list-options form-group" ng-show="selectAgent">
																				<div class="ng-cloak" ng-controller="AgentCtrl as ctrl">
																					<ui-select ng-model="ctrl.agentselected.selected" theme="select2" ng-disabled="ctrl.disabled" style="width: 300px;" title="Choose a agent">
																						<ui-select-match placeholder="Select or search a agent in the list..." ng-bind="$select.selected.name || $select.selected"></ui-select-match>
																						<ui-select-choices repeat="agent in ctrl.agentname | filter: $select.search">
																						<span ng-bind-html="agent.name | highlight: $select.search"></span>
																						<small ng-bind-html="agent.code | highlight: $select.search"></small>
																						<br>
																						email: <span ng-bind-html="agent.email | highlight: $select.search"></span>
																						</ui-select-choices>
																					</ui-select>
																				</div> 
																				<button class="btn btn-primary btn-xs">Assign To Agent</button>
																			</div>    
																		</li>
																	</ul>
																</div>
                  							                    <div class="btn-group" uib-dropdown dropdown-append-to-body auto-close="outsideClick">
																		<button class="btn btn-xs btn-primary" title="Spam"  uib-dropdown-toggle>
																			<i class="fa  fa-arrows-alt"></i>
																			Change Topic
																			<span class="caret"></span>
																		</button>

																		<ul class="dropdown-menu dropdown-menu-btn-option"  uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
																			<li>
																				<select class="changetopicselect form-control" multiple>
																					<option>e-shop -- All Topics(0)</option>
																					<option>.._Feedback (2)</option>
																					<option>.._Newsletter Subscription (0)</option>
																					<option>.._Spam (0)</option>
																					<option>.._Undeliverable (0)</option>
																					<option>..Account Questions (0)</option>
																					<option>....Orders (0)</option>
																					<option>....Refunds (0)</option>
																					<option>....Returns (0)</option>
																					<option>..Products(0)</option>
																					<option>....Audio-Video (0)</option>
																					<option>....Cameras (0)</option>
																					<option>....Cell Phones (0)</option>
																					<option>....Computers (0)</option>
																					<option>....Televisions(0)</option>
																					<option>..Shipping (0)</option>
																					<option>..Technical Support (0)</option>
																					<option>....Open Quotes (1)</option>
																				</select>
																			</li>
																		</ul>
																	</div>
															</div>
														</div>
															<!-- /.box-header -->
														<div class="box-body">
															<!-- Conversations are loaded here -->
															<div class="direct-chat-messages chat-box chat">
															<!-- Message. Default to the left -->
																<div class="direct-chat-msg">
																	<div class="direct-chat-info clearfix">
																		<span class="direct-chat-name pull-left">Alexander Pierce</span>
																	</div>
																	<!-- /.direct-chat-info -->
																	<div class="user-initials round no-select pull-left"  style="background-color: rgb(61, 185, 117);">AP</div>
																	<!-- /.direct-chat-img -->
																	<div class="direct-chat-text">
																		Is this template really for free? That's unbelievable!
																	</div>
																	<div class="clearfix"> </div> 
																	<span class="direct-chat-timestamp pull-left">5 min ago</span>
																	<!-- /.direct-chat-text -->
																</div>
																<!-- /.direct-chat-msg -->

																<!-- Message to the right -->
																<div class="direct-chat-msg right">
																	<div class="direct-chat-info clearfix">
																		<span class="direct-chat-name pull-right">Sarah Bullock</span>
																	</div>
																	<!-- /.direct-chat-info -->
																	<div class="user-initials round no-select pull-right"  style="background-color: rgb(73, 60, 96);">SB</div>
																	<!-- /.direct-chat-img -->
																	<div class="direct-chat-text">
																		You better believe it!
																	</div>
																
																	<div class="clearfix"></div>
																	<span class="direct-chat-timestamp pull-right">3 min ago</span>
																	<!-- /.direct-chat-text -->
																</div>
																<!-- /.direct-chat-msg -->

																<!-- Message. Default to the left -->
																<div class="direct-chat-msg">
																	<div class="direct-chat-info clearfix">
																		<span class="direct-chat-name pull-left">Alexander Pierce</span>
																	</div>
																	<!-- /.direct-chat-info -->
																	<div class="user-initials round no-select pull-left"  style="background-color: rgb(61, 185, 117);">AP</div>
																	<!-- /.direct-chat-img -->
																	<div class="direct-chat-text">
																		Working with AdminLTE on a great new app! Wanna join?
																	</div>
																	<div class="clearfix"></div>
																	<span class="direct-chat-timestamp pull-left">2 min ago</span>
																	
																	<!-- /.direct-chat-text -->
																</div>
															<!-- /.direct-chat-msg -->
															<!-- Message to the right -->
															<div class="direct-chat-msg right">
																<div class="direct-chat-info clearfix">
																	<span class="direct-chat-name pull-right">Sarah Bullock</span>
																</div>
																<!-- /.direct-chat-info -->
																<div class="user-initials round no-select pull-right"  style="background-color: rgb(73, 60, 96);">SB</div>
																<!-- /.direct-chat-img -->
																<div class="direct-chat-text">
																	I would love to.
																</div>
																<div class="clearfix"></div> 
																<span class="direct-chat-timestamp pull-right">now</span>
																
																<!-- /.direct-chat-text -->
															</div>
															<!-- /.direct-chat-msg -->

															</div>
															<!--/.direct-chat-messages-->

															<!-- Contacts are loaded here -->
															<div class="direct-chat-contacts">
																<ul class="contacts-list">
																	<li>
																		<a href="#">
																			<img class="contacts-list-img" src="/dist/img/user1-128x128.jpg" alt="User Image">

																			<div class="contacts-list-info">
																				<span class="contacts-list-name">
																					Count Dracula
																					<small class="contacts-list-date pull-right">2/28/2015</small>
																				</span>
																			<span class="contacts-list-msg">How have you been? I was...</span>
																			</div>
																			<!-- /.contacts-list-info -->
																		</a>
																	</li>
																	<!-- End Contact Item -->
																	<li>
																		<a href="#">
																			<img class="contacts-list-img" src="/dist/img/user7-128x128.jpg" alt="User Image">

																			<div class="contacts-list-info">
																				<span class="contacts-list-name">
																					Sarah Doe
																					<small class="contacts-list-date pull-right">2/23/2015</small>
																				</span>
																			<span class="contacts-list-msg">I will be waiting for...</span>
																			</div>
																			<!-- /.contacts-list-info -->
																		</a>
																	</li>
																	<!-- End Contact Item -->
																	<li>
																		<a href="#">
																			<img class="contacts-list-img" src="/dist/img/user3-128x128.jpg" alt="User Image">

																			<div class="contacts-list-info">
																				<span class="contacts-list-name">
																					Nadia Jolie
																					<small class="contacts-list-date pull-right">2/20/2015</small>
																				</span>
																			<span class="contacts-list-msg">I'll call you back at...</span>
																			</div>
																			<!-- /.contacts-list-info -->
																		</a>
																	</li>
																	<!-- End Contact Item -->
																	<li>
																	<a href="#">
																		<img class="contacts-list-img" src="/dist/img/user5-128x128.jpg" alt="User Image">

																		<div class="contacts-list-info">
																			<span class="contacts-list-name">
																				Nora S. Vans
																				<small class="contacts-list-date pull-right">2/10/2015</small>
																			</span>
																		<span class="contacts-list-msg">Where is your new...</span>
																		</div>
																		<!-- /.contacts-list-info -->
																	</a>
																	</li>
																	<!-- End Contact Item -->
																	<li>
																	<a href="#">
																		<img class="contacts-list-img" src="/dist/img/user6-128x128.jpg" alt="User Image">

																		<div class="contacts-list-info">
																			<span class="contacts-list-name">
																				John K.
																				<small class="contacts-list-date pull-right">1/27/2015</small>
																			</span>
																		<span class="contacts-list-msg">Can I take a look at...</span>
																		</div>
																		<!-- /.contacts-list-info -->
																	</a>
																	</li>
																	<!-- End Contact Item -->
																	<li>
																	<a href="#">
																		<img class="contacts-list-img" src="/dist/img/user8-128x128.jpg" alt="User Image">

																		<div class="contacts-list-info">
																			<span class="contacts-list-name">
																				Kenneth M.
																				<small class="contacts-list-date pull-right">1/4/2015</small>
																			</span>
																	   	<span class="contacts-list-msg">Never mind I found...</span>
																		</div>
																		<!-- /.contacts-list-info -->
																	</a>
																	</li>
																	<!-- End Contact Item -->
																</ul>
															<!-- /.contatcts-list -->
															</div>
															<!-- /.direct-chat-pane -->
														</div>
														<!-- /.box-body -->
														<div class="box-footer">
															<form action="#" method="post">
																<div class="input-group">
																	<input type="text" name="message" placeholder="Type Message ..." class="form-control">
																	<span class="input-group-btn">
																		<button type="button" class="btn btn-warning btn-flat">Send</button>
																	</span>
																</div>
															</form>
														</div>
														<!-- /.box-footer-->
													<!--/.direct-chat -->
												</div>
											</div>		
											<div class="col-md-4">
												<div class="nav-tabs-custom">	
													<ul class="nav nav-tabs">
														<li class="active"><a href="#tab_1" data-toggle="tab"><i class="fa fa-fw fa-list"></i><span>Stock Responses</span></a></li>
													</ul>
													<div class="tab-content">
														<div class="tab-pane active" id="tab_1">
															<div class="row " id="stock-responses">
																<div class="col-xs-12 stock-responses">
																	<div>
																		<div class="input-group">
																			<input type="search" class="form-control input-sm">
																			<div class="input-group-addon">
																				<i class="fa fa-fw fa-search"></i>
																			</div>
																		</div>
																	</div>
																	<ul class="list-unstyled segment-variable-list">
																		<li class="section-label">Segment Responses
																			<ul class="segment-variables">
																			<li class="section-var-link">Chat Closing</li>
																			<li class="section-var-link">Chat Opening</li>
																			<li class="section-var-link">Chat Wait</li>
																			<li class="section-var-link">iService Website</li>
																			</ul>
																		</li>
																	</ul>
																	<ul class="list-unstyled segment-variable-list">
																		<li class="section-label">Agent Response
																			<ul class="segment-variables">
																			<li class="section-var-link">Test</li>
																			</ul>
																		</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
                        </div>
											</div>				
										</div>
									</div>	
								</div>	
							</div>	
				  	</div> 
				</div>
			</section>
      </div>
			<!-- /.content-wrapper -->
			{% include common-footer.html %}
			<!-- Control Sidebar -->
			{% include right-panel-setting-menu.html %}
			<!-- /.control-sidebar -->
			<!-- Add the sidebar's background. This div must be placed
						immediately after the control sidebar -->
      <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->
    {% include common-javascript.html %}
   
	
	 <script>
    var count = 1;
    var i = 1;
    angular.module('iService').controller('myCtrl', function ($scope, $log, $compile, DTOptionsBuilder, DTColumnDefBuilder)
    {

		});
		angular.module('iService').controller('AgentCtrl', function ($scope, $http, $timeout, $interval) {
			var vm = this;
			vm.agent = {};
			vm.agentselected = {selected : "Select or search for an agent in the list"};
			vm.agentname = [ 
				{name: 'Alek Packard' , email:'alek.packard@example.com', code: 'AP'},
				{name: 'Jacob Smith', email:'jacob.smith@example.com', code: 'JS'},
				{name: 'Jonie Hewlett', email:'jonie.hewlett@example.com', code: 'JH'},
				{name: 'Justin Time', email:'justin.time@example.com', code: 'JT'},
			];
		});

		angular.module('iService').controller('extAgentCtrl', function ($scope, $http, $timeout, $interval) {
			var vm = this;
			vm.agent = {};
			vm.agentselected = {selected : "Select or search for a notification template"};
			vm.agentname = [ 
				{name: 'Template 1'},
				{name: 'Template 2'},
		    ];
		});
	    
		angular.module('iService').controller('TopicCtrl', function ($scope, $http, $timeout, $interval) {
				var vm = this;
				vm.availableTopics = [
						{Topic: 'e-shop -- All Topics(0)'},
						{Topic: '.._Feedback (2)'},
						{Topic: '.._Newsletter Subscription (0)'},
						{Topic: '.._Spam (0)'},
						{Topic: '.._Undeliverable (0)'},
						{Topic: '..Account Questions (0)'},
						{Topic: '....Orders (0)'},
						{Topic: '....Refunds (0)'},
						{Topic: '....Returns (0)'},
						{Topic: '..Products(0)'},
						{Topic: '....Audio-Video (0)'},
						{Topic: '....Cameras (0)'},
						{Topic: '....Cell Phones (0)'},
						{Topic: '....Computers (0)'},
						{Topic: '....Televisions(0)'},
						{Topic: '..Shipping (0)'},
						{Topic: '..Technical Support (0)'},
						{Topic: '....Open Quotes (1)'}
					
				];
			vm.multipleDemo = {};
			vm.multipleDemo.topics = [{Topic: 'e-shop -- All Topics(0)'},
						{Topic: '.._Feedback (2)'}];
			});
			app.controller('DemoCtrl', function ($scope, $http, $timeout, $interval) {
			var vm = this;
			vm.segmentObj = {
				'1' : { name: '-Default Mail Box-', segmentname: 'QA' },
				'2' : { name: 'Push Bullet', segmentname: 'QA' },
				'3' : { name: '-Default Mail Box-', segmentname: 'QA2- Second Segment' },
				'4' : { name: 'Push Bullet', segmentname: 'QA2- Second Segment' },
			};
      vm.segmentselected = {selected : "Push Bullet"};
			vm.segment = [
				{ name: '-Default Mail Box-', segmentname: 'QA' },
				{ name: 'Push Bullet', segmentname: 'QA' },
				{ name: '-Default Mail Box-', segmentname: 'QA2- Second Segment' },
				{ name: 'Push Bullet',  segmentname: 'QA2- Second Segment' },
			];
		});
    


  </script>
</body>
</html>
