---
title: Logos
---
<!DOCTYPE html>
<html ng-app="iService">
<head>
    {% include common-head.html %}
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        {% include common-header.html %}
        {% include common-menu.html %}
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    {{ page.title }}
                </h1>
            </section>
            <!-- Main content -->
            <section class="content">
                <!-- START CUSTOM TABS -->
                <div class="row logos"> 
				   <section class="content-header">
				      <h1>Company Logos - Full Logo -2d</h1><br>
                   </section>				   
				   <div class="col-md-12 box">

						 <div class="col-lg-6 center"> 
						   <img src="/dist/img/logos/company_logos/full_logos/2d/1to1logofortrademark.gif" height="80px;">
						   <br> <br>
						 </div>
						 <div class="col-lg-6 center"> 
						   <img src="/dist/img/logos/company_logos/full_logos/2d/1to1logogold.gif" height="80px;"><br> <br>
						 </div>
				  	    
                  </div>
				  <section class="content-header">
				      <h1>Company Logos - Full Logo -3d</h1><br>
                   </section>	
				   <div class="col-md-12 box">

						 <div class="col-lg-6 center"> 
						   <img src="/dist/img/logos/company_logos/full_logos/3d/3dsmall.gif" height="80px;">
						   <br> <br>
						 </div>
						
				  	     <div class="col-lg-6 center"> 
						   <img src="/dist/img/logos/company_logos/full_logos/3d/HiResColored.png" height="80px;"><br> <br>
						 </div>
						
                  </div>
				  
				   <section class="content-header">
				      <h1>Company Logos - Rings</h1><br>
                   </section>	
				   <div class="col-md-12 box">
						 <div class="col-lg-6 center"> 
						   <img src="/dist/img/logos/company_logos/rings/Rings-BlackandGold.gif" height="80px;">
						   <br> <br>
						 </div>
						 <div class="col-lg-6 center"> 
						   <img src="/dist/img/logos/company_logos/rings/RingsLogoBlackWhite.gif" height="80px;"><br> <br>
						 </div>
				  	</div>
					<section class="content-header">
				      <h1>iQuizLogos</h1><br>
                   </section>	
				   <div class="col-md-12 box">
						 <div class="col-lg-6 center"> 
						   <img src="/dist/img/logos/iQuizLogos/iquizlogo.jpg" height="80px;">
						   <br> <br>
						 </div>
				  	</div>
				   <section class="content-header">
				      <h1>iServiceLogos - FullLogo</h1><br>
                   </section>	
				   <div class="col-md-12 box">
						 <div class="col-lg-6 center"> 
						   <img src="/dist/img/logos/iServiceLogos/FullLogo/WebsiteLogo.png" height="120px;">
						   <br> <br>
						 </div>
				  	</div>
					
					<section class="content-header">
				      <h1>iServiceLogos - i Only</h1><br>
                   </section>	
				   <div class="col-md-12 box">
						 <div class="col-lg-6 center"> 
						   <img src="/dist/img/logos/iServiceLogos/IOnly/BlueGradient.png" height="80px;">
						   <br> <br>
						 </div>
						  <div class="col-lg-6 center"> 
						   <img src="/dist/img/logos/iServiceLogos/IOnly/BlueSolid.png" height="80px;">
						   <br> <br>
						 </div>
						  <div class="col-lg-6 center"> 
						   <img src="/dist/img/logos/iServiceLogos/IOnly/BlueSwoosh.png" height="80px;">
						   <br> <br>
						 </div>
						  <div class="col-lg-6 center"> 
						   <img src="/dist/img/logos/iServiceLogos/IOnly/Gray Solid.png" height="80px;">
						   <br> <br>
						 </div>
						  <div class="col-lg-6 center"> 
						   <img src="/dist/img/logos/iServiceLogos/IOnly/GrayGradient.png" height="80px;">
						   <br> <br>
						 </div>
						  <div class="col-lg-6 center"> 
						   <img src="/dist/img/logos/iServiceLogos/IOnly/GraySwoosh.png" height="80px;">
						   <br> <br>
						 </div>
				  	</div>
					<section class="content-header">
				      <h1>iServiceLogo - new</h1><br>
                   </section>
				    <div class="col-md-12 box">
						 <div class="col-lg-6 center"> 
						   <img src="/dist/img/logos/newlogo/1to1newlogo.png" height="80px;">
						   <br> <br>
						 </div>
					</div>	 
				  </div>	 
			   </div>
			</div>
                <!-- /.row -->
                <!-- END CUSTOM TABS -->
                
            
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        {% include common-footer.html %}
        <!-- Control Sidebar -->
        {% include right-panel-setting-menu.html %}
		<!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->
    <!-- jQuery 3.1.1 -->
    <script src="../plugins/jQuery/jquery-3.1.1.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <!-- Slimscroll -->
    <script src="../plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="../plugins/fastclick/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="../dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="../dist/js/demo.js"></script>
    <script>
	function toggleIcon(e) {
    $(e.target)
        .prev('.panel-heading')
        .find(".more-less")
        .toggleClass('glyphicon-plus glyphicon-minus');
}
$('.panel-group').on('hidden.bs.collapse', toggleIcon);
$('.panel-group').on('shown.bs.collapse', toggleIcon);
	</script>
</body>
</html>
