---
title: Manage KB Article
---
<!DOCTYPE html>
<html ng-app="iService">
<head>
    {% include common-head.html %}
		<link href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.16/css/dataTables.bootstrap.min.css" rel="stylesheet">
		<link href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css" rel="stylesheet" />
		<link href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.bootstrap.min.css" rel="stylesheet" />
		<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" rel="stylesheet" />
</head>
<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">
		{% include common-header.html %}
		{% include common-menu.html %}
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
				<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>
					{{ page.title }}
				</h1>
				<ol class="breadcrumb">
						<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
						<li class="active">Manage Work Queues</li>
						<li class="active"> {{ page.title }}</li>
				</ol>
			</section>
  		<!-- Main content -->
			<section class="content">
				<div class="row"> 
					<div class="col-md-12">
						<div class="btn-group pull-right mbottom-15" id="realtime" data-toggle="btn-toggle">
							<a class="btn btn-default" data-toggle="on" href="/pages/manage-kb-article-listview.html">List View</a>
							<a class="btn btn-primary active" data-toggle="off" href="/pages/manage-kb-article.html">Tree View</a>
						</div>
					</div>
				</div>
				<div class="row"> 
					<div class="col-md-4">
						<!-- Profile Image -->
						<div class="box box-primary">
							<div class="box-header with-border">
								<i class="fa fa-list-ul"></i>
								<h3 class="box-title text-right">Topic List</h3>
							</div>
							<div class="box-body search-criteria">
								<div class="row">
									<div class="col-md-12 message-head">
										<label class="pull-left select-all-topic"><input type="checkbox" class="minimal">Select All Topics</label> 
										<div class="pull-right count-block"  data-toggle="tooltip" data-placement="bottom" data-original-title="Number of articles">
											#
										</div>
									</div> 
								</div>	
								<div class="treeview  active-chat">
									<ul id="tree1" class="tree">
										<li><input type="checkbox" class="minimal"><a href="#" class="selected"> e-shop -- All Topics </a>
											<ul>
												<li> <input type="checkbox" class="minimal"><div class="treeviewitem"><div class="treeviewrow"><div class="div1 text-red">  _Feedback</div> <div class="div2">&nbsp;</div></div></div> <div class="pull-right count-block text-aqua">1</div></li>
												<li> <input type="checkbox" class="minimal" checked><div class="treeviewitem"><div class="treeviewrow"><div class="div1 text-red">_Newsletter Subscription</div></div></div><div class="pull-right count-block text-aqua">1</div></li>
												<li> <input type="checkbox" class="minimal"><div class="treeviewitem"><div class="treeviewrow"><div class="div1 text-red">_Spam</div><div class="div2">&nbsp;</div> </div></div><div class="pull-right count-block text-aqua">1</div></li>
												<li> <input type="checkbox" class="minimal" ><div class="treeviewitem"> <div class="treeviewrow"><div class="div1 text-red">_Undeliverable</div> </div></div><div class="pull-right count-block text-aqua">1</div></li>
												<li> <input type="checkbox" class="minimal"><div class="treeviewitem"><div class="treeviewrow"><div class="div1">Account Questions</div></div></div><div class="pull-right count-block text-aqua">1</div>
													<ul>
														<li> <input type="checkbox" class="minimal"><div class="treeviewitem"><div class="treeviewrow"><div class="div1">Orders </div> </div> </div><div class="pull-right count-block text-aqua">1</div></li>
														<li> <input type="checkbox" class="minimal"><div class="treeviewitem"><div class="treeviewrow"><div class="div1">Refunds </div></div></div><div class="pull-right count-block text-aqua">1</div></li>
														<li> <input type="checkbox" class="minimal"><div class="treeviewitem"><div class="treeviewrow"><div class="div1">Returns </div> </div> </div><div class="pull-right count-block text-aqua">1</div></li>
													</ul>
												</li>
												<li> <input type="checkbox" class="minimal"><div class="treeviewitem"><div class="treeviewrow"><div class="div1">Products</div><div class="div2">&nbsp;</div> </div></div><div class="pull-right count-block text-aqua">1</div>
													<ul>
														<li> <input type="checkbox" class="minimal"><div class="treeviewitem"><div class="treeviewrow"><div class="div1">Audio-Video</div></div> </div><div class="pull-right count-block text-aqua">1</div></li>
														<li> <input type="checkbox" class="minimal"><div class="treeviewitem"><div class="treeviewrow"><div class="div1">Cameras </div> </div></div><div class="pull-right count-block text-aqua">1</div></li>
														<li> <input type="checkbox" class="minimal"><div class="treeviewitem"><div class="treeviewrow"><div class="div1">Cell Phones</div></div></div><div class="pull-right count-block text-aqua">1</div></li>
														<li> <input type="checkbox" class="minimal"><div class="treeviewitem"><div class="treeviewrow"><div class="div1">Computers</div> </div> </div><div class="pull-right count-block text-aqua">1</div></li>
														<li> <input type="checkbox" class="minimal"><div class="treeviewitem"><div class="treeviewrow"><div class="div1">Televisions</div> </div></div><div class="pull-right count-block text-aqua">1</div></li>
													</ul>
												</li>
												<li> <input type="checkbox" class="minimal"><div class="treeviewitem"><div class="treeviewrow"><div class="div1">Shipping</div></div></div> <div class="pull-right count-block text-aqua">1</div></li>
												<li> <input type="checkbox" class="minimal"><div class="treeviewitem"><div class="treeviewrow"><div class="div1">Technical Support</div></div></div><div class="pull-right count-block text-aqua">1</div></li>
												<li> <input type="checkbox" class="minimal"><div class="treeviewitem"><div class="treeviewrow"><div class="div1">Products</div><div class="div2">&nbsp;</div> </div></div>
													<ul>
														<li> <input type="checkbox" class="minimal"><div class="treeviewitem"><div class="treeviewrow"><div class="div1 text-red">Open Quotes </div><div class="div2">&nbsp;</div> </div></div><div class="pull-right count-block text-aqua">1</div></li>
													</ul>
												</li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
					<!-- /.box-body -->
						</div>
					<!-- /.box -->
					</div>
					<div class="col-md-8 p-l-0">
						<div class="row" ng-controller="myCtrl">
							<div class="col-md-12">
								<div class="box box-info">
									<div class="box-header with-border">
										<i class="fa fa-edit"></i>
										<h3 class="box-title head-title-padding">New Article</h3>
										
									</div>
									<!-- /.box-header -->
									<!-- form start -->
									<div class="box-body table-responsive">
										<div class="bg-box box-bg-color">
											<!-- Custom Tabs -->
											<div class="row">
												<div class="pull-right mbottom-15">
													<button type="submit" class="btn btn-primary">Create</button>

													<!--this will be button while development <button class="btn btn-link" type="button">Cancel </button>-->
													<a class="btn btn-link" href="/pages/manage-kb-article.html">Cancel </a>
												</div>
											</div>	
											<div class="row">
												<div class="col-md-12 form-horizontal" >
													<div class="form-group">
														<label class="col-sm-2 control-label text-left">Subject</label>
														<div class="col-sm-6">                              
															<input type="text" class="form-control">
														</div>
													</div>
													<div class="form-group">
														<label class="col-sm-2 control-label text-left">Choose Topic</label>
														<div class="col-sm-6">                              
															<select class="form-control">
																<option value="All Topic">All Topic</option>
															</select>    
														</div>
													</div>
													<div class="form-group">
														<label class="col-sm-2 control-label text-left">Access Level</label>
														<div class="col-sm-6">                              
															<select class="form-control">
																<option value="Public">Public</option>
															</select>    
														</div>
													</div>
												</div>
											</div>	
											<div class="nav-tabs-custom">
													<ul class="nav nav-tabs">
														<li class="active"><a href="#tab_case_1" data-toggle="tab"><i class="fa fa-fw fa-paperclip"></i> <span>Attachments</span></a> </li>
														<li><a href="#tab_case_2" data-toggle="tab"><i class="fa fa-fw fa-exchange"></i> <span>Article Properties</span></a> </li>
														<li><a href="#tab_case_3" data-toggle="tab"><i class="fa fa-fw fa-bell"></i> <span>Subscribers List</span></a> </li>
														<li><a href="#tab_case_4" data-toggle="tab"><i class="fa fa-fw fa-link"></i> <span>Link Article</span></a> </li>
													</ul>
													<div class="tab-content">
														<div class="tab-pane active" id="tab_case_1">
															<div class="row">
																<div class="form-group">
																	<div class="col-md-12">
																		<div class="drop-box">Drop files here or click to upload </div>
																	</div>	
																</div>
																
																<div class="col-md-12 mtop-15"><b><i class="fa fa-paperclip attachment-icon"></i></b> : <a href="" class="attachments"><i class="fa fa-file-image-o"></i> <span class="filename">Image1.jpg (123KB)</span><span><button class="icon-button button-delete" type="button"><i class="fa fa-times-circle"></i></button></span></a> <a href="" class="attachments"><i class="fa fa-file-image-o"></i> <span class="filename">Image2.jpg (30kb)</span><span><button class="icon-button button-delete" type="button"><i class="fa fa-times-circle"></i></button></span></a> <a href="" class="attachments"><i class="fa fa-file-pdf-o"></i><span class="filename"> File1.pdf (40KB)</span> <span><button class="icon-button button-delete" type="button"><i class="fa fa-times-circle"></i></button></span></a> </div>
															</div>	
														</div>
														<!--Tab Interaction Property -->
														<div class="tab-pane" id="tab_case_2">
															<div class="row form-horizontal">
																<div class="col-md-4">
																	<div class="form-group">    
																		<label class="col-md-12 control-label text-left required">Change Request Type <span class="required">(Required)</span></label>
																		<div class="col-sm-12">
																			<input type="text" class="form-control pull-right">
																		</div>
																	</div>
																	<div class="form-group">    
																		<label class="col-md-12 control-label text-left">Delivery Date</label>
																		<div class="col-sm-12">
																			<div class="input-group date">
																				<div class="input-group-addon" ng-click="isDatepickerOpenDelivery = !isDatepickerOpenDelivery">
																					<i class="fa fa-calendar"></i>
																				</div>
																				<input type="text" class="form-control pull-right" ng-focus="isDatepickerOpenDelivery = !isDatepickerOpenDelivery" uib-datepicker-popup="dd/MM/yyyy" ng-model="date" is-open="isDatepickerOpenDelivery" datepicker-options="datepickerOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats">
																			</div>
																		</div>
																	</div>  
																	<div class="form-group">    
																		<label class="col-md-12 control-label text-left">Detail</label>
																		<div class="col-sm-12">
																			<textarea class="form-control" rows="3"></textarea>
																		</div>
																	</div> 
																</div> 
																<div class="col-md-4">
																	<div class="form-group">    
																		<label class="col-md-12 control-label control-label text-left">Quantity</label>
																		<div class="col-sm-12">
																			<input type="text" class="form-control pull-right">
																		</div>
																	</div>  
																	<div class="form-group">    
																		<label class="col-md-12 control-label control-label text-left">Team</label>
																		<div class="col-sm-12">
																			<div class="simple-label multiple">
																				<div class="float-btn-group">
																					<button class="margin-5 icon-button button-delete" type="button"><i class="fa fa-times-circle"></i> </button>
																					<input type="text" class="form-control">
																				</div>
																				<div class="float-btn-group">
																					<button class="margin-5 icon-button button-delete" type="button"><i class="fa fa-times-circle"></i> </button>
																					<input type="text" class="form-control">
																				</div>
																				<div class="float-btn-group">
																					<button class="margin-5 icon-button button-delete" type="button"><i class="fa fa-times-circle"></i> </button>
																					<input type="text" class="form-control">
																				</div>
																				<button class="margin-5 icon-button button-add-row" type="button"><i class="fa fa-plus-circle"></i> </button>
																			</div>
																		</div>
																	</div>    
																</div> 
																<div class="col-md-4">
																	<div class="form-group">    
																		<label class="col-md-12 control-label text-left">Priority</label>
																		<div class="col-sm-12">
																			<select class="form-control">
																					<option>High</option>
																					<option>Low</option>
																			</select>    
																		</div>
																	</div> 
																	<div class="form-group">    
																		<label class="col-md-12 control-label text-left">isOpen</label>
																		<div class="col-sm-12">
																			<select class="form-control">
																					<option>True</option>
																					<option>False</option>
																			</select>    
																		</div>
																	</div>  
																</div>    
																
															</div>    
														</div>
														<!--Tab Interaction Property-->
														<!--Tabs subscriber list-->
														{% include subscribers-list.html %}	
														<!--Tabs subscriber list-->
														
														<!--Tab link article-->
														{% include related-article.html %}
														<!-- Tab link article-->
													</div>    
													<!-- /.tab-content -->
											</div>
											<!-- nav-tabs-custom -->  

											<div class="row">
												<label class="col-sm-2 control-label text-left f16 mbottom-5">Question</label>
												<div class="col-md-12">
													<div class="nav-tabs-custom">
														<ul class="nav nav-tabs">
															<li class="active"><a href="#draftbody" data-toggle="tab" aria-expanded="true">Draft Body</a></li>
															<li><a href="#plainhtml" data-toggle="tab" aria-expanded="false">Preview<br></a></li>
															<div class="btn-group pull-right" uib-dropdown dropdown-append-to-body auto-close="outsideClick">
																<a class="btn btn-default btn-sm responses"  uib-dropdown-toggle data-toggle="off" href="javascript:void(0)">Variables & Stock Responsess</a>
																{% include variables-and-stock-responses.html %}
															</div>
															
														</ul>
														<div class="tab-content">
															<div class="tab-pane active" id="draftbody">
															<div class="form-group text-editor-container">
																<textarea class="form-control" rows="10" placeholder="" id="editorgetthis" ckeditor="options">
											
																<p>How do i get started with Customer Portal?</p>
																</textarea>
															</div>
															</div>
															<div class="tab-pane" id="plainhtml">
															<p>How do i get started with Customer Portal?</p>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<label class="col-sm-2 control-label text-left f16 mbottom-5">Answer</label>
												<div class="col-md-12">
													<div class="nav-tabs-custom">
														<ul class="nav nav-tabs">
															<li class="active"><a href="#draftbodanswer" data-toggle="tab" aria-expanded="true">Draft Body</a></li>
															<li><a href="#plainhtmlanswer" data-toggle="tab" aria-expanded="false">Preview<br></a></li>
															<div class="btn-group pull-right" uib-dropdown dropdown-append-to-body auto-close="outsideClick">
																<a class="btn btn-default btn-sm responses"  uib-dropdown-toggle data-toggle="off" href="javascript:void(0)">Variables & Stock Responses</a>
															    {% include variables-and-stock-responses.html %} 
															</div>
															
														</ul>
														<div class="tab-content">
															<div class="tab-pane active" id="draftbodanswer">
																<div class="form-group text-editor-container">
																	<textarea class="form-control" rows="10" placeholder=""  ckeditor="options"><p>
																		To use Customer Portal, you'll first need to register using Sign Up link.</p>
																	</textarea>
																</div>
															</div>
															<div class="tab-pane" id="plainhtmlanswer">
															<p>To use Customer Portal, you'll first need to register using Sign Up link.</p>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-12">
													<button type="submit" class="btn btn-primary">Create</button>
													<!--this will be button while development <button class="btn btn-link" type="button">Cancel </button>-->
													<a class="btn btn-link" href="/pages/manage-kb-article.html">Cancel </a>
												</div>
											</div>	
										</div>
									</div>
								</div> 
							</div>                               
						</div>
					</div>		
				</div> 
			</section>   
		</div>
		<!-- /.content-wrapper -->
		
        {% include common-footer.html %}
        <!-- Control Sidebar -->
		{% include right-panel-setting-menu.html %}
		<!-- /.control-sidebar -->
		<!-- Add the sidebar's background. This div must be placed
					immediately after the control sidebar -->
		<div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->
    {% include common-javascript.html %}

<script>
	$(document).ready(function() {
		//$('.selectpicker').selectpicker('refresh');
		$.fn.extend({
			treed: function (o) {
			
			var openedClass = 'glyphicon-minus-sign';
			var closedClass = 'glyphicon-plus-sign';
			
			if (typeof o != 'undefined'){
				if (typeof o.openedClass != 'undefined'){
				openedClass = o.openedClass;
				}
				if (typeof o.closedClass != 'undefined'){
				closedClass = o.closedClass;
				}
			};
			
				//initialize each of the top levels
				var tree = $(this);
				tree.addClass("tree");
				tree.find('li').has("ul").each(function () {
					var branch = $(this); //li with children ul
					branch.prepend("<i class='indicator glyphicon " + closedClass + "'></i>");
					branch.addClass('branch');
					branch.on('click', function (e) {
						if (this == e.target) {
							var icon = $(this).children('i:first');
							icon.toggleClass(openedClass + " " + closedClass);
							$(this).children().children().not('.treeviewrow').toggle();
						}
					})
					branch.children().children().toggle();
				});
				//fire event from the dynamically added icon
			tree.find('.branch .indicator').each(function(){
				$(this).on('click', function () {
					$(this).closest('li').click();
				});
			});
				//fire event to open branch if the li contains an anchor instead of text
				tree.find('.branch>a').each(function () {
					$(this).on('click', function (e) {
						$(this).closest('li').click();
						e.preventDefault();
					});
				});
				//fire event to open branch if the li contains a button instead of text
				tree.find('.branch>button').each(function () {
					$(this).on('click', function (e) {
						$(this).closest('li').click();
						e.preventDefault();
					});
				});
			}
		});
			$('#tree1').treed();	
			$('#tree1 .branch').each(function(){
				var icon = $(this).children('i:first');
				icon.toggleClass('glyphicon-minus-sign glyphicon-plus-sign');
				$(this).children().children().toggle();
			});	

			$('.custom-scroll').slimScroll({
				height: '250px'
			});
			$('.message-attachments').slimScroll({
				height: '178px'
			});
    });
	$(document).on('change', '.tree input[type=checkbox]', function(e) {
		$(this).siblings('ul').find("input[type='checkbox']").prop('checked', this.checked);
		$(this).parentsUntil('.tree').children("input[type='checkbox']").prop('checked', this.checked);
		e.stopPropagation();
	});

	angular.module('iService').controller('myCtrl', function ($scope, $log, $compile, DTOptionsBuilder, DTColumnDefBuilder)
    {
			
		
			$scope.dtContactMessagesOptions = DTOptionsBuilder
			.newOptions()
			.withOption('language', {
			search: 'Filter Lists'
			}).withBootstrap().withButtons(['copy', 'excel', 'pdf', {
				extend: 'colvis',
				columns: function (index, apiObj, headCell)
				{
					// The attribute data-no-col-vis in the markup is a custom marker that indicates that I want to
					// disable the show/hide column functionality for certain columns
					return headCell.dataset.noColVis === undefined;
				}
			}]);
            $scope.dtContactMessagesColumnDefs = [
				DTColumnDefBuilder.newColumnDef('no-sort').notSortable().withOption("width", "30px")
			];

			$scope.dtSubscriberOptions = DTOptionsBuilder
				.newOptions().withOption('language', {
					search: 'Filter Unsubscribes'
				})
				.withBootstrap().withButtons(['copy', 'excel', 'pdf', {
					extend: 'colvis',
					columns: function (index, apiObj, headCell) {
						// The attribute data-no-col-vis in the markup is a custom marker that indicates that I want to
						// disable the show/hide column functionality for certain columns
						return headCell.dataset.noColVis === undefined;
					}
				}]);


			$scope.dtUnSubscriberOptions = DTOptionsBuilder
				.newOptions().withOption('language', {
					search: 'Filter Subscribers '
			})
			.withBootstrap().withButtons(['copy', 'excel', 'pdf', {
				extend: 'colvis',
				columns: function (index, apiObj, headCell) {
					// The attribute data-no-col-vis in the markup is a custom marker that indicates that I want to
					// disable the show/hide column functionality for certain columns
					return headCell.dataset.noColVis === undefined;
				}
			}]);

			$scope.toggleRow = function (segmentName)
			{ 
				$scope.showexpanded1 = !false; 
				for(var i = 1; i<=6;i++){
					if(!$scope[segmentName]){
						removeFunction(segmentName);
						$scope['row'+i] = false;
					}	
				}
				$scope[segmentName] = !$scope[segmentName];
				if($scope[segmentName]){
					myCreateFunction(segmentName);
				}else{
					removeFunction(segmentName);
				}
			};

			function myCreateFunction(row) {
				var innerHTML = document.getElementById('expandedrow').innerHTML;
				angular.element('#'+row).after($compile('<tr class="expandedrowcontent bg-customer-reply rowborder" ng-show="showexpanded1"><td class="white-bg">&nbsp;</td><td colspan="5">'+document.getElementById('expandedrow').innerHTML+'</td></tr>')($scope));
				//angular.element('#'+row).after($compile('<tr class="expandedrowcontent box-bg-color"><td>&nbsp;</td><td colspan="6">'+document.getElementById('expandedrow').innerHTML+'</td></tr>')($scope));
			}

			function removeFunction(row){
				angular.element('.expandedrowcontent').remove();
			}

			$scope.show = function(action) {
				$scope.hidetrue = true;
				$scope[action] = !$scope[action];
			};

			$scope.cancel = function(action) {
				$scope.hidetrue = false;
				$scope[action] = !$scope[action];
			};
			$scope.show2 = function(action) {
				$scope.hidetrue2 = true;
				$scope[action] = !$scope[action];
			};	

			$scope.cancel2 = function(action) {
				$scope.hidetrue2 = false;
				$scope[action] = !$scope[action];
			};	
			$scope.customForm = function(){
				$scope.customform = true;
			}
			$scope.builtinForm = function(){
				$scope.customform = false;
			}
			$scope.showIncomingList = function(){
				$scope.incomingList = true;
				removeFunction('');
			}
			$scope.showPraposedList = function(){
				$scope.incomingList = false;
				removeFunction('');
			}

			$scope.massUpdate = function(){
				
				if($scope.incomingList && $scope.praposedList){
           			 $scope.showAlert = true;
				}else{
					$scope.showAlert = false;
					$scope.isCollapsedMassUpdate = !$scope.isCollapsedMassUpdate;
				}
			}

		});	 

		angular.module('iService').controller('AgentCtrl', function ($scope, $http, $timeout, $interval) {
			var vm = this;
			vm.agent = {};
			vm.agentselected = {selected : "Select or search for a mailbox in the list"};
			vm.agentname = [ 
				{name: 'Alek Packard' , email:'alek.packard@example.com', code: 'AP'},
				{name: 'Jacob Smith', email:'jacob.smith@example.com', code: 'JS'},
				{name: 'Jonie Hewlett', email:'jonie.hewlett@example.com', code: 'JH'},
				{name: 'Justin Time', email:'justin.time@example.com', code: 'JT'},
			];
		});

		angular.module('iService').controller('extAgentCtrl', function ($scope, $http, $timeout, $interval) {
			var vm = this;
			vm.agent = {};
			vm.agentselected = {selected : "Select or search for a notification template"};
			vm.agentname = [ 
				{name: 'Alek Packard' , email:'alek.packard@example.com', code: 'AP'},
				{name: 'Jacob Smith', email:'jacob.smith@example.com', code: 'JS'},
				{name: 'Jonie Hewlett', email:'jonie.hewlett@example.com', code: 'JH'},
				{name: 'Justin Time', email:'justin.time@example.com', code: 'JT'},
			];
		});
		app.filter('propsFilter', function() {
			return function(items, props) {
				var out = [];

				if (angular.isArray(items)) {
				var keys = Object.keys(props);

				items.forEach(function(item) {
					var itemMatches = false;

					for (var i = 0; i < keys.length; i++) {
					var prop = keys[i];
					var text = props[prop].toLowerCase();
					if (item[prop].toString().toLowerCase().indexOf(text) !== -1) {
						itemMatches = true;
						break;
					}
					}

					if (itemMatches) {
					out.push(item);
					}
				});
				} else {
				// Let the output be the input untouched
				out = items;
				}

				return out;
			};
		});

		app.controller('DemoCtrl', function ($scope, $http, $timeout, $interval) {
			var vm = this;
			vm.segmentObj = {
				'1' : { name: '-Default Mail Box-', segmentname: 'QA' },
				'2' : { name: 'Push Bullet', segmentname: 'QA' },
				'3' : { name: '-Default Mail Box-', segmentname: 'QA2- Second Segment' },
				'4' : { name: 'Push Bullet', segmentname: 'QA2- Second Segment' },
			};
      vm.segmentselected = {selected : "Push Bullet"};
			vm.segment = [
				{ name: '-Default Mail Box-', segmentname: 'QA' },
				{ name: 'Push Bullet', segmentname: 'QA' },
				{ name: '-Default Mail Box-', segmentname: 'QA2- Second Segment' },
				{ name: 'Push Bullet',  segmentname: 'QA2- Second Segment' },
			];
		});
		angular.module('iService').controller('agentEmailCtrl', function ($scope, $http, $timeout, $interval) {
			var vm = this;
			vm.agent = {};
			vm.agentselected = {selected : "Alek Packard"};
			vm.agentname = [ 
				{name: 'Alek Packard', code: 'AP'},
				{name: 'Jacob Smith', code: 'JS'},
				{name: 'Jonie Hewlett', code: 'JH'},
				{name: 'Justin Time', code: 'JT'},
			];
		});
     angular.module('iService').controller('FromEmail', function ($scope, $http, $timeout, $interval) {
			var vm = this;
			vm.agent = {};
			vm.agentselected = {selected : "--Default MailBox--"};
			vm.agentname = [ 
		   	{name: '--Default MailBox--', code: ''},
				{name: 'Customer Support (support@example.com)', code: ''},
				{name: 'Sales (Sales@example.com)', code: ''},
				{name: 'Technical Support (technicalsupport@example.com)', code: ''},
			];
		});
</script>
{% include common-controller-function.html %}
</body>
</html>
