---
title: Notifications
---
<!DOCTYPE html>
<html ng-app="iService">
<head>
    {% include common-head.html %}
</head>
<body class="hold-transition skin-blue sidebar-mini">
   <div class="alert alert-danger alert-dismissible">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
		<h4><i class="icon fa fa-ban"></i> Broadcast Message Title</h4>
		The contents of the broadcast message are displayed here.
	</div>
	<div class="alert alert-info alert-dismissible">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
		<h4><i class="icon fa fa-info"></i> Broadcast Message Title</h4>
		The contents of the broadcast message are displayed here.
	</div>
	<div class="alert alert-success alert-dismissible">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
		<h4><i class="icon fa fa-check"></i>Broadcast Message Title</h4>
		The contents of the broadcast message are displayed here.
	</div>
	
    <div class="wrapper">
        {% include common-header.html %}
        {% include common-menu.html %}
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
							<h1>
									{{ page.title }}
							</h1>
							<ol class="breadcrumb">
								<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
								<li class="active">Pages</li>
								<li class="active"> {{ page.title }}</li>
							</ol>
            </section>
            <!-- Main content -->
            <section class="content">
             <!-- START ALERTS AND CALLOUTS -->
			  <h2 class="page-header">Alerts and Callouts</h2>
			  <div class="row">
					<div class="col-md-6">
				  <div class="box box-default">
					<div class="box-header with-border">
					  <i class="fa fa-warning"></i>

					  <h3 class="box-title">Alerts</h3>
					</div>
					<!-- /.box-header -->
					<div class="box-body">
					  <div class="alert alert-danger alert-dismissible">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						<h4><i class="icon fa fa-ban"></i> Alert!</h4>
						Danger alert preview. This alert is dismissable. A wonderful serenity has taken possession of my entire
						soul, like these sweet mornings of spring which I enjoy with my whole heart.
					  </div>
					  <div class="alert alert-info alert-dismissible">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						<h4><i class="icon fa fa-info"></i> Alert!</h4>
						Info alert preview. This alert is dismissable.
					  </div>
					  <div class="alert alert-warning alert-dismissible">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						<h4><i class="icon fa fa-warning"></i> Alert!</h4>
						Warning alert preview. This alert is dismissable.
					  </div>
					  <div class="alert alert-success alert-dismissible">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						<h4><i class="icon fa fa-check"></i> Alert!</h4>
						Success alert preview. This alert is dismissable.
					  </div>
					</div>
					<!-- /.box-body -->
				  </div>
				  <!-- /.box -->
				</div>
				<!-- /.col -->

				<div class="col-md-6">
				  <div class="box box-default">
					<div class="box-header with-border">
					  <i class="fa fa-bullhorn"></i>

					  <h3 class="box-title">Callouts</h3>
					</div>
					<!-- /.box-header -->
					<div class="box-body">
					  <div class="callout callout-danger">
						<h4>I am a danger callout!</h4>

						<p>There is a problem that we need to fix. A wonderful serenity has taken possession of my entire soul,
						  like these sweet mornings of spring which I enjoy with my whole heart.</p>
					  </div>
					  <div class="callout callout-info">
						<h4>I am an info callout!</h4>

						<p>Follow the steps to continue to payment.</p>
					  </div>
					  <div class="callout callout-warning">
						<h4>I am a warning callout!</h4>

						<p>This is a yellow callout.</p>
					  </div>
					  <div class="callout callout-success">
						<h4>I am a success callout!</h4>

						<p>This is a green callout.</p>
					  </div>
					</div>
					<!-- /.box-body -->
				  </div>
				  <!-- /.box -->
				</div>
				<!-- /.col -->
			  </div>
			  <!-- /.row -->
			  <h1>
				Modals
				<small>new</small>
			  </h1>
			   <div class="callout callout-info">
				<h4>Reminder!</h4>
				Instructions for how to use modals are available on the
				<a href="http://getbootstrap.com/javascript/#modals">Bootstrap documentation</a>
			  </div>

			  <div class="row">
				<div class="col-xs-12">
				  <div class="box box-default">
					<div class="box-header with-border">
					  <h3 class="box-title">Modal Examples</h3>
					</div>
					<div class="box-body">
					  <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-default">
						Launch Default Modal
					  </button>
					  <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-info">
						Launch Info Modal
					  </button>
					  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-danger">
						Launch Danger Modal
					  </button>
					  <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modal-warning">
						Launch Warning Modal
					  </button>
					  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-success">
						Launch Success Modal
					  </button>
					</div>
				  </div>
				</div>
			  </div>
               
			     <div class="row">
				<div class="col-md-6">
				  <div class="box box-default">
					<div class="box-header with-border">
					  <i class="fa fa-warning"></i>
				      <h3 class="box-title">Tooltips</h3>
					</div>
					<!-- /.box-header -->
					<div class="box-body">
					  <div class="demo-tooltip">
						<button type="button" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="left" data-original-title="Tooltip on left">Tooltip on left</button>
						<button type="button" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" data-original-title="Tooltip on top">Tooltip on top</button>
						<button type="button" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="bottom" data-original-title="Tooltip on bottom">Tooltip on bottom</button>
						<button type="button" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="right" data-original-title="Tooltip on right">Tooltip on right</button>
					  </div>
					  <br>
					  <div class="demo-popover1">
					    <button type="button" class="btn btn-block btn-warning"  data-toggle="popover" id="toggle" data-trigger="hover" data-placement="top" title="Popover Title" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Toggle popover</button>
						 <br> <br>
						<button type="button" id="popover-title" class="btn btn-block btn-warning" data-trigger="click" data-placement="top" title="Popover Title" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Popover With Title</button>
					  </div>
					  <br> 
					  <div class="demo-popover2">
						<button type="button" class="btn btn-default btn-sm" data-container="body" data-toggle="popover" data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="" title="">Popover on left</button>
						<button type="button" class="btn btn-default btn-sm" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="" title="">Popover on top</button>
						<button type="button" class="btn btn-default btn-sm" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="" title="" >Popover on bottom</button>
						<button type="button" class="btn btn-default btn-sm" data-container="body" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="" title="" >Popover on right</button>
					  </div>
					</div>
					<!-- /.box-body -->
				  </div>
				  <!-- /.box -->
				</div>
				<!-- /.col -->

			
			  </div>
			  <!-- /.row -->
				<div class="modal fade" id="modal-default">
				  <div class="modal-dialog">
					<div class="modal-content">
					  <div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						  <span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">Default Modal</h4>
					  </div>
					  <div class="modal-body">
						<p>One fine body&hellip;</p>
					  </div>
					  <div class="modal-footer">
						<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary">Save changes</button>
					  </div>
					</div>
					<!-- /.modal-content -->
				  </div>
				  <!-- /.modal-dialog -->
				</div>
				<!-- /.modal -->

				<div class="modal modal-primary fade" id="modal-primary">
				  <div class="modal-dialog">
					<div class="modal-content">
					  <div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						  <span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">Primary Modal</h4>
					  </div>
					  <div class="modal-body">
						<p>One fine body&hellip;</p>
					  </div>
					  <div class="modal-footer">
						<button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-outline">Save changes</button>
					  </div>
					</div>
					<!-- /.modal-content -->
				  </div>
				  <!-- /.modal-dialog -->
				</div>
				<!-- /.modal -->

				<div class="modal modal-info fade" id="modal-info">
				  <div class="modal-dialog">
					<div class="modal-content">
					  <div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						  <span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">Info Modal</h4>
					  </div>
					  <div class="modal-body">
						<p>One fine body&hellip;</p>
					  </div>
					  <div class="modal-footer">
						<button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-outline">Save changes</button>
					  </div>
					</div>
					<!-- /.modal-content -->
				  </div>
				  <!-- /.modal-dialog -->
				</div>
				<!-- /.modal -->

				<div class="modal modal-warning fade" id="modal-warning">
				  <div class="modal-dialog">
					<div class="modal-content">
					  <div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						  <span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">Warning Modal</h4>
					  </div>
					  <div class="modal-body">
						<p>One fine body&hellip;</p>
					  </div>
					  <div class="modal-footer">
						<button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-outline">Save changes</button>
					  </div>
					</div>
					<!-- /.modal-content -->
				  </div>
				  <!-- /.modal-dialog -->
				</div>
				<!-- /.modal -->

				<div class="modal modal-success fade" id="modal-success">
				  <div class="modal-dialog">
					<div class="modal-content">
					  <div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						  <span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">Success Modal</h4>
					  </div>
					  <div class="modal-body">
						<p>One fine body&hellip;</p>
					  </div>
					  <div class="modal-footer">
						<button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-outline">Save changes</button>
					  </div>
					</div>
					<!-- /.modal-content -->
				  </div>
				  <!-- /.modal-dialog -->
				</div>
				<!-- /.modal -->

				<div class="modal modal-danger fade" id="modal-danger">
				  <div class="modal-dialog">
					<div class="modal-content">
					  <div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						  <span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">Danger Modal</h4>
					  </div>
					  <div class="modal-body">
						<p>One fine body&hellip;</p>
					  </div>
					  <div class="modal-footer">
						<button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-outline">Save changes</button>
					  </div>
					</div>
					<!-- /.modal-content -->
				  </div>
				  <!-- /.modal-dialog -->
				</div>
				<!-- /.modal -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        {% include common-footer.html %}
        <!-- Control Sidebar -->
        {% include right-panel-setting-menu.html %}
		<!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->
    <!-- jQuery 3.1.1 -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <!-- DataTables -->
	<script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="../../plugins/datatables/dataTables.bootstrap.min.js"></script>
    <!-- Slimscroll -->
    <script src="../plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="../plugins/fastclick/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="../dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="../dist/js/demo.js"></script>
    <script>
	$(document).ready(function(){
		$('[data-toggle="tooltip"]').tooltip();  
		$('[data-toggle="popover"]').popover(); 		
		
	});
	
	</script>
	<script>
		$(document).ready(function(){
			$('#toggle').popover({
					html: true,
					trigger: 'hover',
			});
			$('#popover-title').popover();			
		});
</script>
	
</body>
</html>
