---
title: Page Elements Examples
---
<!DOCTYPE html>
<html ng-app="iService">
<head>
    {% include common-head.html %}
    <!-- Bootstrap documentation stylesheets -->
    <link href="/dist/css/docs.css" rel="stylesheet" />
    <link href="/dist/css/pygments-manni.css" rel="stylesheet" />
</head>
<body class="hold-transition skin-blue sidebar-mini">
    
    <div class="wrapper">
        {% include common-header.html %}
        {% include common-menu.html %}
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    {{ page.title }}
                </h1>
            </section>

            <!-- Main content -->
            <section class="content">
                <h2 id=type-headings>Sender Details</h2>
                <h3> Created by Agent</h3>
                <div class="row">
                    <div class="col-md-12">
                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab_detail_1" data-toggle="tab" uib-tooltip="This question has file attachments." tooltip-placement="bottom"><i class="fa fa-paperclip"></i> <span>Details & Attachments</span><span class="new-inside"></span></a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_detail_1">
                                    <div class="row">
                                        <div class="message-box-header">
                                            <div class="col-md-6 ">
                                                <span class="user" ng-show="!row2">
                                                    <img src="/dist/img/agent.png">
                                                    <b>Agent</b>
                                                </span>
                                                <div class="message-info">
                                                    <b>From : </b>support@1to1service.com<br>
                                                    <b>To : </b>alek.packard@1to1service.com<br>
                                                    <b>CC : </b>justin.time@1to1service.com<br>
                                                </div>	
                                            </div>    
                                            <div class="col-md-6 col-sm-12">   
                                                <div class="int-det-box"> 
                                                    <div><b>Interaction ID : </b>4645646</div>
                                                    <div><b> Segment / Topic : </b>All Topic</div>
                                                    <div><b> Resolved By : </b>Alek Packard</div>
                                                    <div><b> Interaction  Status : </b> <small class="bg-green-active label">Sent</small></div>	
                                                    <div><b> Interaction  Type : </b>
                                                            <small class="label bg-green"> 
                                                                <span class="fa-stack stack-icon-label">
                                                                    <i class="fa fa-user"></i>
                                                                    <i class="fa fa-reply agent-response"></i> 
                                                                </span> Agent Response
                                                            </small>
                                                    </div>									
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="col-md-12 mtop-15"><b> <i class="fa fa-paperclip attachment-icon"></i></b> <a href="" class="attachments"><i class="fa fa-file-image-o"></i> <span class="filename">Image1.jpg (123KB)</span></a> <a href=""  class="attachments"><i class="fa fa-file-image-o"></i> <span class="filename">Image2.jpg (30kb)</span></a> <a href=""  class="attachments"><i class="fa fa-file-pdf-o"></i><span class="filename"> File1.pdf (40KB)</span></a> </div>
                                        </div>
                                    </div>	
                                </div>
                            </div>
                        </div>
                    </div>        
                </div>  
                <h3> Created by Customer</h3>
                <div class="row">
                    <div class="col-md-12">
                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab_detail_2" data-toggle="tab" uib-tooltip="This question has file attachments." tooltip-placement="bottom"><i class="fa fa-paperclip"></i> <span>Details & Attachments</span><span class="new-inside"></span></a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_detail_2">
                                    <div class="row">
                                        <div class="message-box-header">
                                            <div class="col-md-6">
                                                <span class="user" ng-show="!row2">
                                                    <img src="/dist/img/customer.png">
                                                    <b>Customer</b>
                                                </span>
                                                <div class="message-info">
                                                    <b>From : </b> john.doe@example.com<br>
                                                    <b>To : </b> support@1to1service.com<br>
                                                    <b>CC : </b> justin.time@1to1service.com<br>
                                                </div>	
                                            </div>
                                            <div class="col-md-6">
                                                <div class="int-det-box"> 
                                                    <div><b>Interaction ID : </b>4645646</div>
                                                    <div><b> Segment / Topic : </b>All Topic</div>
                                                    <div><b> Resolved By : </b>Alek Packard</div>
                                                    <div><b> Approved By : </b>&nbsp;</div>		
                                                    <div><b> Interaction  Status : </b> <small class="bg-green-active label">Resolved</small></div>								
                                                    
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="col-md-12 mtop-15"><b> <i class="fa fa-paperclip attachment-icon"></i></b> <a href="" class="attachments"><i class="fa fa-file-image-o"></i> <span class="filename">Image1.jpg (123KB)</span></a> <a href=""  class="attachments"><i class="fa fa-file-image-o"></i> <span class="filename">Image2.jpg (30kb)</span></a> <a href=""  class="attachments"><i class="fa fa-file-pdf-o"></i><span class="filename"> File1.pdf (40KB)</span></a> </div>
                                        </div>
                                    </div>	
                                </div>
                            </div>
                        </div>
                    </div>        
                </div> 
                <h3> Created by System</h3>
                <div class="row">
                    <div class="col-md-12">
                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab_detail_3" data-toggle="tab" uib-tooltip="This question has file attachments." tooltip-placement="bottom"><i class="fa fa-paperclip"></i> <span>Details & Attachments</span><span class="new-inside"></span></a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_detail_3">
                                    <div class="row">
                                        <div class="message-box-header">
                                            <div class="col-md-6">
                                                <span class="user" ng-show="!row2">
                                                    <img src="/dist/img/system.png">
                                                    <b>System</b>
                                                </span>
                                                <div class="message-info">
                                                    <b>From : </b> support@1to1service.com<br>
                                                    <b>To : </b> alek.packard@1to1service.com<br>
                                                    <b>CC : </b> justin.time@1to1service.com<br>
                                                </div>
                                            </div>    	
                                            <div class="col-md-6">
                                                <div class="int-det-box pull-right"> 
                                                    <div><b>Interaction ID :</b> 4645646</div>
                                                    <div><b> Segment / Topic : </b>All Topic</div>
                                                    <div><b> Resolved By : </b>Alek Packard</div>
                                                    <div><b> Approved By : </b>&nbsp;</div>									
                                                    <div><b> Interaction  Status : </b> <small class="bg-green-active label">Sent</small></div>								
                                                    
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="col-md-12 mtop-15"><b> <i class="fa fa-paperclip attachment-icon"></i></b> <a href="" class="attachments"><i class="fa fa-file-image-o"></i> <span class="filename">Image1.jpg (123KB)</span></a> <a href=""  class="attachments"><i class="fa fa-file-image-o"></i> <span class="filename">Image2.jpg (30kb)</span></a> <a href=""  class="attachments"><i class="fa fa-file-pdf-o"></i><span class="filename"> File1.pdf (40KB)</span></a> </div>
                                        </div>
                                    </div>	
                                </div>
                            </div>
                        </div>
                    </div>        
                </div> 
                <h3> Interaction Properties</h3>
                <div class="row">
                    <div class="col-md-12">
                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab_properties_1" data-toggle="tab"  uib-tooltip="There are properties available for this interaction." tooltip-placement="bottom"><i class="fa fa-fw fa-exchange"></i> <span>Interaction Properties</span><span class="new-inside"></span></a> </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_properties_1">
                                    <div class="row form-horizontal">
                                        <div class="col-md-4">
                                        <h4>Case Properties</h4>
                                        <div class="form-group">    
                                            <label class="col-md-12 control-label text-left required">Change Request Type <span class="required">(Required)</span></label>
                                            <div class="col-sm-12">
                                            <input type="text" class="form-control pull-right">
                                            </div>
                                        </div>
                                        <div class="form-group">    
                                            <label class="col-md-12 control-label text-left">Delivery Date</label>
                                            <div class="col-sm-12">
                                            <div class="input-group date">
                                                <div class="input-group-addon" ng-click="isDatepickerOpenDelivery = !isDatepickerOpenDelivery">
                                                <i class="fa fa-calendar"></i>
                                                </div>
                                                <input type="text" class="form-control pull-right" ng-focus="isDatepickerOpenDelivery = !isDatepickerOpenDelivery" uib-datepicker-popup="dd/MM/yyyy" ng-model="date" is-open="isDatepickerOpenDelivery" datepicker-options="datepickerOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats">
                                            </div>
                                            </div>
                                        </div>  
                                        <div class="form-group">    
                                            <label class="col-md-12 control-label text-left">Detail</label>
                                            <div class="col-sm-12">
                                            <textarea class="form-control" rows="3"></textarea>
                                            </div>
                                        </div> 
                                        </div> 
                                        <div class="col-md-4">
                                        <h4>Question Properties</h4>
                                        <div class="form-group">    
                                            <label class="col-md-12 control-label control-label text-left">Quantity</label>
                                            <div class="col-sm-12">
                                            <input type="text" class="form-control pull-right">
                                            </div>
                                        </div>  
                                        <div class="form-group">    
                                            <label class="col-md-12 control-label control-label text-left">Team</label>
                                            <div class="col-sm-12">
                                            <div class="simple-label multiple">
                                                <div class="float-btn-group">
                                                <button class="margin-5 icon-button button-delete" type="button"><i class="fa fa-times-circle"></i> </button>
                                                <input type="text" class="form-control">
                                                </div>
                                                <div class="float-btn-group">
                                                <button class="margin-5 icon-button button-delete" type="button"><i class="fa fa-times-circle"></i> </button>
                                                <input type="text" class="form-control">
                                                </div>
                                                <div class="float-btn-group">
                                                <button class="margin-5 icon-button button-delete" type="button"><i class="fa fa-times-circle"></i> </button>
                                                <input type="text" class="form-control">
                                                </div>
                                                <button class="margin-5 icon-button button-add-row" type="button"><i class="fa fa-plus-circle"></i> </button>
                                            </div>
                                            </div>
                                        </div>   
                                        </div> 
                                        <div class="col-md-4">
                                        <h4>Answer Properties</h4>
                                        <div class="form-group">    
                                            <label class="col-md-12 control-label text-left">Priority</label>
                                            <div class="col-sm-12">
                                            <select class="form-control">
                                                <option>High</option>
                                                <option>Low</option>
                                            </select>    
                                            </div>
                                        </div> 
                                        <div class="form-group">    
                                            <label class="col-md-12 control-label text-left">isOpen</label>
                                            <div class="col-sm-12">
                                            <select class="form-control">
                                                <option>True</option>
                                                <option>False</option>
                                            </select>    
                                            </div>
                                        </div>  
                                        </div>    
                                        <div class="col-md-12">
                                        <button type="submit" class="btn btn-primary">Save</button>
                                        </div>
                                    </div>    
                                </div>
                            </div>
                        </div>
                    </div>        
                </div>  
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        {% include common-footer.html %}
        <!-- Control Sidebar -->
        {% include right-panel-setting-menu.html %}
		<!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->
    <!-- jQuery 3.1.1 -->
    <script src="../plugins/jQuery/jquery-3.1.1.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <!-- Slimscroll -->
    <script src="../plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="../plugins/fastclick/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="../dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="../dist/js/demo.js"></script>
</body>
</html>
