---
title: Page Elements Examples
---
<!DOCTYPE html>
<html ng-app="iService">
<head>
    {% include common-head.html %}
    <!-- Bootstrap documentation stylesheets -->
    <link href="/dist/css/docs.css" rel="stylesheet" />
    <link href="/dist/css/pygments-manni.css" rel="stylesheet" />
</head>
<body class="hold-transition skin-blue sidebar-mini">
    
    <div class="wrapper">
        {% include common-header.html %}
        {% include common-menu.html %}
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    {{ page.title }}
                </h1>
            </section>

            <!-- Main content -->
            <section class="content">
                <h2 id=type-headings>Sender Details</h2>
                <h3> Created by Agent</h3>
                <div class="row">
                    <div class="col-md-12">
                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab_detail_1" data-toggle="tab" uib-tooltip="This interaction has file attachments." tooltip-placement="bottom"><i class="fa fa-paperclip"></i> <span>Details & Attachments</span><span class="new-inside"></span></a></li>
                                <li><a href="#tab_detail_2" data-toggle="tab" uib-tooltip="Answer Sent To Customer" tooltip-placement="bottom"><span>Answer Sent To Customer</span></a></li>
                                <li><a href="#tab_detail_3" data-toggle="tab" uib-tooltip="No Answer Sent To Customer" tooltip-placement="bottom"><span>No Answer Sent To Customer</span></a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_detail_1">
                                    <div class="row">
                                        <div class="message-box-header">
                                            <div class="col-md-6 ">
                                                <div class="user-container">
                                                    <span class="user" ng-show="!row2">
                                                        <img src="/dist/img/agent.png">
                                                    </span>
                                                    <!--For ellipsis or limit the character add  class="username-ellipsis"
                                                    eg :- <span class="username-ellipsis">Alek Packard</span>
                                                    -->
                                                    <span>Alek Packard</span>
                                                </div>
                                                <div class="message-info">
                                                    <b>From : </b>support@1to1service.com<br>
                                                    <b>To : </b>john.doe@example.com<br>
                                                    <b>CC : </b>albert.metricman@example.com<br>
                                                </div>	
                                            </div>    
                                            <div class="col-md-6 col-sm-12">   
                                                <div class="int-det-box"> 
                                                    <div><b>Interaction ID : </b>4645646</div>
                                                    <div><b> Segment / Topic : </b>Support/All Topic</div>
                                                    <div><b> Resolved By : </b></div>
                                                    <div><b> Approved By : </b></div>
                                                    <div><b> Interaction  Status : </b> <small class="bg-green-active label">Sent</small></div>	
                                                    <div><b> Interaction  Type : </b>
                                                        <small class="label bg-green label-with-icon"> 
															<i class="fa icon-c icon-agent-response"></i>
															Agent Response
														</small>
                                                    </div>									
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="col-md-12 mtop-15"><b> <i class="fa fa-paperclip attachment-icon"></i></b> <a href="" class="attachments"><i class="fa fa-file-image-o"></i> <span class="filename">Image1.jpg (123KB)</span></a> <a href=""  class="attachments"><i class="fa fa-file-image-o"></i> <span class="filename">Image2.jpg (30kb)</span></a> <a href=""  class="attachments"><i class="fa fa-file-pdf-o"></i><span class="filename"> File1.pdf (40KB)</span></a> </div>
                                        </div>
                                    </div>	
                                </div>
                                <div class="tab-pane" id="tab_detail_2">
                                    <div class="row">
                                        <div class="message-box-header">
                                            <div class="col-md-6 ">
                                                <div class="user-container">
                                                    <span class="user" ng-show="!row2">
                                                        <img src="/dist/img/agent.png">
                                                    </span>
                                                    <!--For ellipsis or limit the character add  class="username-ellipsis"
                                                    eg :- <span class="username-ellipsis">Alek Packard</span>
                                                    -->
                                                    <span class="username-ellipsis" uib-tooltip="support@1to1service.com" tooltip-placement="bottom">support@1to1service.com</span>
                                                </div>
                                                <div class="message-info">
                                                    <b>From : </b>support@1to1service.com<br>
                                                    <b>To : </b>john.doe@example.com<br>
                                                </div>	
                                            </div>    
                                            <div class="col-md-6 col-sm-12">   
                                                <div class="int-det-box"> 
                                                    <div><b>Interaction ID : </b>4645646</div>
                                                    <div><b> Segment / Topic : </b>Support/All Topic</div>
                                                    <div><b> Resolved By : </b></div>
                                                    <div><b> Approved By : </b></div>
                                                    <div><b> Interaction  Status : </b> <small class="bg-green-active label">Sent</small></div>	
                                                    <div><b> Interaction  Type : </b>
                                                        <small class="label bg-green label-with-icon"> 
                                                            <i class="fa icon-c icon-agent-response"></i>
                                                            Agent Response
                                                        </small>
                                                    </div>									
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="col-md-12 mtop-15"><b> <i class="fa fa-paperclip attachment-icon"></i></b> <a href="" class="attachments"><i class="fa fa-file-image-o"></i> <span class="filename">Image1.jpg (123KB)</span></a> <a href=""  class="attachments"><i class="fa fa-file-image-o"></i> <span class="filename">Image2.jpg (30kb)</span></a> <a href=""  class="attachments"><i class="fa fa-file-pdf-o"></i><span class="filename"> File1.pdf (40KB)</span></a> </div>
                                        </div>
                                    </div>	
                                </div>
                                <div class="tab-pane" id="tab_detail_3">
                                    <div class="row">
                                        <div class="message-box-header">
                                            <div class="col-md-6">
                                                <div class="user-container">
                                                    <span class="user" ng-show="!row2">
                                                        <img src="/dist/img/agent.png">
                                                    </span>
                                                    <span>Alek Packard</span>
                                                </div>
                                             </div>    
                                            <div class="col-md-6 col-sm-12">   
                                                <div class="int-det-box"> 
                                                    <div><b>Interaction ID : </b>4645646</div>
                                                    <div><b> Segment / Topic : </b>Support/All Topic</div>
                                                    <div><b> Resolved By : </b></div>
                                                    <div><b> Approved By : </b></div>
                                                    <div><b> Interaction  Status : </b> <small class="bg-green-active label">Sent</small></div>	
                                                    <div><b> Interaction  Type : </b>
                                                        <small class="label bg-green label-with-icon"> 
                                                            <i class="fa icon-c icon-agent-response"></i>
                                                            Agent Response
                                                        </small>
                                                    </div>									
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="col-md-12 mtop-15"><b> <i class="fa fa-paperclip attachment-icon"></i></b> <a href="" class="attachments"><i class="fa fa-file-image-o"></i> <span class="filename">Image1.jpg (123KB)</span></a> <a href=""  class="attachments"><i class="fa fa-file-image-o"></i> <span class="filename">Image2.jpg (30kb)</span></a> <a href=""  class="attachments"><i class="fa fa-file-pdf-o"></i><span class="filename"> File1.pdf (40KB)</span></a> </div>
                                        </div>
                                    </div>	
                                </div>
                            </div>
                        </div>
                    </div>        
                </div>  
                <h3> Created by Customer</h3>
                <div class="row">
                    <div class="col-md-12">
                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab_customer_detail_1" data-toggle="tab" uib-tooltip="This interaction has file attachments." tooltip-placement="bottom"><i class="fa fa-paperclip"></i> <span>Details & Attachments</span><span class="new-inside"></span></a></li>
                                <li><a href="#tab_customer_detail_2" data-toggle="tab" uib-tooltip="Customer Email" tooltip-placement="bottom"><span>Customer Email</span></a></li>
                                <li><a href="#tab_customer_detail_3" data-toggle="tab" uib-tooltip="Tickets" tooltip-placement="bottom"><span>Tickets</span></a></li>
                                <li><a href="#tab_customer_detail_4" data-toggle="tab" uib-tooltip="Chat" tooltip-placement="bottom"><span>Chat</span></a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_customer_detail_1">
                                    <div class="row">
                                        <div class="message-box-header">
                                            <div class="col-md-6">
                                                <div class="user-container">
                                                    <span class="user" ng-show="!row2">
                                                        <img src="/dist/img/customer.png">
                                                    </span>
                                                    <span>Customer</span>
                                                </div>    
                                                <div class="message-info">
                                                    <b>From : </b> john.doe@example.com<br>
                                                    <b>To : </b> support@1to1service.com<br>
                                                    <b>CC : </b> justin.time@1to1service.com<br>
                                                </div>	
                                            </div>
                                            <div class="col-md-6">
                                                <div class="int-det-box"> 
                                                    <div><b>Interaction ID : </b>4645646</div>
                                                    <div><b> Segment / Topic : </b>Support/All Topic</div>
                                                    <div><b> Resolved By : </b>Alek Packard</div>
                                                    <div><b> Approved By : </b>&nbsp;</div><div><b> Assigned To : </b>&nbsp;</div>			
                                                    <div><b> Interaction  Status : </b> <small class="bg-green-active label">Resolved</small></div>								
                                                    <div><b> Interaction  Type : </b>
                                                        <small class="label bg-blue label-with-icon"> 
															<i class="fa icon-c icon-customer-ticket"></i>
															Customer Ticket
														</small>
                                                    </div>	
                                                </div>


                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="col-md-12 mtop-15"><b> <i class="fa fa-paperclip attachment-icon"></i></b> <a href="" class="attachments"><i class="fa fa-file-image-o"></i> <span class="filename">Image1.jpg (123KB)</span></a> <a href=""  class="attachments"><i class="fa fa-file-image-o"></i> <span class="filename">Image2.jpg (30kb)</span></a> <a href=""  class="attachments"><i class="fa fa-file-pdf-o"></i><span class="filename"> File1.pdf (40KB)</span></a> </div>
                                        </div>
                                    </div>	
                                </div>
                                <div class="tab-pane" id="tab_customer_detail_2">
                                    <div class="row">
                                        <div class="message-box-header">
                                            <div class="col-md-6">
                                                <div class="user-container">
                                                    <span class="user" ng-show="!row2">
                                                        <img src="/dist/img/customer.png">
                                                    </span>
                                                    <span>Customer</span>
                                                </div> 
                                                <div class="message-info">
                                                    <b>From : </b> john.doe@example.com<br>
                                                    <b>To : </b> support@1to1service.com<br>
                                                </div>	
                                            </div>
                                            <div class="col-md-6">
                                                <div class="int-det-box"> 
                                                    <div><b>Interaction ID : </b>4645646</div>
                                                    <div><b> Segment / Topic : </b>Support/All Topic</div>
                                                    <div><b> Resolved By : </b>Alek Packard</div>
                                                    <div><b> Approved By : </b>&nbsp;</div><div><b> Assigned To : </b>&nbsp;</div>			
                                                    <div><b> Interaction  Status : </b> <small class="bg-green-active label">Resolved</small></div>								
                                                    <div><b> Interaction  Type : </b>
                                                        <small class="label bg-blue label-with-icon"> 
                                                            <i class="fa icon-c icon-customer-ticket"></i>
                                                            Customer Ticket
                                                        </small>
                                                    </div>	
                                                </div>


                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="col-md-12 mtop-15"><b> <i class="fa fa-paperclip attachment-icon"></i></b> <a href="" class="attachments"><i class="fa fa-file-image-o"></i> <span class="filename">Image1.jpg (123KB)</span></a> <a href=""  class="attachments"><i class="fa fa-file-image-o"></i> <span class="filename">Image2.jpg (30kb)</span></a> <a href=""  class="attachments"><i class="fa fa-file-pdf-o"></i><span class="filename"> File1.pdf (40KB)</span></a> </div>
                                        </div>
                                    </div>	
                                </div>
                                <div class="tab-pane" id="tab_customer_detail_3">
                                    <div class="row">
                                        <div class="message-box-header">
                                            <div class="col-md-6">
                                                <div class="user-container">
                                                    <span class="user" ng-show="!row2">
                                                        <img src="/dist/img/customer.png">
                                                    </span>
                                                    <span>Customer</span>
                                                </div> 
                                                <div class="message-info">
                                                    <b>From : </b> Finance F<br>orm
                                                    <b>To : </b> All Topic <br>
                                                </div>	
                                            </div>
                                            <div class="col-md-6">
                                                <div class="int-det-box"> 
                                                    <div><b>Interaction ID : </b>4645646</div>
                                                    <div><b> Segment / Topic : </b>Support/All Topic</div>
                                                    <div><b> Resolved By : </b>Alek Packard</div>
                                                    <div><b> Approved By : </b>&nbsp;</div><div><b> Assigned To : </b>&nbsp;</div>			
                                                    <div><b> Interaction  Status : </b> <small class="bg-green-active label">Resolved</small></div>								
                                                    <div><b> Interaction  Type : </b>
                                                        <small class="label bg-blue label-with-icon"> 
                                                            <i class="fa icon-c icon-customer-ticket"></i>
                                                            Customer Ticket
                                                        </small>
                                                    </div>	
                                                </div>


                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="col-md-12 mtop-15"><b> <i class="fa fa-paperclip attachment-icon"></i></b> <a href="" class="attachments"><i class="fa fa-file-image-o"></i> <span class="filename">Image1.jpg (123KB)</span></a> <a href=""  class="attachments"><i class="fa fa-file-image-o"></i> <span class="filename">Image2.jpg (30kb)</span></a> <a href=""  class="attachments"><i class="fa fa-file-pdf-o"></i><span class="filename"> File1.pdf (40KB)</span></a> </div>
                                        </div>
                                    </div>	
                                </div>
                                <div class="tab-pane" id="tab_customer_detail_4">
                                    <div class="row">
                                        <div class="message-box-header">
                                            <div class="col-md-6">
                                                <div class="user-container">
                                                    <span class="user" ng-show="!row2">
                                                        <img src="/dist/img/customer.png">
                                                    </span>
                                                    <span>Customer</span>
                                                </div> 
                                                <div class="message-info">
                                                    <b>From : </b> John Doe<br>
                                                    <b>To : </b> All Topic<br>
                                                </div>	
                                            </div>
                                            <div class="col-md-6">
                                                <div class="int-det-box"> 
                                                    <div><b>Interaction ID : </b>4645646</div>
                                                    <div><b> Segment / Topic : </b>Support/All Topic</div>
                                                    <div><b> Resolved By : </b>Alek Packard</div>
                                                    <div><b> Approved By : </b>&nbsp;</div><div><b> Assigned To : </b>&nbsp;</div>			
                                                    <div><b> Interaction  Status : </b> <small class="bg-green-active label">Resolved</small></div>								
                                                    <div><b> Interaction  Type : </b>
                                                        <small class="label bg-blue label-with-icon"> 
                                                            <i class="fa icon-c icon-customer-ticket"></i>
                                                            Customer Ticket
                                                        </small>
                                                    </div>	
                                                </div>


                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="col-md-12 mtop-15"><b> <i class="fa fa-paperclip attachment-icon"></i></b> <a href="" class="attachments"><i class="fa fa-file-image-o"></i> <span class="filename">Image1.jpg (123KB)</span></a> <a href=""  class="attachments"><i class="fa fa-file-image-o"></i> <span class="filename">Image2.jpg (30kb)</span></a> <a href=""  class="attachments"><i class="fa fa-file-pdf-o"></i><span class="filename"> File1.pdf (40KB)</span></a> </div>
                                        </div>
                                    </div>	
                                </div>
                            </div>
                        </div>
                    </div>        
                </div> 
                <h3> Created by System</h3>
                <div class="row">
                    <div class="col-md-12">
                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab_detail_sytem_1" data-toggle="tab" uib-tooltip="This interaction has file attachments." tooltip-placement="bottom"><i class="fa fa-paperclip"></i> <span>Details & Attachments</span><span class="new-inside"></span></a></li>
                                <li><a href="#tab_detail_sytem_2" data-toggle="tab" uib-tooltip="This interaction has file attachments." tooltip-placement="bottom"><span>All notifications are sent from an iService mailbox to a customer email address</span></a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_detail_sytem_1">
                                    <div class="row">
                                        <div class="message-box-header">
                                            <div class="col-md-6">
                                                <div class="user-container">
                                                    <span class="user" ng-show="!row2">
                                                        <img src="/dist/img/system.png">
                                                    </span>
                                                    <span>System</span>
                                                </div> 
                                                <div class="message-info">
                                                    <b>From : </b> support@1to1service.com<br>
                                                    <b>To : </b>john.doe@example.com<br>
                                                </div>
                                            </div>    	
                                            <div class="col-md-6">
                                                <div class="int-det-box pull-right"> 
                                                    <div><b>Interaction ID :</b> 4645646</div>
                                                    <div><b> Segment / Topic : </b>Support/All Topic</div>
                                                    <div><b> Resolved By : </b>Alek Packard</div>
                                                    <div><b> Approved By : </b>&nbsp;</div><div><b> Assigned To : </b>&nbsp;</div>										
                                                    <div><b> Interaction  Status : </b> <small class="bg-green-active label">Sent</small></div>								
                                                    <div><b> Interaction  Type : </b>
                                                       
                                                    </div>	
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="col-md-12 mtop-15"><b> <i class="fa fa-paperclip attachment-icon"></i></b> <a href="" class="attachments"><i class="fa fa-file-image-o"></i> <span class="filename">Image1.jpg (123KB)</span></a> <a href=""  class="attachments"><i class="fa fa-file-image-o"></i> <span class="filename">Image2.jpg (30kb)</span></a> <a href=""  class="attachments"><i class="fa fa-file-pdf-o"></i><span class="filename"> File1.pdf (40KB)</span></a> </div>
                                        </div>
                                    </div>	
                                </div>
                            </div>
                        </div>
                    </div>        
                </div> 
                <h3> Interaction Properties</h3>
                <div class="row">
                    <div class="col-md-12">
                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab_properties_1" data-toggle="tab"  uib-tooltip=" There are property values set for this interaction." tooltip-placement="bottom"><i class="fa fa-fw fa-exchange"></i> <span>Interaction Properties</span><span class="new-inside"></span></a> </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_properties_1">
                                    <div class="row form-horizontal">
                                        <div class="col-md-4">
                                      

                                            <div class="form-group">    
                                                <label class="col-md-12 control-label text-left">Date</label>
                                                <div class="col-sm-12">
                                                    <div class="input-group date">
                                                        <div class="input-group-addon" ng-click="isDatepickerOpenDelivery = !isDatepickerOpenDelivery">
                                                        <i class="fa fa-calendar"></i>
                                                        </div>
                                                        <input type="text" class="form-control pull-right" ng-focus="isDatepickerOpenDelivery = !isDatepickerOpenDelivery" uib-datepicker-popup="dd/MM/yyyy" ng-model="date" is-open="isDatepickerOpenDelivery" datepicker-options="datepickerOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats">
                                                    </div>
                                                </div>
                                            </div> 
                                            <div class="form-group">    
                                                <label class="col-md-12 control-label control-label text-left">Date - Multiple Values (w/o Desc)</label>
                                                <div class="col-sm-12">
                                                    <div class="simple-label multiple">
                                                        <div class="float-btn-group">
                                                        <button class="margin-5 icon-button button-delete" type="button"><i class="fa fa-times-circle"></i> </button>
                                                        <div class="input-group date">
                                                            <div class="input-group-addon" ng-click="isDatepickerOpenDelivery = !isDatepickerOpenDelivery">
                                                            <i class="fa fa-calendar"></i>
                                                            </div>
                                                            <input type="text" class="form-control pull-right" ng-focus="isDatepickerOpenDelivery = !isDatepickerOpenDelivery" uib-datepicker-popup="dd/MM/yyyy" ng-model="date" is-open="isDatepickerOpenDelivery" datepicker-options="datepickerOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats">
                                                        </div>
                                                        </div>
                                                        <div class="float-btn-group">
                                                        <button class="margin-5 icon-button button-delete" type="button"><i class="fa fa-times-circle"></i> </button>
                                                            <div class="input-group date">
                                                                <div class="input-group-addon" ng-click="isDatepickerOpenDelivery = !isDatepickerOpenDelivery">
                                                                <i class="fa fa-calendar"></i>
                                                                </div>
                                                                <input type="text" class="form-control pull-right" ng-focus="isDatepickerOpenDelivery = !isDatepickerOpenDelivery" uib-datepicker-popup="dd/MM/yyyy" ng-model="date" is-open="isDatepickerOpenDelivery" datepicker-options="datepickerOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats">
                                                            </div>
                                                        </div>
                                                        <button class="margin-5 icon-button button-add-row" type="button"><i class="fa fa-plus-circle"></i> </button>
                                                    </div>
                                                </div>
                                            </div> 
                                           
                                            <div class="form-group">    
                                                <label class="col-md-12 control-label text-left">Integer </label>
                                                <div class="col-sm-12">
                                                <input type="number" class="form-control pull-right">
                                                </div>
                                            </div>
                                            <div class="form-group">    
                                                <label class="col-md-12 control-label control-label text-left">Integer - Multiple Values (w/o Desc)</label>
                                                <div class="col-sm-12">
                                                    <div class="simple-label multiple">
                                                        <div class="float-btn-group">
                                                        <button class="margin-5 icon-button button-delete" type="button"><i class="fa fa-times-circle"></i> </button>
                                                        <input type="number" class="form-control">
                                                        </div>
                                                        <div class="float-btn-group">
                                                        <button class="margin-5 icon-button button-delete" type="button"><i class="fa fa-times-circle"></i> </button>
                                                        <input type="number" class="form-control">
                                                        </div>
                                                        <button class="margin-5 icon-button button-add-row" type="button"><i class="fa fa-plus-circle"></i> </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">    
                                                <label class="col-md-12 control-label text-left required">Text <span class="required">(Required)</span></label>
                                                <div class="col-sm-12">
                                                <input type="text" class="form-control pull-right">
                                                </div>
                                            </div>
                                            
                                           
                                            <div class="form-group">    
                                                <label class="col-md-12 control-label control-label text-left">Text - Multiple Values (w/o Desc)</label>
                                                <div class="col-sm-12">
                                                    <div class="simple-label multiple">
                                                        <div class="float-btn-group">
                                                        <button class="margin-5 icon-button button-delete" type="button"><i class="fa fa-times-circle"></i> </button>
                                                        <input type="text" class="form-control">
                                                        </div>
                                                        <div class="float-btn-group">
                                                        <button class="margin-5 icon-button button-delete" type="button"><i class="fa fa-times-circle"></i> </button>
                                                        <input type="text" class="form-control">
                                                        </div>
                                                        <button class="margin-5 icon-button button-add-row" type="button"><i class="fa fa-plus-circle"></i> </button>
                                                    </div>
                                                </div>
                                            </div>
                                           
                                            <div class="form-group">
                                                <label class="col-md-12 control-label control-label text-left">Text - Multiple Values (w/ Desc)</label>
                                                <div class="col-sm-12">
                                                    <div class="simple-label multiple">
                                                    <div class="float-btn-group">
                                                        <button class="margin-5 icon-button button-delete" type="button"><i class="fa fa-times-circle"></i> </button>
                                                        <div class="input-with-desc">
                                                            <select class="form-control group-property-1">
                                                            <option>Fax</option>
                                                            <option>Home</option>
                                                            <option>Mobile</option>
                                                        </select>  
                                                        <input type="text" class="form-control group-property-2">
                                                        </div>  
                                                    </div>
                                                    <button class="margin-5 icon-button button-add-row" type="button"><i class="fa fa-plus-circle"></i> </button>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">    
                                                <label class="col-md-12 control-label text-left">Text - MultiLine</label>
                                                <div class="col-sm-12">
                                                <textarea class="form-control" rows="3"></textarea>
                                                </div>
                                            </div> 

                                            <div class="form-group">    
                                                <label class="col-md-12 control-label control-label text-left">Text - Multiple Values (w/o Desc)</label>
                                                <div class="col-sm-12">
                                                    <div class="simple-label multiple">
                                                        <div class="float-btn-group">
                                                        <button class="margin-5 icon-button button-delete" type="button"><i class="fa fa-times-circle"></i> </button>
                                                        <textarea class="form-control" rows="3"></textarea>
                                                        </div>
                                                        <div class="float-btn-group">
                                                        <button class="margin-5 icon-button button-delete" type="button"><i class="fa fa-times-circle"></i> </button>
                                                        <textarea class="form-control" rows="3"></textarea>
                                                        </div>
                                                        <button class="margin-5 icon-button button-add-row" type="button"><i class="fa fa-plus-circle"></i> </button>
                                                    </div>
                                                </div>
                                            </div>  
                                            <div class="form-group">
                                                <label class="col-md-12 control-label control-label text-left">List - Multiple Values (w/ Desc)</label>
                                                <div class="col-sm-12">
                                                    <div class="simple-label multiple">
                                                        <div class="float-btn-group">
                                                            <button class="margin-5 icon-button button-delete" type="button"><i class="fa fa-times-circle"></i> </button>
                                                            <div class="input-with-desc">
                                                                <select class="form-control group-property-1">
                                                                    <option>Property 1</option>
                                                                    <option>Property 2</option>
                                                                </select>  
                                                                <select class="form-control group-property-2">
                                                                    <option>Option 1</option>
                                                                    <option>Option 2</option>
                                                                </select> 
                                                            </div>  
                                                        </div>
                                                        <button class="margin-5 icon-button button-add-row" type="button"><i class="fa fa-plus-circle"></i> </button>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">    
                                                <label class="col-md-12 control-label control-label text-left">Text - Multiple Values (w/o Desc)</label>
                                                <div class="col-sm-12">
                                                    <div class="simple-label multiple">
                                                        <div class="float-btn-group">
                                                        <button class="margin-5 icon-button button-delete" type="button"><i class="fa fa-times-circle"></i> </button>
                                                        <select class="form-control">
                                                            <option>Option 1</option>
                                                            <option>Option 2</option>
                                                        </select> 
                                                        </div>
                                                        <div class="float-btn-group">
                                                        <button class="margin-5 icon-button button-delete" type="button"><i class="fa fa-times-circle"></i> </button>
                                                        <select class="form-control">
                                                            <option>Option 1</option>
                                                            <option>Option 2</option>
                                                        </select>
                                                        </div>
                                                        <button class="margin-5 icon-button button-add-row" type="button"><i class="fa fa-plus-circle"></i> </button>
                                                    </div>
                                                </div>
                                            </div>  

                                            <div class="form-group bg-group">
                                                <label class="col-md-12 control-label text-left">Interaction Property Based Skills</label>
                                                <div class="col-md-12">
                                                    <div class="form-group group-bg group-input detail-g-borderbottom"> 
                                                    <label class="col-md-12 control-label text-left group-input-label">Interaction Property</label>
                                                    <div class="col-md-12">
                                                        <select class="form-control group-input-item" ng-change="setFocus()" ng-model="myValue" ng-init="myValue = 21;">
                                                        <option value="21">Answer Property  (QA) (Answer)</option>
                                                        <option value="2">Authorization Type  (QA) (Question)</option>
                                                        <option value="42">Carrier Adjument Amount (AR)  (1to1Service) (Case)</option>
                                                        <option value="48">Case Property</option>
                                                        <option value="7">Change Designation  (QA) (Question)</option>
                                                        <option value="6">Change Priority  (QA) (Question)</option>
                                                        </select>
                                                    </div>
                                                    </div>
                                                    <div class="form-group group-bg group-input detail-g-borderbottom detail-g-bordertop">
                                                    <label class="col-md-12 control-label text-left  group-input-label">Interaction Property Value</label>
                                                    <div class="col-md-12">														
                                                        <input type="text" class="form-control group-input-item" id="propertyValue">
                                                    </div>
                                                    </div>
                                                    <div class="form-group group-bg group-input detail-g-bordertop">
                                                    <label class="col-md-12 control-label text-left  group-input-label">Interaction Property Value Type</label>
                                                    <div class="col-md-12">														
                                                        <input type="text" class="form-control group-input-item" id="propertyValue2">
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                <label class="col-md-12 control-label text-left">Mailbox List</label>
                                                <div class="col-md-12">
                                                    <div class="ng-cloak"  ng-controller="MailboxCtrl as ctrl">
                                                        <ui-select ng-model="ctrl.segmentselected.selected" theme="select2" title="Choose a segment">
                                                            <ui-select-match placeholder="Select or search a segment in the list..." ng-bind="$select.selected.name || $select.selected"></ui-select-match>
                                                            <ui-select-choices group-by="'segmentname'" repeat="item in ctrl.segment | filter: $select.search">
                                                                <span ng-bind-html="item.name | highlight: $select.search"></span> <span ng-if="item.default == 'y'">(Default)</span><br>
                                                                <span ng-bind-html="item.email | highlight: $select.search"></span>
                                                            </ui-select-choices>
                                                        </ui-select>
                                                    </div>
                                                </div>    
                                            </div> 
                                            
                                            <div class="form-group">
                                                <label class="col-md-12 control-label text-left">Agent List</label>
                                                <div class="col-md-12">
                                                    <div class="ng-cloak" ng-controller="AgentCtrl2 as ctrl">
                                                        <ui-select ng-model="ctrl.agentselected.selected" theme="select2">
                                                          <ui-select-match placeholder="Select or search an agent in the list..." ng-bind="$select.selected.name || $select.selected"></ui-select-match>
                                                          <ui-select-choices  repeat="item in ctrl.agentnames | filter: $select.search" ui-disable-choice="{% raw %}{{ item.disabled}}{% endraw %}" >
                                                          <span ng-attr-title="{{ item.name }}"  ng-attr-class="{% raw %}{{ item.disabled }}{% endraw %}"  ng-bind-html="item.name | highlight: $select.search"></span><span ng-if="item.loggedout == 'loggedout'"><i class="fa fa-fw fa-sign-out text-red" uib-tooltip="Logged Out Agent" tooltip-placement="bottom"></i></span>
                                                          <span ng-if="item.notavailable == 'notavailable'"><i class="fa  fa-ban text-red" uib-tooltip="This agent is not available because they  are logged out and have the Empty Inbox setting" tooltip-placement="bottom"></i></span>
                                                          <br>
                                                          <span ng-attr-title="{{ item.email }}"  ng-attr-class="{% raw %}{{ item.disabled }}{% endraw %}"  ng-bind-html="item.email | highlight: $select.search"></span>
                                                          </ui-select-choices>
                                                        </ui-select>
                                                    </div>
                                                </div> 
                                            </div>


                                            <div class="form-group">
                                                <label class="col-md-12 control-label text-left">Topic List</label>
                                                <div class="col-md-12">
                                                    <div class="ng-cloak" ng-controller="ChangeTopicCtrl as ctrl">
                                                        <ui-select ng-model="ctrl.topicselected.selected" theme="select2" title="Choose a topic">
                                                            <ui-select-match placeholder="Select or search a topic in the list..." ng-bind="$select.selected.name || $select.selected"></ui-select-match>
                                                            <ui-select-choices group-by="'segment'" repeat="item in ctrl.topic | filter: $select.search" ui-disable-choice="{% raw %}{{ item.disabled}}{% endraw %}" >
                                                                <span ng-attr-title="{{ item.name }}"  ng-attr-class="op-level-{% raw %}{{ item.topiclevel }}{% endraw %} {% raw %}{{ item.disabled }}{% endraw %}"  ng-bind-html="item.name | highlight: $select.search"></span>
                                                            </ui-select-choices>
                                                        </ui-select>
                                                    </div>
                                                </div> 
                                           
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>        
                </div>  
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        {% include common-footer.html %}
        <!-- Control Sidebar -->
        {% include right-panel-setting-menu.html %}
		<!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->
    <!-- jQuery 3.1.1 -->
    {% include common-javascript.html %}

    {% include common-controller-function.html %}


    <script>
	angular.module('iService').controller('FromEmail', function ($scope, $http, $timeout, $interval) {
				var vm = this;
				vm.agent = {};
				vm.agentselected = {selected : "--Default MailBox--"};
				vm.agentname = [ 
					{name: '--Default MailBox--', code: ''},
					{name: 'Customer Support (support@example.com)', code: ''},
					{name: 'Sales (Sales@example.com)', code: ''},
					{name: 'Technical Support (technicalsupport@example.com)', code: ''},
				];
            });
            
    app.controller('MailboxCtrl', function ($scope, $http, $timeout, $interval) {
        var vm = this;
      
        vm.segmentselected = {selected : "Select or search for a mailbox to receive interaction"};
			vm.segment = [
				{ name: 'Sales',email:'sales@1to1service.com', segmentname: 'Customer Success', default:'y' },
				{ name: 'Technical',email:'Support support@1to1service.com', segmentname: 'Customer Success', default:'n' },
				{ name: 'Benefits',email:'benefits@1to1service.com', segmentname: 'Human Resource', default:'n' },
				{ name: 'Human Resources',email:'human.resources@1to1service.com',  segmentname: 'Human Resource', default:'n' },
			];
		});
    </script>    
</body>
</html>
