---
title: Quote Admin
---
<!DOCTYPE html>
<html ng-app="iService">
<head>
    {% include common-head.html %}
	<link href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.16/css/dataTables.bootstrap.min.css" rel="stylesheet">
	<link href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css" rel="stylesheet" />
	<link href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.bootstrap.min.css" rel="stylesheet" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" rel="stylesheet" />
</head>
<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">
        {% include common-header.html %}
        {% include common-menu.html %}
				<!-- Content Wrapper. Contains page content -->
		
    <div class="content-wrapper">
						<!-- Content Header (Page header) -->
		<div class="clearfix"></div>	
		<section class="content-header" ng-controller="popoverCtrl"> 
			<h1>
				{{ page.title }} <i class="fa fa-question-circle text-info help-icon" popover-placement="auto bottom-left" uib-popover-template="popover.templateUrl" popover-title="Quote and Follow Up Configuration Prerequisites" type="button"  popover-trigger="outsideClick"></i></h1>
				<ol class="breadcrumb">
					<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
					<li class="active">Custom Forms Admin</li>
					<li class="active">{{ page.title }}</li>
				</ol>
		</section>

			<!-- Main content -->
		<section class="content"  ng-controller="myCtrl">
			<div class="row p-l-0">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-12">
							<div class="box box-info">
								<div class="box-header with-border" ng-click="isCollapsedForm = !isCollapsedForm">
									<i class="fa icon-c icon-qoute-admin"></i>
									<h3 class="box-title head-title-padding">Quote Configurations</h3>
									<span aria-hidden="true" class="glyphicon pull-right glyphicon-chevron-right" ng-class="{'glyphicon-chevron-right__expanded': !isCollapsedForm}" ng-init="isCollapsedForm = false;"></span>
								</div>
								<!-- /.box-header -->
								<!-- form start -->
								<div class="box-body table-responsive" uib-collapse="isCollapsedForm">
									<table class="table table-striped table-hover" datatable dt-options="dtQuoteListsOptions" dt-column-defs="dtQuoteListsColumnDefs">
										<thead>
											<tr>
												<!--<th class="no-sort"  name="name" width="30"></th>-->
												<th class="text-capitalize">
													Segment
												</th>
												<th class="text-capitalize">
													Quote Topic
												</th>
												<th class="text-capitalize">
													Follow Up Topic
												</th>
												<th class="text-capitalize">
													Stock Responses
												</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-click="toggleFormStep('row1')" ng-class="{true: 'row-active', false: ''}[row1]">
												<!--<th class="no-sort"  name="name" width="30"></th>-->
												<td class="text-capitalize">
													Segment 1
												</td>
												<td class="text-capitalize">
													Quote Requests
												</td>
												<td class="text-capitalize">
													Open Quotes
												</td>
												<td>
													Electronics Quote, Audio Quote
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div> 
						</div>                         
					</div>
				<!-- /.col -->
					<div class="row">
						<div class="col-md-12 form-group">
							<button class="btn btn-primary" type="button" ng-click="showNewFormStep(1)">
									New Topic Config
							</button>
							<button class="btn btn-danger btn-delete" type="button" ng-click="showAlert = true">
									Remove Topic Config...
								</button>
						</div>	
					</div>		

					<div class="row" ng-show="showAlert">
						<div class="col-md-12">
							<div class="box box-danger">
								<div class="box-header with-border">
									<i class="fa fa-warning"></i>
									<h3 class="box-title">Alerts</h3>
								</div>
								<div class="box-body">
									<div class="row">
										<div class="col-md-12">
											<p class="text-red">Deletion is immediate and irrevocable upon confirmation.</p>
										</div>
										<div class="col-md-12">
											<button type="button" class="btn btn-danger btn-sm">Confirm Deletion</button>
											<button type="button" class="btn btn-link" ng-click="showAlert = false">Cancel</button>
										</div>
									</div>
								</div>	
							</div>	
						</div>	
					</div>	
					<div class="row" ng-show="formstep1">
							<div class="col-md-12">
								<div class="box box-primary">
									<div class="box-header with-border">
										<i class="fa icon-c icon-qoute-admin"></i>
										<h3 class="box-title text-right">New Topic Config</h3>
									</div>
									<div class="box-body">
										<section class="search-parameters">
											<div class="row">
												<div class="form-horizontal mtop-15">
													<div class="col-md-7">
														<div class="form-group">
															<label class="col-md-12 control-label text-left">"To Quote" Topic</label>
															<div class="col-md-12 ng-cloak" ng-controller="TopicCtrl as ctrl">
																<ui-select ng-model="ctrl.topicselected.selected" theme="select2" ng-disabled="ctrl.disabled" style="width: 300px;" title="Choose a topic">
																  <ui-select-match placeholder="Select or search for a topic in the list ..." ng-bind="$select.selected.Topic || $select.selected"></ui-select-match>
																  <ui-select-choices repeat="topic in ctrl.topicname | filter: $select.search">
																	<span ng-bind-html="topic.Topic | highlight: $select.search"></span>
																  </ui-select-choices>
																</ui-select>
															 </div>
														</div>
													</div>
													<div class="col-md-7">
														<div class="form-group">
															<label class="col-md-12 control-label text-left"> Stock responses used for the "To Quote" topic</label>
															<div class="col-md-12">
																<div class="simple-label multiple" ng-controller="QuoteCtrl as ctrl">
																	<div class="float-btn-group">
																		<button class="margin-5 icon-button button-delete" type="button"><i class="fa fa-times-circle"></i> </button>
																		<ui-select ng-model="ctrl.quoteselected.selected" theme="select2" ng-disabled="ctrl.disabled" style="width: 300px;" title="Choose a filter">
																			<ui-select-match placeholder="Select or search a quote in the list..." ng-bind="$select.selected.name || $select.selected"></ui-select-match>
																			<ui-select-choices repeat="quote in ctrl.quotename | filter: $select.search">
																			  <span ng-bind-html="quote.name | highlight: $select.search"></span>
																			</ui-select-choices>
																		</ui-select>
																	</div>
																	<div class="float-btn-group" >
																		<button class="margin-5 icon-button button-delete" type="button"><i class="fa fa-times-circle"></i> </button>
																		<ui-select ng-model="ctrl.quoteselected2.selected" theme="select2" ng-disabled="ctrl.disabled" style="width: 300px;" title="Choose a filter">
																			<ui-select-match placeholder="Select or search a quote in the list..." ng-bind="$select.selected.name || $select.selected"></ui-select-match>
																			<ui-select-choices repeat="quote in ctrl.quotename | filter: $select.search">
																			  <span ng-bind-html="quote.name | highlight: $select.search"></span>
																			</ui-select-choices>
																		</ui-select>
																	</div>
																	<button class="margin-5 icon-button button-add-row" type="button"><i class="fa fa-plus-circle"></i> </button>
																</div>
															</div>		
														</div>
													</div>
													<div class="col-md-7">
														<div class="form-group">
															<label class="col-md-12 control-label text-left">"Open Quotes" Topic</label>
															<div class="col-md-12 ng-cloak" ng-controller="TopicCtrl as ctrl">
																<ui-select ng-model="ctrl.topicselected2.selected" theme="select2" ng-disabled="ctrl.disabled" style="width: 300px;" title="Choose a topic">
																  <ui-select-match placeholder="Select or search for a topic in the list ..." ng-bind="$select.selected.Topic || $select.selected"></ui-select-match>
																  <ui-select-choices repeat="topic in ctrl.topicname | filter: $select.search">
																	<span ng-bind-html="topic.Topic | highlight: $select.search"></span>
																  </ui-select-choices>
																</ui-select>
															 </div>
														</div>
													</div>
												
												</div>
											</div>	
											
											<div class="row">
												<div class="col-md-12">
													<button type="button" class="btn btn-primary margin-r-5" ng-click="showNewFormStep(2)">Create</button>
													<button type="button" class="btn btn-link" ng-click="cancelForm(2)">Cancel</button>
												</div>
											</div>	
										</section>
									</div>
								</div>
							</div>	
					</div>
					<div class="row" ng-show="formstep2">
						<div class="col-md-12">
							<div class="box box-primary">
								<div class="box-header with-border">
									<i class="fa icon-c icon-qoute-admin"></i>
									<h3 class="box-title text-right">Quote Configuration Details</h3>
								</div>	
								<div class="box-body">
									<div class="row">
										<div class="form-horizontal mtop-15">
											<div class="col-md-7">
												<div class="form-group">
												    <label class="col-md-12 control-label text-left">"To Quote" Topic</label>
													<div class="col-md-12 ng-cloak" ng-controller="TopicCtrl as ctrl">
														<ui-select ng-model="ctrl.topicselected.selected" theme="select2" ng-disabled="ctrl.disabled" style="width: 300px;" title="Choose a topic">
														  <ui-select-match placeholder="Select or search for a topic in the list ..." ng-bind="$select.selected.Topic || $select.selected"></ui-select-match>
														  <ui-select-choices repeat="topic in ctrl.topicname | filter: $select.search">
															<span ng-bind-html="topic.Topic | highlight: $select.search"></span>
														  </ui-select-choices>
														</ui-select>
													 </div>
												</div>
											</div>
											<div class="col-md-7">
												<div class="form-group">
													<label class="col-md-12 control-label text-left"> Stock responses used for the "To Quote" topic</label>
													<div class="col-md-12">
														<div class="simple-label multiple" ng-controller="QuoteCtrl as ctrl">
															<div class="float-btn-group">
																<button class="margin-5 icon-button button-delete" type="button"><i class="fa fa-times-circle"></i> </button>
																<ui-select ng-model="ctrl.quoteselected.selected" theme="select2" ng-disabled="ctrl.disabled" style="width: 300px;" title="Choose a filter">
																	<ui-select-match placeholder="Select or search a quote in the list..." ng-bind="$select.selected.name || $select.selected"></ui-select-match>
																	<ui-select-choices repeat="quote in ctrl.quotename | filter: $select.search">
																	  <span ng-bind-html="quote.name | highlight: $select.search"></span>
																	</ui-select-choices>
																</ui-select>
															</div>
															<div class="float-btn-group" >
																<button class="margin-5 icon-button button-delete" type="button"><i class="fa fa-times-circle"></i> </button>
																<ui-select ng-model="ctrl.quoteselected2.selected" theme="select2" ng-disabled="ctrl.disabled" style="width: 300px;" title="Choose a filter">
																	<ui-select-match placeholder="Select or search a quote in the list..." ng-bind="$select.selected.name || $select.selected"></ui-select-match>
																	<ui-select-choices repeat="quote in ctrl.quotename | filter: $select.search">
																	  <span ng-bind-html="quote.name | highlight: $select.search"></span>
																	</ui-select-choices>
																</ui-select>
															</div>
															<button class="margin-5 icon-button button-add-row" type="button"><i class="fa fa-plus-circle"></i> </button>
														</div>
													</div>		
												</div>
											</div>
											<div class="col-md-7">
												<div class="form-group">
													<label class="col-md-12 control-label text-left">"Open Quotes" Topic</label>
													<div class="col-md-12 ng-cloak" ng-controller="TopicCtrl as ctrl">
														<ui-select ng-model="ctrl.topicselected2.selected" theme="select2" ng-disabled="ctrl.disabled" style="width: 300px;" title="Choose a topic">
														  <ui-select-match placeholder="Select or search for a topic in the list ..." ng-bind="$select.selected.Topic || $select.selected"></ui-select-match>
														  <ui-select-choices repeat="topic in ctrl.topicname | filter: $select.search">
															<span ng-bind-html="topic.Topic | highlight: $select.search"></span>
														  </ui-select-choices>
														</ui-select>
													 </div>
												</div>
											</div>
										
										</div>
									</div>	
									
									<div class="row">
										<div class="col-md-12">
											<button type="button" class="btn btn-primary margin-r-5">Save</button>
										</div>
									</div>	
								</div>	
							</div>	 
						</div>	
					</div>
				</div> 
			</div>
		</section>
	</div>
        <!-- /.content-wrapper -->
    {% include common-footer.html %}
        <!-- Control Sidebar -->
		{% include right-panel-setting-menu.html %}
		<!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->
    {% include common-javascript.html %}
	   <!-- DataTables -->
	   
	<script type="text/ng-template" id="myPopoverTemplate.html">
		<div>
			Before you configure your quote and follow up forms, make sure you have the following prerequisites in place.
			<br><br>

			1) Create the Interaction Properties that are required in your quote. This includes values like price, quantity, delivery date that will be in your stock response. If any of the properties require a list, create the list in the Additional Details page. In addition to properties used to generate the quote, you might need a property to track the reason for the final disposition of your quote (won, lost, etc.).
			<br><br>
			2) Create your Stock Responses that will be sent to your customer. The stock response will include the values you enter into the interaction properties created in step 1 above, and is what the customer will receive via email when you send the quote.
			<br><br>
			3) Create Topics for new quote requests ("To Quote") and tracking pending quotes ("Open Quotes"). Questions in the To Quote queue will presented using the custom quote form you configure below. When quotes are sent, a tracking ticket will be created in the topic you specify for "Open Quotes."

		</div>
	</script>	   
  <script>
	$(document).ready(function() {
    // DataTable
	  	$('.custom-scroll').slimScroll({
			height: '325px'
		});
	}); 
	</script>
	<script>
	var count = 1;
	var i = 1;

	
	app.controller('myCtrl', function ($scope, $log, $compile, DTOptionsBuilder, DTColumnDefBuilder)
	{ 

				$scope.dtQuoteListsOptions = DTOptionsBuilder
						.newOptions().withDisplayLength(5)
						.withOption('language', {
							search: 'Filter Quote Configurations'
						}).withBootstrap().withButtons(['copy', 'excel', 'pdf', {
					extend: 'colvis',
					columns: function (index, apiObj, headCell)
					{
						// The attribute data-no-col-vis in the markup is a custom marker that indicates that I want to
						// disable the show/hide column functionality for certain columns
						return headCell.dataset.noColVis === undefined;
					}
				}]);
				$scope.toggle = {};

				$scope.formItemList = [];
			
				$scope.dtSubscriberOptions = DTOptionsBuilder
				.newOptions().withDisplayLength(5).withOption('language', {
					search: 'Filter Quote Configurations'
				})
				.withBootstrap().withButtons(['copy', 'excel', 'pdf', {
					extend: 'colvis',
					columns: function (index, apiObj, headCell)
					{
						// The attribute data-no-col-vis in the markup is a custom marker that indicates that I want to
						// disable the show/hide column functionality for certain columns
						return headCell.dataset.noColVis === undefined;
					}
				}]);

				
				$scope.dtUnSubscriberOptions = DTOptionsBuilder
				.newOptions().withDisplayLength(5).withOption('language', {
					search: 'topic Subscribers '
				})
				.withBootstrap().withButtons(['copy', 'excel', 'pdf', {
					extend: 'colvis',
					columns: function (index, apiObj, headCell)
					{
						// The attribute data-no-col-vis in the markup is a custom marker that indicates that I want to
						// disable the show/hide column functionality for certain columns
						return headCell.dataset.noColVis === undefined;
					}
				}]);

				$scope.dtSearchOptions = DTOptionsBuilder
						.newOptions().withDisplayLength(5)
						.withOption('language', {
							search: 'topic Search Results'
						}).withBootstrap().withButtons(['copy', 'excel', 'pdf', {
					extend: 'colvis',
					columns: function (index, apiObj, headCell)
					{
						// The attribute data-no-col-vis in the markup is a custom marker that indicates that I want to
						// disable the show/hide column functionality for certain columns
						return headCell.dataset.noColVis === undefined;
					}
				}]);


				$scope.cancelForm = function(step){
					for(var i =1; i<=2; i++){
						if(i == step){
						$scope['formstep'+i] = true;
						}	   
						else	
						$scope['formstep'+i] = false;
					}
				};		

				$scope.showNewFormStep = function(step){
					for(var i =1; i<=2; i++){
						if(i == step){
						$scope['formstep'+i] = true;
						}	   
						else	
						$scope['formstep'+i] = false;
				}

		};
		
		$scope.toggleFormStep = function(segmentName){
			for(var i =1; i<=2; i++){
				$scope['row'+i] = false;  
			}
			$scope[segmentName] = !$scope[segmentName];
				$scope['formstep'+2] = !$scope['formstep'+2];
		};

		$scope.toggleFormStepResponse = function(segmentName){
			for(var i =1; i<=4; i++){
				$scope['rowresponse'+i] = false;  
			}
			$scope[segmentName] = !$scope[segmentName];
				$scope['formstepresponse'+4] = !$scope['formstepresponse'+4];
		};

		$scope.showNewFormResponse = function(){
			$scope['formstepresponse'+4] = true;
		};
       
		$scope.customForm = function(){
			$scope.customform = true;
		}
		$scope.builtinForm = function(){
			$scope.customform = false;
		}
	});
	app.controller('myCtrlDetail', function ($scope) {
      
	  $scope.toggleSegmentCollapsedState = function (segmentName)
	  { 
			$scope[segmentName] = !$scope[segmentName];
	  };
  });

  angular.module('iService').controller('TopicCtrl', function ($scope, $http, $timeout, $interval) {
		var vm = this;
			vm.topic = {};
	        vm.topicselected = {selected : "Quote Requests"};
			vm.topicselected2 = {selected : "Open Quotes"};
		    vm.topicname = [ 
					{Topic: 'e-shop -- All Topic'},
					{Topic: '.._Feedback'},
					{Topic: '.._Newsletter Subscription'},
					{Topic: '.._Spam'},
					{Topic: '.._Undeliverable'},
					{Topic: '..Account Questions'},
					{Topic: '....Orders'},
					{Topic: '....Refunds'},
					{Topic: '....Returns'},
					{Topic: '..Product'},
					{Topic: '....Audio-Video'},
					{Topic: '....Cameras'},
					{Topic: '....Cell Phones'},
					{Topic: '....Computers'},
					{Topic: '....Television'},
					{Topic: '..Shipping'},
					{Topic: '..Technical Support'},
					{Topic: '....Open Quotes'},
					{Topic: 'Quote Requests'},
					{Topic: 'Open Quotes'}
		
		    ];
	});
	angular.module('iService').controller('QuoteCtrl', function ($scope, $http, $timeout, $interval) {
			var vm = this;
			vm.quote = {};
	        vm.quoteselected = {selected : "Electronics Quote"};
			vm.quoteselected2 = {selected : "Audio Quote"};
		    vm.quotename = [ 
			{name: 'Electronics Quote', code: ''},
			{name: 'Audio Quote', code: ''},
		
		];
	});
	app.controller('popoverCtrl', function ( $scope) {
		$scope.popover = {
			templateUrl: 'myPopoverTemplate.html'
		};
	});
	</script>
</body>
</html>
