---
title:  Segment - Customer Service
---
<!DOCTYPE html>
<html ng-app="iService">
<head>
    {% include common-head.html %}
	<link href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.16/css/dataTables.bootstrap.min.css" rel="stylesheet">
	<link href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css" rel="stylesheet" />
	<link href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.bootstrap.min.css" rel="stylesheet" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css" rel="stylesheet" />

</head>
<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">
    {% include common-header.html %}
    {% include common-menu.html %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
     <section class="content-header">
					<h1>
							{{ page.title }}
					</h1>
			</section>
      <!-- Main content -->
      <section class="content">
          <div class="nav-tabs-custom color-tab">
            <ul class="nav nav-tabs">
              <li class="active">
                <a href="#tab_segment_details" data-toggle="tab">
                  <i class="fa fa-ellipsis-h"></i>
                  <span>Details</span>
                </a>
              </li>
              <li>
                <a href="#tab_contact_properties" data-toggle="tab">
                  <i class="fa fa-user"></i>
                  <span>Contact Properties</span>
                </a>
              </li>
              <li>
                <a href="#tab_interaction_properties" data-toggle="tab">
                  <i class="fa fa-exchange"></i>
                  <span>Interaction Properties</span>
                </a>
              </li>
              <li>
                <a href="#tab_mailboxes" data-toggle="tab">
                  <i class="fa fa-inbox"></i>
                  <span>Mailboxes</span>
                </a>
              </li>
              <li>
                <a href="#tab_auto_response" data-toggle="tab">
                  <i class="fa fa-reply "></i>
                  <span>Auto Responses</span>
                </a>
              </li>
              <li>
                <a href="#tab_stock_response" data-toggle="tab">
                  <i class="fa fa-reply "></i>
                  <span>Stock Responses</span>
                </a>
              </li>
              
            </ul>
            <div class="tab-content box-bg-color">
              <div class="tab-pane active" id="tab_segment_details">
                  <div class="row form-horizontal">
                    <div class="col-md-6">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label for="inputPassword3" class="col-sm-12 control-label text-left">Name</label>
                            <div class="col-sm-12">
                              <input type="text" class="form-control" value="Sales">
                            </div>
                          </div>
                        </div> 
                        <div class="col-md-12">
                          <div class="form-group">
                            <label for="inputPassword3" class="col-sm-12 control-label text-left">Description</label>
                            <div class="col-sm-12">
                              <textarea class="form-control" row="3"></textarea>
                            </div>
                          </div>
                        </div> 
                        <div class="col-md-12">
                          <div class="form-group">
                            <label for="inputPassword3" class="col-sm-12 control-label text-left">Parent</label>
                            <div class="col-sm-12">
                              <select class="form-control">
                                <option>Salesforce</option>
                              </select>
                            </div>
                          </div>
                        </div> 
                        <div class="col-md-12">
                          <div class="checkbox">
                            <label>
                              <input type="checkbox"> Standard Segment
                            </label>
                          </div>
                        </div> 
                        <div class="col-md-12">
                          <div class="checkbox">
                            <label>
                              <input type="checkbox"> Queue all unassigned interactions for same contact with Get Next
                            </label>
                          </div>
                        </div>
                      </div>
                    </div> 
                    <div class="col-md-6">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label for="inputPassword3" class="col-sm-12 control-label text-left">Segment Default Topic Auto Response</label>
                              <div class="col-sm-12">
                                <select class="form-control">
                                  <option>-None-</option>
                                  <option>option 2</option>
                                  <option>option 3</option>
                                  <option>option 4</option>
                                  <option>option 5</option>
                                </select>
                              </div>
                            </div>
                            </div> 
                            <div class="col-md-12">
                            <div class="form-group">
                              <label for="inputPassword3" class="col-sm-12 control-label text-left">Segment Default Account Creation Message</label>
                              <div class="col-sm-12">
                                <select class="form-control">
                                  <option>-None-</option>
                                  <option>option 2</option>
                                  <option>option 3</option>
                                  <option>option 4</option>
                                  <option>option 5</option>
                                </select>
                              </div>
                            </div>
                            </div> 
                            <div class="col-md-12">
                            <div class="form-group">
                              <label for="inputPassword3" class="col-sm-12 control-label text-left">Segment Default Agent Notification Message</label>
                              <div class="col-sm-12">
                                <select class="form-control">
                                  <option>-None-</option>
                                  <option>option 2</option>
                                  <option>option 3</option>
                                  <option>option 4</option>
                                  <option>option 5</option>
                                </select>
                              </div>
                            </div>
                            </div> 
                            <div class="col-md-12">
                            <div class="form-group">
                              <label for="inputPassword3" class="col-sm-12 control-label text-left">Segment Default Find Answer Default Notification Message</label>
                              <div class="col-sm-12">
                                <select class="form-control">
                                  <option>-None-</option>
                                  <option>option 2</option>
                                  <option>option 3</option>
                                  <option>option 4</option>
                                  <option>option 5</option>
                                </select>
                              </div>
                            </div>
                            </div> 
                            <div class="col-md-12">
                            <div class="form-group">
                              <label for="inputPassword3" class="col-sm-12 control-label text-left">Segment Default Service Lavel</label>
                              <div class="col-sm-12">
                                <select class="form-control">
                                  <option>-None-</option>
                                  <option>option 2</option>
                                  <option>option 3</option>
                                  <option>option 4</option>
                                  <option>option 5</option>
                                </select>
                              </div>
                            </div>
                            </div> 
                        </div> 
                      </div> 
                    <div class="col-md-12">
                      <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                  </div>  
              </div> 
              <div class="tab-pane" id="tab_contact_properties">
                  <div class="row">
                      <div class="col-md-12 form-group">
                        <button class="btn btn-primary" type="button" ng-click="showNewFormStep(1)">
                            New Contact
                        </button>
                        <button class="btn btn-primary" type="button" ng-click="showStepStep(1)">
                          Delete Contact
                        </button>
                      </div>	
                  </div>  
              </div> 
              <div class="tab-pane" id="tab_interaction_properties">
                  <div class="row">
                      <div class="col-md-12">
                      </div> 
                  </div>  
              </div> 
              <div class="tab-pane" id="tab_mailboxes">
                  <div class="row">
                      <div class="col-md-12">
                      </div> 
                  </div>  
              </div> 
              <div class="tab-pane" id="tab_auto_response">
                  <div class="row">
                      <div class="col-md-12">
                      </div> 
                  </div>  
              </div>
              <div class="tab-pane" id="tab_stock_response">
                  <div class="row">
                      <div class="col-md-12">
                      </div> 
                  </div>  
              </div> 
              <div class="tab-pane" id="tab_topics">
                  <div class="row">
                      <div class="col-md-12">
                      </div> 
                  </div>  
              </div> 
              <div class="tab-pane" id="tab_filters">
                  <div class="row">
                      <div class="col-md-12">
                      </div> 
                  </div>  
              </div>     
            </div>  
          </div> 

        <!-- /.row -->
        <!-- END ACCORDION & CAROUSEL-->
      </section>
    </div>
   
    <!-- /.content-wrapper -->
    {% include common-footer.html %}
    <!-- Control Sidebar -->
    {% include right-panel-setting-menu.html %}
	<!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
        immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
  </div>
  <!-- ./wrapper -->
  {% include common-javascript.html %}

 <script>
    angular.module('iService').controller('myCtrl', function ($scope, $log, $compile, DTOptionsBuilder, DTColumnDefBuilder)
    {
    });
 </script>  
</body>
</html>
