---
title: Timeline Icons
---
<!DOCTYPE html>
<html ng-app="iService">
<head>
    {% include common-head.html %}
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        {% include common-header.html %}
        {% include common-menu.html %}
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    {{ page.title }}
                </h1>
            </section>

              <!-- Main content -->
			<section class="content">

			  <!-- row -->
			  <div class="row">
				<div class="col-md-12">
				  <!-- The time line -->
				  <ul class="timeline">
					<!-- timeline time label -->
					<li class="time-label">
						  <span class="bg-red">
							10 Feb. 2014
						  </span>
					</li>
					<!-- /.timeline-label -->
					<!-- timeline item -->
					<li>
					  <i class="fa fa-envelope bg-blue"></i>

					  <div class="timeline-item">
						<span class="time"><i class="fa fa-clock-o"></i> 12:05</span>

						<h3 class="timeline-header"><a href="#">Customer Email</a></h3>

						<div class="timeline-body">
						  Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
						  weebly ning heekya handango imeem plugg dopplr jibjab, movity
						  jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle
						  quora plaxo ideeli hulu weebly balihoo...
						</div>
						<div class="timeline-footer">
						  <a class="btn btn-primary btn-xs">Read more</a>
						  <a class="btn btn-danger btn-xs">Delete</a>
						</div>
					  </div>
					</li>
					
					<li>
					  <i class="fa fa-ticket bg-orange"></i>

					  <div class="timeline-item">
						<span class="time"><i class="fa fa-clock-o"></i> 12:05</span>

						<h3 class="timeline-header"><a href="#">Ticket</a></h3>

						<div class="timeline-body">
						  Etsy doostang zoodles disqus groupon greplin oooj voxy zoodle
						</div>
						<div class="timeline-footer">
						  <a class="btn btn-primary btn-xs">Read more</a>
						  <a class="btn btn-danger btn-xs">Delete</a>
						</div>
					  </div>
					</li>
					
					<li>
					  <i class="fa  fa-question bg-teal-active"></i>

					  <div class="timeline-item">
						<span class="time"><i class="fa fa-clock-o"></i> 27 mins ago</span>

						<h3 class="timeline-header"><a href="#">Ask a question</a></h3>

						<div class="timeline-body">
						  Take me to your leader!
						  Switzerland is small and neutral!
						  We are more like Germany, ambitious and misunderstood!
						</div>
						<div class="timeline-footer">
						  <a class="btn btn-warning btn-flat btn-xs">View comment</a>
						</div>
					  </div>
					</li>
					<li>
					  <i class="fa fa-comments bg-yellow"></i>

					  <div class="timeline-item">
						<span class="time"><i class="fa fa-clock-o"></i> 27 mins ago</span>

						<h3 class="timeline-header"><a href="#">Chat</a></h3>

						<div class="timeline-body">
						  Take me to your leader!
						  Switzerland is small and neutral!
						  We are more like Germany, ambitious and misunderstood!
						</div>
						<div class="timeline-footer">
						  <a class="btn btn-warning btn-flat btn-xs">View comment</a>
						</div>
					  </div>
					</li>
					<!-- END timeline item -->
					<!-- timeline item -->
					<li>
						<span class="fa-stack stack-icon fa-lg bg-aqua">
						   <i class="fa fa-user fa-stack-1x"></i>
						   <i class="fa fa-reply icon-agent-reply aqua fa-stack"></i>
						</span>
					  <div class="timeline-item">
						<span class="time"><i class="fa fa-clock-o"></i> 5 mins ago</span>
						<h3 class="timeline-header no-border"><a href="#">Agent Response</a> </h3>
					  </div>
					</li>
					
					<li>
						<span class="fa-stack stack-icon fa-lg bg-blue">
						   <i class="fa fa-envelope fa-stack-1x"></i>
						   <i class="fa fa-lock icon-secure-lock red fa-stack"></i>
						</span>
					  <div class="timeline-item">
						<span class="time"><i class="fa fa-clock-o"></i> 5 mins ago</span>
						<h3 class="timeline-header no-border"><a href="#">Secure Email</a> </h3>
					  </div>
					</li>
					<!-- END timeline item -->
					

					<li>
					  <i class="fa fa-reply bg-red"></i>

					  <div class="timeline-item">
						<span class="time"><i class="fa fa-clock-o"></i> 12:05</span>

						<h3 class="timeline-header"><a href="#">Auto Response</a></h3>

						<div class="timeline-body">
						  Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
						  weebly ning heekya handango imeem plugg dopplr jibjab, movity
						  jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle
						  quora plaxo ideeli hulu weebly balihoo...
						</div>
						<div class="timeline-footer">
						  <a class="btn btn-primary btn-xs">Read more</a>
						  <a class="btn btn-danger btn-xs">Delete</a>
						</div>
					  </div>
					</li>
					
					
					
					<!-- timeline item -->
					
					<li>
						<span class="fa-stack stack-icon fa-lg bg-light-blue">
						   <i class="fa fa-envelope fa-stack-1x"></i>
						   <i class="fa fa-user icon-agent-email red fa-stack"></i>
						</span>
					  <div class="timeline-item">
						<span class="time"><i class="fa fa-clock-o"></i> 5 mins ago</span>
						<h3 class="timeline-header no-border"><a href="#">Agent Email</a> </h3>
					  </div>
					</li>
					
					<li>
						<span class="fa-stack stack-icon fa-lg bg-light-blue">
						   <i class="fa fa-envelope fa-stack-1x"></i>
						  
						</span>
					  <div class="timeline-item ">
						<span class="time "><i class="fa fa-clock-o "></i> 5 mins ago</span>
						<h3 class="timeline-header no-border"><a href="#">Mass Mailing</a> </h3>
					  </div>
					</li>
					
					<li>
						<span class="bg-teal disabled fa-stack stack-icon fa-lg">
						   <i class="fa fa-file-text-o fa-stack-1x"></i>
						   <i class="fa fa-unlock icon-agent-email red fa-stack"></i>
						</span>
					  <div class="timeline-item">
						<span class="time"><i class="fa fa-clock-o"></i> 5 mins ago</span>
						<h3 class="timeline-header no-border"><a href="#">Public Note</a> </h3>
					  </div>
					</li>
					
					<li>
						<span class="bg-teal disabled fa-stack stack-icon fa-lg">
						   <i class="fa fa-file-text-o fa-stack-1x"></i>
						   <i class="fa fa-lock icon-agent-email red fa-stack"></i>
						</span>
					  <div class="timeline-item">
						<span class="time"><i class="fa fa-clock-o"></i> 5 mins ago</span>
						<h3 class="timeline-header no-border"><a href="#">Private Note</a> </h3>
					  </div>
					</li>

					<li>
						<span class="bg-teal disabled fa-stack stack-icon fa-lg">
						   <i class="fa fa-file-text-o fa-stack-1x"></i>
						   <i class="fa fa-check icon-agent-email red fa-stack"></i>
						</span>
					  <div class="timeline-item">
						<span class="time"><i class="fa fa-clock-o"></i> 5 mins ago</span>
						<h3 class="timeline-header no-border"><a href="#">Resolve Note</a> </h3>
					  </div>
					</li>
					<!-- END timeline item -->
					
					<!-- timeline item -->
					<li>
					  
						<i class="fa fa-bell comments bg-light-red-c"></i>

					  <div class="timeline-item">
						<span class="time"><i class="fa fa-clock-o"></i> 27 mins ago</span>

						<h3 class="timeline-header"><a href="#">Notification</a></h3>

						<div class="timeline-body">
						  Take me to your leader!
						  Switzerland is small and neutral!
						  We are more like Germany, ambitious and misunderstood!
						</div>
						<div class="timeline-footer">
						  <a class="btn btn-warning btn-flat btn-xs">View comment</a>
						</div>
					  </div>
					</li>
					
					<li>
					  <i class="fa fa-address-book-o  bg-aqua-active"></i>
					  <div class="timeline-item">
						<span class="time"><i class="fa fa-clock-o"></i> 5 mins ago</span>
						<h3 class="timeline-header no-border"><a href="#">Contact Creation</a> </h3>
					  </div>
					</li>
					
					<li>
					  <i class="fa fa-search  bg-light-orange"></i>
					  <div class="timeline-item">
						<span class="time"><i class="fa fa-clock-o"></i> 5 mins ago</span>
						<h3 class="timeline-header no-border"><a href="#">Find Answers</a> </h3>
					  </div>
					</li>
					
					
					<!-- timeline item -->

					<!-- timeline time label -->
					<li class="time-label">
						  <span class="bg-green">
							3 Jan. 2014
						  </span>
					</li>
					<!-- /.timeline-label -->
					
					<li>
					  <i class="fa fa-clock-o bg-gray"></i>
					</li>
				  </ul>
				</div>
				<!-- /.col -->
			  </div>
			  <!-- /.row -->

			  <div class="row" style="margin-top: 10px;">
				<div class="col-md-12">
				  <div class="box box-primary">
					<div class="box-header">
					  <h3 class="box-title"><i class="fa fa-code"></i> Timeline Markup</h3>
					</div>
					<div class="box-body">
						  <pre style="font-weight: 600;">
		&lt;ul class="timeline">

			&lt;!-- timeline time label -->
			&lt;li class="time-label">
				&lt;span class="bg-red">
					10 Feb. 2014
				&lt;/span>
			&lt;/li>
			&lt;!-- /.timeline-label -->

			&lt;!-- timeline item -->
			&lt;li>
				&lt;!-- timeline icon -->
				&lt;i class="fa fa-envelope bg-blue">&lt;/i>
				&lt;div class="timeline-item">
					&lt;span class="time">&lt;i class="fa fa-clock-o">&lt;/i> 12:05&lt;/span>

					&lt;h3 class="timeline-header">&lt;a href="#">Support Team&lt;/a> ...&lt;/h3>

					&lt;div class="timeline-body">
						...
						Content goes here
					&lt;/div>

					&lt;div class="timeline-footer">
						&lt;a class="btn btn-primary btn-xs">...&lt;/a>
					&lt;/div>
				&lt;/div>
			&lt;/li>
			&lt;!-- END timeline item -->

			...

		&lt;/ul>
						  </pre>
					</div>
					<!-- /.box-body -->
				  </div>
				  <!-- /.box -->
				</div>
				<!-- /.col -->
			  </div>
			  <!-- /.row -->

			</section>
			<!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        {% include common-footer.html %}
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Create the tabs -->
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
                <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <!-- Home tab content -->
                <div class="tab-pane" id="control-sidebar-home-tab">
                    <h3 class="control-sidebar-heading">Recent Activity</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-birthday-cake bg-red"></i>

                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

                                    <p>Will be 23 on April 24th</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-user bg-yellow"></i>

                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>

                                    <p>New phone +1(800)555-1234</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>

                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>

                                    <p>nora@example.com</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-file-code-o bg-green"></i>

                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>

                                    <p>Execution time 5 seconds</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->

                    <h3 class="control-sidebar-heading">Tasks Progress</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Custom Template Design
                                    <span class="label label-danger pull-right">70%</span>
                                </h4>

                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Update Resume
                                    <span class="label label-success pull-right">95%</span>
                                </h4>

                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-success" style="width: 95%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Laravel Integration
                                    <span class="label label-warning pull-right">50%</span>
                                </h4>

                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Back End Framework
                                    <span class="label label-primary pull-right">68%</span>
                                </h4>

                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->

                </div>
                <!-- /.tab-pane -->
                <!-- Stats tab content -->
                <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
                <!-- /.tab-pane -->
                <!-- Settings tab content -->
                <div class="tab-pane" id="control-sidebar-settings-tab">
                    <form method="post">
                        <h3 class="control-sidebar-heading">General Settings</h3>

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Report panel usage
                                <input type="checkbox" class="pull-right" checked>
                            </label>

                            <p>
                                Some information about this general settings option
                            </p>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Allow mail redirect
                                <input type="checkbox" class="pull-right" checked>
                            </label>

                            <p>
                                Other sets of options are available
                            </p>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Expose author name in posts
                                <input type="checkbox" class="pull-right" checked>
                            </label>

                            <p>
                                Allow the user to show his name in blog posts
                            </p>
                        </div>
                        <!-- /.form-group -->

                        <h3 class="control-sidebar-heading">Chat Settings</h3>

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Show me as online
                                <input type="checkbox" class="pull-right" checked>
                            </label>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Turn off notifications
                                <input type="checkbox" class="pull-right">
                            </label>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Delete chat history
                                <a href="javascript:void(0)" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
                            </label>
                        </div>
                        <!-- /.form-group -->
                    </form>
                </div>
                <!-- /.tab-pane -->
            </div>
        </aside>
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->
    <!-- jQuery 3.1.1 -->
    <script src="../plugins/jQuery/jquery-3.1.1.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <!-- DataTables -->
	<script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="../../plugins/datatables/dataTables.bootstrap.min.js"></script>
    <!-- Slimscroll -->
    <script src="../plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="../plugins/fastclick/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="../dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="../dist/js/demo.js"></script>
	<script src="../../plugins/bootstrap-slider/bootstrap-slider.js"></script>
	<!-- InputMask -->
	<script src="../../plugins/input-mask/jquery.inputmask.js"></script>
	<script src="../../plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
	<script src="../../plugins/input-mask/jquery.inputmask.extensions.js"></script>
	<!-- date-range-picker -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
	<script src="../../plugins/daterangepicker/daterangepicker.js"></script>
	<!-- bootstrap datepicker -->
	<script src="../../plugins/datepicker/bootstrap-datepicker.js"></script>
    <script>
	  $(function () {
		$("#example1").DataTable();
		$('#example2').DataTable({
		  "paging": true,
		  "lengthChange": false,
		  "searching": false,
		  "ordering": true,
		  "info": true,
		  "autoWidth": false
		});
	  });
	</script>
	
	<script>
	  $(function () {
		/* BOOTSTRAP SLIDER */
		$('.slider').slider();

		/* ION SLIDER */
		$("#range_1").ionRangeSlider({
		  min: 0,
		  max: 5000,
		  from: 1000,
		  to: 4000,
		  type: 'double',
		  step: 1,
		  prefix: "$",
		  prettify: false,
		  hasGrid: true
		});
		$("#range_2").ionRangeSlider({});

		$("#range_5").ionRangeSlider({
		  min: 0,
		  max: 10,
		  type: 'single',
		  step: 0.1,
		  postfix: " mm",
		  prettify: false,
		  hasGrid: true
		});
		$("#range_6").ionRangeSlider({
		  min: -50,
		  max: 50,
		  from: 0,
		  type: 'single',
		  step: 1,
		  postfix: "°",
		  prettify: false,
		  hasGrid: true
		});

		$("#range_4").ionRangeSlider({
		  type: "single",
		  step: 100,
		  postfix: " light years",
		  from: 55000,
		  hideMinMax: true,
		  hideFromTo: false
		});
		$("#range_3").ionRangeSlider({
		  type: "double",
		  postfix: " miles",
		  step: 10000,
		  from: 25000000,
		  to: 35000000,
		  onChange: function (obj) {
			var t = "";
			for (var prop in obj) {
			  t += prop + ": " + obj[prop] + "\r\n";
			}
			$("#result").html(t);
		  },
		  onLoad: function (obj) {
			//
		  }
		});
	  });
	</script>
	
	 <script>
		//Datemask dd/mm/yyyy
		$("#datemask").inputmask("dd/mm/yyyy", {"placeholder": "dd/mm/yyyy"});
		//Datemask2 mm/dd/yyyy
		$("#datemask2").inputmask("mm/dd/yyyy", {"placeholder": "mm/dd/yyyy"});
		//Money Euro
		$("[data-mask]").inputmask();

		//Date range picker
		$('#reservation').daterangepicker();
		//Date range picker with time picker
		$('#reservationtime').daterangepicker({timePicker: true, timePickerIncrement: 30, format: 'MM/DD/YYYY h:mm A'});
		//Date range as a button
		$('#daterange-btn').daterangepicker(
			{
			  ranges: {
				'Today': [moment(), moment()],
				'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
				'Last 7 Days': [moment().subtract(6, 'days'), moment()],
				'Last 30 Days': [moment().subtract(29, 'days'), moment()],
				'This Month': [moment().startOf('month'), moment().endOf('month')],
				'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
			  },
			  startDate: moment().subtract(29, 'days'),
			  endDate: moment()
			},
			function (start, end) {
			  $('#daterange-btn span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
			}
		);

		//Date picker
		$('#datepicker').datepicker({
		  autoclose: true
		});
	 </script>
</body>
</html>
