---
title: User Types
---
<!DOCTYPE html>
<html ng-app="iService">
<head>
    {% include common-head.html %}
	<link href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.16/css/dataTables.bootstrap.min.css" rel="stylesheet">
	<link href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css" rel="stylesheet" />
	<link href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.bootstrap.min.css" rel="stylesheet" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" rel="stylesheet" />
</head>
<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">
        {% include common-header.html %}
        {% include common-menu.html %}
				<!-- Content Wrapper. Contains page content -->
		
    <div class="content-wrapper">
						<!-- Content Header (Page header) -->
			<div class="clearfix"></div>	
			<section class="content-header">
				<h1>
					{{ page.title }} <i class="fa fa-question-circle text-info help-icon" data-toggle="tooltip" data-placement="bottom" data-original-title="Help"></i></h1>
					<ol class="breadcrumb">
						<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
						<li class="active">Tenant Settings</li>
						<li class="active">{{ page.title }}</li>
					</ol>
			</section>

  				<!-- Main content -->
      <section class="content"  ng-controller="myCtrl">
				<div class="row p-l-0">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-12">
								<div class="box box-info">
									<div class="box-header with-border" ng-click="isCollapsedForm = !isCollapsedForm">
										<i class="fa fa-users"></i>
										<h3 class="box-title head-title-padding">User Types</h3>
										<span aria-hidden="true" class="glyphicon pull-right glyphicon-chevron-right" ng-class="{'glyphicon-chevron-right__expanded': !isCollapsedForm}" ng-init="isCollapsedForm = false;"></span>
									</div>
									<!-- /.box-header -->
									<!-- form start -->
									<div class="box-body table-responsive" uib-collapse="isCollapsedForm">
										<table class="table table-striped table-hover" datatable dt-options="dtMailingListsOptions" dt-column-defs="dtMailingListsColumnDefs">
										<thead>
											<tr>
												<th class="text-capitalize">
													Id
												</th>
												<th class="text-capitalize">
													User Type Name
												</th>
												<th class="text-capitalize">
												  User Count
												</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-click="toggleFormStep('row1')" ng-class="{true: 'row-active', false: ''}[row1]">
												<td class="text-capitalize">
													1
												</td>
												<td class="text-capitalize">
														Administrator
												</td>
												<td class="text-capitalize">
													3
												</td>
											</tr>
											<tr ng-click="toggleFormStep('row2')" ng-class="{true: 'row-active', false: ''}[row2]">
												<td class="text-capitalize">
											  	2
												</td>
												<td class="text-capitalize">
														Anonymous
												</td>
												<td class="text-capitalize">
													2
												</td>
											</tr>
											<tr ng-click="toggleFormStep('row3')" ng-class="{true: 'row-active', false: ''}[row3]">
												<td class="text-capitalize">
													3
												</td>
												<td class="text-capitalize">
													CSR
												</td>
												<td class="text-capitalize">
													10
												</td>
											</tr>
											<tr ng-click="toggleFormStep('row4')" ng-class="{true: 'row-active', false: ''}[row4]">
												<td class="text-capitalize">
													4
												</td>
												<td class="text-capitalize">
													CSR Manager
												</td>
												<td class="text-capitalize">
													3
												</td>
											</tr>
											<tr ng-click="toggleFormStep('row5')" ng-class="{true: 'row-active', false: ''}[row5]">
												<td class="text-capitalize">
												  5
												</td>
												<td class="text-capitalize">
													Customer
												</td>
												<td class="text-capitalize">
													2345
												</td>
											</tr>
											<tr ng-click="toggleFormStep('row6')" ng-class="{true: 'row-active', false: ''}[row6]">
												<td class="text-capitalize">
													6
												</td>
												<td class="text-capitalize">
														QA CSR
												</td>
												<td class="text-capitalize">
													1
												</td>
										 	</tr>
											<tr ng-click="toggleFormStep('row6')" ng-class="{true: 'row-active', false: ''}[row6]">
												<td class="text-capitalize">
													7
												</td>
												<td class="text-capitalize">
													QA Manager
												</td>
												<td class="text-capitalize">
													0
												</td>
											</tr>
											<tr ng-click="toggleFormStep('row7')" ng-class="{true: 'row-active', false: ''}[row7]">
												<td class="text-capitalize">
													8
												</td>
												<td class="text-capitalize">
													Super User
												</td>
												<td class="text-capitalize">
													1
												</td>
											</tr>
										</tbody>
										</table>
									</div>
								</div> 
							</div>                         
						</div>
					<!-- /.col -->
						<div class="row">
								<div class="col-md-12 form-group">
									<button class="btn btn-primary" type="button" ng-click="showNewFormStep(1)">
											New User Type
									</button>
									<button class="btn btn-danger btn-delete" type="button" ng-click="showAlert = true">
											Delete User Type...
										</button>
								</div>	
						</div>	

						<div class="row" ng-show="showAlert">
							<div class="col-md-12">
								<div class="box box-danger">
									<div class="box-header with-border">
										<i class="fa fa-warning"></i>
										<h3 class="box-title">Alerts</h3>
									</div>
									<div class="box-body">
										<div class="row form-horizontal">
											<div class="col-md-12">
												<p class="text-red">Deletion is immediate and irrevocable upon confirmation.</p>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label class="col-md-12 control-label text-left">Replacement User Type</label>
													<div class="col-md-12">
														<select  class="form-control" ><option label="Administrator" value="string:5">Administrator</option><option label="Anonymous" value="string:1">Anonymous</option><option label="CSR" value="string:3">CSR</option><option label="CSR Manager" value="string:4">CSR Manager</option><option label="Customer" value="string:2">Customer</option><option label="QA CSR2" value="string:7">QA CSR2</option><option label="QA Manager" value="string:8">QA Manager</option><option label="Super User" value="string:6">Super User</option></select>
													</div>
												</div>	
											</div>
											<div class="col-md-12">
												<button type="button" class="btn btn-danger btn-sm">Confirm Deletion</button>
												<button type="button" class="btn btn-link" ng-click="showAlert = false">Cancel</button>
											</div>
										</div>
									</div>	
								</div>	
							</div>	
						</div>	
						<div class="row" ng-show="formstep1">
								<div class="col-md-12">
									<div class="box box-primary">
										<div class="box-header with-border">
											<i class="fa fa-user"></i>
											<h3 class="box-title text-right">New User Type</h3>
										</div>
										<div class="box-body">
											<section class="search-parameters">
												<div class="row">
													<div class="form-horizontal">
														<div class="col-md-6">
															<div class="form-group">
																<label for="inputPassword3" class="col-sm-4 control-label text-left">User Type</label>
																<div class="col-sm-8">
																	<input type="text" class="form-control">
																</div>
															</div>
														</div>
														<div class="col-md-4">
															<button type="button" class="btn btn-primary margin-r-5" ng-click="showNewFormStep(2)">Create</button>
															<button type="button" class="btn btn-link" ng-click="cancelForm(2)">Cancel</button>
														</div>
													</div>
												</div>
                       
											</section>
										</div>
									</div>
								</div>	
						</div>
						<div class="row" ng-show="formstep2">
							<div class="col-md-12">
								<div class="box box-primary">
                  <div class="box-header with-border">
										<i class="fa fa-envelope"></i>
										<h3 class="box-title text-right">User Type Configuration</h3>
									</div>	
									<div class="box-body">
										<div class="row">
											<div class="form-horizontal">
												<div class="col-md-6">
													<div class="form-group">
														<label for="inputPassword3" class="col-md-5 control-label text-left required">User Type Name <span class="required">(Required)</span></label>
														<div class="col-md-7">
															<input type="text" class="form-control">
														</div>
													</div>
													<h4>Access Rights <i class="fa fa-question-circle text-info help-icon" data-toggle="tooltip" data-placement="bottom" data-original-title=" Access rights determine the pages that users can view and submit. Click on an access right name to view its description."></i></h4>
													
												</div>
											</div>
										</div>	
										<div class="col-md-12">
											<div class="form-group">
												<label>
														<input type="checkbox" class="minimal flat-red" checked>
														<span data-toggle="tooltip" data-placement="right" data-original-title="Enables the user to answer chat requests. Without this right the chat buttons are suppressed from the user's page.">Chat.Answer</span>
												</label>
											</div>
											<div class="form-group">
												<label>
														<input type="checkbox" class="minimal flat-red" checked>
														<span data-toggle="tooltip" data-placement="right" data-original-title="Allows user to view broadcast messages displayed on the top of the page. These are normally reserved for agents.">Chat.Broadcast</span>
												</label>
											</div>
											<div class="form-group">
												<label>
														<input type="checkbox" class="minimal flat-red">
														<span data-toggle="tooltip" data-placement="right" data-original-title="Displays the Lists page within the Tenant Settings menu.">TenantSettings.AdditionalDetails</span>
												</label>
											</div>
											<div class="form-group">
												<label>
														<input type="checkbox" class="minimal flat-red">
														<span data-toggle="tooltip" data-placement="right" data-original-title="Displays the Agents page within the Tenant Settings menu.">TenantSettings.Agents</span>
												</label>
											</div>
										<div class="form-group">
												<label>
													<input type="checkbox" class="minimal flat-red" checked>
													<span data-toggle="tooltip" data-placement="right" data-original-title="Displays the Alerts page within the Builtin Forms - Other Tools menu.">Tools.Alerts</span>
											</label>
										</div>
										<div class="form-group">
											<label>
													<input type="checkbox" class="minimal flat-red">
													<span data-toggle="tooltip" data-placement="right" data-original-title="Displays the Properties page within the Segment Settings menu for a selected segment.">SegmentSettings.Properties</span>
											</label>
										</div>
										<div class="form-group">
											<label>
													<input type="checkbox" class="minimal flat-red" checked>
													<span data-toggle="tooltip" data-placement="right" data-original-title="Displays the Departments page within the Tenant Settings menu.">TenantSettings.Departments</span>
											</label>
										</div>
												
										<div class="form-group">
											<label>
													<input type="checkbox" class="minimal flat-red">
													<span data-toggle="tooltip" data-placement="right" data-original-title="Displays the Forms page within the Tenant Settings menu.">TenantSettings.Forms</span>
											</label>
										</div>
										<div class="form-group">
												<label>
														<input type="checkbox" class="minimal flat-red">
														<span data-toggle="tooltip" data-placement="right" data-original-title="Displays the OpenID page within the Tenant Settings menu.">TenantSettings.OpenID</span>
												</label>
											</div>
											<div class="form-group">
												<label>
														<input type="checkbox" class="minimal flat-red">
														<span data-toggle="tooltip" data-placement="right" data-original-title="Displays the Segments pages within the Main Settings menu.">Tab.Admin.Segments</span>
												</label>
											</div>
													
											<div class="form-group">
												<label>
														<input type="checkbox" class="minimal flat-red">
														<span data-toggle="tooltip" data-placement="right" data-original-title="Displays the Service Levels page within the Tenant Settings menu.">TenantSettings.ServiceLevels</span>
												</label>
											</div>
											<div class="form-group">
												<label>
														<input type="checkbox" class="minimal flat-red">
														<span data-toggle="tooltip" data-placement="right" data-original-title="Displays the Skills page within the Tenant Settings menu.">TenantSettings.Skills</span>
												</label>
											</div>
											<div class="form-group">
												<label>
														<input type="checkbox" class="minimal flat-red">
														<span data-toggle="tooltip" data-placement="right" data-original-title="Displays the SMTP Out page within the Tenant Settings menu.">TenantSettings.SmtpOut</span>
												</label>
											</div>
															
											<div class="form-group">
												<label>
														<input type="checkbox" class="minimal flat-red">
														<span data-toggle="tooltip" data-placement="right" data-original-title="Displays the User Types page within the Tenant Settings menu (this page).">TenantSettings.UserTypes</span>
												</label>
											</div>
											<div class="form-group">
												<label>
														<input type="checkbox" class="minimal flat-red">
														<span data-toggle="tooltip" data-placement="right" data-original-title="Display the Websites page within the Tenant Settings menu.">TenantSettings.Websites</span>
												</label>
											</div>
											<div class="form-group">
												<label>
														<input type="checkbox" class="minimal flat-red">
														<span data-toggle="tooltip" data-placement="right" data-original-title="Displays the New Contact link within the main navigation menu, and allows the user to create new contacts.">CustomerInfo.Create</span>
												</label>
											</div>
													
											<div class="form-group">
												<label>
														<input type="checkbox" class="minimal flat-red">
														<span data-toggle="tooltip" data-placement="right" data-original-title="CustomerInfo.ImportHistory">CustomerInfo.ImportHistory</span>
												</label>
											</div>
											<div class="form-group">
												<label>
														<input type="checkbox" class="minimal flat-red">
														<span data-toggle="tooltip" data-placement="right" data-original-title="Allows the user to modify contact details on the /customer-info#/contact page.">CustomerInfo.Modify</span>
												</label>
											</div>
											<div class="form-group">
												<label>
														<input type="checkbox" class="minimal flat-red">
														<span data-toggle="tooltip" data-placement="right" data-original-title="Allows the user to modify interaction property values for resolved interactions.">CustomerInfo.ModifyHistory</span>
												</label>
											</div>
											<div class="form-group">
												<label>
														<input type="checkbox" class="minimal flat-red">
														<span data-toggle="tooltip" data-placement="right" data-original-title="Allows the user to create new Find Answers articles. ">FindAnswers.Create</span>
												</label>
											</div>
											<div class="form-group">
												<label>
														<input type="checkbox" class="minimal flat-red">
														<span data-toggle="tooltip" data-placement="right" data-original-title="Allows the user to modify articles in the Find Answers pages.">FindAnswers.Modify</span>
												</label>
											</div>
											<div class="form-group">
												<label>
														<input type="checkbox" class="minimal flat-red">
														<span data-toggle="tooltip" data-placement="right" data-original-title="Allows the user to subscribe to Find Answers articles.">FindAnswers.Subscribe</span>
												</label>
											</div>
											<div class="form-group">
													<label>
															<input type="checkbox" class="minimal flat-red">
															<span data-toggle="tooltip" data-placement="right" data-original-title="Allows the user to send notifications to other users that have subscribed to a Find Answers article.">FindAnswers.Subscribe.Notify</span>
													</label>
												</div>
											<div class="form-group">
												<label>
														<input type="checkbox" class="minimal flat-red">
														<span data-toggle="tooltip" data-placement="right" data-original-title="Displays the Campaigns page in the Builtin Forms - Mass Mailing menu.">TenantSettings.Mailings.Campaigns</span>
												</label>
											</div>
											<div class="form-group">
													<label>
															<input type="checkbox" class="minimal flat-red">
															<span data-toggle="tooltip" data-placement="right" data-original-title="Displays the Criteria page in the Builtin Forms - Mass Mailing menu.">Tab.Mailings.Criteria</span>
													</label>
												</div>
											<div class="form-group">
													<label>
															<input type="checkbox" class="minimal flat-red">
															<span data-toggle="tooltip" data-placement="right" data-original-title="Displays the Mailing Lists page in the Builtin Forms - Mass Mailing menu.">Tab.Mailings.Lists</span>
													</label>
											</div>
											<div class="form-group">
												<label>
														<input type="checkbox" class="minimal flat-red">
														<span data-toggle="tooltip" data-placement="right" data-original-title="Displays the Mailings page in the Builtin Forms - Mass Mailing menu.">Tab.Mailings.Mailings</span>
												</label>
											</div>
											<div class="form-group">
												<label>
														<input type="checkbox" class="minimal flat-red">
														<span data-toggle="tooltip" data-placement="right" data-original-title="Enables the Send Mailing button on the Mailings page in the Builtin Forms - Mass Mailing menu.">Tab.Mailings.Mailings.Send</span>
												</label>
											</div>
											<div class="form-group">
												<label>
														<input type="checkbox" class="minimal flat-red">
														<span data-toggle="tooltip" data-placement="right" data-original-title="Displays the Messages page in the Builtin Forms - Mass Mailing menu.">Tab.Mailings.Messages</span>
												</label>
											</div>
											<div class="form-group">
												<label>
														<input type="checkbox" class="minimal flat-red">
														<span data-toggle="tooltip" data-placement="right" data-original-title="Displays the My Messages To Approve link within the main navigation menu, and allows the user to approve proposed responses.">Tab.MessageQueue.Approve</span>
												</label>
											</div>
											<div class="form-group">
												<label>
														<input type="checkbox" class="minimal flat-red">
														<span data-toggle="tooltip" data-placement="right" data-original-title="Displays the BCC field when sending messages.">Tab.MessageQueue.BCC</span>
												</label>
											</div>
											<div class="form-group">
												<label>
														<input type="checkbox" class="minimal flat-red">
														<span data-toggle="tooltip" data-placement="right" data-original-title="Displays the CC field when sending messages.">Tab.MessageQueue.CC</span>
												</label>
											</div>
											<div class="form-group">
													<label>
															<input type="checkbox" class="minimal flat-red">
															<span data-toggle="tooltip" data-placement="right" data-original-title="Allows the user to execute the purge interaction procedure.">Tab.MessageQueue.Delete</span>
													</label>
												</div>
											<div class="form-group">
												<label>
														<input type="checkbox" class="minimal flat-red">
														<span data-toggle="tooltip" data-placement="right" data-original-title="Allows the user to select a From address when sending a message (otherwise limited to the default mailbox).">Tab.MessageQueue.From</span>
												</label>
											</div>
											<div class="form-group">
												<label>
														<input type="checkbox" class="minimal flat-red">
														<span data-toggle="tooltip" data-placement="right" data-original-title="Displays the Search Interactions page in the main navigation menu, and allows the user to execute interaction searches. Search results are limited to the segments that are assigned to the agent in the Agent settings page.">Tab.MessageQueue.Search</span>
												</label>
											</div>
											<div class="form-group">
												<label>
														<input type="checkbox" class="minimal flat-red">
														<span data-toggle="tooltip" data-placement="right" data-original-title="Displays the SEND button within Agent Email and Agent Response pages. Without this button agents can only submit answers for approval by a user with the Approve access right.">Tab.MessageQueue.Send</span>
												</label>
											</div>
											<div class="form-group">
												<label>
														<input type="checkbox" class="minimal flat-red">
														<span data-toggle="tooltip" data-placement="right" data-original-title="Displays the Manage Messages page within the main navigation menu, and allows the user to modify message assigned to other users.">Tab.MessageQueue.Supervise</span>
												</label>
											</div>
											<div class="form-group">
												<label>
														<input type="checkbox" class="minimal flat-red">
														<span data-toggle="tooltip" data-placement="right" data-original-title="Displays the Manage Chats and Logged in Chat Agents pages within the main navigation menu, and allows the user to modify chats assigned to other users.">Tab.MessageQueue.SuperviseChat</span>
												</label>
											</div>
											<div class="form-group">
												<label>
														<input type="checkbox" class="minimal flat-red">
														<span data-toggle="tooltip" data-placement="right" data-original-title="Displays the Suppress Ref option within the Agent Email and Agent Response pages.">Tab.MessageQueue.SuppressRef</span>
												</label>
											</div>
											<div class="form-group">
												<label>
														<input type="checkbox" class="minimal flat-red">
														<span data-toggle="tooltip" data-placement="right" data-original-title="Displays the Stock Responses link in the My Account section in the top right of the page.">Tab.MyAccount.Phrases</span>
												</label>
											</div>
											<div class="form-group">
												<label>
														<input type="checkbox" class="minimal flat-red">
														<span data-toggle="tooltip" data-placement="right" data-original-title="Displays the Notifications tab within the Segment Settings page.">Tab.Segments.AutoResponse</span>
												</label>
											</div>
											<div class="form-group">
													<label>
															<input type="checkbox" class="minimal flat-red">
															<span data-toggle="tooltip" data-placement="right" data-original-title="Displays the Details tab within the Segment Settings page.">Tab.Segments.Details</span>
													</label>
												</div>
												<div class="form-group">
													<label>
															<input type="checkbox" class="minimal flat-red">
															<span data-toggle="tooltip" data-placement="right" data-original-title="Displays the Filters tab within the Segment Settings page.">Tab.Segments.Filters</span>
													</label>
												</div>
												<div class="form-group">
													<label>
															<input type="checkbox" class="minimal flat-red">
															<span data-toggle="tooltip" data-placement="right" data-original-title="Displays the Mailboxes tab within the Segment Settings page.">Tab.Segments.Mailboxes</span>
													</label>
												</div>
												<div class="form-group">
													<label>
															<input type="checkbox" class="minimal flat-red">
															<span data-toggle="tooltip" data-placement="right" data-original-title="Displays the Stock Responses tab within the Segment Settings page.">Tab.Segments.Phrases</span>
													</label>
												</div>
												<div class="form-group">
													<label>
															<input type="checkbox" class="minimal flat-red">
															<span data-toggle="tooltip" data-placement="right" data-original-title="Displays the Topics tab within the Segment Settings page.">Tab.Segments.Topics</span>
													</label>
												</div>
												<div class="form-group">
													<label>
															<input type="checkbox" class="minimal flat-red" checked>
															<span data-toggle="tooltip" data-placement="right" data-original-title="Allows the user to submit forms with the Create Customer Ticket action.">Tab.Top.AskAQuestion</span>
													</label>
												</div>
												<div class="form-group">
													<label>
															<input type="checkbox" class="minimal flat-red">
															<span data-toggle="tooltip" data-placement="right" data-original-title="Displays the Search Contacts page in the main navigation menu, and the Quick Search box on the top left of the page.">Tab.Top.CustomerInfo</span>
													</label>
												</div>
												<div class="form-group">
													<label>
															<input type="checkbox" class="minimal flat-red" checked>
															<span data-toggle="tooltip" data-placement="right" data-original-title="Allows the user to view forms that contain FindAnswers articles.">Tab.Top.FindAnswers</span>
													</label>
												</div>
												<div class="form-group">
													<label>
															<input type="checkbox" class="minimal flat-red" checked>
															<span data-toggle="tooltip" data-placement="right" data-original-title="Allows the user to view their account details (contact details, subscriptions, history).">Tab.Top.MyAccount</span>
													</label>
												</div>
												<div class="form-group">
													<label>
															<input type="checkbox" class="minimal flat-red">
															<span data-toggle="tooltip" data-placement="right" data-original-title="Allows the user to assign the Administrator user type to contacts.">Tab.UserTypes.CreateAdmin</span>
													</label>
												</div>
										</div>	
										<div class="row">
											<div class="col-md-12">
												<button type="button" class="btn btn-primary margin-r-5">Save</button>
												<button type="button" class="btn btn-link" ng-click="cancelForm(2)">Cancel</button>
											</div>
										</div>	
									</div>	
								</div>	 
							</div>	
						</div>
					</div> 
				</div>
     	</section>
		</div>
        <!-- /.content-wrapper -->
    {% include common-footer.html %}
        <!-- Control Sidebar -->
		{% include right-panel-setting-menu.html %}
		<!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->
    {% include common-javascript.html %}
       <!-- DataTables -->
  <script>
	$(document).ready(function() {
    // DataTable
	  	$('.custom-scroll').slimScroll({
			height: '325px'
		});
	}); 
	</script>
	<script>
	var count = 1;
	var i = 1;
	var app =  angular.module('iService');
	app.controller('myCtrl', function ($scope, $log, $compile, DTOptionsBuilder, DTColumnDefBuilder)
	{ 

				$scope.dtMailingListsOptions = DTOptionsBuilder
						.newOptions()
						.withOption('language', {
							search: 'Filter User Types'
						}).withBootstrap().withButtons(['copy', 'excel', 'pdf', {
					extend: 'colvis',
					columns: function (index, apiObj, headCell)
					{
						// The attribute data-no-col-vis in the markup is a custom marker that indicates that I want to
						// disable the show/hide column functionality for certain columns
						return headCell.dataset.noColVis === undefined;
					}
				}]);
				$scope.toggle = {};

				$scope.formItemList = [];
			
				$scope.dtSubscriberOptions = DTOptionsBuilder
				.newOptions().withOption('language', {
					search: 'Filter Unsubscribes'
				})
				.withBootstrap().withButtons(['copy', 'excel', 'pdf', {
					extend: 'colvis',
					columns: function (index, apiObj, headCell)
					{
						// The attribute data-no-col-vis in the markup is a custom marker that indicates that I want to
						// disable the show/hide column functionality for certain columns
						return headCell.dataset.noColVis === undefined;
					}
				}]);

				
				$scope.dtUnSubscriberOptions = DTOptionsBuilder
				.newOptions().withOption('language', {
					search: 'Filter Subscribers '
				})
				.withBootstrap().withButtons(['copy', 'excel', 'pdf', {
					extend: 'colvis',
					columns: function (index, apiObj, headCell)
					{
						// The attribute data-no-col-vis in the markup is a custom marker that indicates that I want to
						// disable the show/hide column functionality for certain columns
						return headCell.dataset.noColVis === undefined;
					}
				}]);

				$scope.dtSearchOptions = DTOptionsBuilder
						.newOptions()
						.withOption('language', {
							search: 'Filter Search Results'
						}).withBootstrap().withButtons(['copy', 'excel', 'pdf', {
					extend: 'colvis',
					columns: function (index, apiObj, headCell)
					{
						// The attribute data-no-col-vis in the markup is a custom marker that indicates that I want to
						// disable the show/hide column functionality for certain columns
						return headCell.dataset.noColVis === undefined;
					}
				}]);


				$scope.cancelForm = function(step){
					for(var i =1; i<=2; i++){
						if(i == step){
						$scope['formstep'+i] = true;
						}	   
						else	
						$scope['formstep'+i] = false;
					}
				};		

				$scope.showNewFormStep = function(step){
					for(var i =1; i<=2; i++){
						if(i == step){
						$scope['formstep'+i] = true;
						}	   
						else	
						$scope['formstep'+i] = false;
				}

		};
		
		$scope.toggleFormStep = function(segmentName){
			for(var i =1; i<=8; i++){
				$scope['row'+i] = false;  
			}
			$scope[segmentName] = !$scope[segmentName];
				$scope['formstep'+2] = !$scope['formstep'+2];
		};

		$scope.toggleFormStepResponse = function(segmentName){
			for(var i =1; i<=4; i++){
				$scope['rowresponse'+i] = false;  
			}
			$scope[segmentName] = !$scope[segmentName];
				$scope['formstepresponse'+4] = !$scope['formstepresponse'+4];
		};

		$scope.showNewFormResponse = function(){
			$scope['formstepresponse'+4] = true;
		};
       
		$scope.customForm = function(){
			$scope.customform = true;
		}
		$scope.builtinForm = function(){
			$scope.customform = false;
		}
	});
	app.controller('myCtrlDetail', function ($scope) {
      
	  $scope.toggleSegmentCollapsedState = function (segmentName)
	  { 
			$scope[segmentName] = !$scope[segmentName];
	  };
  });

	angular.module('iService').controller('TopicCtrl', function ($scope, $http, $timeout, $interval) {
		var vm = this;
			vm.availableTopics = [
					{Topic: 'e-shop -- All Topics(0)'},
					{Topic: '.._Feedback (2)'},
					{Topic: '.._Newsletter Subscription (0)'},
					{Topic: '.._Spam (0)'},
					{Topic: '.._Undeliverable (0)'},
					{Topic: '..Account Questions (0)'},
					{Topic: '....Orders (0)'},
					{Topic: '....Refunds (0)'},
					{Topic: '....Returns (0)'},
					{Topic: '..Products(0)'},
					{Topic: '....Audio-Video (0)'},
					{Topic: '....Cameras (0)'},
					{Topic: '....Cell Phones (0)'},
					{Topic: '....Computers (0)'},
					{Topic: '....Televisions(0)'},
					{Topic: '..Shipping (0)'},
					{Topic: '..Technical Support (0)'},
					{Topic: '....Open Quotes (1)'}
				
			];
		vm.multipleDemo = {};
		vm.multipleDemo.topics = [{Topic: 'e-shop -- All Topics(0)'},
				{Topic: '.._Feedback (2)'}];
	});

	</script>
</body>
</html>
