---
title: Widget
---
<!DOCTYPE html>
<html ng-app="iService">
<head>
  {% include common-head.html %}
</head>
<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">
    {% include common-header.html %}
    {% include common-menu.html %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          {{ page.title }}
        </h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
          <li class="active">Pages</li>
          <li class="active">{{ page.title }}</li>
        </ol>
      </section>

      <!-- Main content -->
      <section class="content" ng-controller="myCtrl">
        <h2 class="page-header">Progress Bars</h2>
        <div class="row">
          <div class="col-md-6">
            <div class="box box-solid">
              <div class="box-header with-border">
                <h3 class="box-title">Progress Bars Different Sizes</h3>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <p><code>.progress</code></p>

                <div class="progress">
                  <div class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                    <span class="sr-only">40% Complete (success)</span>
                  </div>
                </div>
                <p>Class: <code>.sm</code></p>

                <div class="progress progress-sm active">
                  <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                    <span class="sr-only">20% Complete</span>
                  </div>
                </div>
                <p>Class: <code>.xs</code></p>

                <div class="progress progress-xs">
                  <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                    <span class="sr-only">60% Complete (warning)</span>
                  </div>
                </div>
                <p>Class: <code>.xxs</code></p>

                <div class="progress progress-xxs">
                  <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                    <span class="sr-only">60% Complete (warning)</span>
                  </div>
                </div>
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
          </div>
          <!-- /.col (left) -->
          <div class="col-md-6">
            <div class="box box-solid">
              <div class="box-header with-border">
                <h3 class="box-title">Progress bars</h3>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <div class="progress">
                  <div class="progress-bar progress-bar-green" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                    <span class="sr-only">40% Complete (success)</span>
                  </div>
                </div>
                <div class="progress">
                  <div class="progress-bar progress-bar-aqua" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                    <span class="sr-only">20% Complete</span>
                  </div>
                </div>
                <div class="progress">
                  <div class="progress-bar progress-bar-yellow" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                    <span class="sr-only">60% Complete (warning)</span>
                  </div>
                </div>
                <div class="progress">
                  <div class="progress-bar progress-bar-red" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                    <span class="sr-only">80% Complete</span>
                  </div>
                </div>
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
          </div>
          <!-- /.col (right) -->
        </div>
        <!-- /.row -->

        <div class="row">
          <div class="col-xs-12">
            <div class="box box-primary">
              <div class="box-header">
                <h3 class="box-title">Bootstrap Slider</h3>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <div class="row margin">
                  <div class="col-sm-6">
                    <input type="text" value="" class="slider form-control" data-slider-min="-200" data-slider-max="200"
                           data-slider-step="5" data-slider-value="[-100,100]" data-slider-orientation="horizontal"
                           data-slider-selection="before" data-slider-tooltip="show" data-slider-id="red">

                    <p>data-slider-id="red"</p>
                    <input type="text" value="" class="slider form-control" data-slider-min="-200" data-slider-max="200"
                           data-slider-step="5" data-slider-value="[-100,100]" data-slider-orientation="horizontal"
                           data-slider-selection="before" data-slider-tooltip="show" data-slider-id="blue">

                    <p>data-slider-id="blue"</p>
                    <input type="text" value="" class="slider form-control" data-slider-min="-200" data-slider-max="200"
                           data-slider-step="5" data-slider-value="[-100,100]" data-slider-orientation="horizontal"
                           data-slider-selection="before" data-slider-tooltip="show" data-slider-id="green">

                    <p>data-slider-id="green"</p>
                    <input type="text" value="" class="slider form-control" data-slider-min="-200" data-slider-max="200"
                           data-slider-step="5" data-slider-value="[-100,100]" data-slider-orientation="horizontal"
                           data-slider-selection="before" data-slider-tooltip="show" data-slider-id="yellow">

                    <p>data-slider-id="yellow"</p>
                    <input type="text" value="" class="slider form-control" data-slider-min="-200" data-slider-max="200"
                           data-slider-step="5" data-slider-value="[-100,100]" data-slider-orientation="horizontal"
                           data-slider-selection="before" data-slider-tooltip="show" data-slider-id="aqua">

                    <p>data-slider-id="aqua"</p>
                    <input type="text" value="" class="slider form-control" data-slider-min="-200" data-slider-max="200"
                           data-slider-step="5" data-slider-value="[-100,100]" data-slider-orientation="horizontal"
                           data-slider-selection="before" data-slider-tooltip="show" data-slider-id="purple">

                    <p style="margin-top: 10px">data-slider-id="purple"</p>
                  </div>
                  <div class="col-sm-6 text-center">
                    <input type="text" value="" class="slider form-control" data-slider-min="-200" data-slider-max="200"
                           data-slider-step="5" data-slider-value="[-100,100]" data-slider-orientation="vertical"
                           data-slider-selection="before" data-slider-tooltip="show" data-slider-id="red">
                    <input type="text" value="" class="slider form-control" data-slider-min="-200" data-slider-max="200"
                           data-slider-step="5" data-slider-value="[-100,100]" data-slider-orientation="vertical"
                           data-slider-selection="before" data-slider-tooltip="show" data-slider-id="blue">
                    <input type="text" value="" class="slider form-control" data-slider-min="-200" data-slider-max="200"
                           data-slider-step="5" data-slider-value="[-100,100]" data-slider-orientation="vertical"
                           data-slider-selection="before" data-slider-tooltip="show" data-slider-id="green">
                    <input type="text" value="" class="slider form-control" data-slider-min="-200" data-slider-max="200"
                           data-slider-step="5" data-slider-value="[-100,100]" data-slider-orientation="vertical"
                           data-slider-selection="before" data-slider-tooltip="show" data-slider-id="yellow">
                    <input type="text" value="" class="slider form-control" data-slider-min="-200" data-slider-max="200"
                           data-slider-step="5" data-slider-value="[-100,100]" data-slider-orientation="vertical"
                           data-slider-selection="before" data-slider-tooltip="show" data-slider-id="aqua">
                    <input type="text" value="" class="slider form-control" data-slider-min="-200" data-slider-max="200"
                           data-slider-step="5" data-slider-value="[-100,100]" data-slider-orientation="vertical"
                           data-slider-selection="before" data-slider-tooltip="show" data-slider-id="purple">
                  </div>
                </div>
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
        <div class="row">
          <div class="col-xs-12">
            <div class="box box-primary">
              <div class="box-header">
                <h3 class="box-title">Datepicker</h3>
              </div>
              <div class="box-body">
                <div class="col-md-4">
                   <label>Date Only</label>
                  <div class="input-group date">
                    <div class="input-group-addon" ng-click="isDatepickerOpen = !isDatepickerOpen">
                      <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" class="form-control pull-right"  ng-focus="isDatepickerOpen = !isDatepickerOpen" uib-datepicker-popup="yyyy-MM-dd" ng-model="date" is-open="isDatepickerOpen" datepicker-options="datepickerOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats">
                  </div>
                </div>

                <div class="col-md-4">
                    <label>Date With Time</label>
                    <div class="input-group date">
                        <div class="input-group-addon"  ng-click="openCalendar($event, 'picker3')">
                           <i class="fa fa-calendar"></i>
                        </div>
                      <input type="text" class="form-control" datetime-picker="MM/dd/yyyy HH:mm" ng-model="picker3.date" show-weeks="false" is-open="picker3.open" />
                     </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="box box-primary">
              <div class="box-header">
                <h3 class="box-title">loader</h3>
              </div>
              <div class="box-body">
                <div class="col-md-4">
                  <i class="fa fa-spinner fa-spin fa-fw"></i>Searching
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="box box-primary">
              <div class="box-header">
                <h3 class="box-title">Editor</h3>
              </div>
              <div class="box-body">
                <div class="col-md-12">
                  <textarea class="form-control" rows="10" placeholder="" id="editorgetthis" ckeditor="options">
											</textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="box box-primary">
              <div class="box-header">
                <h3 class="box-title text-capitalize">file upload</h3>
              </div>
              <div class="box-body">
                <div class="col-md-12">
                  <iservice-files-upload ng-init="uploads = []" files="uploads"></iservice-files-upload>
                  <div>
                    <hr />
                    <p class="text-capitalize">active state</p>
                    <label class="drop-box drop-box_active">
                      Drop files here or click to upload
                    </label>
                  </div>
                  <div>
                    <p class="text-capitalize">hover state</p>
                    <label class="drop-box drop-box_hover">
                      Drop files here or click to upload
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.box -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    {% include common-footer.html %}
    <!-- Control Sidebar -->
    {% include right-panel-setting-menu.html %}
	<!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
  </div>
  {% include common-javascript.html %}
  <!-- ./wrapper -->
  <!-- jQuery 3.1.1 -->

  <script src="../../plugins/bootstrap-slider/bootstrap-slider.js"></script>
  <!-- InputMask -->
  <script src="../../plugins/input-mask/jquery.inputmask.js"></script>
  <script src="../../plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
  <script src="../../plugins/input-mask/jquery.inputmask.extensions.js"></script>
  <script src="/plugins/bootstrap-slider/bootstrap-slider.js"></script>

  <script>
    $(function ()
    {
      /* BOOTSTRAP SLIDER */
      $('.slider').slider();
    });
    var app=angular.module('iService', ['iService.directive','dndLists',
    'ngAnimate',
    'ui.select',
    'ui.bootstrap',
    'angularMoment',
    'datatables', 'datatables.bootstrap', 'datatables.buttons','ngSanitize', 'ui.select',,'ui.bootstrap.datetimepicker' ]);
   
    app.controller('myCtrl', function ($scope) {

      var that =  $scope;
    
      // date and time picker
      $scope.picker3 = {
          date: new Date()
      };

     $scope.openCalendar = function (e, picker) {
            that[picker].open = true;
      };

      
    });
    
    app.config(function (uiDatetimePickerConfig) {
      uiDatetimePickerConfig.showWeeks = false;
     });

    
  </script>
</body>
</html>
